<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blue_long_1</key>
            <dict>
                <key>frame</key>
                <string>{{146,758},{148,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,152}}</string>
                <key>sourceSize</key>
                <string>{148,152}</string>
            </dict>
            <key>blue_long_2</key>
            <dict>
                <key>frame</key>
                <string>{{0,778},{144,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,155}}</string>
                <key>sourceSize</key>
                <string>{144,155}</string>
            </dict>
            <key>blue_long_light</key>
            <dict>
                <key>frame</key>
                <string>{{127,747},{125,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,9}}</string>
                <key>sourceSize</key>
                <string>{125,9}</string>
            </dict>
            <key>blue_long_star1</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{126,388}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,388}}</string>
                <key>sourceSize</key>
                <string>{126,388}</string>
            </dict>
            <key>blue_long_star2</key>
            <dict>
                <key>frame</key>
                <string>{{0,998},{17,17}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,17}}</string>
                <key>sourceSize</key>
                <string>{25,27}</string>
            </dict>
            <key>blue_long_star3</key>
            <dict>
                <key>frame</key>
                <string>{{0,390},{125,386}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{125,386}}</string>
                <key>sourceSize</key>
                <string>{125,388}</string>
            </dict>
            <key>blue_long_star4</key>
            <dict>
                <key>frame</key>
                <string>{{0,935},{61,9}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,2},{61,9}}</string>
                <key>sourceSize</key>
                <string>{125,13}</string>
            </dict>
            <key>blue_long_star5</key>
            <dict>
                <key>frame</key>
                <string>{{127,390},{121,355}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,355}}</string>
                <key>sourceSize</key>
                <string>{121,355}</string>
            </dict>
            <key>blue_long_star6</key>
            <dict>
                <key>frame</key>
                <string>{{128,0},{118,354}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,354}}</string>
                <key>sourceSize</key>
                <string>{118,354}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>blueLongShadow.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:86e59095a837c44f35f1f21036a6faba:1/1$</string>
            <key>textureFileName</key>
            <string>blueLongShadow.pvr.ccz</string>
        </dict>
    </dict>
</plist>
