<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>background_05_01</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{685,1024}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{685,1024}}</string>
                <key>sourceSize</key>
                <string>{685,1024}</string>
            </dict>
            <key>background_05_02</key>
            <dict>
                <key>frame</key>
                <string>{{686,0},{685,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{685,93}}</string>
                <key>sourceSize</key>
                <string>{685,93}</string>
            </dict>
            <key>background_05_03</key>
            <dict>
                <key>frame</key>
                <string>{{780,0},{685,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{685,89}}</string>
                <key>sourceSize</key>
                <string>{685,89}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>background_05.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7dd4116cf71187a74b42644ba1f5e75e:1b2ba0479e2eca135eaef0817e1be8e6:c89f352b98f1020d53b4b5e211d289d2$</string>
            <key>textureFileName</key>
            <string>background_05.pvr.ccz</string>
        </dict>
    </dict>
</plist>
