<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>npc02_2</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{394,394}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{394,394}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>npc02_2.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fa5610599004763f61aa0e1386a1c17c:5fac1ff4b85e27d3403a392ba3348fb3:a7451846066d02fa483a1dd0cb195f8d$</string>
            <key>textureFileName</key>
            <string>npc02_2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
