<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>npc08_3</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{368,396}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{368,396}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>npc08_3.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bdd86c986dcb77f168f9134a181d66dc:3ddb360a5e0ed71d2abe6fbcfc999b7b:3c636cb73fc4c73db2511a7c25afa012$</string>
            <key>textureFileName</key>
            <string>npc08_3.pvr.ccz</string>
        </dict>
    </dict>
</plist>
