<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>npc08_6</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{200,390}}</string>
                <key>offset</key>
                <string>{8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,6},{200,390}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>npc08_6.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:70949b8f001c13162f785ded484146ac:fc34fe3f508464e56cb1d20c5f67ad2a:e2c1ea39279a9cd09a0e79056acbd358$</string>
            <key>textureFileName</key>
            <string>npc08_6.pvr.ccz</string>
        </dict>
    </dict>
</plist>
