<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>npc08_5</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{398,372}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{398,372}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>npc08_5.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:77c310f961f6d29b2e215a2664e8999d:03de001dc1d38fd4a9163597f0ee2a74:584a43a7554633b074ca0099df7ec6b7$</string>
            <key>textureFileName</key>
            <string>npc08_5.pvr.ccz</string>
        </dict>
    </dict>
</plist>
