<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>npc14_5</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{394,390}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{394,390}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>npc14_5.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cce483959ba2300887bbf8946b4292be:9c2e88a92c0cce1fb08396cb910dfbe2:3192e5cc0c20a0ddae7653a07f1cb891$</string>
            <key>textureFileName</key>
            <string>npc14_5.pvr.ccz</string>
        </dict>
    </dict>
</plist>
