<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>npc12_1</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{394,396}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{394,396}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>npc12_1.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8405677d69c5b212e2ef03806b77f1c6:18cb0b147916635c6a66b437454015d2:0b6a6da0e1701c3ffe1fe46431cf5ec2$</string>
            <key>textureFileName</key>
            <string>npc12_1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
