<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>npc15_5</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{384,372}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{384,372}}</string>
                <key>sourceSize</key>
                <string>{396,390}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>npc15_5.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e3d37e1ca2164430b065fe2d9a4b1c16:1/1$</string>
            <key>textureFileName</key>
            <string>npc15_5.pvr.ccz</string>
        </dict>
    </dict>
</plist>
