<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>npc21_5</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{396,338}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,32},{396,338}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>npc21_5.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:531237404e0ebf995a484ec51876e0da:ed9ab77b22037c3f4cea50bcad96581d:b249027d9c96d70111e3cd3109ae1be1$</string>
            <key>textureFileName</key>
            <string>npc21_5.pvr.ccz</string>
        </dict>
    </dict>
</plist>
