<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>npc27_2</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{384,384}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{384,384}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>npc27_2.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dab9833508ecd259a0cc332865d551d0:2b13bc2cbc2db23a12619cf5d674a4da:abd94ab18d98c2adcb257c4647cf51fe$</string>
            <key>textureFileName</key>
            <string>npc27_2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
