<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>npc29_1</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{362,376}}</string>
                <key>offset</key>
                <string>{-14,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{362,376}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>npc29_1.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:30ea44f2132008728c4def58dcf13e33:f90f3f556ce7ae20e996b4fb90db05fc:33b12097b04b6ec5bc14239d27d3e7c3$</string>
            <key>textureFileName</key>
            <string>npc29_1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
