<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>npc28_4</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{306,400}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,0},{306,400}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>npc28_4.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b7c6ea2a18d8a9185b0cd08dae1b8c85:c14b6b030ceaefe3387157c753bc4d6e:3518ec5aba4f3367d578a70f0bbdfc34$</string>
            <key>textureFileName</key>
            <string>npc28_4.pvr.ccz</string>
        </dict>
    </dict>
</plist>
