<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>npc28_5</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{330,392}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,2},{330,392}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>npc28_5.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8f27953e3f5eaa979308c5c4964c0bbb:7a2fcf31b9f48f4932802a87f9ccd9fb:768b9a212159591427bb3d150d8bdbd7$</string>
            <key>textureFileName</key>
            <string>npc28_5.pvr.ccz</string>
        </dict>
    </dict>
</plist>
