<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>npc24_3</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{334,330}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,41},{334,330}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>npc24_3.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8d313e5f4a61c780837893e6751e8071:23eb976aa13d5bfc62dfb36f3b148932:b0c4e3bd12dd5e3e0fb9b4f4b3c797c3$</string>
            <key>textureFileName</key>
            <string>npc24_3.pvr.ccz</string>
        </dict>
    </dict>
</plist>
