<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>npc27_4</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{386,380}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,15},{386,380}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>npc27_4.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:419326ce52720b41be54d5a745d31644:8a34d26310d3f96d05ef301e3beca919:a4ef4b3c8739c858a299fb5cc0c9ae71$</string>
            <key>textureFileName</key>
            <string>npc27_4.pvr.ccz</string>
        </dict>
    </dict>
</plist>
