<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>npc23_2</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{320,294}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,58},{320,294}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>npc23_2.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8b47f89fcef03f6b6c9dae5a819123ac:c676ec9f3800bbe1e4c93492f26db178:f6172b8a171b5ab62103a97ee2b1c7d3$</string>
            <key>textureFileName</key>
            <string>npc23_2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
