<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>npc39_4</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{312,380}}</string>
                <key>offset</key>
                <string>{18,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,0},{312,380}}</string>
                <key>sourceSize</key>
                <string>{396,390}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>npc39_4.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:21c1b6af7d04a1e8c7b0b4d1c4c54dcc:1/1$</string>
            <key>textureFileName</key>
            <string>npc39_4.pvr.ccz</string>
        </dict>
    </dict>
</plist>
