<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>npc34_4</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{278,386}}</string>
                <key>offset</key>
                <string>{9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,8},{278,386}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>npc34_4.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ff6cc7ab1ade3fa2b4da3fd1198a51c1:6e1fd3ea2d1a36842b4983e2f0602cf9:67c0056a09f5735b4e9f9602bb811ed4$</string>
            <key>textureFileName</key>
            <string>npc34_4.pvr.ccz</string>
        </dict>
    </dict>
</plist>
