<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>npc300_34</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{398,360}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,17},{398,360}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>npc300_34.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:38b49eaf49a4e8bd7648358f2b8313fd:13c41fe04796183847504e3d312cbe27:e4d1a6536f1af69ea62ed312f9ea30be$</string>
            <key>textureFileName</key>
            <string>npc300_34.pvr.ccz</string>
        </dict>
    </dict>
</plist>
