<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>npc30_2</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{274,378}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,9},{274,378}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>npc30_2.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:df976296b59a2e6a55aedb61dc3f1d44:7de7c7f5f0ab2d5e4cb1fe411b9822da:c5d10a0fc5fe6524f59dd108cbc7bac2$</string>
            <key>textureFileName</key>
            <string>npc30_2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
