<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>npc30_5</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{370,390}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{370,390}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>npc30_5.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cbfdf1bf1c327c317acfff5fa0fed40e:a68d08b12f6ca74cede394c09ad6e80c:20b61dd7f119d9e13e7ae23935a7587b$</string>
            <key>textureFileName</key>
            <string>npc30_5.pvr.ccz</string>
        </dict>
    </dict>
</plist>
