<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>npc32_5</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{300,382}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,8},{300,382}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>npc32_5.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:611fdc9346c4ee87e9c9e80c9cb55a51:0a3d82ad3ce58f7d1c92b4003ad9b371:1ab537dab22e2f7cf30e4d9070384835$</string>
            <key>textureFileName</key>
            <string>npc32_5.pvr.ccz</string>
        </dict>
    </dict>
</plist>
