<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>npc44_3</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{356,390}}</string>
                <key>offset</key>
                <string>{20,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,0},{356,390}}</string>
                <key>sourceSize</key>
                <string>{396,390}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>npc44_3.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6e1e7c0ad3e4f67ede2500518535f511:9ef2f304f9a9f78c2fc2a5f595faa10d:d9d5b9c8262d50b59afa64cd1eb66cf1$</string>
            <key>textureFileName</key>
            <string>npc44_3.pvr.ccz</string>
        </dict>
    </dict>
</plist>
