<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>npc43_6</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{368,400}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{368,400}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>npc43_6.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a775e90159ce5900b187c5667ab78088:b181b3f1cb52cc4191fdaae59971f53e:edeafce0c8cc0e8defdd1ecbf1839d3c$</string>
            <key>textureFileName</key>
            <string>npc43_6.pvr.ccz</string>
        </dict>
    </dict>
</plist>
