<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>npc42_6</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{372,394}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,5},{372,394}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>npc42_6.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0cec2e496f6b93c33aca85778a5b737e:e68adf771d4e46f98b198b23bb5be2f2:f6c88ab2f6781013df2df538f4d26ff1$</string>
            <key>textureFileName</key>
            <string>npc42_6.pvr.ccz</string>
        </dict>
    </dict>
</plist>
