<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>npc42_5</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{346,400}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{346,400}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>npc42_5.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5232ba5f3f21f5ac8d05ca0559fe99c4:0c1efe3b6e045f2fd2fc5d92aa242e02:4f3a052ffa2d55f6a95a88b76d414f94$</string>
            <key>textureFileName</key>
            <string>npc42_5.pvr.ccz</string>
        </dict>
    </dict>
</plist>
