<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Building_01</key>
            <dict>
                <key>frame</key>
                <string>{{248,240},{222,232}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,24},{222,232}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Building_02</key>
            <dict>
                <key>frame</key>
                <string>{{504,230},{244,224}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,32},{244,224}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Building_03</key>
            <dict>
                <key>frame</key>
                <string>{{760,224},{256,218}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,38},{256,218}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Building_04</key>
            <dict>
                <key>frame</key>
                <string>{{760,0},{256,224}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,32},{256,224}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Building_05</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{248,256}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{248,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Building_06</key>
            <dict>
                <key>frame</key>
                <string>{{504,0},{256,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{256,230}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>btn_treasure</key>
            <dict>
                <key>frame</key>
                <string>{{248,0},{256,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,240}}</string>
                <key>sourceSize</key>
                <string>{256,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>building.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:18fc6a7e3f5165b2b601d8280953628a:794f31dc3b27faec2fe618dceff0dd21:7e5025bd7f915cfe90f96efb5a6e3c82$</string>
            <key>textureFileName</key>
            <string>building.pvr.ccz</string>
        </dict>
    </dict>
</plist>
