<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Earth_02</key>
            <dict>
                <key>frame</key>
                <string>{{0,236},{292,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,78}}</string>
                <key>sourceSize</key>
                <string>{292,78}</string>
            </dict>
            <key>Earth_bk</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{685,234}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{685,234}}</string>
                <key>sourceSize</key>
                <string>{685,256}</string>
            </dict>
            <key>earth_1</key>
            <dict>
                <key>frame</key>
                <string>{{687,0},{263,296}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,296}}</string>
                <key>sourceSize</key>
                <string>{263,296}</string>
            </dict>
            <key>earth_2</key>
            <dict>
                <key>frame</key>
                <string>{{482,236},{106,186}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{106,186}}</string>
                <key>sourceSize</key>
                <string>{108,192}</string>
            </dict>
            <key>earth_3</key>
            <dict>
                <key>frame</key>
                <string>{{294,236},{169,186}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{169,186}}</string>
                <key>sourceSize</key>
                <string>{171,190}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>earth.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0563c9b9e4d4f6e501f1df559259fab9:1/1$</string>
            <key>textureFileName</key>
            <string>earth.pvr.ccz</string>
        </dict>
    </dict>
</plist>
