<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Fire_bk</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{685,234}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{685,234}}</string>
                <key>sourceSize</key>
                <string>{685,256}</string>
            </dict>
            <key>Ground</key>
            <dict>
                <key>frame</key>
                <string>{{0,917},{293,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,80}}</string>
                <key>sourceSize</key>
                <string>{293,80}</string>
            </dict>
            <key>f_01</key>
            <dict>
                <key>frame</key>
                <string>{{0,236},{489,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{489,294}}</string>
                <key>sourceSize</key>
                <string>{489,294}</string>
            </dict>
            <key>f_02</key>
            <dict>
                <key>frame</key>
                <string>{{674,288},{305,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{305,215}}</string>
                <key>sourceSize</key>
                <string>{305,215}</string>
            </dict>
            <key>f_03</key>
            <dict>
                <key>frame</key>
                <string>{{295,747},{252,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,211}}</string>
                <key>sourceSize</key>
                <string>{252,211}</string>
            </dict>
            <key>f_04</key>
            <dict>
                <key>frame</key>
                <string>{{295,532},{213,257}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,257}}</string>
                <key>sourceSize</key>
                <string>{213,257}</string>
            </dict>
            <key>f_05</key>
            <dict>
                <key>frame</key>
                <string>{{491,236},{278,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,181}}</string>
                <key>sourceSize</key>
                <string>{278,181}</string>
            </dict>
            <key>f_06</key>
            <dict>
                <key>frame</key>
                <string>{{687,0},{286,317}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,317}}</string>
                <key>sourceSize</key>
                <string>{286,317}</string>
            </dict>
            <key>f_07</key>
            <dict>
                <key>frame</key>
                <string>{{674,505},{410,303}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{410,303}}</string>
                <key>sourceSize</key>
                <string>{410,303}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fire.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:071337fe4268303a4a10a283c2ca7084:a8658bc308423f1db77b0300562728f3:423bd868addd5a1ef9c6a8f352dc8f5f$</string>
            <key>textureFileName</key>
            <string>fire.pvr.ccz</string>
        </dict>
    </dict>
</plist>
