<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Earth_01</key>
            <dict>
                <key>frame</key>
                <string>{{0,209},{685,234}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{685,234}}</string>
                <key>sourceSize</key>
                <string>{685,256}</string>
            </dict>
            <key>Earth_halo</key>
            <dict>
                <key>frame</key>
                <string>{{494,772},{186,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{186,186}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>Earth_icon</key>
            <dict>
                <key>frame</key>
                <string>{{886,209},{124,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{124,95}}</string>
                <key>sourceSize</key>
                <string>{128,99}</string>
            </dict>
            <key>Fire_halo</key>
            <dict>
                <key>frame</key>
                <string>{{681,642},{184,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{184,184}}</string>
                <key>sourceSize</key>
                <string>{188,188}</string>
            </dict>
            <key>Fire_icon</key>
            <dict>
                <key>frame</key>
                <string>{{908,0},{112,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{112,99}}</string>
                <key>sourceSize</key>
                <string>{116,103}</string>
            </dict>
            <key>Mine_halo</key>
            <dict>
                <key>frame</key>
                <string>{{685,455},{186,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{186,186}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>Mine_icon</key>
            <dict>
                <key>frame</key>
                <string>{{873,305},{143,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{143,84}}</string>
                <key>sourceSize</key>
                <string>{147,88}</string>
            </dict>
            <key>Water_holo</key>
            <dict>
                <key>frame</key>
                <string>{{686,268},{186,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{186,186}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>Water_icon</key>
            <dict>
                <key>frame</key>
                <string>{{886,100},{134,108}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{134,108}}</string>
                <key>sourceSize</key>
                <string>{140,112}</string>
            </dict>
            <key>Wind_halo</key>
            <dict>
                <key>frame</key>
                <string>{{699,81},{186,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{186,186}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>Wind_icon</key>
            <dict>
                <key>frame</key>
                <string>{{0,903},{85,104}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{85,104}}</string>
                <key>sourceSize</key>
                <string>{89,108}</string>
            </dict>
            <key>activeteam_bk</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{698,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{698,208}}</string>
                <key>sourceSize</key>
                <string>{698,208}</string>
            </dict>
            <key>cloud_01</key>
            <dict>
                <key>frame</key>
                <string>{{0,444},{511,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{511,240}}</string>
                <key>sourceSize</key>
                <string>{517,242}</string>
            </dict>
            <key>cloud_02</key>
            <dict>
                <key>frame</key>
                <string>{{0,685},{435,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{435,217}}</string>
                <key>sourceSize</key>
                <string>{439,219}</string>
            </dict>
            <key>cloud_03</key>
            <dict>
                <key>frame</key>
                <string>{{699,0},{208,80}}</string>
                <key>offset</key>
                <string>{-2,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,22},{208,80}}</string>
                <key>sourceSize</key>
                <string>{216,162}</string>
            </dict>
            <key>cuilian</key>
            <dict>
                <key>frame</key>
                <string>{{494,959},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>def_btn_active</key>
            <dict>
                <key>frame</key>
                <string>{{295,903},{80,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,74}}</string>
                <key>sourceSize</key>
                <string>{80,74}</string>
            </dict>
            <key>def_btn_chat</key>
            <dict>
                <key>frame</key>
                <string>{{435,962},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>def_btn_friends</key>
            <dict>
                <key>frame</key>
                <string>{{435,903},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>def_btn_limitTrain</key>
            <dict>
                <key>frame</key>
                <string>{{553,959},{48,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{48,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>def_btn_ninjabook</key>
            <dict>
                <key>frame</key>
                <string>{{376,962},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>def_btn_org</key>
            <dict>
                <key>frame</key>
                <string>{{376,903},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>def_btn_potential</key>
            <dict>
                <key>frame</key>
                <string>{{961,613},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>def_btn_rein</key>
            <dict>
                <key>frame</key>
                <string>{{965,554},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>def_btn_setting</key>
            <dict>
                <key>frame</key>
                <string>{{965,495},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>def_btn_trainsoul</key>
            <dict>
                <key>frame</key>
                <string>{{611,624},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>def_countrywar</key>
            <dict>
                <key>frame</key>
                <string>{{872,495},{92,102}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{92,102}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>def_exp</key>
            <dict>
                <key>frame</key>
                <string>{{873,390},{118,104}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,104}}</string>
                <key>sourceSize</key>
                <string>{120,106}</string>
            </dict>
            <key>def_fight</key>
            <dict>
                <key>frame</key>
                <string>{{512,644},{98,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,76}}</string>
                <key>sourceSize</key>
                <string>{98,76}</string>
            </dict>
            <key>def_flagbutton</key>
            <dict>
                <key>frame</key>
                <string>{{246,903},{48,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,84}}</string>
                <key>sourceSize</key>
                <string>{48,84}</string>
            </dict>
            <key>def_godCard</key>
            <dict>
                <key>frame</key>
                <string>{{611,565},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>def_inter_potential</key>
            <dict>
                <key>frame</key>
                <string>{{620,444},{64,61}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{64,61}}</string>
                <key>sourceSize</key>
                <string>{74,77}</string>
            </dict>
            <key>def_msg_btn</key>
            <dict>
                <key>frame</key>
                <string>{{620,506},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>def_org</key>
            <dict>
                <key>frame</key>
                <string>{{512,444},{107,100}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{107,100}}</string>
                <key>sourceSize</key>
                <string>{117,104}</string>
            </dict>
            <key>def_plunder</key>
            <dict>
                <key>frame</key>
                <string>{{512,545},{98,98}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{98,98}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>def_rush_tower</key>
            <dict>
                <key>frame</key>
                <string>{{86,903},{84,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,94}}</string>
                <key>sourceSize</key>
                <string>{84,94}</string>
            </dict>
            <key>jinru_01</key>
            <dict>
                <key>frame</key>
                <string>{{171,903},{74,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,86}}</string>
                <key>sourceSize</key>
                <string>{74,86}</string>
            </dict>
            <key>jinru_02</key>
            <dict>
                <key>frame</key>
                <string>{{436,685},{74,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,86}}</string>
                <key>sourceSize</key>
                <string>{74,86}</string>
            </dict>
            <key>limit_001</key>
            <dict>
                <key>frame</key>
                <string>{{86,998},{87,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,21}}</string>
                <key>sourceSize</key>
                <string>{87,21}</string>
            </dict>
            <key>limit_002</key>
            <dict>
                <key>frame</key>
                <string>{{872,620},{88,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,21}}</string>
                <key>sourceSize</key>
                <string>{88,21}</string>
            </dict>
            <key>limit_003</key>
            <dict>
                <key>frame</key>
                <string>{{872,598},{88,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,21}}</string>
                <key>sourceSize</key>
                <string>{88,21}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>home_btns.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ce82ab8199be88812d0a796983a45ae7:1/1$</string>
            <key>textureFileName</key>
            <string>home_btns.pvr.ccz</string>
        </dict>
    </dict>
</plist>
