<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Earth_01</key>
            <dict>
                <key>frame</key>
                <string>{{0,209},{685,234}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{685,234}}</string>
                <key>sourceSize</key>
                <string>{685,256}</string>
            </dict>
            <key>Earth_halo</key>
            <dict>
                <key>frame</key>
                <string>{{682,642},{186,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{186,186}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>Earth_icon</key>
            <dict>
                <key>frame</key>
                <string>{{886,209},{124,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{124,95}}</string>
                <key>sourceSize</key>
                <string>{128,99}</string>
            </dict>
            <key>Fire_halo</key>
            <dict>
                <key>frame</key>
                <string>{{0,829},{184,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{184,184}}</string>
                <key>sourceSize</key>
                <string>{188,188}</string>
            </dict>
            <key>Fire_icon</key>
            <dict>
                <key>frame</key>
                <string>{{908,0},{112,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{112,99}}</string>
                <key>sourceSize</key>
                <string>{116,103}</string>
            </dict>
            <key>Mine_halo</key>
            <dict>
                <key>frame</key>
                <string>{{685,455},{186,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{186,186}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>Mine_icon</key>
            <dict>
                <key>frame</key>
                <string>{{873,305},{143,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{143,84}}</string>
                <key>sourceSize</key>
                <string>{147,88}</string>
            </dict>
            <key>Water_holo</key>
            <dict>
                <key>frame</key>
                <string>{{686,268},{186,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{186,186}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>Water_icon</key>
            <dict>
                <key>frame</key>
                <string>{{886,100},{134,108}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{134,108}}</string>
                <key>sourceSize</key>
                <string>{140,112}</string>
            </dict>
            <key>Wind_halo</key>
            <dict>
                <key>frame</key>
                <string>{{699,81},{186,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{186,186}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>Wind_icon</key>
            <dict>
                <key>frame</key>
                <string>{{872,611},{85,104}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{85,104}}</string>
                <key>sourceSize</key>
                <string>{89,108}</string>
            </dict>
            <key>activeteam_bk</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{698,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{698,208}}</string>
                <key>sourceSize</key>
                <string>{698,208}</string>
            </dict>
            <key>cloud_01</key>
            <dict>
                <key>frame</key>
                <string>{{0,444},{511,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{511,240}}</string>
                <key>sourceSize</key>
                <string>{517,242}</string>
            </dict>
            <key>cloud_02</key>
            <dict>
                <key>frame</key>
                <string>{{185,795},{435,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{435,217}}</string>
                <key>sourceSize</key>
                <string>{439,219}</string>
            </dict>
            <key>cloud_03</key>
            <dict>
                <key>frame</key>
                <string>{{699,0},{208,80}}</string>
                <key>offset</key>
                <string>{-2,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,22},{208,80}}</string>
                <key>sourceSize</key>
                <string>{216,162}</string>
            </dict>
            <key>cuilian</key>
            <dict>
                <key>frame</key>
                <string>{{621,718},{58,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,60}}</string>
                <key>sourceSize</key>
                <string>{58,60}</string>
            </dict>
            <key>defPayRanking</key>
            <dict>
                <key>frame</key>
                <string>{{954,755},{58,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,62}}</string>
                <key>sourceSize</key>
                <string>{58,62}</string>
            </dict>
            <key>def_btn_active</key>
            <dict>
                <key>frame</key>
                <string>{{124,718},{80,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,76}}</string>
                <key>sourceSize</key>
                <string>{80,76}</string>
            </dict>
            <key>def_btn_chat</key>
            <dict>
                <key>frame</key>
                <string>{{958,692},{58,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,62}}</string>
                <key>sourceSize</key>
                <string>{58,62}</string>
            </dict>
            <key>def_btn_friends</key>
            <dict>
                <key>frame</key>
                <string>{{963,502},{58,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,63}}</string>
                <key>sourceSize</key>
                <string>{58,63}</string>
            </dict>
            <key>def_btn_limitTrain</key>
            <dict>
                <key>frame</key>
                <string>{{257,718},{48,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{48,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>def_btn_ninjabook</key>
            <dict>
                <key>frame</key>
                <string>{{958,629},{58,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,62}}</string>
                <key>sourceSize</key>
                <string>{58,62}</string>
            </dict>
            <key>def_btn_org</key>
            <dict>
                <key>frame</key>
                <string>{{357,718},{58,47}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,47}}</string>
                <key>sourceSize</key>
                <string>{58,61}</string>
            </dict>
            <key>def_btn_potential</key>
            <dict>
                <key>frame</key>
                <string>{{205,718},{51,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,61}}</string>
                <key>sourceSize</key>
                <string>{51,61}</string>
            </dict>
            <key>def_btn_rein</key>
            <dict>
                <key>frame</key>
                <string>{{620,506},{59,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,63}}</string>
                <key>sourceSize</key>
                <string>{59,63}</string>
            </dict>
            <key>def_btn_reward</key>
            <dict>
                <key>frame</key>
                <string>{{306,718},{50,56}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{50,56}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>def_btn_setting</key>
            <dict>
                <key>frame</key>
                <string>{{963,566},{58,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,62}}</string>
                <key>sourceSize</key>
                <string>{58,62}</string>
            </dict>
            <key>def_btn_trainsoul</key>
            <dict>
                <key>frame</key>
                <string>{{954,818},{58,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,60}}</string>
                <key>sourceSize</key>
                <string>{58,60}</string>
            </dict>
            <key>def_countrywar</key>
            <dict>
                <key>frame</key>
                <string>{{872,502},{90,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,108}}</string>
                <key>sourceSize</key>
                <string>{90,108}</string>
            </dict>
            <key>def_exp</key>
            <dict>
                <key>frame</key>
                <string>{{873,390},{118,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,111}}</string>
                <key>sourceSize</key>
                <string>{118,111}</string>
            </dict>
            <key>def_fight</key>
            <dict>
                <key>frame</key>
                <string>{{512,623},{94,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,76}}</string>
                <key>sourceSize</key>
                <string>{94,76}</string>
            </dict>
            <key>def_flagbutton</key>
            <dict>
                <key>frame</key>
                <string>{{75,718},{48,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,84}}</string>
                <key>sourceSize</key>
                <string>{48,84}</string>
            </dict>
            <key>def_godCard</key>
            <dict>
                <key>frame</key>
                <string>{{621,779},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>def_inter_potential</key>
            <dict>
                <key>frame</key>
                <string>{{620,444},{64,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,61}}</string>
                <key>sourceSize</key>
                <string>{64,61}</string>
            </dict>
            <key>def_msg_btn</key>
            <dict>
                <key>frame</key>
                <string>{{611,570},{59,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,60}}</string>
                <key>sourceSize</key>
                <string>{59,60}</string>
            </dict>
            <key>def_org</key>
            <dict>
                <key>frame</key>
                <string>{{512,444},{107,88}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{107,88}}</string>
                <key>sourceSize</key>
                <string>{117,104}</string>
            </dict>
            <key>def_plunder</key>
            <dict>
                <key>frame</key>
                <string>{{512,533},{98,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,89}}</string>
                <key>sourceSize</key>
                <string>{98,89}</string>
            </dict>
            <key>def_rush_tower</key>
            <dict>
                <key>frame</key>
                <string>{{869,736},{84,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,83}}</string>
                <key>sourceSize</key>
                <string>{84,83}</string>
            </dict>
            <key>jinru_01</key>
            <dict>
                <key>frame</key>
                <string>{{0,718},{74,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,86}}</string>
                <key>sourceSize</key>
                <string>{74,86}</string>
            </dict>
            <key>jinru_02</key>
            <dict>
                <key>frame</key>
                <string>{{607,631},{74,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,86}}</string>
                <key>sourceSize</key>
                <string>{74,86}</string>
            </dict>
            <key>limit_001</key>
            <dict>
                <key>frame</key>
                <string>{{869,716},{85,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,19}}</string>
                <key>sourceSize</key>
                <string>{85,19}</string>
            </dict>
            <key>limit_002</key>
            <dict>
                <key>frame</key>
                <string>{{0,700},{84,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,17}}</string>
                <key>sourceSize</key>
                <string>{84,17}</string>
            </dict>
            <key>limit_003</key>
            <dict>
                <key>frame</key>
                <string>{{869,820},{84,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,17}}</string>
                <key>sourceSize</key>
                <string>{84,17}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>home_btns.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b53a43a5e2cdd22877a6e25b7cd0c5c1:f26b78a716a4dbfb76c7df0aec7310ea:50540ea856817117909e0fa6c7dbb324$</string>
            <key>textureFileName</key>
            <string>home_btns.pvr.ccz</string>
        </dict>
    </dict>
</plist>
