<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Wind_bk</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{685,234}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{685,234}}</string>
                <key>sourceSize</key>
                <string>{685,256}</string>
            </dict>
            <key>hill_03</key>
            <dict>
                <key>frame</key>
                <string>{{0,354},{402,429}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{402,429}}</string>
                <key>sourceSize</key>
                <string>{416,429}</string>
            </dict>
            <key>hill_05</key>
            <dict>
                <key>frame</key>
                <string>{{939,228},{124,77}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,12},{124,77}}</string>
                <key>sourceSize</key>
                <string>{130,89}</string>
            </dict>
            <key>hill_06</key>
            <dict>
                <key>frame</key>
                <string>{{0,785},{149,181}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{149,181}}</string>
                <key>sourceSize</key>
                <string>{149,187}</string>
            </dict>
            <key>hill_07</key>
            <dict>
                <key>frame</key>
                <string>{{687,150},{250,162}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{250,162}}</string>
                <key>sourceSize</key>
                <string>{252,174}</string>
            </dict>
            <key>plant_02</key>
            <dict>
                <key>frame</key>
                <string>{{939,150},{76,84}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{76,84}}</string>
                <key>sourceSize</key>
                <string>{78,86}</string>
            </dict>
            <key>wind02</key>
            <dict>
                <key>frame</key>
                <string>{{687,77},{292,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,71}}</string>
                <key>sourceSize</key>
                <string>{292,71}</string>
            </dict>
            <key>wind03</key>
            <dict>
                <key>frame</key>
                <string>{{687,0},{292,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,75}}</string>
                <key>sourceSize</key>
                <string>{292,75}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wind.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:86cc43740d5638886fc3940aeeb90bd9:c4e81b9825b6862051cbedf7664f1304:e7edde105af9b61b53b71f68772af403$</string>
            <key>textureFileName</key>
            <string>wind.pvr.ccz</string>
        </dict>
    </dict>
</plist>
