<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>level_chapter_1</key>
            <dict>
                <key>frame</key>
                <string>{{0,484},{340,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{340,240}}</string>
                <key>sourceSize</key>
                <string>{340,240}</string>
            </dict>
            <key>level_chapter_2</key>
            <dict>
                <key>frame</key>
                <string>{{0,242},{340,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{340,240}}</string>
                <key>sourceSize</key>
                <string>{340,240}</string>
            </dict>
            <key>level_chapter_3</key>
            <dict>
                <key>frame</key>
                <string>{{232,726},{230,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,240}}</string>
                <key>sourceSize</key>
                <string>{230,240}</string>
            </dict>
            <key>level_chapter_4</key>
            <dict>
                <key>frame</key>
                <string>{{0,726},{230,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,240}}</string>
                <key>sourceSize</key>
                <string>{230,240}</string>
            </dict>
            <key>level_chapter_5</key>
            <dict>
                <key>frame</key>
                <string>{{692,0},{230,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,240}}</string>
                <key>sourceSize</key>
                <string>{230,240}</string>
            </dict>
            <key>level_chapter_6</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{690,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{690,240}}</string>
                <key>sourceSize</key>
                <string>{690,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>level_page1.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:78c9dc80281b27fdf6021987b7ba6325:03661927e69c93ac579ef203cb4d85d3:c708b799effa6956098fd0ba57a9f479$</string>
            <key>textureFileName</key>
            <string>level_page1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
