<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>big_ornament_010</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{234,176}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,47},{234,176}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>big_ornament_010.pvr.ccz</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:55751f0a53f4bce7e16f093a33eb8bb0:4300525f17392193ff3e45c0187a9553:ba0ec9aa4cfe2f26fa02078018973ffc$</string>
            <key>textureFileName</key>
            <string>big_ornament_010.pvr.ccz</string>
        </dict>
    </dict>
</plist>
