<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>big_weapon_015</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{268,262}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{268,262}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>big_weapon_015.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b0c7bf1076a456a9c2b28f0678553231:435724ab76470529801b0874ffab4c0f:bfde5b45c7f538eb7da28e33cca26efd$</string>
            <key>textureFileName</key>
            <string>big_weapon_015.pvr.ccz</string>
        </dict>
    </dict>
</plist>
