<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>big_weapon_024</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{248,250}}</string>
                <key>offset</key>
                <string>{-8,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,22},{248,250}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>big_weapon_024.pvr.ccz</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8a0511c763dea21b1ea388af33f003f5:f1df34a1daec8023ddabcc127b4f5c10:514ec0d7c96679ec38c7b94564649093$</string>
            <key>textureFileName</key>
            <string>big_weapon_024.pvr.ccz</string>
        </dict>
    </dict>
</plist>
