<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>big_ornament_001</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{246,172}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,63},{246,172}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>big_ornament_001.pvr.ccz</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f8b9ed6b353f494dd39e87f4080688fe:31634007ce3ef5fd56c1e6538368be40:dc1bd9348bf065e94a71545dd1f1954e$</string>
            <key>textureFileName</key>
            <string>big_ornament_001.pvr.ccz</string>
        </dict>
    </dict>
</plist>
