<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>big_ornament_011</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{186,210}}</string>
                <key>offset</key>
                <string>{8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,37},{186,210}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>big_ornament_011.pvr.ccz</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:57487a4d99c43a287028697a6f280d7c:26954be1d85e9460d0bccbce0a80639f:f23364cebf3b2803f2903593b7a3a05d$</string>
            <key>textureFileName</key>
            <string>big_ornament_011.pvr.ccz</string>
        </dict>
    </dict>
</plist>
