<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>big_weapon_008</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{268,246}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,12},{268,246}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>big_weapon_008.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e5b3f1e349edd8afa5ed6ae34fbb1b3b:ac8994c10d9a62639a4468d43ae79c02:35145a479f9b7a8f9cc1ec9eb983e3ed$</string>
            <key>textureFileName</key>
            <string>big_weapon_008.pvr.ccz</string>
        </dict>
    </dict>
</plist>
