<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>big_Armor_43</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{238,266}}</string>
                <key>offset</key>
                <string>{9,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,14},{238,266}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>big_Armor_43.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f0bd5e001c7033471b1d6eff7a276ab9:1/1$</string>
            <key>textureFileName</key>
            <string>big_Armor_43.pvr.ccz</string>
        </dict>
    </dict>
</plist>
