<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>big_weapon_022</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{248,228}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,28},{248,228}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>big_weapon_022.pvr.ccz</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dbb826a14cb373ad2a710a448c3f4557:f8b5b5bb6e64b3f8652f064cd4d170ad:f1b9f6f2b0dd976450b0f5f2d0c15997$</string>
            <key>textureFileName</key>
            <string>big_weapon_022.pvr.ccz</string>
        </dict>
    </dict>
</plist>
