<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Default-Portrait@2x~ipad</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{768,1024}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{768,1024}}</string>
                <key>sourceSize</key>
                <string>{768,1024}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Default-Portrait@2x~ipad.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fd4702fe10c0bc740a936c910ab35aa5:eb48bbc8ec7ddf266dec3ceab5e6a9ef:dc2ed088562687518af2b202716705f0$</string>
            <key>textureFileName</key>
            <string>Default-Portrait@2x~ipad.pvr.ccz</string>
        </dict>
    </dict>
</plist>
