<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Candidate_003</key>
            <dict>
                <key>frame</key>
                <string>{{494,820},{148,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,148}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>Candidate_004</key>
            <dict>
                <key>frame</key>
                <string>{{344,820},{148,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,148}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>Candidate_005</key>
            <dict>
                <key>frame</key>
                <string>{{760,613},{148,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,148}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>Candidate_007</key>
            <dict>
                <key>frame</key>
                <string>{{910,681},{68,64}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{68,64}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>Candidate_008</key>
            <dict>
                <key>frame</key>
                <string>{{918,609},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>Candidate_arrow</key>
            <dict>
                <key>frame</key>
                <string>{{919,491},{81,116}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{81,116}}</string>
                <key>sourceSize</key>
                <string>{93,122}</string>
            </dict>
            <key>Candidate_backBtn</key>
            <dict>
                <key>frame</key>
                <string>{{506,670},{246,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,103}}</string>
                <key>sourceSize</key>
                <string>{246,103}</string>
            </dict>
            <key>Candidate_bkg_1</key>
            <dict>
                <key>frame</key>
                <string>{{0,491},{342,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{342,512}}</string>
                <key>sourceSize</key>
                <string>{342,512}</string>
            </dict>
            <key>Candidate_country</key>
            <dict>
                <key>frame</key>
                <string>{{511,491},{406,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{406,59}}</string>
                <key>sourceSize</key>
                <string>{406,59}</string>
            </dict>
            <key>Candidate_frame_1</key>
            <dict>
                <key>frame</key>
                <string>{{344,658},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>Candidate_frame_2</key>
            <dict>
                <key>frame</key>
                <string>{{344,489},{165,167}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{165,167}}</string>
                <key>sourceSize</key>
                <string>{171,171}</string>
            </dict>
            <key>Candidate_inputbtn</key>
            <dict>
                <key>frame</key>
                <string>{{984,681},{38,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,68}}</string>
                <key>sourceSize</key>
                <string>{38,68}</string>
            </dict>
            <key>Candidate_inputname</key>
            <dict>
                <key>frame</key>
                <string>{{754,763},{228,29}}</string>
                <key>offset</key>
                <string>{-10,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{228,29}}</string>
                <key>sourceSize</key>
                <string>{252,35}</string>
            </dict>
            <key>Candidate_map</key>
            <dict>
                <key>frame</key>
                <string>{{511,613},{247,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,55}}</string>
                <key>sourceSize</key>
                <string>{247,55}</string>
            </dict>
            <key>Candidate_mapSoil</key>
            <dict>
                <key>frame</key>
                <string>{{514,0},{479,489}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{479,489}}</string>
                <key>sourceSize</key>
                <string>{479,489}</string>
            </dict>
            <key>Candidate_nextBtn</key>
            <dict>
                <key>frame</key>
                <string>{{248,384},{246,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,103}}</string>
                <key>sourceSize</key>
                <string>{246,103}</string>
            </dict>
            <key>Candidate_okBtn</key>
            <dict>
                <key>frame</key>
                <string>{{0,384},{246,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,103}}</string>
                <key>sourceSize</key>
                <string>{246,103}</string>
            </dict>
            <key>Candidate_teammate</key>
            <dict>
                <key>frame</key>
                <string>{{511,552},{405,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{405,59}}</string>
                <key>sourceSize</key>
                <string>{405,59}</string>
            </dict>
            <key>Candidate_water</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{512,382}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,382}}</string>
                <key>sourceSize</key>
                <string>{512,382}</string>
            </dict>
            <key>close_01</key>
            <dict>
                <key>frame</key>
                <string>{{644,843},{65,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,66}}</string>
                <key>sourceSize</key>
                <string>{65,66}</string>
            </dict>
            <key>close_02</key>
            <dict>
                <key>frame</key>
                <string>{{644,775},{65,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,66}}</string>
                <key>sourceSize</key>
                <string>{65,66}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>candidate.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6472a9963840dae3298e4a1d3d83c2f7:1/1$</string>
            <key>textureFileName</key>
            <string>candidate.pvr.ccz</string>
        </dict>
    </dict>
</plist>
