<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Candidate_fire</key>
            <dict>
                <key>frame</key>
                <string>{{0,383},{512,381}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,381}}</string>
                <key>sourceSize</key>
                <string>{512,381}</string>
            </dict>
            <key>Candidate_mapWater</key>
            <dict>
                <key>frame</key>
                <string>{{513,0},{479,492}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{479,492}}</string>
                <key>sourceSize</key>
                <string>{479,492}</string>
            </dict>
            <key>Candidate_mapWind</key>
            <dict>
                <key>frame</key>
                <string>{{513,493},{479,489}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{479,489}}</string>
                <key>sourceSize</key>
                <string>{479,489}</string>
            </dict>
            <key>Candidate_thunder</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{512,382}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,382}}</string>
                <key>sourceSize</key>
                <string>{512,382}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>candidate_2.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:00e981020177958d933f0dc698279f7a:2271def45b63709594c656b5d3d0b37d:a4829b2cb2c04030db6d78401ed0dbad$</string>
            <key>textureFileName</key>
            <string>candidate_2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
