<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Candidate_005_desc</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{703,619}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{703,619}}</string>
                <key>sourceSize</key>
                <string>{723,619}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>candidate_005_desc.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e542c4017f7d6ca628e395cbc3dcce02:1/1$</string>
            <key>textureFileName</key>
            <string>candidate_005_desc.pvr.ccz</string>
        </dict>
    </dict>
</plist>
