<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Candidate_003_desc</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{698,604}}</string>
                <key>offset</key>
                <string>{-7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{698,604}}</string>
                <key>sourceSize</key>
                <string>{712,610}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>candidate_003_desc.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a17a60e2724fd45714f364bd57fcd35a:1/1$</string>
            <key>textureFileName</key>
            <string>candidate_003_desc.pvr.ccz</string>
        </dict>
    </dict>
</plist>
