<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Handin_ch6</key>
            <dict>
                <key>frame</key>
                <string>{{982,0},{130,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,32}}</string>
                <key>sourceSize</key>
                <string>{130,32}</string>
            </dict>
            <key>dialog_box_02</key>
            <dict>
                <key>frame</key>
                <string>{{491,143},{279,335}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{279,335}}</string>
                <key>sourceSize</key>
                <string>{279,335}</string>
            </dict>
            <key>dialog_box_03</key>
            <dict>
                <key>frame</key>
                <string>{{491,0},{489,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{489,141}}</string>
                <key>sourceSize</key>
                <string>{489,141}</string>
            </dict>
            <key>dialog_box_04</key>
            <dict>
                <key>frame</key>
                <string>{{1016,0},{428,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{428,2}}</string>
                <key>sourceSize</key>
                <string>{428,2}</string>
            </dict>
            <key>dialog_box_05</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{489,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{489,160}}</string>
                <key>sourceSize</key>
                <string>{489,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dialog_box.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0bc8cc2ea0435b1e61a798492614d8dc:5ca42943fb2366b05d62bb247fae3b39:d4fce62a9e9d8b42c43b21e5127b559c$</string>
            <key>textureFileName</key>
            <string>dialog_box.pvr.ccz</string>
        </dict>
    </dict>
</plist>
