<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Handin_ch6</key>
            <dict>
                <key>frame</key>
                <string>{{426,284},{131,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,33}}</string>
                <key>sourceSize</key>
                <string>{131,33}</string>
            </dict>
            <key>dialog_box_02</key>
            <dict>
                <key>frame</key>
                <string>{{0,284},{223,424}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,424}}</string>
                <key>sourceSize</key>
                <string>{223,424}</string>
            </dict>
            <key>dialog_box_03</key>
            <dict>
                <key>frame</key>
                <string>{{0,142},{489,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{489,140}}</string>
                <key>sourceSize</key>
                <string>{489,140}</string>
            </dict>
            <key>dialog_box_04</key>
            <dict>
                <key>frame</key>
                <string>{{491,0},{428,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{428,2}}</string>
                <key>sourceSize</key>
                <string>{428,2}</string>
            </dict>
            <key>dialog_box_05</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{489,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{489,140}}</string>
                <key>sourceSize</key>
                <string>{489,140}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dialog_box.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:02f28adabf033178595f147a0c91825d:1/1$</string>
            <key>textureFileName</key>
            <string>dialog_box.pvr.ccz</string>
        </dict>
    </dict>
</plist>
