<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>icon_npc300_17</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{94,96}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{94,96}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>icon_npc300_17.pvr.ccz</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:42c1a7d85a4f772f219f9fffce96fbae:65f9fb0c546e95667fee8434ea8e33d8:5f157acc0907a74ab270e8625ceeaaa5$</string>
            <key>textureFileName</key>
            <string>icon_npc300_17.pvr.ccz</string>
        </dict>
    </dict>
</plist>
