<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>icon_npc300_12</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{92,94}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{92,94}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>icon_npc300_12.pvr.ccz</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7bd267f002b06b36ebbc13673a4d3caf:c8de42834405309e5215d1a1a3e22396:6a6c940f7cc48d7e9cae7c5cc954b7f6$</string>
            <key>textureFileName</key>
            <string>icon_npc300_12.pvr.ccz</string>
        </dict>
    </dict>
</plist>
