<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>icon_npc47_3</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{94,92}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{94,92}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>icon_npc47_3.pvr.ccz</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f508d9a5d2f84a28e802e9e26c393a9f:f41be4fa2bfbb3bb1232fe87e34fffe8:0dfd07ca4df09b20e65b2bdb6601658c$</string>
            <key>textureFileName</key>
            <string>icon_npc47_3.pvr.ccz</string>
        </dict>
    </dict>
</plist>
