<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>icon_npc32_4</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{92,94}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{92,94}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>icon_npc32_4.pvr.ccz</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8a59649b3c1ff9d86370297a76581d4b:5a5aa6d332dedc0532bd8d2f4fca2156:ee402681bf472327290a1f75afcce270$</string>
            <key>textureFileName</key>
            <string>icon_npc32_4.pvr.ccz</string>
        </dict>
    </dict>
</plist>
