<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>icon_npc25_4</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{92,94}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{92,94}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>icon_npc25_4.pvr.ccz</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ab75c7affc60c154319747465c316b58:7cd23efb6a1655fe4d3e9b29a86867fa:8c5e0f3d8de033f58c7b7caaa7ce38bc$</string>
            <key>textureFileName</key>
            <string>icon_npc25_4.pvr.ccz</string>
        </dict>
    </dict>
</plist>
