<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>icon_npc11_6</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{92,94}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{92,94}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>icon_npc11_6.pvr.ccz</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9fe108479b9e37c2a1718e84f10980e4:e17152879fd74c4df9b011440d6cf72a:9d19944b3ef162a0368fac47a486b8cd$</string>
            <key>textureFileName</key>
            <string>icon_npc11_6.pvr.ccz</string>
        </dict>
    </dict>
</plist>
