<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>icon_npc34_4</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{92,92}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{92,92}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>icon_npc34_4.pvr.ccz</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:13b5846d0efba241d85e80b2ee88e036:ad075a55b0926e8dfbbb6e81b61e4f9e:95b32ee2e275ee394fe67fd9ef74154d$</string>
            <key>textureFileName</key>
            <string>icon_npc34_4.pvr.ccz</string>
        </dict>
    </dict>
</plist>
