<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>nvshen_001</key>
            <dict>
                <key>frame</key>
                <string>{{733,107},{39,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,49}}</string>
                <key>sourceSize</key>
                <string>{39,49}</string>
            </dict>
            <key>nvshen_002</key>
            <dict>
                <key>frame</key>
                <string>{{818,0},{197,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,90}}</string>
                <key>sourceSize</key>
                <string>{197,90}</string>
            </dict>
            <key>nvshen_008</key>
            <dict>
                <key>frame</key>
                <string>{{600,34},{131,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,80}}</string>
                <key>sourceSize</key>
                <string>{131,80}</string>
            </dict>
            <key>nvshen_009</key>
            <dict>
                <key>frame</key>
                <string>{{733,34},{70,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,71}}</string>
                <key>sourceSize</key>
                <string>{70,71}</string>
            </dict>
            <key>nvshen_010</key>
            <dict>
                <key>frame</key>
                <string>{{805,92},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>nvshen_011</key>
            <dict>
                <key>frame</key>
                <string>{{344,34},{254,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,28}}</string>
                <key>sourceSize</key>
                <string>{254,28}</string>
            </dict>
            <key>nvshen_012</key>
            <dict>
                <key>frame</key>
                <string>{{344,0},{472,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{472,32}}</string>
                <key>sourceSize</key>
                <string>{472,32}</string>
            </dict>
            <key>nvshen_013</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{342,493}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{342,493}}</string>
                <key>sourceSize</key>
                <string>{342,493}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>nvshen_icon.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2393fc79424141a2338caf57eb9f8f5c:1/1$</string>
            <key>textureFileName</key>
            <string>nvshen_icon.pvr.ccz</string>
        </dict>
    </dict>
</plist>
