<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>activity_02_27</key>
            <dict>
                <key>frame</key>
                <string>{{0,108},{489,68}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,12},{489,68}}</string>
                <key>sourceSize</key>
                <string>{495,80}</string>
            </dict>
            <key>activity_02_28</key>
            <dict>
                <key>frame</key>
                <string>{{846,235},{154,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,179}}</string>
                <key>sourceSize</key>
                <string>{154,179}</string>
            </dict>
            <key>activity_02_29</key>
            <dict>
                <key>frame</key>
                <string>{{638,108},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>activity_02_30</key>
            <dict>
                <key>frame</key>
                <string>{{949,51},{50,34}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{50,34}}</string>
                <key>sourceSize</key>
                <string>{54,48}</string>
            </dict>
            <key>activity_03_01</key>
            <dict>
                <key>frame</key>
                <string>{{949,0},{52,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,49}}</string>
                <key>sourceSize</key>
                <string>{52,49}</string>
            </dict>
            <key>activity_03_02</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{688,106}}</string>
                <key>offset</key>
                <string>{-14,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{688,106}}</string>
                <key>sourceSize</key>
                <string>{716,108}</string>
            </dict>
            <key>activity_03_03</key>
            <dict>
                <key>frame</key>
                <string>{{690,91},{154,266}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,266}}</string>
                <key>sourceSize</key>
                <string>{154,266}</string>
            </dict>
            <key>activity_03_04</key>
            <dict>
                <key>frame</key>
                <string>{{588,256},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>activity_03_05</key>
            <dict>
                <key>frame</key>
                <string>{{690,0},{257,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,63}}</string>
                <key>sourceSize</key>
                <string>{257,63}</string>
            </dict>
            <key>activity_03_06</key>
            <dict>
                <key>frame</key>
                <string>{{690,65},{179,24}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{179,24}}</string>
                <key>sourceSize</key>
                <string>{183,32}</string>
            </dict>
            <key>month_sign_01</key>
            <dict>
                <key>frame</key>
                <string>{{638,158},{45,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,36}}</string>
                <key>sourceSize</key>
                <string>{45,36}</string>
            </dict>
            <key>month_sign_02</key>
            <dict>
                <key>frame</key>
                <string>{{588,348},{89,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,50}}</string>
                <key>sourceSize</key>
                <string>{89,50}</string>
            </dict>
            <key>month_sign_03</key>
            <dict>
                <key>frame</key>
                <string>{{554,404},{102,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,91}}</string>
                <key>sourceSize</key>
                <string>{102,91}</string>
            </dict>
            <key>month_sign_icon_01</key>
            <dict>
                <key>frame</key>
                <string>{{420,404},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>month_sign_icon_02</key>
            <dict>
                <key>frame</key>
                <string>{{0,466},{132,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,133}}</string>
                <key>sourceSize</key>
                <string>{132,133}</string>
            </dict>
            <key>month_sign_icon_03</key>
            <dict>
                <key>frame</key>
                <string>{{286,326},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>month_sign_select_1</key>
            <dict>
                <key>frame</key>
                <string>{{679,359},{145,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,146}}</string>
                <key>sourceSize</key>
                <string>{145,146}</string>
            </dict>
            <key>month_sign_select_10</key>
            <dict>
                <key>frame</key>
                <string>{{441,256},{145,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,146}}</string>
                <key>sourceSize</key>
                <string>{145,146}</string>
            </dict>
            <key>month_sign_select_2</key>
            <dict>
                <key>frame</key>
                <string>{{294,178},{145,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,146}}</string>
                <key>sourceSize</key>
                <string>{145,146}</string>
            </dict>
            <key>month_sign_select_3</key>
            <dict>
                <key>frame</key>
                <string>{{147,178},{145,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,146}}</string>
                <key>sourceSize</key>
                <string>{145,146}</string>
            </dict>
            <key>month_sign_select_4</key>
            <dict>
                <key>frame</key>
                <string>{{147,326},{137,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{137,146}}</string>
                <key>sourceSize</key>
                <string>{145,146}</string>
            </dict>
            <key>month_sign_select_5</key>
            <dict>
                <key>frame</key>
                <string>{{0,178},{145,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,146}}</string>
                <key>sourceSize</key>
                <string>{145,146}</string>
            </dict>
            <key>month_sign_select_6</key>
            <dict>
                <key>frame</key>
                <string>{{491,108},{145,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,146}}</string>
                <key>sourceSize</key>
                <string>{145,146}</string>
            </dict>
            <key>month_sign_select_7</key>
            <dict>
                <key>frame</key>
                <string>{{871,87},{145,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,146}}</string>
                <key>sourceSize</key>
                <string>{145,146}</string>
            </dict>
            <key>month_sign_select_8</key>
            <dict>
                <key>frame</key>
                <string>{{826,416},{145,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{145,144}}</string>
                <key>sourceSize</key>
                <string>{145,146}</string>
            </dict>
            <key>month_sign_select_9</key>
            <dict>
                <key>frame</key>
                <string>{{0,326},{145,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{145,138}}</string>
                <key>sourceSize</key>
                <string>{145,146}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>activity_02.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:960c11c3aa25ddd910f91e784a415406:fb43a28d9fb6f7b36eb25ff4aa7e60b8:0d4c465ee00196283c26dbbcba3b0022$</string>
            <key>textureFileName</key>
            <string>activity_02.pvr.ccz</string>
        </dict>
    </dict>
</plist>
