<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>activity17</key>
            <dict>
                <key>frame</key>
                <string>{{344,116},{113,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,116}}</string>
                <key>sourceSize</key>
                <string>{113,116}</string>
            </dict>
            <key>activity19</key>
            <dict>
                <key>frame</key>
                <string>{{340,377},{111,112}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{111,112}}</string>
                <key>sourceSize</key>
                <string>{113,116}</string>
            </dict>
            <key>activity20</key>
            <dict>
                <key>frame</key>
                <string>{{84,261},{85,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,74}}</string>
                <key>sourceSize</key>
                <string>{85,74}</string>
            </dict>
            <key>activity21</key>
            <dict>
                <key>frame</key>
                <string>{{344,0},{119,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,115}}</string>
                <key>sourceSize</key>
                <string>{119,115}</string>
            </dict>
            <key>activity22</key>
            <dict>
                <key>frame</key>
                <string>{{228,261},{113,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,115}}</string>
                <key>sourceSize</key>
                <string>{113,115}</string>
            </dict>
            <key>activity23</key>
            <dict>
                <key>frame</key>
                <string>{{114,349},{113,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,115}}</string>
                <key>sourceSize</key>
                <string>{113,115}</string>
            </dict>
            <key>activity24</key>
            <dict>
                <key>frame</key>
                <string>{{0,349},{113,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,115}}</string>
                <key>sourceSize</key>
                <string>{113,115}</string>
            </dict>
            <key>activity25</key>
            <dict>
                <key>frame</key>
                <string>{{344,233},{113,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,115}}</string>
                <key>sourceSize</key>
                <string>{113,115}</string>
            </dict>
            <key>activity26</key>
            <dict>
                <key>frame</key>
                <string>{{0,261},{83,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,82}}</string>
                <key>sourceSize</key>
                <string>{83,82}</string>
            </dict>
            <key>activity27</key>
            <dict>
                <key>frame</key>
                <string>{{228,377},{111,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{111,115}}</string>
                <key>sourceSize</key>
                <string>{113,115}</string>
            </dict>
            <key>activity_common_curtain</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{343,260}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{343,260}}</string>
                <key>sourceSize</key>
                <string>{343,264}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>activity_btns_2.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7a7ef3d74ae9203a549c7316173f843c:b87c36dcdb71b5aead88e2d4ab6dabfe:8add31a863f058f3ce7b65e9bcb67216$</string>
            <key>textureFileName</key>
            <string>activity_btns_2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
