<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_bk_01</key>
            <dict>
                <key>frame</key>
                <string>{{0,731},{140,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,192}}</string>
                <key>sourceSize</key>
                <string>{140,192}</string>
            </dict>
            <key>boss_bk_02</key>
            <dict>
                <key>frame</key>
                <string>{{652,310},{80,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,228}}</string>
                <key>sourceSize</key>
                <string>{80,228}</string>
            </dict>
            <key>boss_bk_05</key>
            <dict>
                <key>frame</key>
                <string>{{345,310},{305,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{305,53}}</string>
                <key>sourceSize</key>
                <string>{305,53}</string>
            </dict>
            <key>boss_bk_06</key>
            <dict>
                <key>frame</key>
                <string>{{916,392},{30,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,25}}</string>
                <key>sourceSize</key>
                <string>{30,25}</string>
            </dict>
            <key>boss_bk_07</key>
            <dict>
                <key>frame</key>
                <string>{{100,925},{124,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,81}}</string>
                <key>sourceSize</key>
                <string>{124,81}</string>
            </dict>
            <key>boss_button_03</key>
            <dict>
                <key>frame</key>
                <string>{{133,452},{180,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,61}}</string>
                <key>sourceSize</key>
                <string>{180,61}</string>
            </dict>
            <key>boss_button_04</key>
            <dict>
                <key>frame</key>
                <string>{{734,518},{180,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,61}}</string>
                <key>sourceSize</key>
                <string>{180,61}</string>
            </dict>
            <key>boss_button_05</key>
            <dict>
                <key>frame</key>
                <string>{{734,455},{180,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,61}}</string>
                <key>sourceSize</key>
                <string>{180,61}</string>
            </dict>
            <key>boss_button_06</key>
            <dict>
                <key>frame</key>
                <string>{{734,392},{180,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,61}}</string>
                <key>sourceSize</key>
                <string>{180,61}</string>
            </dict>
            <key>boss_button_07</key>
            <dict>
                <key>frame</key>
                <string>{{968,149},{54,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,53}}</string>
                <key>sourceSize</key>
                <string>{54,53}</string>
            </dict>
            <key>boss_pk_2</key>
            <dict>
                <key>frame</key>
                <string>{{0,519},{131,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,65}}</string>
                <key>sourceSize</key>
                <string>{131,65}</string>
            </dict>
            <key>boss_pk_21</key>
            <dict>
                <key>frame</key>
                <string>{{226,907},{110,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,100}}</string>
                <key>sourceSize</key>
                <string>{110,100}</string>
            </dict>
            <key>boss_pk_22</key>
            <dict>
                <key>frame</key>
                <string>{{0,925},{98,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,96}}</string>
                <key>sourceSize</key>
                <string>{98,96}</string>
            </dict>
            <key>boss_pk_23</key>
            <dict>
                <key>frame</key>
                <string>{{0,599},{143,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,130}}</string>
                <key>sourceSize</key>
                <string>{143,130}</string>
            </dict>
            <key>boss_pk_24</key>
            <dict>
                <key>frame</key>
                <string>{{948,204},{54,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,27}}</string>
                <key>sourceSize</key>
                <string>{54,27}</string>
            </dict>
            <key>boss_pk_25</key>
            <dict>
                <key>frame</key>
                <string>{{739,189},{207,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,201}}</string>
                <key>sourceSize</key>
                <string>{207,201}</string>
            </dict>
            <key>boss_pk_26</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{343,450}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{343,450}}</string>
                <key>sourceSize</key>
                <string>{343,450}</string>
            </dict>
            <key>boss_pk_27</key>
            <dict>
                <key>frame</key>
                <string>{{183,731},{174,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,174}}</string>
                <key>sourceSize</key>
                <string>{174,174}</string>
            </dict>
            <key>boss_pk_28</key>
            <dict>
                <key>frame</key>
                <string>{{145,540},{174,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,174}}</string>
                <key>sourceSize</key>
                <string>{174,174}</string>
            </dict>
            <key>boss_pk_30</key>
            <dict>
                <key>frame</key>
                <string>{{0,452},{131,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,65}}</string>
                <key>sourceSize</key>
                <string>{131,65}</string>
            </dict>
            <key>boss_pk_31</key>
            <dict>
                <key>frame</key>
                <string>{{739,57},{227,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,130}}</string>
                <key>sourceSize</key>
                <string>{227,130}</string>
            </dict>
            <key>boss_pk_32</key>
            <dict>
                <key>frame</key>
                <string>{{345,103},{392,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{392,101}}</string>
                <key>sourceSize</key>
                <string>{392,101}</string>
            </dict>
            <key>boss_pk_33</key>
            <dict>
                <key>frame</key>
                <string>{{345,206},{364,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{364,102}}</string>
                <key>sourceSize</key>
                <string>{364,102}</string>
            </dict>
            <key>boss_pk_34</key>
            <dict>
                <key>frame</key>
                <string>{{345,0},{392,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{392,101}}</string>
                <key>sourceSize</key>
                <string>{392,101}</string>
            </dict>
            <key>boss_wt_01</key>
            <dict>
                <key>frame</key>
                <string>{{399,540},{35,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,150}}</string>
                <key>sourceSize</key>
                <string>{35,150}</string>
            </dict>
            <key>boss_wt_02</key>
            <dict>
                <key>frame</key>
                <string>{{988,0},{36,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,147}}</string>
                <key>sourceSize</key>
                <string>{36,147}</string>
            </dict>
            <key>boss_wt_03</key>
            <dict>
                <key>frame</key>
                <string>{{359,731},{32,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,169}}</string>
                <key>sourceSize</key>
                <string>{32,169}</string>
            </dict>
            <key>boss_wt_04</key>
            <dict>
                <key>frame</key>
                <string>{{990,233},{34,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,160}}</string>
                <key>sourceSize</key>
                <string>{34,160}</string>
            </dict>
            <key>boss_wt_05</key>
            <dict>
                <key>frame</key>
                <string>{{142,731},{39,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,179}}</string>
                <key>sourceSize</key>
                <string>{39,179}</string>
            </dict>
            <key>boss_wt_06</key>
            <dict>
                <key>frame</key>
                <string>{{321,540},{39,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,171}}</string>
                <key>sourceSize</key>
                <string>{39,171}</string>
            </dict>
            <key>boss_wt_07</key>
            <dict>
                <key>frame</key>
                <string>{{958,550},{39,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,179}}</string>
                <key>sourceSize</key>
                <string>{39,179}</string>
            </dict>
            <key>boss_wt_08</key>
            <dict>
                <key>frame</key>
                <string>{{362,540},{35,163}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{35,163}}</string>
                <key>sourceSize</key>
                <string>{39,171}</string>
            </dict>
            <key>boss_wt_09</key>
            <dict>
                <key>frame</key>
                <string>{{990,395},{33,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,9},{33,153}}</string>
                <key>sourceSize</key>
                <string>{39,171}</string>
            </dict>
            <key>boss_wt_10</key>
            <dict>
                <key>frame</key>
                <string>{{393,731},{31,163}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{31,163}}</string>
                <key>sourceSize</key>
                <string>{39,171}</string>
            </dict>
            <key>boss_wt_11</key>
            <dict>
                <key>frame</key>
                <string>{{948,233},{40,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,243}}</string>
                <key>sourceSize</key>
                <string>{40,243}</string>
            </dict>
            <key>boss_wt_12</key>
            <dict>
                <key>frame</key>
                <string>{{916,478},{40,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,119}}</string>
                <key>sourceSize</key>
                <string>{40,119}</string>
            </dict>
            <key>boss_wt_13</key>
            <dict>
                <key>frame</key>
                <string>{{345,365},{294,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,43}}</string>
                <key>sourceSize</key>
                <string>{294,43}</string>
            </dict>
            <key>boss_wt_14</key>
            <dict>
                <key>frame</key>
                <string>{{711,206},{24,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,91}}</string>
                <key>sourceSize</key>
                <string>{24,91}</string>
            </dict>
            <key>未标题-1</key>
            <dict>
                <key>frame</key>
                <string>{{739,0},{247,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,55}}</string>
                <key>sourceSize</key>
                <string>{247,55}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>activity_05.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3da91b581b288715e721218f0f08f71d:673308b83bb6402ee98fff01b97d0a4f:83ef238206fe5b71ff6ebf0cb3b52da3$</string>
            <key>textureFileName</key>
            <string>activity_05.pvr.ccz</string>
        </dict>
    </dict>
</plist>
