<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mo_001</key>
            <dict>
                <key>frame</key>
                <string>{{0,933},{201,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,73}}</string>
                <key>sourceSize</key>
                <string>{201,73}</string>
            </dict>
            <key>mo_002</key>
            <dict>
                <key>frame</key>
                <string>{{793,0},{184,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,169}}</string>
                <key>sourceSize</key>
                <string>{184,169}</string>
            </dict>
            <key>mo_003</key>
            <dict>
                <key>frame</key>
                <string>{{252,470},{184,267}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,267}}</string>
                <key>sourceSize</key>
                <string>{184,267}</string>
            </dict>
            <key>mo_004</key>
            <dict>
                <key>frame</key>
                <string>{{897,824},{87,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,102}}</string>
                <key>sourceSize</key>
                <string>{87,102}</string>
            </dict>
            <key>mo_005</key>
            <dict>
                <key>frame</key>
                <string>{{438,501},{298,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{298,242}}</string>
                <key>sourceSize</key>
                <string>{298,242}</string>
            </dict>
            <key>mo_arrow</key>
            <dict>
                <key>frame</key>
                <string>{{194,819},{37,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,43}}</string>
                <key>sourceSize</key>
                <string>{37,43}</string>
            </dict>
            <key>mo_beat</key>
            <dict>
                <key>frame</key>
                <string>{{237,947},{80,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{80,58}}</string>
                <key>sourceSize</key>
                <string>{80,60}</string>
            </dict>
            <key>mo_bi</key>
            <dict>
                <key>frame</key>
                <string>{{932,683},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{84,84}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>mo_bi02</key>
            <dict>
                <key>frame</key>
                <string>{{203,944},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>mo_bk_01</key>
            <dict>
                <key>frame</key>
                <string>{{855,569},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,112}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>mo_bk_02</key>
            <dict>
                <key>frame</key>
                <string>{{417,745},{407,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{407,64}}</string>
                <key>sourceSize</key>
                <string>{407,64}</string>
            </dict>
            <key>mo_bk_03</key>
            <dict>
                <key>frame</key>
                <string>{{940,446},{84,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,101}}</string>
                <key>sourceSize</key>
                <string>{84,101}</string>
            </dict>
            <key>mo_bk_04</key>
            <dict>
                <key>frame</key>
                <string>{{691,398},{292,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,46}}</string>
                <key>sourceSize</key>
                <string>{292,46}</string>
            </dict>
            <key>mo_bk_05</key>
            <dict>
                <key>frame</key>
                <string>{{738,446},{200,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,121}}</string>
                <key>sourceSize</key>
                <string>{200,121}</string>
            </dict>
            <key>mo_bk_06</key>
            <dict>
                <key>frame</key>
                <string>{{258,203},{413,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{413,26}}</string>
                <key>sourceSize</key>
                <string>{413,26}</string>
            </dict>
            <key>mo_button_01</key>
            <dict>
                <key>frame</key>
                <string>{{738,569},{115,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{115,115}}</string>
                <key>sourceSize</key>
                <string>{119,119}</string>
            </dict>
            <key>mo_button_02</key>
            <dict>
                <key>frame</key>
                <string>{{790,824},{105,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,92}}</string>
                <key>sourceSize</key>
                <string>{105,92}</string>
            </dict>
            <key>mo_cloth</key>
            <dict>
                <key>frame</key>
                <string>{{790,918},{90,88}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,88}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>mo_cloth_big</key>
            <dict>
                <key>frame</key>
                <string>{{0,470},{250,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,250}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>mo_defeat</key>
            <dict>
                <key>frame</key>
                <string>{{203,908},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>mo_detail</key>
            <dict>
                <key>frame</key>
                <string>{{194,722},{52,50}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,50}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>mo_failure</key>
            <dict>
                <key>frame</key>
                <string>{{258,0},{533,201}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{533,201}}</string>
                <key>sourceSize</key>
                <string>{543,209}</string>
            </dict>
            <key>mo_heart</key>
            <dict>
                <key>frame</key>
                <string>{{258,231},{26,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,23}}</string>
                <key>sourceSize</key>
                <string>{26,23}</string>
            </dict>
            <key>mo_line_01</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{256,260}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,260}}</string>
                <key>sourceSize</key>
                <string>{256,262}</string>
            </dict>
            <key>mo_line_02</key>
            <dict>
                <key>frame</key>
                <string>{{886,171},{126,182}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{126,182}}</string>
                <key>sourceSize</key>
                <string>{128,184}</string>
            </dict>
            <key>mo_line_03</key>
            <dict>
                <key>frame</key>
                <string>{{826,686},{104,136}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,1},{104,136}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>mo_line_04</key>
            <dict>
                <key>frame</key>
                <string>{{691,203},{193,193}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{193,193}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>mo_mora</key>
            <dict>
                <key>frame</key>
                <string>{{248,739},{105,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,206}}</string>
                <key>sourceSize</key>
                <string>{105,206}</string>
            </dict>
            <key>mo_ok</key>
            <dict>
                <key>frame</key>
                <string>{{194,774},{45,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,43}}</string>
                <key>sourceSize</key>
                <string>{45,43}</string>
            </dict>
            <key>mo_ok_frame</key>
            <dict>
                <key>frame</key>
                <string>{{194,864},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>mo_scissors</key>
            <dict>
                <key>frame</key>
                <string>{{355,739},{60,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{60,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>mo_scissors_big</key>
            <dict>
                <key>frame</key>
                <string>{{496,231},{193,268}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,268}}</string>
                <key>sourceSize</key>
                <string>{193,270}</string>
            </dict>
            <key>mo_stone</key>
            <dict>
                <key>frame</key>
                <string>{{319,947},{71,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{71,75}}</string>
                <key>sourceSize</key>
                <string>{83,83}</string>
            </dict>
            <key>mo_stone_big</key>
            <dict>
                <key>frame</key>
                <string>{{0,722},{192,209}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,209}}</string>
                <key>sourceSize</key>
                <string>{192,211}</string>
            </dict>
            <key>mo_tie</key>
            <dict>
                <key>frame</key>
                <string>{{417,811},{371,199}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{371,199}}</string>
                <key>sourceSize</key>
                <string>{379,209}</string>
            </dict>
            <key>mo_victory</key>
            <dict>
                <key>frame</key>
                <string>{{0,262},{494,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{494,206}}</string>
                <key>sourceSize</key>
                <string>{508,218}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>activity_04.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4ee1e5929c88021e069a1907929b17da:1/1$</string>
            <key>textureFileName</key>
            <string>activity_04.pvr.ccz</string>
        </dict>
    </dict>
</plist>
