<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg</key>
            <dict>
                <key>frame</key>
                <string>{{582,345},{300,420}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,420}}</string>
                <key>sourceSize</key>
                <string>{300,420}</string>
            </dict>
            <key>hotTreasurepet</key>
            <dict>
                <key>frame</key>
                <string>{{884,196},{86,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,146}}</string>
                <key>sourceSize</key>
                <string>{86,146}</string>
            </dict>
            <key>mainBg</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{455,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{455,202}}</string>
                <key>sourceSize</key>
                <string>{455,202}</string>
            </dict>
            <key>minorBg</key>
            <dict>
                <key>frame</key>
                <string>{{2,591},{344,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{344,139}}</string>
                <key>sourceSize</key>
                <string>{344,139}</string>
            </dict>
            <key>ninja_test_bg_01</key>
            <dict>
                <key>frame</key>
                <string>{{2,732},{578,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{578,137}}</string>
                <key>sourceSize</key>
                <string>{578,137}</string>
            </dict>
            <key>ninja_test_bg_02</key>
            <dict>
                <key>frame</key>
                <string>{{304,206},{578,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{578,137}}</string>
                <key>sourceSize</key>
                <string>{578,137}</string>
            </dict>
            <key>ninja_test_bg_03</key>
            <dict>
                <key>frame</key>
                <string>{{2,452},{578,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{578,137}}</string>
                <key>sourceSize</key>
                <string>{578,137}</string>
            </dict>
            <key>ninja_test_bg_04</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{300,448}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,448}}</string>
                <key>sourceSize</key>
                <string>{300,448}</string>
            </dict>
            <key>ninja_test_desc</key>
            <dict>
                <key>frame</key>
                <string>{{478,591},{98,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,118}}</string>
                <key>sourceSize</key>
                <string>{98,118}</string>
            </dict>
            <key>ninja_test_die</key>
            <dict>
                <key>frame</key>
                <string>{{962,96},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>ninja_test_icon_01</key>
            <dict>
                <key>frame</key>
                <string>{{2,871},{282,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,52}}</string>
                <key>sourceSize</key>
                <string>{282,52}</string>
            </dict>
            <key>ninja_test_icon_02</key>
            <dict>
                <key>frame</key>
                <string>{{114,925},{106,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,95}}</string>
                <key>sourceSize</key>
                <string>{106,95}</string>
            </dict>
            <key>ninja_test_icon_03</key>
            <dict>
                <key>frame</key>
                <string>{{445,378},{26,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,29}}</string>
                <key>sourceSize</key>
                <string>{26,29}</string>
            </dict>
            <key>ninja_test_icon_04</key>
            <dict>
                <key>frame</key>
                <string>{{411,378},{32,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,25}}</string>
                <key>sourceSize</key>
                <string>{32,25}</string>
            </dict>
            <key>ninja_test_icon_05</key>
            <dict>
                <key>frame</key>
                <string>{{368,378},{41,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,37}}</string>
                <key>sourceSize</key>
                <string>{41,37}</string>
            </dict>
            <key>ninja_test_icon_06</key>
            <dict>
                <key>frame</key>
                <string>{{304,422},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>ninja_test_score</key>
            <dict>
                <key>frame</key>
                <string>{{348,685},{38,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,45}}</string>
                <key>sourceSize</key>
                <string>{38,45}</string>
            </dict>
            <key>ninja_text_box_01</key>
            <dict>
                <key>frame</key>
                <string>{{286,871},{112,94}}</string>
                <key>offset</key>
                <string>{-9,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{112,94}}</string>
                <key>sourceSize</key>
                <string>{130,100}</string>
            </dict>
            <key>ninja_text_box_02</key>
            <dict>
                <key>frame</key>
                <string>{{761,2},{130,96}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{130,96}}</string>
                <key>sourceSize</key>
                <string>{130,100}</string>
            </dict>
            <key>ninja_text_box_03</key>
            <dict>
                <key>frame</key>
                <string>{{2,925},{110,94}}</string>
                <key>offset</key>
                <string>{-9,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{110,94}}</string>
                <key>sourceSize</key>
                <string>{128,100}</string>
            </dict>
            <key>ninja_text_box_04</key>
            <dict>
                <key>frame</key>
                <string>{{348,591},{128,92}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{128,92}}</string>
                <key>sourceSize</key>
                <string>{128,100}</string>
            </dict>
            <key>ninja_text_box_05</key>
            <dict>
                <key>frame</key>
                <string>{{400,871},{110,96}}</string>
                <key>offset</key>
                <string>{-9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{110,96}}</string>
                <key>sourceSize</key>
                <string>{128,100}</string>
            </dict>
            <key>ninja_text_box_06</key>
            <dict>
                <key>frame</key>
                <string>{{893,2},{128,92}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{128,92}}</string>
                <key>sourceSize</key>
                <string>{128,100}</string>
            </dict>
            <key>preview</key>
            <dict>
                <key>frame</key>
                <string>{{490,345},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>textbg</key>
            <dict>
                <key>frame</key>
                <string>{{582,833},{395,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{395,49}}</string>
                <key>sourceSize</key>
                <string>{395,49}</string>
            </dict>
            <key>textures4_01</key>
            <dict>
                <key>frame</key>
                <string>{{582,767},{419,64}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{419,64}}</string>
                <key>sourceSize</key>
                <string>{423,64}</string>
            </dict>
            <key>textures4_02</key>
            <dict>
                <key>frame</key>
                <string>{{304,378},{62,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,35}}</string>
                <key>sourceSize</key>
                <string>{62,35}</string>
            </dict>
            <key>textures4_04</key>
            <dict>
                <key>frame</key>
                <string>{{304,345},{184,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,31}}</string>
                <key>sourceSize</key>
                <string>{184,31}</string>
            </dict>
            <key>textures4_05</key>
            <dict>
                <key>frame</key>
                <string>{{304,417},{269,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,3}}</string>
                <key>sourceSize</key>
                <string>{269,3}</string>
            </dict>
            <key>textures4_06</key>
            <dict>
                <key>frame</key>
                <string>{{761,163},{211,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,31}}</string>
                <key>sourceSize</key>
                <string>{211,31}</string>
            </dict>
            <key>titleBg</key>
            <dict>
                <key>frame</key>
                <string>{{761,100},{199,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,61}}</string>
                <key>sourceSize</key>
                <string>{199,61}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>activity_03.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1fe37a1f805205bcea5403a9073154e5:1/1$</string>
            <key>textureFileName</key>
            <string>activity_03.png</string>
        </dict>
    </dict>
</plist>
