<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>activity31</key>
            <dict>
                <key>frame</key>
                <string>{{0,350},{114,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,115}}</string>
                <key>sourceSize</key>
                <string>{114,115}</string>
            </dict>
            <key>activity33</key>
            <dict>
                <key>frame</key>
                <string>{{228,0},{113,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,115}}</string>
                <key>sourceSize</key>
                <string>{113,115}</string>
            </dict>
            <key>activity34</key>
            <dict>
                <key>frame</key>
                <string>{{0,234},{114,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,115}}</string>
                <key>sourceSize</key>
                <string>{114,115}</string>
            </dict>
            <key>activity35</key>
            <dict>
                <key>frame</key>
                <string>{{115,348},{113,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,115}}</string>
                <key>sourceSize</key>
                <string>{113,115}</string>
            </dict>
            <key>activity36</key>
            <dict>
                <key>frame</key>
                <string>{{0,117},{113,116}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,116}}</string>
                <key>sourceSize</key>
                <string>{113,120}</string>
            </dict>
            <key>activity37</key>
            <dict>
                <key>frame</key>
                <string>{{0,117},{113,116}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,116}}</string>
                <key>sourceSize</key>
                <string>{113,120}</string>
            </dict>
            <key>activity40</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{113,116}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,116}}</string>
                <key>sourceSize</key>
                <string>{113,120}</string>
            </dict>
            <key>activity41</key>
            <dict>
                <key>frame</key>
                <string>{{115,232},{113,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,115}}</string>
                <key>sourceSize</key>
                <string>{113,115}</string>
            </dict>
            <key>activity43</key>
            <dict>
                <key>frame</key>
                <string>{{114,116},{113,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,115}}</string>
                <key>sourceSize</key>
                <string>{113,115}</string>
            </dict>
            <key>activity44</key>
            <dict>
                <key>frame</key>
                <string>{{114,0},{113,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,115}}</string>
                <key>sourceSize</key>
                <string>{113,115}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>activity_btns_3.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7a8923d2ea3832cf13b3308607f15a75:1/1$</string>
            <key>textureFileName</key>
            <string>activity_btns_3.png</string>
        </dict>
    </dict>
</plist>
