<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dice1</key>
            <dict>
                <key>frame</key>
                <string>{{658,307},{132,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{132,147}}</string>
                <key>sourceSize</key>
                <string>{136,153}</string>
            </dict>
            <key>dice2</key>
            <dict>
                <key>frame</key>
                <string>{{830,296},{132,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{132,147}}</string>
                <key>sourceSize</key>
                <string>{136,153}</string>
            </dict>
            <key>dice3</key>
            <dict>
                <key>frame</key>
                <string>{{858,148},{132,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{132,147}}</string>
                <key>sourceSize</key>
                <string>{136,153}</string>
            </dict>
            <key>monopoly_backBtn</key>
            <dict>
                <key>frame</key>
                <string>{{658,455},{118,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,92}}</string>
                <key>sourceSize</key>
                <string>{118,92}</string>
            </dict>
            <key>monopoly_bkg</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{345,610}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{345,610}}</string>
                <key>sourceSize</key>
                <string>{345,610}</string>
            </dict>
            <key>monopoly_bkg_1</key>
            <dict>
                <key>frame</key>
                <string>{{373,0},{484,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{484,238}}</string>
                <key>sourceSize</key>
                <string>{484,238}</string>
            </dict>
            <key>monopoly_bkg_3</key>
            <dict>
                <key>frame</key>
                <string>{{791,444},{213,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,100}}</string>
                <key>sourceSize</key>
                <string>{213,100}</string>
            </dict>
            <key>monopoly_bkg_4</key>
            <dict>
                <key>frame</key>
                <string>{{346,296},{311,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,200}}</string>
                <key>sourceSize</key>
                <string>{311,200}</string>
            </dict>
            <key>monopoly_close</key>
            <dict>
                <key>frame</key>
                <string>{{346,497},{62,112}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{62,112}}</string>
                <key>sourceSize</key>
                <string>{66,116}</string>
            </dict>
            <key>monopoly_diceBtn</key>
            <dict>
                <key>frame</key>
                <string>{{858,0},{132,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{132,147}}</string>
                <key>sourceSize</key>
                <string>{136,153}</string>
            </dict>
            <key>monopoly_light</key>
            <dict>
                <key>frame</key>
                <string>{{0,611},{372,346}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,346}}</string>
                <key>sourceSize</key>
                <string>{372,346}</string>
            </dict>
            <key>monopoly_lucky</key>
            <dict>
                <key>frame</key>
                <string>{{0,958},{196,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{196,51}}</string>
                <key>sourceSize</key>
                <string>{200,55}</string>
            </dict>
            <key>monopoly_rankBtn</key>
            <dict>
                <key>frame</key>
                <string>{{658,239},{171,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,67}}</string>
                <key>sourceSize</key>
                <string>{171,67}</string>
            </dict>
            <key>monopoly_snow_1</key>
            <dict>
                <key>frame</key>
                <string>{{197,958},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>monopoly_snow_2</key>
            <dict>
                <key>frame</key>
                <string>{{244,958},{35,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,34}}</string>
                <key>sourceSize</key>
                <string>{35,34}</string>
            </dict>
            <key>monopoly_turntable</key>
            <dict>
                <key>frame</key>
                <string>{{777,545},{103,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{103,103}}</string>
                <key>sourceSize</key>
                <string>{109,109}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>activity_monopoly.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:689fe0e1c9e526e70e4d56966ec03391:1/1$</string>
            <key>textureFileName</key>
            <string>activity_monopoly.pvr.ccz</string>
        </dict>
    </dict>
</plist>
