<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btnBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,2},{260,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,142}}</string>
                <key>sourceSize</key>
                <string>{260,142}</string>
            </dict>
            <key>btnRecruit_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,266},{204,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,106}}</string>
                <key>sourceSize</key>
                <string>{204,106}</string>
            </dict>
            <key>btnRecruit_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,374},{204,96}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{204,96}}</string>
                <key>sourceSize</key>
                <string>{204,106}</string>
            </dict>
            <key>btnTips.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,61},{91,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,58}}</string>
                <key>sourceSize</key>
                <string>{91,58}</string>
            </dict>
            <key>btnTipsBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,152},{146,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,89}}</string>
                <key>sourceSize</key>
                <string>{146,89}</string>
            </dict>
            <key>cardMask.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,372},{564,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{564,268}}</string>
                <key>sourceSize</key>
                <string>{564,268}</string>
            </dict>
            <key>fuwen.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,642},{389,346}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{389,346}}</string>
                <key>sourceSize</key>
                <string>{389,346}</string>
            </dict>
            <key>greenSpot.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,2},{98,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,57}}</string>
                <key>sourceSize</key>
                <string>{98,57}</string>
            </dict>
            <key>lampOn.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,121},{28,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,29}}</string>
                <key>sourceSize</key>
                <string>{28,29}</string>
            </dict>
            <key>midFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,146},{209,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,118}}</string>
                <key>sourceSize</key>
                <string>{209,118}</string>
            </dict>
            <key>slotBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{649,368}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{649,368}}</string>
                <key>sourceSize</key>
                <string>{649,368}</string>
            </dict>
            <key>slotFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,243},{127,283}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,283}}</string>
                <key>sourceSize</key>
                <string>{127,283}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>activity_06.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a8ac78e295a29e2ddb1e87d5f69399df:1/1$</string>
            <key>textureFileName</key>
            <string>activity_06.png</string>
        </dict>
    </dict>
</plist>
