<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mo_001</key>
            <dict>
                <key>frame</key>
                <string>{{401,309},{199,73}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,73}}</string>
                <key>sourceSize</key>
                <string>{201,73}</string>
            </dict>
            <key>mo_002</key>
            <dict>
                <key>frame</key>
                <string>{{128,839},{184,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,169}}</string>
                <key>sourceSize</key>
                <string>{184,169}</string>
            </dict>
            <key>mo_003</key>
            <dict>
                <key>frame</key>
                <string>{{195,569},{185,266}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,266}}</string>
                <key>sourceSize</key>
                <string>{185,270}</string>
            </dict>
            <key>mo_004</key>
            <dict>
                <key>frame</key>
                <string>{{400,829},{83,96}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{83,96}}</string>
                <key>sourceSize</key>
                <string>{87,102}</string>
            </dict>
            <key>mo_005</key>
            <dict>
                <key>frame</key>
                <string>{{0,324},{300,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,243}}</string>
                <key>sourceSize</key>
                <string>{300,243}</string>
            </dict>
            <key>mo_arrow</key>
            <dict>
                <key>frame</key>
                <string>{{349,522},{37,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,43}}</string>
                <key>sourceSize</key>
                <string>{37,43}</string>
            </dict>
            <key>mo_beat</key>
            <dict>
                <key>frame</key>
                <string>{{408,384},{154,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,104}}</string>
                <key>sourceSize</key>
                <string>{154,104}</string>
            </dict>
            <key>mo_bi</key>
            <dict>
                <key>frame</key>
                <string>{{314,940},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{84,84}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>mo_bi02</key>
            <dict>
                <key>frame</key>
                <string>{{302,341},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>mo_bk_01</key>
            <dict>
                <key>frame</key>
                <string>{{842,136},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,112}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>mo_bk_02</key>
            <dict>
                <key>frame</key>
                <string>{{0,153},{407,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{407,64}}</string>
                <key>sourceSize</key>
                <string>{407,64}</string>
            </dict>
            <key>mo_bk_03</key>
            <dict>
                <key>frame</key>
                <string>{{314,837},{84,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,101}}</string>
                <key>sourceSize</key>
                <string>{84,101}</string>
            </dict>
            <key>mo_bk_04</key>
            <dict>
                <key>frame</key>
                <string>{{523,259},{292,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,46}}</string>
                <key>sourceSize</key>
                <string>{292,46}</string>
            </dict>
            <key>mo_bk_05</key>
            <dict>
                <key>frame</key>
                <string>{{523,136},{200,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,121}}</string>
                <key>sourceSize</key>
                <string>{200,121}</string>
            </dict>
            <key>mo_bk_06</key>
            <dict>
                <key>frame</key>
                <string>{{0,125},{413,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{413,26}}</string>
                <key>sourceSize</key>
                <string>{413,26}</string>
            </dict>
            <key>mo_button_01</key>
            <dict>
                <key>frame</key>
                <string>{{725,136},{115,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{115,115}}</string>
                <key>sourceSize</key>
                <string>{119,119}</string>
            </dict>
            <key>mo_button_02</key>
            <dict>
                <key>frame</key>
                <string>{{400,927},{105,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,91}}</string>
                <key>sourceSize</key>
                <string>{105,91}</string>
            </dict>
            <key>mo_cloth</key>
            <dict>
                <key>frame</key>
                <string>{{485,829},{90,88}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,88}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>mo_cloth_big</key>
            <dict>
                <key>frame</key>
                <string>{{640,518},{250,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,250}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>mo_defeat</key>
            <dict>
                <key>frame</key>
                <string>{{302,324},{35,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{35,15}}</string>
                <key>sourceSize</key>
                <string>{35,37}</string>
            </dict>
            <key>mo_detail</key>
            <dict>
                <key>frame</key>
                <string>{{956,136},{52,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,49}}</string>
                <key>sourceSize</key>
                <string>{52,49}</string>
            </dict>
            <key>mo_failure</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{521,123}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,43},{521,123}}</string>
                <key>sourceSize</key>
                <string>{543,209}</string>
            </dict>
            <key>mo_heart</key>
            <dict>
                <key>frame</key>
                <string>{{997,0},{26,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,23}}</string>
                <key>sourceSize</key>
                <string>{26,23}</string>
            </dict>
            <key>mo_line_01</key>
            <dict>
                <key>frame</key>
                <string>{{382,567},{256,260}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,260}}</string>
                <key>sourceSize</key>
                <string>{256,262}</string>
            </dict>
            <key>mo_line_02</key>
            <dict>
                <key>frame</key>
                <string>{{0,839},{126,182}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{126,182}}</string>
                <key>sourceSize</key>
                <string>{128,184}</string>
            </dict>
            <key>mo_line_03</key>
            <dict>
                <key>frame</key>
                <string>{{302,384},{104,136}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,1},{104,136}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>mo_line_04</key>
            <dict>
                <key>frame</key>
                <string>{{817,253},{193,193}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{193,193}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>mo_mora</key>
            <dict>
                <key>frame</key>
                <string>{{415,125},{106,182}}</string>
                <key>offset</key>
                <string>{-2,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{106,182}}</string>
                <key>sourceSize</key>
                <string>{112,214}</string>
            </dict>
            <key>mo_ok</key>
            <dict>
                <key>frame</key>
                <string>{{302,522},{45,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,43}}</string>
                <key>sourceSize</key>
                <string>{45,43}</string>
            </dict>
            <key>mo_ok_frame</key>
            <dict>
                <key>frame</key>
                <string>{{956,187},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>mo_scissors</key>
            <dict>
                <key>frame</key>
                <string>{{339,296},{60,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{60,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>mo_scissors_big</key>
            <dict>
                <key>frame</key>
                <string>{{0,569},{193,268}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,268}}</string>
                <key>sourceSize</key>
                <string>{193,270}</string>
            </dict>
            <key>mo_stone</key>
            <dict>
                <key>frame</key>
                <string>{{339,219},{71,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{71,75}}</string>
                <key>sourceSize</key>
                <string>{83,83}</string>
            </dict>
            <key>mo_stone_big</key>
            <dict>
                <key>frame</key>
                <string>{{602,307},{192,209}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,209}}</string>
                <key>sourceSize</key>
                <string>{192,211}</string>
            </dict>
            <key>mo_tie</key>
            <dict>
                <key>frame</key>
                <string>{{0,219},{337,103}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,49},{337,103}}</string>
                <key>sourceSize</key>
                <string>{379,209}</string>
            </dict>
            <key>mo_victory</key>
            <dict>
                <key>frame</key>
                <string>{{523,0},{472,134}}</string>
                <key>offset</key>
                <string>{-18,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,49},{472,134}}</string>
                <key>sourceSize</key>
                <string>{508,218}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>activity_04.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9a529131831e1c939d5ae025637c76c4:2a53262925115040e9455f544046a174:24a0242a39b2c6d656486bbb5e3d41e3$</string>
            <key>textureFileName</key>
            <string>activity_04.pvr.ccz</string>
        </dict>
    </dict>
</plist>
