<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monopoly_bkg_2</key>
            <dict>
                <key>frame</key>
                <string>{{0,221},{685,686}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{685,686}}</string>
                <key>sourceSize</key>
                <string>{685,686}</string>
            </dict>
            <key>monopoly_rank_achievement</key>
            <dict>
                <key>frame</key>
                <string>{{110,908},{139,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,44}}</string>
                <key>sourceSize</key>
                <string>{139,44}</string>
            </dict>
            <key>monopoly_rank_bkg</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{695,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{695,220}}</string>
                <key>sourceSize</key>
                <string>{695,220}</string>
            </dict>
            <key>monopoly_rank_bkg_1</key>
            <dict>
                <key>frame</key>
                <string>{{696,0},{326,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,158}}</string>
                <key>sourceSize</key>
                <string>{326,158}</string>
            </dict>
            <key>monopoly_rank_countryTitle</key>
            <dict>
                <key>frame</key>
                <string>{{140,982},{55,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,28}}</string>
                <key>sourceSize</key>
                <string>{55,28}</string>
            </dict>
            <key>monopoly_rank_getAward</key>
            <dict>
                <key>frame</key>
                <string>{{0,908},{109,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,56}}</string>
                <key>sourceSize</key>
                <string>{109,56}</string>
            </dict>
            <key>monopoly_rank_nickNameTitle</key>
            <dict>
                <key>frame</key>
                <string>{{140,953},{55,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,28}}</string>
                <key>sourceSize</key>
                <string>{55,28}</string>
            </dict>
            <key>monopoly_rank_rankAward</key>
            <dict>
                <key>frame</key>
                <string>{{0,965},{139,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,44}}</string>
                <key>sourceSize</key>
                <string>{139,44}</string>
            </dict>
            <key>monopoly_rank_rankTitle</key>
            <dict>
                <key>frame</key>
                <string>{{196,982},{54,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,28}}</string>
                <key>sourceSize</key>
                <string>{54,28}</string>
            </dict>
            <key>monopoly_rank_scoreTitle</key>
            <dict>
                <key>frame</key>
                <string>{{196,953},{54,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,28}}</string>
                <key>sourceSize</key>
                <string>{54,28}</string>
            </dict>
            <key>monopoly_rank_title</key>
            <dict>
                <key>frame</key>
                <string>{{696,159},{306,139}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{306,139}}</string>
                <key>sourceSize</key>
                <string>{314,143}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>activity_monopoly_rank.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fc4f8a07b4bb5d22e5a2e5c38c0a57e7:1/1$</string>
            <key>textureFileName</key>
            <string>activity_monopoly_rank.pvr.ccz</string>
        </dict>
    </dict>
</plist>
