<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monopoly_bkg_2</key>
            <dict>
                <key>frame</key>
                <string>{{0,221},{685,686}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{685,686}}</string>
                <key>sourceSize</key>
                <string>{685,686}</string>
            </dict>
            <key>monopoly_rank_achievement</key>
            <dict>
                <key>frame</key>
                <string>{{110,908},{139,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,44}}</string>
                <key>sourceSize</key>
                <string>{139,44}</string>
            </dict>
            <key>monopoly_rank_bkg</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{695,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{695,220}}</string>
                <key>sourceSize</key>
                <string>{695,220}</string>
            </dict>
            <key>monopoly_rank_bkg_1</key>
            <dict>
                <key>frame</key>
                <string>{{696,0},{326,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,158}}</string>
                <key>sourceSize</key>
                <string>{326,158}</string>
            </dict>
            <key>monopoly_rank_countryTitle</key>
            <dict>
                <key>frame</key>
                <string>{{140,953},{54,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{54,15}}</string>
                <key>sourceSize</key>
                <string>{54,27}</string>
            </dict>
            <key>monopoly_rank_getAward</key>
            <dict>
                <key>frame</key>
                <string>{{0,908},{109,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,56}}</string>
                <key>sourceSize</key>
                <string>{109,56}</string>
            </dict>
            <key>monopoly_rank_nickNameTitle</key>
            <dict>
                <key>frame</key>
                <string>{{55,1010},{54,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{54,13}}</string>
                <key>sourceSize</key>
                <string>{54,27}</string>
            </dict>
            <key>monopoly_rank_rankAward</key>
            <dict>
                <key>frame</key>
                <string>{{0,965},{139,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,44}}</string>
                <key>sourceSize</key>
                <string>{139,44}</string>
            </dict>
            <key>monopoly_rank_rankTitle</key>
            <dict>
                <key>frame</key>
                <string>{{140,969},{53,15}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{53,15}}</string>
                <key>sourceSize</key>
                <string>{53,27}</string>
            </dict>
            <key>monopoly_rank_scoreTitle</key>
            <dict>
                <key>frame</key>
                <string>{{0,1010},{54,13}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{54,13}}</string>
                <key>sourceSize</key>
                <string>{54,27}</string>
            </dict>
            <key>monopoly_rank_title</key>
            <dict>
                <key>frame</key>
                <string>{{696,159},{305,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{305,140}}</string>
                <key>sourceSize</key>
                <string>{305,140}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>activity_monopoly_rank.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:49fed68bfcb9eb0b48ea5adf48e7dace:8a100712d6e67dc69794877db50ed35c:f3f714e516e71d207f20eb1020cb04fe$</string>
            <key>textureFileName</key>
            <string>activity_monopoly_rank.pvr.ccz</string>
        </dict>
    </dict>
</plist>
