<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>activity_02_27</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{500,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,110}}</string>
                <key>sourceSize</key>
                <string>{500,110}</string>
            </dict>
            <key>activity_02_28</key>
            <dict>
                <key>frame</key>
                <string>{{660,117},{154,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,179}}</string>
                <key>sourceSize</key>
                <string>{154,179}</string>
            </dict>
            <key>activity_02_29</key>
            <dict>
                <key>frame</key>
                <string>{{816,117},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>activity_02_30</key>
            <dict>
                <key>frame</key>
                <string>{{951,56},{50,34}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{50,34}}</string>
                <key>sourceSize</key>
                <string>{54,48}</string>
            </dict>
            <key>activity_03_01</key>
            <dict>
                <key>frame</key>
                <string>{{951,2},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>activity_03_02</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{688,106}}</string>
                <key>offset</key>
                <string>{-14,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{688,106}}</string>
                <key>sourceSize</key>
                <string>{716,108}</string>
            </dict>
            <key>activity_03_03</key>
            <dict>
                <key>frame</key>
                <string>{{504,110},{154,266}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,266}}</string>
                <key>sourceSize</key>
                <string>{154,266}</string>
            </dict>
            <key>activity_03_04</key>
            <dict>
                <key>frame</key>
                <string>{{686,446},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>activity_03_05</key>
            <dict>
                <key>frame</key>
                <string>{{692,2},{257,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,80}}</string>
                <key>sourceSize</key>
                <string>{257,80}</string>
            </dict>
            <key>activity_03_06</key>
            <dict>
                <key>frame</key>
                <string>{{692,84},{184,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,31}}</string>
                <key>sourceSize</key>
                <string>{184,31}</string>
            </dict>
            <key>activity_03_07</key>
            <dict>
                <key>frame</key>
                <string>{{866,155},{154,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,47}}</string>
                <key>sourceSize</key>
                <string>{154,47}</string>
            </dict>
            <key>firstpay_tag</key>
            <dict>
                <key>frame</key>
                <string>{{878,92},{144,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,61}}</string>
                <key>sourceSize</key>
                <string>{144,61}</string>
            </dict>
            <key>month_sign_01</key>
            <dict>
                <key>frame</key>
                <string>{{816,167},{45,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,36}}</string>
                <key>sourceSize</key>
                <string>{45,36}</string>
            </dict>
            <key>month_sign_02</key>
            <dict>
                <key>frame</key>
                <string>{{430,526},{89,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,50}}</string>
                <key>sourceSize</key>
                <string>{89,50}</string>
            </dict>
            <key>month_sign_03</key>
            <dict>
                <key>frame</key>
                <string>{{582,446},{102,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,91}}</string>
                <key>sourceSize</key>
                <string>{102,91}</string>
            </dict>
            <key>month_sign_icon_01</key>
            <dict>
                <key>frame</key>
                <string>{{2,518},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>month_sign_icon_02</key>
            <dict>
                <key>frame</key>
                <string>{{296,510},{132,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,133}}</string>
                <key>sourceSize</key>
                <string>{132,133}</string>
            </dict>
            <key>month_sign_icon_03</key>
            <dict>
                <key>frame</key>
                <string>{{149,516},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>month_sign_select_1</key>
            <dict>
                <key>frame</key>
                <string>{{2,370},{145,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,146}}</string>
                <key>sourceSize</key>
                <string>{145,146}</string>
            </dict>
            <key>month_sign_select_10</key>
            <dict>
                <key>frame</key>
                <string>{{296,222},{145,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,146}}</string>
                <key>sourceSize</key>
                <string>{145,146}</string>
            </dict>
            <key>month_sign_select_2</key>
            <dict>
                <key>frame</key>
                <string>{{149,222},{145,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,146}}</string>
                <key>sourceSize</key>
                <string>{145,146}</string>
            </dict>
            <key>month_sign_select_3</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{145,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,146}}</string>
                <key>sourceSize</key>
                <string>{145,146}</string>
            </dict>
            <key>month_sign_select_4</key>
            <dict>
                <key>frame</key>
                <string>{{443,378},{137,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{137,146}}</string>
                <key>sourceSize</key>
                <string>{145,146}</string>
            </dict>
            <key>month_sign_select_5</key>
            <dict>
                <key>frame</key>
                <string>{{807,352},{145,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,146}}</string>
                <key>sourceSize</key>
                <string>{145,146}</string>
            </dict>
            <key>month_sign_select_6</key>
            <dict>
                <key>frame</key>
                <string>{{660,298},{145,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,146}}</string>
                <key>sourceSize</key>
                <string>{145,146}</string>
            </dict>
            <key>month_sign_select_7</key>
            <dict>
                <key>frame</key>
                <string>{{863,204},{145,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,146}}</string>
                <key>sourceSize</key>
                <string>{145,146}</string>
            </dict>
            <key>month_sign_select_8</key>
            <dict>
                <key>frame</key>
                <string>{{149,370},{145,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{145,144}}</string>
                <key>sourceSize</key>
                <string>{145,146}</string>
            </dict>
            <key>month_sign_select_9</key>
            <dict>
                <key>frame</key>
                <string>{{296,370},{145,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{145,138}}</string>
                <key>sourceSize</key>
                <string>{145,146}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>activity_02.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:99ba6ff99055758602ef6e4480ff26a6:1/1$</string>
            <key>textureFileName</key>
            <string>activity_02.png</string>
        </dict>
    </dict>
</plist>
