<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>advertise1</key>
            <dict>
                <key>frame</key>
                <string>{{2,648},{570,644}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{570,644}}</string>
                <key>sourceSize</key>
                <string>{570,644}</string>
            </dict>
            <key>advertise2</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{570,644}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{570,644}}</string>
                <key>sourceSize</key>
                <string>{570,644}</string>
            </dict>
            <key>label_bg</key>
            <dict>
                <key>frame</key>
                <string>{{574,2},{63,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,46}}</string>
                <key>sourceSize</key>
                <string>{63,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>advertise.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4972d949945dca16f8b02f4abead156f:1/1$</string>
            <key>textureFileName</key>
            <string>advertise.png</string>
        </dict>
    </dict>
</plist>
