<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zj2_00000</key>
            <dict>
                <key>frame</key>
                <string>{{0,329},{384,86}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,207},{384,86}}</string>
                <key>sourceSize</key>
                <string>{384,512}</string>
            </dict>
            <key>zj2_00001</key>
            <dict>
                <key>frame</key>
                <string>{{385,319},{384,106}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,198},{384,106}}</string>
                <key>sourceSize</key>
                <string>{384,512}</string>
            </dict>
            <key>zj2_00002</key>
            <dict>
                <key>frame</key>
                <string>{{383,426},{372,252}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,132},{372,252}}</string>
                <key>sourceSize</key>
                <string>{384,512}</string>
            </dict>
            <key>zj2_00004</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{384,328}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,95},{384,328}}</string>
                <key>sourceSize</key>
                <string>{384,512}</string>
            </dict>
            <key>zj2_00005</key>
            <dict>
                <key>frame</key>
                <string>{{385,0},{384,318}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,103},{384,318}}</string>
                <key>sourceSize</key>
                <string>{384,512}</string>
            </dict>
            <key>zj2_00006</key>
            <dict>
                <key>frame</key>
                <string>{{0,416},{382,282}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,119},{382,282}}</string>
                <key>sourceSize</key>
                <string>{384,512}</string>
            </dict>
            <key>zj2_00007</key>
            <dict>
                <key>frame</key>
                <string>{{0,699},{376,292}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,113},{376,292}}</string>
                <key>sourceSize</key>
                <string>{384,512}</string>
            </dict>
            <key>zj2_00008</key>
            <dict>
                <key>frame</key>
                <string>{{377,699},{290,292}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,112},{290,292}}</string>
                <key>sourceSize</key>
                <string>{384,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>anim_win.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4f2e9452f093bd2f1d1aafc1538355b4:1/1$</string>
            <key>textureFileName</key>
            <string>anim_win.pvr.ccz</string>
        </dict>
    </dict>
</plist>
