<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>box</key>
            <dict>
                <key>frame</key>
                <string>{{679,0},{280,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,171}}</string>
                <key>sourceSize</key>
                <string>{280,171}</string>
            </dict>
            <key>dk</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{678,966}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{678,966}}</string>
                <key>sourceSize</key>
                <string>{678,966}</string>
            </dict>
            <key>enter_imt_btn</key>
            <dict>
                <key>frame</key>
                <string>{{0,967},{159,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,55}}</string>
                <key>sourceSize</key>
                <string>{159,55}</string>
            </dict>
            <key>notice_enter</key>
            <dict>
                <key>frame</key>
                <string>{{679,172},{251,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,104}}</string>
                <key>sourceSize</key>
                <string>{251,104}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>announcement.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:40dc57f322f0ca70f80437fa99237adc:1/1$</string>
            <key>textureFileName</key>
            <string>announcement.pvr.ccz</string>
        </dict>
    </dict>
</plist>
