<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>battle_01</key>
            <dict>
                <key>frame</key>
                <string>{{0,648},{235,299}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,299}}</string>
                <key>sourceSize</key>
                <string>{235,299}</string>
            </dict>
            <key>battle_s</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{277,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,252}}</string>
                <key>sourceSize</key>
                <string>{277,252}</string>
            </dict>
            <key>battle_v</key>
            <dict>
                <key>frame</key>
                <string>{{0,279},{240,295}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,295}}</string>
                <key>sourceSize</key>
                <string>{240,295}</string>
            </dict>
            <key>enemyname</key>
            <dict>
                <key>frame</key>
                <string>{{0,576},{236,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,70}}</string>
                <key>sourceSize</key>
                <string>{236,70}</string>
            </dict>
            <key>myname</key>
            <dict>
                <key>frame</key>
                <string>{{0,949},{234,66}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{234,66}}</string>
                <key>sourceSize</key>
                <string>{236,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>battle01.pvr.ccz</string>
            <key>size</key>
            <string>{256,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:26b147d9107531b1462ad814616e41e5:1/1$</string>
            <key>textureFileName</key>
            <string>battle01.pvr.ccz</string>
        </dict>
    </dict>
</plist>
