<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chapters_completed_1</key>
            <dict>
                <key>frame</key>
                <string>{{431,572},{126,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,171}}</string>
                <key>sourceSize</key>
                <string>{126,171}</string>
            </dict>
            <key>chapters_completed_10</key>
            <dict>
                <key>frame</key>
                <string>{{0,1019},{428,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{428,2}}</string>
                <key>sourceSize</key>
                <string>{428,2}</string>
            </dict>
            <key>chapters_completed_14</key>
            <dict>
                <key>frame</key>
                <string>{{962,0},{216,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,59}}</string>
                <key>sourceSize</key>
                <string>{216,59}</string>
            </dict>
            <key>chapters_completed_16</key>
            <dict>
                <key>frame</key>
                <string>{{631,505},{173,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,181}}</string>
                <key>sourceSize</key>
                <string>{173,181}</string>
            </dict>
            <key>chapters_completed_17</key>
            <dict>
                <key>frame</key>
                <string>{{989,216},{211,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,30}}</string>
                <key>sourceSize</key>
                <string>{211,30}</string>
            </dict>
            <key>chapters_completed_18</key>
            <dict>
                <key>frame</key>
                <string>{{0,1003},{16,23}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{16,23}}</string>
                <key>sourceSize</key>
                <string>{22,27}</string>
            </dict>
            <key>chapters_completed_19</key>
            <dict>
                <key>frame</key>
                <string>{{921,176},{36,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,91}}</string>
                <key>sourceSize</key>
                <string>{36,91}</string>
            </dict>
            <key>chapters_completed_2</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{631,572}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{631,572}}</string>
                <key>sourceSize</key>
                <string>{631,572}</string>
            </dict>
            <key>chapters_completed_20</key>
            <dict>
                <key>frame</key>
                <string>{{0,572},{431,431}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{431,431}}</string>
                <key>sourceSize</key>
                <string>{431,431}</string>
            </dict>
            <key>chapters_completed_4</key>
            <dict>
                <key>frame</key>
                <string>{{631,0},{331,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{331,176}}</string>
                <key>sourceSize</key>
                <string>{331,176}</string>
            </dict>
            <key>chapters_completed_5</key>
            <dict>
                <key>frame</key>
                <string>{{631,393},{210,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,112}}</string>
                <key>sourceSize</key>
                <string>{210,112}</string>
            </dict>
            <key>chapters_completed_6</key>
            <dict>
                <key>frame</key>
                <string>{{631,176},{290,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,149}}</string>
                <key>sourceSize</key>
                <string>{290,149}</string>
            </dict>
            <key>chapters_completed_8</key>
            <dict>
                <key>frame</key>
                <string>{{631,325},{266,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,68}}</string>
                <key>sourceSize</key>
                <string>{266,68}</string>
            </dict>
            <key>chapters_completed_9</key>
            <dict>
                <key>frame</key>
                <string>{{921,267},{266,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,68}}</string>
                <key>sourceSize</key>
                <string>{266,68}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>chapters_completed.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5a551384bdf71390cd26207b3f4b874d:1/1$</string>
            <key>textureFileName</key>
            <string>chapters_completed.pvr.ccz</string>
        </dict>
    </dict>
</plist>
