<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>countrywar_01</key>
            <dict>
                <key>frame</key>
                <string>{{520,772},{128,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,56}}</string>
                <key>sourceSize</key>
                <string>{128,56}</string>
            </dict>
            <key>countrywar_02</key>
            <dict>
                <key>frame</key>
                <string>{{665,376},{204,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,174}}</string>
                <key>sourceSize</key>
                <string>{204,174}</string>
            </dict>
            <key>countrywar_03</key>
            <dict>
                <key>frame</key>
                <string>{{244,321},{205,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,174}}</string>
                <key>sourceSize</key>
                <string>{205,174}</string>
            </dict>
            <key>countrywar_04</key>
            <dict>
                <key>frame</key>
                <string>{{0,877},{125,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,135}}</string>
                <key>sourceSize</key>
                <string>{125,135}</string>
            </dict>
            <key>countrywar_05</key>
            <dict>
                <key>frame</key>
                <string>{{0,241},{163,24}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{163,24}}</string>
                <key>sourceSize</key>
                <string>{163,40}</string>
            </dict>
            <key>countrywar_06</key>
            <dict>
                <key>frame</key>
                <string>{{923,181},{83,21}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,12},{83,21}}</string>
                <key>sourceSize</key>
                <string>{85,43}</string>
            </dict>
            <key>countrywar_07</key>
            <dict>
                <key>frame</key>
                <string>{{78,814},{128,60}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,60}}</string>
                <key>sourceSize</key>
                <string>{136,62}</string>
            </dict>
            <key>cw_bag_gray</key>
            <dict>
                <key>frame</key>
                <string>{{202,656},{46,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,50}}</string>
                <key>sourceSize</key>
                <string>{46,50}</string>
            </dict>
            <key>cw_bag_green</key>
            <dict>
                <key>frame</key>
                <string>{{202,604},{47,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,50}}</string>
                <key>sourceSize</key>
                <string>{47,50}</string>
            </dict>
            <key>cw_bag_purple</key>
            <dict>
                <key>frame</key>
                <string>{{306,267},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>cw_bag_red</key>
            <dict>
                <key>frame</key>
                <string>{{202,552},{48,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,50}}</string>
                <key>sourceSize</key>
                <string>{48,50}</string>
            </dict>
            <key>cw_boss_Earth</key>
            <dict>
                <key>frame</key>
                <string>{{665,301},{251,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,34}}</string>
                <key>sourceSize</key>
                <string>{251,34}</string>
            </dict>
            <key>cw_boss_Fire</key>
            <dict>
                <key>frame</key>
                <string>{{683,132},{251,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,44}}</string>
                <key>sourceSize</key>
                <string>{251,44}</string>
            </dict>
            <key>cw_boss_Mine</key>
            <dict>
                <key>frame</key>
                <string>{{670,178},{251,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,41}}</string>
                <key>sourceSize</key>
                <string>{251,41}</string>
            </dict>
            <key>cw_boss_Water</key>
            <dict>
                <key>frame</key>
                <string>{{668,261},{251,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,38}}</string>
                <key>sourceSize</key>
                <string>{251,38}</string>
            </dict>
            <key>cw_boss_Wind</key>
            <dict>
                <key>frame</key>
                <string>{{668,221},{251,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,38}}</string>
                <key>sourceSize</key>
                <string>{251,38}</string>
            </dict>
            <key>cw_box_1</key>
            <dict>
                <key>frame</key>
                <string>{{295,869},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>cw_box_2</key>
            <dict>
                <key>frame</key>
                <string>{{211,903},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>cw_box_3</key>
            <dict>
                <key>frame</key>
                <string>{{127,903},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>cw_box_4</key>
            <dict>
                <key>frame</key>
                <string>{{918,321},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>cw_box_5</key>
            <dict>
                <key>frame</key>
                <string>{{923,204},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>cw_button_Earth1</key>
            <dict>
                <key>frame</key>
                <string>{{385,714},{133,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,88}}</string>
                <key>sourceSize</key>
                <string>{133,88}</string>
            </dict>
            <key>cw_button_Earth2</key>
            <dict>
                <key>frame</key>
                <string>{{862,787},{133,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,88}}</string>
                <key>sourceSize</key>
                <string>{133,88}</string>
            </dict>
            <key>cw_button_Fire1</key>
            <dict>
                <key>frame</key>
                <string>{{555,682},{133,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,88}}</string>
                <key>sourceSize</key>
                <string>{133,88}</string>
            </dict>
            <key>cw_button_Fire2</key>
            <dict>
                <key>frame</key>
                <string>{{250,690},{133,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,88}}</string>
                <key>sourceSize</key>
                <string>{133,88}</string>
            </dict>
            <key>cw_button_Mine1</key>
            <dict>
                <key>frame</key>
                <string>{{533,179},{133,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,89}}</string>
                <key>sourceSize</key>
                <string>{133,89}</string>
            </dict>
            <key>cw_button_Mine2</key>
            <dict>
                <key>frame</key>
                <string>{{420,624},{133,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,88}}</string>
                <key>sourceSize</key>
                <string>{133,88}</string>
            </dict>
            <key>cw_button_Water1</key>
            <dict>
                <key>frame</key>
                <string>{{867,697},{133,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,88}}</string>
                <key>sourceSize</key>
                <string>{133,88}</string>
            </dict>
            <key>cw_button_Water2</key>
            <dict>
                <key>frame</key>
                <string>{{871,495},{133,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,88}}</string>
                <key>sourceSize</key>
                <string>{133,88}</string>
            </dict>
            <key>cw_button_Wind1</key>
            <dict>
                <key>frame</key>
                <string>{{249,780},{133,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,87}}</string>
                <key>sourceSize</key>
                <string>{133,87}</string>
            </dict>
            <key>cw_button_Wind2</key>
            <dict>
                <key>frame</key>
                <string>{{871,405},{133,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,88}}</string>
                <key>sourceSize</key>
                <string>{133,88}</string>
            </dict>
            <key>cw_button_country1</key>
            <dict>
                <key>frame</key>
                <string>{{422,564},{168,58}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{168,58}}</string>
                <key>sourceSize</key>
                <string>{174,62}</string>
            </dict>
            <key>cw_button_country2</key>
            <dict>
                <key>frame</key>
                <string>{{384,852},{104,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,17},{104,28}}</string>
                <key>sourceSize</key>
                <string>{174,62}</string>
            </dict>
            <key>cw_button_fight</key>
            <dict>
                <key>frame</key>
                <string>{{431,952},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>cw_button_rank1</key>
            <dict>
                <key>frame</key>
                <string>{{0,768},{120,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,44}}</string>
                <key>sourceSize</key>
                <string>{120,44}</string>
            </dict>
            <key>cw_button_rank2</key>
            <dict>
                <key>frame</key>
                <string>{{921,288},{93,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,31}}</string>
                <key>sourceSize</key>
                <string>{93,31}</string>
            </dict>
            <key>cw_button_war_fight1</key>
            <dict>
                <key>frame</key>
                <string>{{254,497},{168,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,61}}</string>
                <key>sourceSize</key>
                <string>{168,61}</string>
            </dict>
            <key>cw_button_war_fight2</key>
            <dict>
                <key>frame</key>
                <string>{{800,552},{69,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,30}}</string>
                <key>sourceSize</key>
                <string>{69,30}</string>
            </dict>
            <key>cw_buy_reborn</key>
            <dict>
                <key>frame</key>
                <string>{{800,584},{66,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,57}}</string>
                <key>sourceSize</key>
                <string>{66,57}</string>
            </dict>
            <key>cw_cloud</key>
            <dict>
                <key>frame</key>
                <string>{{685,0},{300,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,130}}</string>
                <key>sourceSize</key>
                <string>{300,130}</string>
            </dict>
            <key>cw_country_cup1</key>
            <dict>
                <key>frame</key>
                <string>{{178,270},{48,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{48,49}}</string>
                <key>sourceSize</key>
                <string>{64,49}</string>
            </dict>
            <key>cw_country_cup2</key>
            <dict>
                <key>frame</key>
                <string>{{128,270},{48,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{48,49}}</string>
                <key>sourceSize</key>
                <string>{64,49}</string>
            </dict>
            <key>cw_country_cup3</key>
            <dict>
                <key>frame</key>
                <string>{{78,270},{48,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{48,49}}</string>
                <key>sourceSize</key>
                <string>{64,49}</string>
            </dict>
            <key>cw_country_fight_chest</key>
            <dict>
                <key>frame</key>
                <string>{{382,241},{67,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,64}}</string>
                <key>sourceSize</key>
                <string>{67,64}</string>
            </dict>
            <key>cw_country_lose</key>
            <dict>
                <key>frame</key>
                <string>{{295,953},{75,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,71}}</string>
                <key>sourceSize</key>
                <string>{75,71}</string>
            </dict>
            <key>cw_country_win</key>
            <dict>
                <key>frame</key>
                <string>{{228,241},{76,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,77}}</string>
                <key>sourceSize</key>
                <string>{76,77}</string>
            </dict>
            <key>cw_detailed</key>
            <dict>
                <key>frame</key>
                <string>{{379,896},{53,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,54}}</string>
                <key>sourceSize</key>
                <string>{53,54}</string>
            </dict>
            <key>cw_enemy_fight_count</key>
            <dict>
                <key>frame</key>
                <string>{{629,845},{117,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,28}}</string>
                <key>sourceSize</key>
                <string>{117,28}</string>
            </dict>
            <key>cw_feibiao</key>
            <dict>
                <key>frame</key>
                <string>{{690,748},{62,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,59}}</string>
                <key>sourceSize</key>
                <string>{62,59}</string>
            </dict>
            <key>cw_fight_button</key>
            <dict>
                <key>frame</key>
                <string>{{592,614},{167,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,66}}</string>
                <key>sourceSize</key>
                <string>{167,66}</string>
            </dict>
            <key>cw_flag</key>
            <dict>
                <key>frame</key>
                <string>{{0,555},{200,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,211}}</string>
                <key>sourceSize</key>
                <string>{200,211}</string>
            </dict>
            <key>cw_frame_6</key>
            <dict>
                <key>frame</key>
                <string>{{665,337},{206,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,37}}</string>
                <key>sourceSize</key>
                <string>{206,37}</string>
            </dict>
            <key>cw_gofight</key>
            <dict>
                <key>frame</key>
                <string>{{750,837},{104,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,64}}</string>
                <key>sourceSize</key>
                <string>{104,64}</string>
            </dict>
            <key>cw_gofight2</key>
            <dict>
                <key>frame</key>
                <string>{{761,643},{104,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,64}}</string>
                <key>sourceSize</key>
                <string>{104,64}</string>
            </dict>
            <key>cw_icon_kuwu</key>
            <dict>
                <key>frame</key>
                <string>{{372,953},{57,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,65}}</string>
                <key>sourceSize</key>
                <string>{57,65}</string>
            </dict>
            <key>cw_icon_manager</key>
            <dict>
                <key>frame</key>
                <string>{{690,682},{66,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,34}}</string>
                <key>sourceSize</key>
                <string>{66,34}</string>
            </dict>
            <key>cw_icon_merit</key>
            <dict>
                <key>frame</key>
                <string>{{987,0},{28,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,32}}</string>
                <key>sourceSize</key>
                <string>{28,32}</string>
            </dict>
            <key>cw_icon_monitor1</key>
            <dict>
                <key>frame</key>
                <string>{{490,860},{98,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,34}}</string>
                <key>sourceSize</key>
                <string>{98,34}</string>
            </dict>
            <key>cw_icon_monitor2</key>
            <dict>
                <key>frame</key>
                <string>{{650,809},{98,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,34}}</string>
                <key>sourceSize</key>
                <string>{98,34}</string>
            </dict>
            <key>cw_info_black_frame</key>
            <dict>
                <key>frame</key>
                <string>{{0,120},{668,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{668,57}}</string>
                <key>sourceSize</key>
                <string>{668,57}</string>
            </dict>
            <key>cw_info_bottom_frame</key>
            <dict>
                <key>frame</key>
                <string>{{0,321},{242,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,182}}</string>
                <key>sourceSize</key>
                <string>{242,182}</string>
            </dict>
            <key>cw_label_countdown</key>
            <dict>
                <key>frame</key>
                <string>{{384,828},{124,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,22}}</string>
                <key>sourceSize</key>
                <string>{124,22}</string>
            </dict>
            <key>cw_label_countdown_02</key>
            <dict>
                <key>frame</key>
                <string>{{384,804},{126,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,22}}</string>
                <key>sourceSize</key>
                <string>{126,22}</string>
            </dict>
            <key>cw_label_enemy</key>
            <dict>
                <key>frame</key>
                <string>{{0,505},{78,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,47}}</string>
                <key>sourceSize</key>
                <string>{78,47}</string>
            </dict>
            <key>cw_label_merit</key>
            <dict>
                <key>frame</key>
                <string>{{690,718},{66,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,28}}</string>
                <key>sourceSize</key>
                <string>{66,28}</string>
            </dict>
            <key>cw_label_my_fight_count</key>
            <dict>
                <key>frame</key>
                <string>{{510,830},{117,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,28}}</string>
                <key>sourceSize</key>
                <string>{117,28}</string>
            </dict>
            <key>cw_label_mycountry</key>
            <dict>
                <key>frame</key>
                <string>{{936,132},{78,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,47}}</string>
                <key>sourceSize</key>
                <string>{78,47}</string>
            </dict>
            <key>cw_null</key>
            <dict>
                <key>frame</key>
                <string>{{987,34},{1,1}}</string>
                <key>offset</key>
                <string>{-69,44.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{139,90}</string>
            </dict>
            <key>cw_person_cup1</key>
            <dict>
                <key>frame</key>
                <string>{{196,505},{56,45}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{56,45}}</string>
                <key>sourceSize</key>
                <string>{64,49}</string>
            </dict>
            <key>cw_person_cup2</key>
            <dict>
                <key>frame</key>
                <string>{{138,505},{56,45}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{56,45}}</string>
                <key>sourceSize</key>
                <string>{64,49}</string>
            </dict>
            <key>cw_person_cup3</key>
            <dict>
                <key>frame</key>
                <string>{{80,505},{56,45}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{56,45}}</string>
                <key>sourceSize</key>
                <string>{64,49}</string>
            </dict>
            <key>cw_person_rank</key>
            <dict>
                <key>frame</key>
                <string>{{451,332},{212,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,60}}</string>
                <key>sourceSize</key>
                <string>{212,60}</string>
            </dict>
            <key>cw_person_rank2</key>
            <dict>
                <key>frame</key>
                <string>{{451,270},{212,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,60}}</string>
                <key>sourceSize</key>
                <string>{212,60}</string>
            </dict>
            <key>cw_progress_blackframe</key>
            <dict>
                <key>frame</key>
                <string>{{0,179},{531,60}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{531,60}}</string>
                <key>sourceSize</key>
                <string>{535,60}</string>
            </dict>
            <key>cw_progress_fight</key>
            <dict>
                <key>frame</key>
                <string>{{0,270},{76,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,49}}</string>
                <key>sourceSize</key>
                <string>{76,49}</string>
            </dict>
            <key>cw_rank_inner_frame</key>
            <dict>
                <key>frame</key>
                <string>{{1017,0},{7,553}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,553}}</string>
                <key>sourceSize</key>
                <string>{7,553}</string>
            </dict>
            <key>cw_rank_left_frame</key>
            <dict>
                <key>frame</key>
                <string>{{670,120},{11,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,50}}</string>
                <key>sourceSize</key>
                <string>{11,50}</string>
            </dict>
            <key>cw_rank_top_frame</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{683,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{683,118}}</string>
                <key>sourceSize</key>
                <string>{683,118}</string>
            </dict>
            <key>cw_tab_01</key>
            <dict>
                <key>frame</key>
                <string>{{754,775},{106,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,60}}</string>
                <key>sourceSize</key>
                <string>{106,60}</string>
            </dict>
            <key>cw_tab_02</key>
            <dict>
                <key>frame</key>
                <string>{{758,709},{106,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,64}}</string>
                <key>sourceSize</key>
                <string>{106,64}</string>
            </dict>
            <key>cw_vs</key>
            <dict>
                <key>frame</key>
                <string>{{868,585},{154,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,110}}</string>
                <key>sourceSize</key>
                <string>{154,110}</string>
            </dict>
            <key>cw_vs_frame</key>
            <dict>
                <key>frame</key>
                <string>{{451,459},{177,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,103}}</string>
                <key>sourceSize</key>
                <string>{177,103}</string>
            </dict>
            <key>cw_war_bg_small</key>
            <dict>
                <key>frame</key>
                <string>{{451,394},{191,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,63}}</string>
                <key>sourceSize</key>
                <string>{191,63}</string>
            </dict>
            <key>cw_war_bottom</key>
            <dict>
                <key>frame</key>
                <string>{{0,814},{76,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,61}}</string>
                <key>sourceSize</key>
                <string>{76,61}</string>
            </dict>
            <key>cw_war_fight</key>
            <dict>
                <key>frame</key>
                <string>{{251,622},{167,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,66}}</string>
                <key>sourceSize</key>
                <string>{167,66}</string>
            </dict>
            <key>duoyude/1</key>
            <dict>
                <key>frame</key>
                <string>{{127,768},{120,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,44}}</string>
                <key>sourceSize</key>
                <string>{120,44}</string>
            </dict>
            <key>duoyude/2</key>
            <dict>
                <key>frame</key>
                <string>{{306,241},{74,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,24}}</string>
                <key>sourceSize</key>
                <string>{74,24}</string>
            </dict>
            <key>duoyude/countrywar_06</key>
            <dict>
                <key>frame</key>
                <string>{{923,181},{83,21}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,12},{83,21}}</string>
                <key>sourceSize</key>
                <string>{85,43}</string>
            </dict>
            <key>duoyude/countrywar_07</key>
            <dict>
                <key>frame</key>
                <string>{{78,814},{128,60}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,60}}</string>
                <key>sourceSize</key>
                <string>{136,62}</string>
            </dict>
            <key>duoyude/cw_button_country1</key>
            <dict>
                <key>frame</key>
                <string>{{422,564},{168,58}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{168,58}}</string>
                <key>sourceSize</key>
                <string>{174,62}</string>
            </dict>
            <key>duoyude/cw_button_country2</key>
            <dict>
                <key>frame</key>
                <string>{{384,852},{104,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,17},{104,28}}</string>
                <key>sourceSize</key>
                <string>{174,62}</string>
            </dict>
            <key>duoyude/ranking</key>
            <dict>
                <key>frame</key>
                <string>{{630,552},{168,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{168,60}}</string>
                <key>sourceSize</key>
                <string>{174,62}</string>
            </dict>
            <key>duoyude/war</key>
            <dict>
                <key>frame</key>
                <string>{{252,560},{168,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{168,60}}</string>
                <key>sourceSize</key>
                <string>{174,62}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>countrywar_common.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ab92dd8236e13e46449d73486e7aad08:8cf7a67b9145be7143d9d37de06f0b17:8b9b772d98997081cfa33d974dbedfbf$</string>
            <key>textureFileName</key>
            <string>countrywar_common.pvr.ccz</string>
        </dict>
    </dict>
</plist>
