<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dice_01</key>
            <dict>
                <key>frame</key>
                <string>{{155,0},{155,151}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{155,151}}</string>
                <key>sourceSize</key>
                <string>{165,155}</string>
            </dict>
            <key>dice_02</key>
            <dict>
                <key>frame</key>
                <string>{{155,153},{145,151}}</string>
                <key>offset</key>
                <string>{-9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{145,151}}</string>
                <key>sourceSize</key>
                <string>{165,155}</string>
            </dict>
            <key>dice_03</key>
            <dict>
                <key>frame</key>
                <string>{{312,0},{153,143}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{153,143}}</string>
                <key>sourceSize</key>
                <string>{165,155}</string>
            </dict>
            <key>dice_04</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{153,155}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{153,155}}</string>
                <key>sourceSize</key>
                <string>{165,155}</string>
            </dict>
            <key>dice_05</key>
            <dict>
                <key>frame</key>
                <string>{{0,157},{139,153}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{139,153}}</string>
                <key>sourceSize</key>
                <string>{165,155}</string>
            </dict>
            <key>dice_06</key>
            <dict>
                <key>frame</key>
                <string>{{312,145},{147,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,1},{147,153}}</string>
                <key>sourceSize</key>
                <string>{165,155}</string>
            </dict>
            <key>dice_07</key>
            <dict>
                <key>frame</key>
                <string>{{268,306},{132,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{132,147}}</string>
                <key>sourceSize</key>
                <string>{136,153}</string>
            </dict>
            <key>dice_08</key>
            <dict>
                <key>frame</key>
                <string>{{134,312},{132,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{132,147}}</string>
                <key>sourceSize</key>
                <string>{136,153}</string>
            </dict>
            <key>dice_09</key>
            <dict>
                <key>frame</key>
                <string>{{0,312},{132,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{132,147}}</string>
                <key>sourceSize</key>
                <string>{136,153}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dice_1.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3b116960c42fb20d00a4ccc96b4550b8:92e688f14e33b724ee16e24611a149d5:2dfe5dca12e8fecff11ca1b4be487577$</string>
            <key>textureFileName</key>
            <string>dice_1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
