<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>treasury_01</key>
            <dict>
                <key>frame</key>
                <string>{{0,888},{127,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,42}}</string>
                <key>sourceSize</key>
                <string>{127,42}</string>
            </dict>
            <key>treasury_02</key>
            <dict>
                <key>frame</key>
                <string>{{0,932},{141,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,36}}</string>
                <key>sourceSize</key>
                <string>{141,36}</string>
            </dict>
            <key>treasury_03</key>
            <dict>
                <key>frame</key>
                <string>{{130,834},{140,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,36}}</string>
                <key>sourceSize</key>
                <string>{140,36}</string>
            </dict>
            <key>treasury_04</key>
            <dict>
                <key>frame</key>
                <string>{{129,888},{140,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,36}}</string>
                <key>sourceSize</key>
                <string>{140,36}</string>
            </dict>
            <key>treasury_05</key>
            <dict>
                <key>frame</key>
                <string>{{120,794},{108,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,38}}</string>
                <key>sourceSize</key>
                <string>{108,38}</string>
            </dict>
            <key>treasury_06</key>
            <dict>
                <key>frame</key>
                <string>{{0,449},{185,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,46}}</string>
                <key>sourceSize</key>
                <string>{185,46}</string>
            </dict>
            <key>treasury_07</key>
            <dict>
                <key>frame</key>
                <string>{{406,329},{64,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,181}}</string>
                <key>sourceSize</key>
                <string>{64,181}</string>
            </dict>
            <key>treasury_09</key>
            <dict>
                <key>frame</key>
                <string>{{0,834},{128,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,52}}</string>
                <key>sourceSize</key>
                <string>{128,52}</string>
            </dict>
            <key>treasury_10</key>
            <dict>
                <key>frame</key>
                <string>{{0,585},{160,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,153}}</string>
                <key>sourceSize</key>
                <string>{160,153}</string>
            </dict>
            <key>treasury_11</key>
            <dict>
                <key>frame</key>
                <string>{{0,497},{177,86}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{177,86}}</string>
                <key>sourceSize</key>
                <string>{193,96}</string>
            </dict>
            <key>treasury_16</key>
            <dict>
                <key>frame</key>
                <string>{{968,74},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{31,31}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>treasury_17</key>
            <dict>
                <key>frame</key>
                <string>{{968,0},{42,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,34}}</string>
                <key>sourceSize</key>
                <string>{42,34}</string>
            </dict>
            <key>treasury_19</key>
            <dict>
                <key>frame</key>
                <string>{{968,107},{25,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{25,33}}</string>
                <key>sourceSize</key>
                <string>{29,37}</string>
            </dict>
            <key>treasury_21</key>
            <dict>
                <key>frame</key>
                <string>{{0,369},{342,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{342,78}}</string>
                <key>sourceSize</key>
                <string>{346,82}</string>
            </dict>
            <key>treasury_22</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{483,327}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{483,327}}</string>
                <key>sourceSize</key>
                <string>{483,327}</string>
            </dict>
            <key>treasury_24</key>
            <dict>
                <key>frame</key>
                <string>{{485,0},{481,366}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{481,366}}</string>
                <key>sourceSize</key>
                <string>{487,370}</string>
            </dict>
            <key>treasury_28</key>
            <dict>
                <key>frame</key>
                <string>{{968,36},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>treasury_29</key>
            <dict>
                <key>frame</key>
                <string>{{0,329},{404,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{404,38}}</string>
                <key>sourceSize</key>
                <string>{404,38}</string>
            </dict>
            <key>treasury_30</key>
            <dict>
                <key>frame</key>
                <string>{{120,740},{98,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,52}}</string>
                <key>sourceSize</key>
                <string>{98,52}</string>
            </dict>
            <key>treasury_31</key>
            <dict>
                <key>frame</key>
                <string>{{0,740},{118,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,92}}</string>
                <key>sourceSize</key>
                <string>{118,92}</string>
            </dict>
            <key>treasury_guard</key>
            <dict>
                <key>frame</key>
                <string>{{187,449},{181,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,96}}</string>
                <key>sourceSize</key>
                <string>{181,96}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>exchequer.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:593344fb69c7822782818edd94d90222:1/1$</string>
            <key>textureFileName</key>
            <string>exchequer.pvr.ccz</string>
        </dict>
    </dict>
</plist>
