<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>treasury_08</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{685,815}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{685,815}}</string>
                <key>sourceSize</key>
                <string>{685,815}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>exchequer_bk.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3bda068f6ec1b7182838e1f6aea501a9:b285beb5a8bd211391782291a8d256c2:90a8dd06db77df661b6448aca6d1545d$</string>
            <key>textureFileName</key>
            <string>exchequer_bk.pvr.ccz</string>
        </dict>
    </dict>
</plist>
