<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>treasury_01</key>
            <dict>
                <key>frame</key>
                <string>{{162,583},{127,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,42}}</string>
                <key>sourceSize</key>
                <string>{127,42}</string>
            </dict>
            <key>treasury_02</key>
            <dict>
                <key>frame</key>
                <string>{{274,627},{138,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,36}}</string>
                <key>sourceSize</key>
                <string>{138,36}</string>
            </dict>
            <key>treasury_03</key>
            <dict>
                <key>frame</key>
                <string>{{218,667},{138,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,36}}</string>
                <key>sourceSize</key>
                <string>{138,36}</string>
            </dict>
            <key>treasury_04</key>
            <dict>
                <key>frame</key>
                <string>{{118,755},{138,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,36}}</string>
                <key>sourceSize</key>
                <string>{138,36}</string>
            </dict>
            <key>treasury_05</key>
            <dict>
                <key>frame</key>
                <string>{{162,627},{110,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,38}}</string>
                <key>sourceSize</key>
                <string>{110,38}</string>
            </dict>
            <key>treasury_06</key>
            <dict>
                <key>frame</key>
                <string>{{183,448},{178,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,45}}</string>
                <key>sourceSize</key>
                <string>{178,45}</string>
            </dict>
            <key>treasury_07</key>
            <dict>
                <key>frame</key>
                <string>{{406,329},{64,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,181}}</string>
                <key>sourceSize</key>
                <string>{64,181}</string>
            </dict>
            <key>treasury_09</key>
            <dict>
                <key>frame</key>
                <string>{{0,794},{128,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,52}}</string>
                <key>sourceSize</key>
                <string>{128,52}</string>
            </dict>
            <key>treasury_10</key>
            <dict>
                <key>frame</key>
                <string>{{0,546},{160,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,153}}</string>
                <key>sourceSize</key>
                <string>{160,153}</string>
            </dict>
            <key>treasury_11</key>
            <dict>
                <key>frame</key>
                <string>{{183,495},{177,86}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{177,86}}</string>
                <key>sourceSize</key>
                <string>{193,96}</string>
            </dict>
            <key>treasury_16</key>
            <dict>
                <key>frame</key>
                <string>{{968,74},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{31,31}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>treasury_17</key>
            <dict>
                <key>frame</key>
                <string>{{968,0},{42,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,34}}</string>
                <key>sourceSize</key>
                <string>{42,34}</string>
            </dict>
            <key>treasury_19</key>
            <dict>
                <key>frame</key>
                <string>{{968,107},{25,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{25,33}}</string>
                <key>sourceSize</key>
                <string>{29,37}</string>
            </dict>
            <key>treasury_21</key>
            <dict>
                <key>frame</key>
                <string>{{0,369},{341,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{341,77}}</string>
                <key>sourceSize</key>
                <string>{341,77}</string>
            </dict>
            <key>treasury_22</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{483,327}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{483,327}}</string>
                <key>sourceSize</key>
                <string>{483,327}</string>
            </dict>
            <key>treasury_24</key>
            <dict>
                <key>frame</key>
                <string>{{485,0},{481,365}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{481,365}}</string>
                <key>sourceSize</key>
                <string>{481,365}</string>
            </dict>
            <key>treasury_28</key>
            <dict>
                <key>frame</key>
                <string>{{968,36},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>treasury_29</key>
            <dict>
                <key>frame</key>
                <string>{{0,329},{404,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{404,38}}</string>
                <key>sourceSize</key>
                <string>{404,38}</string>
            </dict>
            <key>treasury_30</key>
            <dict>
                <key>frame</key>
                <string>{{118,701},{98,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,52}}</string>
                <key>sourceSize</key>
                <string>{98,52}</string>
            </dict>
            <key>treasury_31</key>
            <dict>
                <key>frame</key>
                <string>{{0,701},{116,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,91}}</string>
                <key>sourceSize</key>
                <string>{116,91}</string>
            </dict>
            <key>treasury_guard</key>
            <dict>
                <key>frame</key>
                <string>{{0,448},{181,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,96}}</string>
                <key>sourceSize</key>
                <string>{181,96}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>exchequer.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c4cea643ae8146240a778e90799903bc:38e6a122a8b99e3285bb05c055944ec7:83d7a33ad5449e33dd15a7e80263a781$</string>
            <key>textureFileName</key>
            <string>exchequer.pvr.ccz</string>
        </dict>
    </dict>
</plist>
