<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_buy</key>
            <dict>
                <key>frame</key>
                <string>{{681,0},{128,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,57}}</string>
                <key>sourceSize</key>
                <string>{128,57}</string>
            </dict>
            <key>equal</key>
            <dict>
                <key>frame</key>
                <string>{{753,57},{32,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,23}}</string>
                <key>sourceSize</key>
                <string>{32,23}</string>
            </dict>
            <key>medal1</key>
            <dict>
                <key>frame</key>
                <string>{{809,34},{41,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,41}}</string>
                <key>sourceSize</key>
                <string>{41,41}</string>
            </dict>
            <key>medal2</key>
            <dict>
                <key>frame</key>
                <string>{{809,0},{42,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,34}}</string>
                <key>sourceSize</key>
                <string>{42,34}</string>
            </dict>
            <key>plus</key>
            <dict>
                <key>frame</key>
                <string>{{721,57},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>props355</key>
            <dict>
                <key>frame</key>
                <string>{{681,57},{40,41}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,41}}</string>
                <key>sourceSize</key>
                <string>{42,41}</string>
            </dict>
            <key>props356</key>
            <dict>
                <key>frame</key>
                <string>{{851,0},{41,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,43}}</string>
                <key>sourceSize</key>
                <string>{41,43}</string>
            </dict>
            <key>title</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{681,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{681,165}}</string>
                <key>sourceSize</key>
                <string>{681,165}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>festival.pvr.ccz</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7e173c64ec8a2bdf6580ae2d61c8dfe3:701770466034fc8dcc4954c569e2eb2a:8a61dfe2dea6a6dde044e52d7efcc68f$</string>
            <key>textureFileName</key>
            <string>festival.pvr.ccz</string>
        </dict>
    </dict>
</plist>
