<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bar_bk_07</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{512,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,74}}</string>
                <key>sourceSize</key>
                <string>{512,74}</string>
            </dict>
            <key>btn3</key>
            <dict>
                <key>frame</key>
                <string>{{0,218},{170,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,93}}</string>
                <key>sourceSize</key>
                <string>{170,93}</string>
            </dict>
            <key>btn3_press</key>
            <dict>
                <key>frame</key>
                <string>{{170,167},{170,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,93}}</string>
                <key>sourceSize</key>
                <string>{170,93}</string>
            </dict>
            <key>btn5</key>
            <dict>
                <key>frame</key>
                <string>{{0,125},{170,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,93}}</string>
                <key>sourceSize</key>
                <string>{170,93}</string>
            </dict>
            <key>btn5_press</key>
            <dict>
                <key>frame</key>
                <string>{{226,74},{170,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,93}}</string>
                <key>sourceSize</key>
                <string>{170,93}</string>
            </dict>
            <key>characters_004</key>
            <dict>
                <key>frame</key>
                <string>{{340,251},{136,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,31}}</string>
                <key>sourceSize</key>
                <string>{136,31}</string>
            </dict>
            <key>characters_005</key>
            <dict>
                <key>frame</key>
                <string>{{0,74},{226,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,51}}</string>
                <key>sourceSize</key>
                <string>{226,51}</string>
            </dict>
            <key>fight_vs_1</key>
            <dict>
                <key>frame</key>
                <string>{{396,156},{74,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,58}}</string>
                <key>sourceSize</key>
                <string>{74,58}</string>
            </dict>
            <key>plunder_previw</key>
            <dict>
                <key>frame</key>
                <string>{{340,214},{144,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,37}}</string>
                <key>sourceSize</key>
                <string>{144,37}</string>
            </dict>
            <key>props_icon</key>
            <dict>
                <key>frame</key>
                <string>{{396,74},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fight_pre.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8def07ed4428954274c20632649c525e:f2d2ed6c3a267eefedc87832a4060c79:4bfa208957e7261df030046af9198a01$</string>
            <key>textureFileName</key>
            <string>fight_pre.pvr.ccz</string>
        </dict>
    </dict>
</plist>
