<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Settlement_01</key>
            <dict>
                <key>frame</key>
                <string>{{854,472},{131,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{131,150}}</string>
                <key>sourceSize</key>
                <string>{135,154}</string>
            </dict>
            <key>Settlement_03</key>
            <dict>
                <key>frame</key>
                <string>{{553,433},{300,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,161}}</string>
                <key>sourceSize</key>
                <string>{300,161}</string>
            </dict>
            <key>Settlement_04</key>
            <dict>
                <key>frame</key>
                <string>{{458,927},{96,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,95}}</string>
                <key>sourceSize</key>
                <string>{96,95}</string>
            </dict>
            <key>Settlement_05</key>
            <dict>
                <key>frame</key>
                <string>{{493,821},{289,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{289,62}}</string>
                <key>sourceSize</key>
                <string>{289,62}</string>
            </dict>
            <key>Settlement_07</key>
            <dict>
                <key>frame</key>
                <string>{{0,610},{182,330}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,330}}</string>
                <key>sourceSize</key>
                <string>{182,330}</string>
            </dict>
            <key>Settlement_08</key>
            <dict>
                <key>frame</key>
                <string>{{456,610},{160,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,179}}</string>
                <key>sourceSize</key>
                <string>{160,179}</string>
            </dict>
            <key>Settlement_09</key>
            <dict>
                <key>frame</key>
                <string>{{183,610},{272,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,211}}</string>
                <key>sourceSize</key>
                <string>{272,211}</string>
            </dict>
            <key>Settlement_10</key>
            <dict>
                <key>frame</key>
                <string>{{288,927},{169,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,95}}</string>
                <key>sourceSize</key>
                <string>{169,95}</string>
            </dict>
            <key>The_victory_01</key>
            <dict>
                <key>frame</key>
                <string>{{0,305},{552,304}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{552,304}}</string>
                <key>sourceSize</key>
                <string>{552,304}</string>
            </dict>
            <key>even_cut</key>
            <dict>
                <key>frame</key>
                <string>{{621,595},{128,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,60}}</string>
                <key>sourceSize</key>
                <string>{128,60}</string>
            </dict>
            <key>faild_01</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{552,304}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{552,304}}</string>
                <key>sourceSize</key>
                <string>{552,304}</string>
            </dict>
            <key>feats_01</key>
            <dict>
                <key>frame</key>
                <string>{{986,0},{35,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,40}}</string>
                <key>sourceSize</key>
                <string>{35,40}</string>
            </dict>
            <key>light_efficiency</key>
            <dict>
                <key>frame</key>
                <string>{{553,0},{432,432}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{432,432}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>national_war_01</key>
            <dict>
                <key>frame</key>
                <string>{{338,822},{154,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,104}}</string>
                <key>sourceSize</key>
                <string>{154,104}</string>
            </dict>
            <key>national_war_02</key>
            <dict>
                <key>frame</key>
                <string>{{183,822},{154,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,104}}</string>
                <key>sourceSize</key>
                <string>{154,104}</string>
            </dict>
            <key>settlement_1</key>
            <dict>
                <key>frame</key>
                <string>{{456,790},{68,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,30}}</string>
                <key>sourceSize</key>
                <string>{68,30}</string>
            </dict>
            <key>settlement_2</key>
            <dict>
                <key>frame</key>
                <string>{{783,595},{68,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,25}}</string>
                <key>sourceSize</key>
                <string>{68,25}</string>
            </dict>
            <key>settlement_3</key>
            <dict>
                <key>frame</key>
                <string>{{493,884},{93,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,22}}</string>
                <key>sourceSize</key>
                <string>{93,22}</string>
            </dict>
            <key>settlement_4</key>
            <dict>
                <key>frame</key>
                <string>{{525,790},{95,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,23}}</string>
                <key>sourceSize</key>
                <string>{95,23}</string>
            </dict>
            <key>settlement_5</key>
            <dict>
                <key>frame</key>
                <string>{{854,433},{160,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,38}}</string>
                <key>sourceSize</key>
                <string>{160,38}</string>
            </dict>
            <key>settlement_lastshot</key>
            <dict>
                <key>frame</key>
                <string>{{0,941},{287,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{287,69}}</string>
                <key>sourceSize</key>
                <string>{287,69}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>finally.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:595dbe2cb07fe3ff3a3ceb04bd9f511f:dfb87faffe2aa676ba105cd1adb7cdca:a01223bfc4564406d607acc6ecf213d7$</string>
            <key>textureFileName</key>
            <string>finally.pvr.ccz</string>
        </dict>
    </dict>
</plist>
