<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>godCard_add</key>
            <dict>
                <key>frame</key>
                <string>{{31,992},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>godCard_add_big</key>
            <dict>
                <key>frame</key>
                <string>{{77,916},{71,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,71}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>godCard_arrow</key>
            <dict>
                <key>frame</key>
                <string>{{0,916},{76,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,75}}</string>
                <key>sourceSize</key>
                <string>{76,75}</string>
            </dict>
            <key>godCard_bg</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{685,915}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{685,915}}</string>
                <key>sourceSize</key>
                <string>{685,915}</string>
            </dict>
            <key>godCard_lock</key>
            <dict>
                <key>frame</key>
                <string>{{149,916},{44,54}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{44,54}}</string>
                <key>sourceSize</key>
                <string>{64,70}</string>
            </dict>
            <key>godCard_prue</key>
            <dict>
                <key>frame</key>
                <string>{{0,992},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>godCard.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d109f92dcdba44b15f726d741a12e2be:b35e1773ea41b6502a731e01931c46c7:b02c39d6ff8eee3465395d25d13ef852$</string>
            <key>textureFileName</key>
            <string>godCard.pvr.ccz</string>
        </dict>
    </dict>
</plist>
