<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>grow_plan_1</key>
            <dict>
                <key>frame</key>
                <string>{{302,175},{198,45}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{198,45}}</string>
                <key>sourceSize</key>
                <string>{198,61}</string>
            </dict>
            <key>grow_plan_2</key>
            <dict>
                <key>frame</key>
                <string>{{302,0},{200,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,173}}</string>
                <key>sourceSize</key>
                <string>{200,173}</string>
            </dict>
            <key>grow_plan_3</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{300,420}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,420}}</string>
                <key>sourceSize</key>
                <string>{300,420}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>growth_fund.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b564ba61d7f07f2aa2877cf08bc553a4:1c45b91b4e923d15398deaf96abac286:6d307782687b6483444e044be0d2cd05$</string>
            <key>textureFileName</key>
            <string>growth_fund.pvr.ccz</string>
        </dict>
    </dict>
</plist>
