<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guaguale_1_0</key>
            <dict>
                <key>frame</key>
                <string>{{175,451},{27,28}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,59},{27,28}}</string>
                <key>sourceSize</key>
                <string>{125,140}</string>
            </dict>
            <key>guaguale_1_1</key>
            <dict>
                <key>frame</key>
                <string>{{304,472},{35,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,51},{35,38}}</string>
                <key>sourceSize</key>
                <string>{125,140}</string>
            </dict>
            <key>guaguale_1_10</key>
            <dict>
                <key>frame</key>
                <string>{{304,420},{46,50}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,24},{46,50}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>guaguale_1_11</key>
            <dict>
                <key>frame</key>
                <string>{{431,82},{64,74}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,12},{64,74}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>guaguale_1_12</key>
            <dict>
                <key>frame</key>
                <string>{{431,0},{74,80}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,9},{74,80}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>guaguale_1_13</key>
            <dict>
                <key>frame</key>
                <string>{{218,420},{80,84}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,7},{80,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>guaguale_1_14</key>
            <dict>
                <key>frame</key>
                <string>{{422,307},{86,88}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{86,88}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>guaguale_1_15</key>
            <dict>
                <key>frame</key>
                <string>{{354,413},{96,94}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{96,94}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>guaguale_1_16</key>
            <dict>
                <key>frame</key>
                <string>{{354,307},{104,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,66}}</string>
                <key>sourceSize</key>
                <string>{104,66}</string>
            </dict>
            <key>guaguale_1_17</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{225,223}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,223}}</string>
                <key>sourceSize</key>
                <string>{227,223}</string>
            </dict>
            <key>guaguale_1_18</key>
            <dict>
                <key>frame</key>
                <string>{{111,451},{62,61}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{62,61}}</string>
                <key>sourceSize</key>
                <string>{76,77}</string>
            </dict>
            <key>guaguale_1_19</key>
            <dict>
                <key>frame</key>
                <string>{{227,0},{305,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{305,202}}</string>
                <key>sourceSize</key>
                <string>{305,202}</string>
            </dict>
            <key>guaguale_1_2</key>
            <dict>
                <key>frame</key>
                <string>{{431,158},{67,72}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,34},{67,72}}</string>
                <key>sourceSize</key>
                <string>{125,140}</string>
            </dict>
            <key>guaguale_1_3</key>
            <dict>
                <key>frame</key>
                <string>{{119,345},{97,104}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,19},{97,104}}</string>
                <key>sourceSize</key>
                <string>{125,140}</string>
            </dict>
            <key>guaguale_1_4</key>
            <dict>
                <key>frame</key>
                <string>{{119,225},{105,118}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,13},{105,118}}</string>
                <key>sourceSize</key>
                <string>{125,140}</string>
            </dict>
            <key>guaguale_1_5</key>
            <dict>
                <key>frame</key>
                <string>{{0,359},{109,124}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{109,124}}</string>
                <key>sourceSize</key>
                <string>{125,140}</string>
            </dict>
            <key>guaguale_1_6</key>
            <dict>
                <key>frame</key>
                <string>{{226,307},{111,126}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,8},{111,126}}</string>
                <key>sourceSize</key>
                <string>{125,140}</string>
            </dict>
            <key>guaguale_1_7</key>
            <dict>
                <key>frame</key>
                <string>{{0,225},{117,132}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{117,132}}</string>
                <key>sourceSize</key>
                <string>{125,140}</string>
            </dict>
            <key>guaguale_1_8</key>
            <dict>
                <key>frame</key>
                <string>{{0,485},{18,18}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,41},{18,18}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>guaguale_1_9</key>
            <dict>
                <key>frame</key>
                <string>{{175,481},{26,28}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,35},{26,28}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>guaguale_1.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3b6cbbd0b6821bebf1a7e463cbcb93be:7f914edaea079fcf43977b30fc381a38:4f38d478a0721d699a0324560eb6101d$</string>
            <key>textureFileName</key>
            <string>guaguale_1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
