<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>inherit_anim_1</key>
            <dict>
                <key>frame</key>
                <string>{{0,459},{235,235}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{235,235}}</string>
                <key>sourceSize</key>
                <string>{239,239}</string>
            </dict>
            <key>inherit_anim_2</key>
            <dict>
                <key>frame</key>
                <string>{{0,695},{198,188}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,5},{198,188}}</string>
                <key>sourceSize</key>
                <string>{232,202}</string>
            </dict>
            <key>inherit_anim_3</key>
            <dict>
                <key>frame</key>
                <string>{{264,863},{129,152}}</string>
                <key>offset</key>
                <string>{9,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,1},{129,152}}</string>
                <key>sourceSize</key>
                <string>{153,156}</string>
            </dict>
            <key>inherit_anim_4</key>
            <dict>
                <key>frame</key>
                <string>{{394,863},{86,148}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,2},{86,148}}</string>
                <key>sourceSize</key>
                <string>{112,156}</string>
            </dict>
            <key>inherit_anim_5</key>
            <dict>
                <key>frame</key>
                <string>{{0,884},{116,140}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,140}}</string>
                <key>sourceSize</key>
                <string>{118,142}</string>
            </dict>
            <key>inherit_bg</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{343,458}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{343,458}}</string>
                <key>sourceSize</key>
                <string>{343,458}</string>
            </dict>
            <key>inherit_card_bg</key>
            <dict>
                <key>frame</key>
                <string>{{117,924},{36,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,35}}</string>
                <key>sourceSize</key>
                <string>{36,35}</string>
            </dict>
            <key>inherit_readme_bg</key>
            <dict>
                <key>frame</key>
                <string>{{199,695},{258,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,167}}</string>
                <key>sourceSize</key>
                <string>{258,167}</string>
            </dict>
            <key>inherit_text_bg</key>
            <dict>
                <key>frame</key>
                <string>{{117,960},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>inherit_title</key>
            <dict>
                <key>frame</key>
                <string>{{117,884},{146,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,39}}</string>
                <key>sourceSize</key>
                <string>{146,39}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>inherit.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d24cd02db3726025aff8b06c965b865b:a56f0e2afdf28bd2936eea7ff242c99a:c399aa173574f2bbdabfbdd55cd88c47$</string>
            <key>textureFileName</key>
            <string>inherit.pvr.ccz</string>
        </dict>
    </dict>
</plist>
