<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>inner_notice_01</key>
            <dict>
                <key>frame</key>
                <string>{{0,432},{208,55}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{208,55}}</string>
                <key>sourceSize</key>
                <string>{208,63}</string>
            </dict>
            <key>inner_notice_02</key>
            <dict>
                <key>frame</key>
                <string>{{0,142},{378,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,71}}</string>
                <key>sourceSize</key>
                <string>{378,71}</string>
            </dict>
            <key>inner_notice_03</key>
            <dict>
                <key>frame</key>
                <string>{{0,71},{378,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,71}}</string>
                <key>sourceSize</key>
                <string>{378,71}</string>
            </dict>
            <key>inner_notice_04</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{378,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,71}}</string>
                <key>sourceSize</key>
                <string>{378,71}</string>
            </dict>
            <key>inner_notice_05</key>
            <dict>
                <key>frame</key>
                <string>{{0,348},{182,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,84}}</string>
                <key>sourceSize</key>
                <string>{182,84}</string>
            </dict>
            <key>inner_notice_06</key>
            <dict>
                <key>frame</key>
                <string>{{378,0},{129,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,93}}</string>
                <key>sourceSize</key>
                <string>{129,93}</string>
            </dict>
            <key>inner_notice_07</key>
            <dict>
                <key>frame</key>
                <string>{{0,213},{345,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{345,74}}</string>
                <key>sourceSize</key>
                <string>{345,74}</string>
            </dict>
            <key>inner_notice_08</key>
            <dict>
                <key>frame</key>
                <string>{{0,287},{345,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{345,61}}</string>
                <key>sourceSize</key>
                <string>{345,61}</string>
            </dict>
            <key>inner_notice_09</key>
            <dict>
                <key>frame</key>
                <string>{{378,218},{62,62}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>inner_notice_10</key>
            <dict>
                <key>frame</key>
                <string>{{378,93},{125,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,125}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>inner_notice_11</key>
            <dict>
                <key>frame</key>
                <string>{{345,213},{33,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,90}}</string>
                <key>sourceSize</key>
                <string>{33,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>inner_news.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6273c24806ab2f4bff5287729ea5afbc:1/1$</string>
            <key>textureFileName</key>
            <string>inner_news.png</string>
        </dict>
    </dict>
</plist>
