<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jieyin_0_0</key>
            <dict>
                <key>frame</key>
                <string>{{558,773},{251,240}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{251,240}}</string>
                <key>sourceSize</key>
                <string>{257,246}</string>
            </dict>
            <key>jieyin_0_1</key>
            <dict>
                <key>frame</key>
                <string>{{0,314},{284,279}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{284,279}}</string>
                <key>sourceSize</key>
                <string>{308,303}</string>
            </dict>
            <key>jieyin_0_10</key>
            <dict>
                <key>frame</key>
                <string>{{175,787},{222,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,170}}</string>
                <key>sourceSize</key>
                <string>{222,170}</string>
            </dict>
            <key>jieyin_0_11</key>
            <dict>
                <key>frame</key>
                <string>{{0,595},{180,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,162}}</string>
                <key>sourceSize</key>
                <string>{180,162}</string>
            </dict>
            <key>jieyin_0_12</key>
            <dict>
                <key>frame</key>
                <string>{{352,602},{177,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,152}}</string>
                <key>sourceSize</key>
                <string>{177,152}</string>
            </dict>
            <key>jieyin_0_13</key>
            <dict>
                <key>frame</key>
                <string>{{347,787},{221,209}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{221,209}}</string>
                <key>sourceSize</key>
                <string>{229,215}</string>
            </dict>
            <key>jieyin_0_14</key>
            <dict>
                <key>frame</key>
                <string>{{656,261},{267,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{267,256}}</string>
                <key>sourceSize</key>
                <string>{269,256}</string>
            </dict>
            <key>jieyin_0_15</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{359,312}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{359,312}}</string>
                <key>sourceSize</key>
                <string>{359,314}</string>
            </dict>
            <key>jieyin_0_16</key>
            <dict>
                <key>frame</key>
                <string>{{361,164},{293,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{293,243}}</string>
                <key>sourceSize</key>
                <string>{295,243}</string>
            </dict>
            <key>jieyin_0_17</key>
            <dict>
                <key>frame</key>
                <string>{{704,0},{259,309}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{259,309}}</string>
                <key>sourceSize</key>
                <string>{263,315}</string>
            </dict>
            <key>jieyin_0_18</key>
            <dict>
                <key>frame</key>
                <string>{{630,519},{247,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{247,191}}</string>
                <key>sourceSize</key>
                <string>{251,195}</string>
            </dict>
            <key>jieyin_0_19</key>
            <dict>
                <key>frame</key>
                <string>{{0,787},{229,173}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{229,173}}</string>
                <key>sourceSize</key>
                <string>{233,177}</string>
            </dict>
            <key>jieyin_0_2</key>
            <dict>
                <key>frame</key>
                <string>{{506,602},{169,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,122}}</string>
                <key>sourceSize</key>
                <string>{169,122}</string>
            </dict>
            <key>jieyin_0_20</key>
            <dict>
                <key>frame</key>
                <string>{{359,409},{191,260}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{191,260}}</string>
                <key>sourceSize</key>
                <string>{195,264}</string>
            </dict>
            <key>jieyin_0_3</key>
            <dict>
                <key>frame</key>
                <string>{{361,0},{341,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{341,162}}</string>
                <key>sourceSize</key>
                <string>{341,162}</string>
            </dict>
            <key>jieyin_0_4</key>
            <dict>
                <key>frame</key>
                <string>{{800,858},{146,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,125}}</string>
                <key>sourceSize</key>
                <string>{146,125}</string>
            </dict>
            <key>jieyin_0_5</key>
            <dict>
                <key>frame</key>
                <string>{{925,460},{256,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{256,68}}</string>
                <key>sourceSize</key>
                <string>{256,70}</string>
            </dict>
            <key>jieyin_0_6</key>
            <dict>
                <key>frame</key>
                <string>{{286,314},{226,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,71}}</string>
                <key>sourceSize</key>
                <string>{226,71}</string>
            </dict>
            <key>jieyin_0_7</key>
            <dict>
                <key>frame</key>
                <string>{{925,261},{197,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,98}}</string>
                <key>sourceSize</key>
                <string>{197,98}</string>
            </dict>
            <key>jieyin_0_8</key>
            <dict>
                <key>frame</key>
                <string>{{286,542},{243,64}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{243,64}}</string>
                <key>sourceSize</key>
                <string>{243,68}</string>
            </dict>
            <key>jieyin_0_9</key>
            <dict>
                <key>frame</key>
                <string>{{823,718},{150,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,138}}</string>
                <key>sourceSize</key>
                <string>{150,138}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jieyin_0.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:35cdd449f1650381dfda6686509e7506:1fbfd9369ea52a0fad5177947235805b:7b1733fb5120f244f60a38dca94a8702$</string>
            <key>textureFileName</key>
            <string>jieyin_0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
