<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>level_turn_01</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{571,701}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{571,701}}</string>
                <key>sourceSize</key>
                <string>{571,701}</string>
            </dict>
            <key>level_turn_02</key>
            <dict>
                <key>frame</key>
                <string>{{573,420},{370,370}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{370,370}}</string>
                <key>sourceSize</key>
                <string>{370,370}</string>
            </dict>
            <key>level_turn_03</key>
            <dict>
                <key>frame</key>
                <string>{{0,980},{69,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,36}}</string>
                <key>sourceSize</key>
                <string>{69,36}</string>
            </dict>
            <key>level_turn_04</key>
            <dict>
                <key>frame</key>
                <string>{{573,0},{418,418}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{418,418}}</string>
                <key>sourceSize</key>
                <string>{418,418}</string>
            </dict>
            <key>level_turn_05</key>
            <dict>
                <key>frame</key>
                <string>{{0,703},{276,275}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,10},{276,275}}</string>
                <key>sourceSize</key>
                <string>{300,295}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>level_turn.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:31b07512e1020d2c97d0bc623094c035:1/1$</string>
            <key>textureFileName</key>
            <string>level_turn.pvr.ccz</string>
        </dict>
    </dict>
</plist>
