<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>limitTrain_add_btn</key>
            <dict>
                <key>frame</key>
                <string>{{754,167},{54,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,52}}</string>
                <key>sourceSize</key>
                <string>{54,52}</string>
            </dict>
            <key>limitTrain_add_desc</key>
            <dict>
                <key>frame</key>
                <string>{{878,115},{131,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,33}}</string>
                <key>sourceSize</key>
                <string>{131,33}</string>
            </dict>
            <key>limitTrain_bg</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{688,660}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{688,660}}</string>
                <key>sourceSize</key>
                <string>{688,660}</string>
            </dict>
            <key>limitTrain_bg1</key>
            <dict>
                <key>frame</key>
                <string>{{868,149},{120,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,28}}</string>
                <key>sourceSize</key>
                <string>{120,28}</string>
            </dict>
            <key>limitTrain_bg2</key>
            <dict>
                <key>frame</key>
                <string>{{809,167},{51,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,56}}</string>
                <key>sourceSize</key>
                <string>{51,56}</string>
            </dict>
            <key>limitTrain_bg3</key>
            <dict>
                <key>frame</key>
                <string>{{689,167},{64,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,34}}</string>
                <key>sourceSize</key>
                <string>{64,34}</string>
            </dict>
            <key>limitTrain_bg4</key>
            <dict>
                <key>frame</key>
                <string>{{906,36},{77,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,78}}</string>
                <key>sourceSize</key>
                <string>{77,78}</string>
            </dict>
            <key>limitTrain_bg5</key>
            <dict>
                <key>frame</key>
                <string>{{689,79},{188,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,46}}</string>
                <key>sourceSize</key>
                <string>{188,46}</string>
            </dict>
            <key>limitTrain_bg7</key>
            <dict>
                <key>frame</key>
                <string>{{0,846},{686,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{686,101}}</string>
                <key>sourceSize</key>
                <string>{686,101}</string>
            </dict>
            <key>limitTrain_bg8</key>
            <dict>
                <key>frame</key>
                <string>{{689,126},{178,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,40}}</string>
                <key>sourceSize</key>
                <string>{178,40}</string>
            </dict>
            <key>limitTrain_bg9</key>
            <dict>
                <key>frame</key>
                <string>{{0,661},{688,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{688,184}}</string>
                <key>sourceSize</key>
                <string>{688,184}</string>
            </dict>
            <key>limitTrain_bg_line</key>
            <dict>
                <key>frame</key>
                <string>{{906,0},{82,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,35}}</string>
                <key>sourceSize</key>
                <string>{82,35}</string>
            </dict>
            <key>limitTrain_close</key>
            <dict>
                <key>frame</key>
                <string>{{861,209},{29,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,31}}</string>
                <key>sourceSize</key>
                <string>{29,31}</string>
            </dict>
            <key>limitTrain_gate1</key>
            <dict>
                <key>frame</key>
                <string>{{689,202},{31,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,30}}</string>
                <key>sourceSize</key>
                <string>{31,30}</string>
            </dict>
            <key>limitTrain_gate2</key>
            <dict>
                <key>frame</key>
                <string>{{861,178},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>limitTrain_gate3</key>
            <dict>
                <key>frame</key>
                <string>{{689,233},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>limitTrain_gate4</key>
            <dict>
                <key>frame</key>
                <string>{{721,232},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>limitTrain_gate5</key>
            <dict>
                <key>frame</key>
                <string>{{989,149},{31,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,30}}</string>
                <key>sourceSize</key>
                <string>{31,30}</string>
            </dict>
            <key>limitTrain_gate6</key>
            <dict>
                <key>frame</key>
                <string>{{984,83},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>limitTrain_gate7</key>
            <dict>
                <key>frame</key>
                <string>{{753,220},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>limitTrain_gate8</key>
            <dict>
                <key>frame</key>
                <string>{{721,202},{31,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,29}}</string>
                <key>sourceSize</key>
                <string>{31,29}</string>
            </dict>
            <key>limitTrain_next</key>
            <dict>
                <key>frame</key>
                <string>{{892,178},{29,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,31}}</string>
                <key>sourceSize</key>
                <string>{29,31}</string>
            </dict>
            <key>limitTrain_open</key>
            <dict>
                <key>frame</key>
                <string>{{984,48},{31,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,34}}</string>
                <key>sourceSize</key>
                <string>{31,34}</string>
            </dict>
            <key>limitTrain_soul</key>
            <dict>
                <key>frame</key>
                <string>{{989,0},{33,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,47}}</string>
                <key>sourceSize</key>
                <string>{33,47}</string>
            </dict>
            <key>limitTrain_title</key>
            <dict>
                <key>frame</key>
                <string>{{689,0},{216,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,78}}</string>
                <key>sourceSize</key>
                <string>{216,78}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>limitTrain.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1351c9451764cf02ade46c883868e0f3:1/1$</string>
            <key>textureFileName</key>
            <string>limitTrain.pvr.ccz</string>
        </dict>
    </dict>
</plist>
