<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>limitTrain_add_btn</key>
            <dict>
                <key>frame</key>
                <string>{{963,144},{54,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,52}}</string>
                <key>sourceSize</key>
                <string>{54,52}</string>
            </dict>
            <key>limitTrain_add_desc</key>
            <dict>
                <key>frame</key>
                <string>{{689,165},{127,17}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{127,17}}</string>
                <key>sourceSize</key>
                <string>{131,33}</string>
            </dict>
            <key>limitTrain_bg</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{688,660}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{688,660}}</string>
                <key>sourceSize</key>
                <string>{688,660}</string>
            </dict>
            <key>limitTrain_bg1</key>
            <dict>
                <key>frame</key>
                <string>{{904,0},{120,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,28}}</string>
                <key>sourceSize</key>
                <string>{120,28}</string>
            </dict>
            <key>limitTrain_bg2</key>
            <dict>
                <key>frame</key>
                <string>{{892,179},{51,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,56}}</string>
                <key>sourceSize</key>
                <string>{51,56}</string>
            </dict>
            <key>limitTrain_bg3</key>
            <dict>
                <key>frame</key>
                <string>{{898,144},{64,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,34}}</string>
                <key>sourceSize</key>
                <string>{64,34}</string>
            </dict>
            <key>limitTrain_bg4</key>
            <dict>
                <key>frame</key>
                <string>{{904,65},{77,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,78}}</string>
                <key>sourceSize</key>
                <string>{77,78}</string>
            </dict>
            <key>limitTrain_bg5</key>
            <dict>
                <key>frame</key>
                <string>{{689,77},{188,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,46}}</string>
                <key>sourceSize</key>
                <string>{188,46}</string>
            </dict>
            <key>limitTrain_bg7</key>
            <dict>
                <key>frame</key>
                <string>{{0,846},{686,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{686,101}}</string>
                <key>sourceSize</key>
                <string>{686,101}</string>
            </dict>
            <key>limitTrain_bg8</key>
            <dict>
                <key>frame</key>
                <string>{{689,124},{178,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,40}}</string>
                <key>sourceSize</key>
                <string>{178,40}</string>
            </dict>
            <key>limitTrain_bg9</key>
            <dict>
                <key>frame</key>
                <string>{{0,661},{688,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{688,184}}</string>
                <key>sourceSize</key>
                <string>{688,184}</string>
            </dict>
            <key>limitTrain_bg_line</key>
            <dict>
                <key>frame</key>
                <string>{{904,29},{82,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,35}}</string>
                <key>sourceSize</key>
                <string>{82,35}</string>
            </dict>
            <key>limitTrain_close</key>
            <dict>
                <key>frame</key>
                <string>{{868,137},{29,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,31}}</string>
                <key>sourceSize</key>
                <string>{29,31}</string>
            </dict>
            <key>limitTrain_gate1</key>
            <dict>
                <key>frame</key>
                <string>{{944,179},{15,28}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,1},{15,28}}</string>
                <key>sourceSize</key>
                <string>{31,30}</string>
            </dict>
            <key>limitTrain_gate2</key>
            <dict>
                <key>frame</key>
                <string>{{867,169},{24,28}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{24,28}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>limitTrain_gate3</key>
            <dict>
                <key>frame</key>
                <string>{{842,165},{24,28}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{24,28}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>limitTrain_gate4</key>
            <dict>
                <key>frame</key>
                <string>{{817,165},{24,28}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{24,28}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>limitTrain_gate5</key>
            <dict>
                <key>frame</key>
                <string>{{960,197},{23,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{23,28}}</string>
                <key>sourceSize</key>
                <string>{31,30}</string>
            </dict>
            <key>limitTrain_gate6</key>
            <dict>
                <key>frame</key>
                <string>{{878,107},{25,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{25,29}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>limitTrain_gate7</key>
            <dict>
                <key>frame</key>
                <string>{{984,197},{22,28}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{22,28}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>limitTrain_gate8</key>
            <dict>
                <key>frame</key>
                <string>{{878,77},{25,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{25,29}}</string>
                <key>sourceSize</key>
                <string>{31,29}</string>
            </dict>
            <key>limitTrain_next</key>
            <dict>
                <key>frame</key>
                <string>{{982,112},{29,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,31}}</string>
                <key>sourceSize</key>
                <string>{29,31}</string>
            </dict>
            <key>limitTrain_open</key>
            <dict>
                <key>frame</key>
                <string>{{982,77},{31,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,34}}</string>
                <key>sourceSize</key>
                <string>{31,34}</string>
            </dict>
            <key>limitTrain_soul</key>
            <dict>
                <key>frame</key>
                <string>{{987,29},{33,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,47}}</string>
                <key>sourceSize</key>
                <string>{33,47}</string>
            </dict>
            <key>limitTrain_title</key>
            <dict>
                <key>frame</key>
                <string>{{689,0},{214,76}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,76}}</string>
                <key>sourceSize</key>
                <string>{216,78}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>limitTrain.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:01a46387d78461992e41f2e8abc7d967:1bec75764f80cf76be6d55e7be7f4c92:a5c953b02da96284bf8831fb4d32a8a4$</string>
            <key>textureFileName</key>
            <string>limitTrain.pvr.ccz</string>
        </dict>
    </dict>
</plist>
