<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>limitDiscount_bg</key>
            <dict>
                <key>frame</key>
                <string>{{678,0},{343,458}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{343,458}}</string>
                <key>sourceSize</key>
                <string>{343,458}</string>
            </dict>
            <key>limitDiscount_bg1</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{677,421}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{677,421}}</string>
                <key>sourceSize</key>
                <string>{677,421}</string>
            </dict>
            <key>limitDiscount_bg2</key>
            <dict>
                <key>frame</key>
                <string>{{643,499},{269,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,54}}</string>
                <key>sourceSize</key>
                <string>{269,54}</string>
            </dict>
            <key>limitDiscount_bg3</key>
            <dict>
                <key>frame</key>
                <string>{{537,422},{105,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,171}}</string>
                <key>sourceSize</key>
                <string>{105,171}</string>
            </dict>
            <key>limitDiscount_bg4</key>
            <dict>
                <key>frame</key>
                <string>{{913,499},{100,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,152}}</string>
                <key>sourceSize</key>
                <string>{100,152}</string>
            </dict>
            <key>limitDiscount_bg5</key>
            <dict>
                <key>frame</key>
                <string>{{643,554},{96,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,44}}</string>
                <key>sourceSize</key>
                <string>{96,44}</string>
            </dict>
            <key>limitDiscount_desc1</key>
            <dict>
                <key>frame</key>
                <string>{{643,459},{294,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,39}}</string>
                <key>sourceSize</key>
                <string>{294,39}</string>
            </dict>
            <key>limitDiscount_desc2</key>
            <dict>
                <key>frame</key>
                <string>{{0,422},{536,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{536,39}}</string>
                <key>sourceSize</key>
                <string>{536,39}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>limitDiscount.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0713bb062630b70db0ab929f09cb7ec2:1/1$</string>
            <key>textureFileName</key>
            <string>limitDiscount.pvr.ccz</string>
        </dict>
    </dict>
</plist>
