<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lottery_bg</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{343,468}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{343,468}}</string>
                <key>sourceSize</key>
                <string>{343,468}</string>
            </dict>
            <key>lottery_bg_1</key>
            <dict>
                <key>frame</key>
                <string>{{87,629},{349,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{349,143}}</string>
                <key>sourceSize</key>
                <string>{349,143}</string>
            </dict>
            <key>lottery_bg_2</key>
            <dict>
                <key>frame</key>
                <string>{{267,469},{294,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,132}}</string>
                <key>sourceSize</key>
                <string>{294,132}</string>
            </dict>
            <key>lottery_bg_3</key>
            <dict>
                <key>frame</key>
                <string>{{0,786},{87,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,182}}</string>
                <key>sourceSize</key>
                <string>{87,182}</string>
            </dict>
            <key>lottery_bg_4</key>
            <dict>
                <key>frame</key>
                <string>{{255,975},{73,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,44}}</string>
                <key>sourceSize</key>
                <string>{73,44}</string>
            </dict>
            <key>lottery_bg_5</key>
            <dict>
                <key>frame</key>
                <string>{{87,469},{143,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,159}}</string>
                <key>sourceSize</key>
                <string>{143,159}</string>
            </dict>
            <key>lottery_bg_6</key>
            <dict>
                <key>frame</key>
                <string>{{0,469},{86,316}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,316}}</string>
                <key>sourceSize</key>
                <string>{86,316}</string>
            </dict>
            <key>lottery_bg_7</key>
            <dict>
                <key>frame</key>
                <string>{{88,911},{40,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,56}}</string>
                <key>sourceSize</key>
                <string>{40,56}</string>
            </dict>
            <key>lottery_bg_8</key>
            <dict>
                <key>frame</key>
                <string>{{0,969},{2,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,54}}</string>
                <key>sourceSize</key>
                <string>{2,54}</string>
            </dict>
            <key>lottery_bg_title</key>
            <dict>
                <key>frame</key>
                <string>{{88,773},{319,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{319,73}}</string>
                <key>sourceSize</key>
                <string>{319,73}</string>
            </dict>
            <key>lottery_cur_myNums</key>
            <dict>
                <key>frame</key>
                <string>{{314,911},{184,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,63}}</string>
                <key>sourceSize</key>
                <string>{184,63}</string>
            </dict>
            <key>lottery_end_time</key>
            <dict>
                <key>frame</key>
                <string>{{352,879},{184,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,31}}</string>
                <key>sourceSize</key>
                <string>{184,31}</string>
            </dict>
            <key>lottery_first</key>
            <dict>
                <key>frame</key>
                <string>{{329,975},{130,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,43}}</string>
                <key>sourceSize</key>
                <string>{130,43}</string>
            </dict>
            <key>lottery_get_time</key>
            <dict>
                <key>frame</key>
                <string>{{352,847},{184,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,31}}</string>
                <key>sourceSize</key>
                <string>{184,31}</string>
            </dict>
            <key>lottery_open_time</key>
            <dict>
                <key>frame</key>
                <string>{{460,975},{237,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,31}}</string>
                <key>sourceSize</key>
                <string>{237,31}</string>
            </dict>
            <key>lottery_pre_myNums</key>
            <dict>
                <key>frame</key>
                <string>{{129,911},{184,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,63}}</string>
                <key>sourceSize</key>
                <string>{184,63}</string>
            </dict>
            <key>lottery_pre_winerList</key>
            <dict>
                <key>frame</key>
                <string>{{88,847},{263,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,63}}</string>
                <key>sourceSize</key>
                <string>{263,63}</string>
            </dict>
            <key>lottery_rand_num</key>
            <dict>
                <key>frame</key>
                <string>{{231,469},{35,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,139}}</string>
                <key>sourceSize</key>
                <string>{35,139}</string>
            </dict>
            <key>lottery_second</key>
            <dict>
                <key>frame</key>
                <string>{{129,975},{125,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,46}}</string>
                <key>sourceSize</key>
                <string>{125,46}</string>
            </dict>
            <key>lottery_third</key>
            <dict>
                <key>frame</key>
                <string>{{3,969},{125,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,46}}</string>
                <key>sourceSize</key>
                <string>{125,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lottery.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:59b359ca8f711416c5c452b3b40cdd9f:a12b1f3ac3efb74aa3179866c575f0e7:6f782bf9fc9af44d0c4765827e57992d$</string>
            <key>textureFileName</key>
            <string>lottery.pvr.ccz</string>
        </dict>
    </dict>
</plist>
