<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>borderWarIcon_1</key>
            <dict>
                <key>frame</key>
                <string>{{432,35},{14,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,29}}</string>
                <key>sourceSize</key>
                <string>{14,29}</string>
            </dict>
            <key>borderWarIcon_2</key>
            <dict>
                <key>frame</key>
                <string>{{447,35},{14,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,20}}</string>
                <key>sourceSize</key>
                <string>{14,20}</string>
            </dict>
            <key>borderWarIcon_3</key>
            <dict>
                <key>frame</key>
                <string>{{393,0},{69,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,34}}</string>
                <key>sourceSize</key>
                <string>{69,34}</string>
            </dict>
            <key>borderWarIcon_4a</key>
            <dict>
                <key>frame</key>
                <string>{{252,0},{140,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,161}}</string>
                <key>sourceSize</key>
                <string>{140,161}</string>
            </dict>
            <key>borderWarIcon_5a</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{251,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,120}}</string>
                <key>sourceSize</key>
                <string>{251,120}</string>
            </dict>
            <key>fire_1</key>
            <dict>
                <key>frame</key>
                <string>{{393,161},{34,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,62}}</string>
                <key>sourceSize</key>
                <string>{34,62}</string>
            </dict>
            <key>fire_2</key>
            <dict>
                <key>frame</key>
                <string>{{447,63},{38,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,62}}</string>
                <key>sourceSize</key>
                <string>{38,62}</string>
            </dict>
            <key>fire_3</key>
            <dict>
                <key>frame</key>
                <string>{{393,35},{38,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,62}}</string>
                <key>sourceSize</key>
                <string>{38,62}</string>
            </dict>
            <key>fire_4</key>
            <dict>
                <key>frame</key>
                <string>{{463,0},{41,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,62}}</string>
                <key>sourceSize</key>
                <string>{41,62}</string>
            </dict>
            <key>fire_5</key>
            <dict>
                <key>frame</key>
                <string>{{428,126},{34,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,62}}</string>
                <key>sourceSize</key>
                <string>{34,62}</string>
            </dict>
            <key>fire_6</key>
            <dict>
                <key>frame</key>
                <string>{{393,98},{34,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,62}}</string>
                <key>sourceSize</key>
                <string>{34,62}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mainBorderWar.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ed3c101247c6b5d81716599ba49e531c:1/1$</string>
            <key>textureFileName</key>
            <string>mainBorderWar.pvr.ccz</string>
        </dict>
    </dict>
</plist>
