<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>clicktoadd</key>
            <dict>
                <key>frame</key>
                <string>{{0,368},{141,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,35}}</string>
                <key>sourceSize</key>
                <string>{141,35}</string>
            </dict>
            <key>marking_01</key>
            <dict>
                <key>frame</key>
                <string>{{0,405},{134,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,35}}</string>
                <key>sourceSize</key>
                <string>{134,35}</string>
            </dict>
            <key>troop_01</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{512,366}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,366}}</string>
                <key>sourceSize</key>
                <string>{512,366}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>marks.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:38c72ce0ee62b54af05bc2f2164b89f1:1/1$</string>
            <key>textureFileName</key>
            <string>marks.pvr.ccz</string>
        </dict>
    </dict>
</plist>
