<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Breach</key>
            <dict>
                <key>frame</key>
                <string>{{234,684},{234,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,2},{234,236}}</string>
                <key>sourceSize</key>
                <string>{256,240}</string>
            </dict>
            <key>equip</key>
            <dict>
                <key>frame</key>
                <string>{{469,0},{256,216}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,21},{256,216}}</string>
                <key>sourceSize</key>
                <string>{256,240}</string>
            </dict>
            <key>exam</key>
            <dict>
                <key>frame</key>
                <string>{{0,684},{233,246}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{233,246}}</string>
                <key>sourceSize</key>
                <string>{243,256}</string>
            </dict>
            <key>inConstruction</key>
            <dict>
                <key>frame</key>
                <string>{{469,217},{203,216}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,216}}</string>
                <key>sourceSize</key>
                <string>{205,216}</string>
            </dict>
            <key>myBaseMap</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{350,683}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,683}}</string>
                <key>sourceSize</key>
                <string>{350,683}</string>
            </dict>
            <key>pet</key>
            <dict>
                <key>frame</key>
                <string>{{726,0},{254,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{254,228}}</string>
                <key>sourceSize</key>
                <string>{256,228}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>myBase.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ad2cb47de35aba794540d37507fafab3:4e111e77457a786b4678d097a3f31938:79982d1679eff403b45462ae1d2a2fc2$</string>
            <key>textureFileName</key>
            <string>myBase.pvr.ccz</string>
        </dict>
    </dict>
</plist>
