<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>equip</key>
            <dict>
                <key>frame</key>
                <string>{{501,0},{256,216}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,21},{256,216}}</string>
                <key>sourceSize</key>
                <string>{256,240}</string>
            </dict>
            <key>exam</key>
            <dict>
                <key>frame</key>
                <string>{{0,684},{243,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,256}}</string>
                <key>sourceSize</key>
                <string>{243,256}</string>
            </dict>
            <key>inConstruction</key>
            <dict>
                <key>frame</key>
                <string>{{758,0},{206,216}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,15},{206,216}}</string>
                <key>sourceSize</key>
                <string>{256,240}</string>
            </dict>
            <key>myBaseMap</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{350,683}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,683}}</string>
                <key>sourceSize</key>
                <string>{350,683}</string>
            </dict>
            <key>pet</key>
            <dict>
                <key>frame</key>
                <string>{{244,684},{256,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,228}}</string>
                <key>sourceSize</key>
                <string>{256,228}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>myBase.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:454979c3f9accfd50e3059ee4a7309ed:1/1$</string>
            <key>textureFileName</key>
            <string>myBase.pvr.ccz</string>
        </dict>
    </dict>
</plist>
