<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attr_change</key>
            <dict>
                <key>frame</key>
                <string>{{344,101},{121,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,38}}</string>
                <key>sourceSize</key>
                <string>{121,38}</string>
            </dict>
            <key>inherit_btn</key>
            <dict>
                <key>frame</key>
                <string>{{291,172},{77,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,38}}</string>
                <key>sourceSize</key>
                <string>{77,38}</string>
            </dict>
            <key>jinjie</key>
            <dict>
                <key>frame</key>
                <string>{{194,155},{95,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,38}}</string>
                <key>sourceSize</key>
                <string>{95,38}</string>
            </dict>
            <key>mypack_btn1</key>
            <dict>
                <key>frame</key>
                <string>{{174,0},{172,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,60}}</string>
                <key>sourceSize</key>
                <string>{172,60}</string>
            </dict>
            <key>mypack_btn2</key>
            <dict>
                <key>frame</key>
                <string>{{172,62},{170,60}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,60}}</string>
                <key>sourceSize</key>
                <string>{172,60}</string>
            </dict>
            <key>mypack_cha_gotoexperience</key>
            <dict>
                <key>frame</key>
                <string>{{336,141},{110,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,29}}</string>
                <key>sourceSize</key>
                <string>{110,29}</string>
            </dict>
            <key>mypack_cha_gotoplunder</key>
            <dict>
                <key>frame</key>
                <string>{{224,124},{110,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,29}}</string>
                <key>sourceSize</key>
                <string>{110,29}</string>
            </dict>
            <key>mypack_cha_gotostore</key>
            <dict>
                <key>frame</key>
                <string>{{112,124},{110,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,29}}</string>
                <key>sourceSize</key>
                <string>{110,29}</string>
            </dict>
            <key>mypack_cha_tofight</key>
            <dict>
                <key>frame</key>
                <string>{{0,124},{110,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,29}}</string>
                <key>sourceSize</key>
                <string>{110,29}</string>
            </dict>
            <key>mypack_cha_upgrade</key>
            <dict>
                <key>frame</key>
                <string>{{370,172},{68,33}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{68,33}}</string>
                <key>sourceSize</key>
                <string>{70,37}</string>
            </dict>
            <key>mypack_piece_btn1</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{172,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,60}}</string>
                <key>sourceSize</key>
                <string>{172,60}</string>
            </dict>
            <key>mypack_piece_btn2</key>
            <dict>
                <key>frame</key>
                <string>{{0,62},{170,60}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,60}}</string>
                <key>sourceSize</key>
                <string>{172,60}</string>
            </dict>
            <key>mypack_split</key>
            <dict>
                <key>frame</key>
                <string>{{0,155},{95,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,39}}</string>
                <key>sourceSize</key>
                <string>{95,39}</string>
            </dict>
            <key>mypack_trainsoul</key>
            <dict>
                <key>frame</key>
                <string>{{97,155},{95,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,38}}</string>
                <key>sourceSize</key>
                <string>{95,38}</string>
            </dict>
            <key>pieceIcon</key>
            <dict>
                <key>frame</key>
                <string>{{348,0},{155,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,99}}</string>
                <key>sourceSize</key>
                <string>{155,99}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mypack_text.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d0f866de3e6c9bedf1a2dbb2bb9ca215:1/1$</string>
            <key>textureFileName</key>
            <string>mypack_text.pvr.ccz</string>
        </dict>
    </dict>
</plist>
