<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attr_change</key>
            <dict>
                <key>frame</key>
                <string>{{340,101},{121,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,38}}</string>
                <key>sourceSize</key>
                <string>{121,38}</string>
            </dict>
            <key>discard</key>
            <dict>
                <key>frame</key>
                <string>{{303,181},{93,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{93,39}}</string>
                <key>sourceSize</key>
                <string>{95,39}</string>
            </dict>
            <key>inherit_btn</key>
            <dict>
                <key>frame</key>
                <string>{{429,141},{77,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,38}}</string>
                <key>sourceSize</key>
                <string>{77,38}</string>
            </dict>
            <key>jinjie</key>
            <dict>
                <key>frame</key>
                <string>{{206,151},{95,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,38}}</string>
                <key>sourceSize</key>
                <string>{95,38}</string>
            </dict>
            <key>mypack_btn1</key>
            <dict>
                <key>frame</key>
                <string>{{174,0},{172,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,60}}</string>
                <key>sourceSize</key>
                <string>{172,60}</string>
            </dict>
            <key>mypack_btn2</key>
            <dict>
                <key>frame</key>
                <string>{{170,62},{168,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,60}}</string>
                <key>sourceSize</key>
                <string>{168,60}</string>
            </dict>
            <key>mypack_cha_gotoexperience</key>
            <dict>
                <key>frame</key>
                <string>{{223,124},{107,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,25}}</string>
                <key>sourceSize</key>
                <string>{107,25}</string>
            </dict>
            <key>mypack_cha_gotoplunder</key>
            <dict>
                <key>frame</key>
                <string>{{0,150},{107,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,25}}</string>
                <key>sourceSize</key>
                <string>{107,25}</string>
            </dict>
            <key>mypack_cha_gotostore</key>
            <dict>
                <key>frame</key>
                <string>{{0,124},{110,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,24}}</string>
                <key>sourceSize</key>
                <string>{110,24}</string>
            </dict>
            <key>mypack_cha_tofight</key>
            <dict>
                <key>frame</key>
                <string>{{112,124},{109,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,25}}</string>
                <key>sourceSize</key>
                <string>{109,25}</string>
            </dict>
            <key>mypack_cha_upgrade</key>
            <dict>
                <key>frame</key>
                <string>{{398,181},{67,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,28}}</string>
                <key>sourceSize</key>
                <string>{67,28}</string>
            </dict>
            <key>mypack_piece_btn1</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{172,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,60}}</string>
                <key>sourceSize</key>
                <string>{172,60}</string>
            </dict>
            <key>mypack_piece_btn2</key>
            <dict>
                <key>frame</key>
                <string>{{0,62},{168,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,60}}</string>
                <key>sourceSize</key>
                <string>{168,60}</string>
            </dict>
            <key>mypack_split</key>
            <dict>
                <key>frame</key>
                <string>{{0,177},{95,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,38}}</string>
                <key>sourceSize</key>
                <string>{95,38}</string>
            </dict>
            <key>mypack_trainsoul</key>
            <dict>
                <key>frame</key>
                <string>{{109,151},{95,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,38}}</string>
                <key>sourceSize</key>
                <string>{95,38}</string>
            </dict>
            <key>pieceIcon</key>
            <dict>
                <key>frame</key>
                <string>{{348,0},{155,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,99}}</string>
                <key>sourceSize</key>
                <string>{155,99}</string>
            </dict>
            <key>sage</key>
            <dict>
                <key>frame</key>
                <string>{{332,141},{95,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,38}}</string>
                <key>sourceSize</key>
                <string>{95,38}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mypack_text.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0adccbef668507524dfc4345721db764:66fefc15c39333ed86f35fe69aad2a6a:fe05adfa925645ef740b9d689514729d$</string>
            <key>textureFileName</key>
            <string>mypack_text.pvr.ccz</string>
        </dict>
    </dict>
</plist>
