<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ninjaTreasure_prue</key>
            <dict>
                <key>frame</key>
                <string>{{936,0},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>ninjaTreasure_title</key>
            <dict>
                <key>frame</key>
                <string>{{0,873},{216,73}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,73}}</string>
                <key>sourceSize</key>
                <string>{218,73}</string>
            </dict>
            <key>treasure_bg1</key>
            <dict>
                <key>frame</key>
                <string>{{886,0},{49,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,70}}</string>
                <key>sourceSize</key>
                <string>{49,70}</string>
            </dict>
            <key>treasure_bg2</key>
            <dict>
                <key>frame</key>
                <string>{{967,0},{29,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,120}}</string>
                <key>sourceSize</key>
                <string>{29,120}</string>
            </dict>
            <key>treasure_bg3</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{384,683}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,683}}</string>
                <key>sourceSize</key>
                <string>{384,683}</string>
            </dict>
            <key>treasure_bg4</key>
            <dict>
                <key>frame</key>
                <string>{{0,684},{188,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,188}}</string>
                <key>sourceSize</key>
                <string>{188,188}</string>
            </dict>
            <key>treasure_bg5</key>
            <dict>
                <key>frame</key>
                <string>{{385,0},{500,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,68}}</string>
                <key>sourceSize</key>
                <string>{500,68}</string>
            </dict>
            <key>treasure_bg6</key>
            <dict>
                <key>frame</key>
                <string>{{189,684},{200,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,173}}</string>
                <key>sourceSize</key>
                <string>{200,173}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ninjaTreasure.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f15d0b425204829cd47aa357eb9dd253:801cf90a02f4dd5b65ae732b900565ef:0a7f6500bfea5fb2c8e08bb7c443ba5c$</string>
            <key>textureFileName</key>
            <string>ninjaTreasure.pvr.ccz</string>
        </dict>
    </dict>
</plist>
