<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ninja_upgrade_01</key>
            <dict>
                <key>frame</key>
                <string>{{706,176},{255,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,305}}</string>
                <key>sourceSize</key>
                <string>{255,305}</string>
            </dict>
            <key>ninja_upgrade_02</key>
            <dict>
                <key>frame</key>
                <string>{{919,609},{68,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,30}}</string>
                <key>sourceSize</key>
                <string>{68,30}</string>
            </dict>
            <key>ninja_upgrade_03</key>
            <dict>
                <key>frame</key>
                <string>{{511,686},{119,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,29}}</string>
                <key>sourceSize</key>
                <string>{119,29}</string>
            </dict>
            <key>ninja_upgrade_04</key>
            <dict>
                <key>frame</key>
                <string>{{391,993},{119,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,29}}</string>
                <key>sourceSize</key>
                <string>{119,29}</string>
            </dict>
            <key>ninja_upgrade_05</key>
            <dict>
                <key>frame</key>
                <string>{{391,963},{119,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,29}}</string>
                <key>sourceSize</key>
                <string>{119,29}</string>
            </dict>
            <key>ninja_upgrade_06</key>
            <dict>
                <key>frame</key>
                <string>{{391,933},{119,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,29}}</string>
                <key>sourceSize</key>
                <string>{119,29}</string>
            </dict>
            <key>ninja_upgrade_07</key>
            <dict>
                <key>frame</key>
                <string>{{197,614},{480,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,41}}</string>
                <key>sourceSize</key>
                <string>{480,41}</string>
            </dict>
            <key>ninja_upgrade_08</key>
            <dict>
                <key>frame</key>
                <string>{{197,572},{480,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,41}}</string>
                <key>sourceSize</key>
                <string>{480,41}</string>
            </dict>
            <key>ninja_upgrade_09</key>
            <dict>
                <key>frame</key>
                <string>{{962,269},{43,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,39}}</string>
                <key>sourceSize</key>
                <string>{43,39}</string>
            </dict>
            <key>ninja_upgrade_10</key>
            <dict>
                <key>frame</key>
                <string>{{919,640},{66,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,48}}</string>
                <key>sourceSize</key>
                <string>{66,48}</string>
            </dict>
            <key>ninja_upgrade_11</key>
            <dict>
                <key>frame</key>
                <string>{{962,232},{54,36}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{54,36}}</string>
                <key>sourceSize</key>
                <string>{66,48}</string>
            </dict>
            <key>ninja_upgrade_12</key>
            <dict>
                <key>frame</key>
                <string>{{706,0},{302,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{302,175}}</string>
                <key>sourceSize</key>
                <string>{302,175}</string>
            </dict>
            <key>ninja_upgrade_13</key>
            <dict>
                <key>frame</key>
                <string>{{678,482},{240,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,300}}</string>
                <key>sourceSize</key>
                <string>{240,300}</string>
            </dict>
            <key>ninja_upgrade_14</key>
            <dict>
                <key>frame</key>
                <string>{{197,783},{126,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,157}}</string>
                <key>sourceSize</key>
                <string>{126,157}</string>
            </dict>
            <key>ninja_upgrade_15</key>
            <dict>
                <key>frame</key>
                <string>{{478,656},{145,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,29}}</string>
                <key>sourceSize</key>
                <string>{145,29}</string>
            </dict>
            <key>ninja_upgrade_16</key>
            <dict>
                <key>frame</key>
                <string>{{134,980},{145,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,29}}</string>
                <key>sourceSize</key>
                <string>{145,29}</string>
            </dict>
            <key>ninja_upgrade_17</key>
            <dict>
                <key>frame</key>
                <string>{{197,530},{480,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,41}}</string>
                <key>sourceSize</key>
                <string>{480,41}</string>
            </dict>
            <key>ninja_upgrade_18</key>
            <dict>
                <key>frame</key>
                <string>{{324,783},{153,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,149}}</string>
                <key>sourceSize</key>
                <string>{153,149}</string>
            </dict>
            <key>ninja_upgrade_19</key>
            <dict>
                <key>frame</key>
                <string>{{280,941},{110,80}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{110,80}}</string>
                <key>sourceSize</key>
                <string>{120,92}</string>
            </dict>
            <key>ninja_upgrade_20</key>
            <dict>
                <key>frame</key>
                <string>{{962,176},{55,55}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{55,55}}</string>
                <key>sourceSize</key>
                <string>{55,61}</string>
            </dict>
            <key>ninja_upgrade_21</key>
            <dict>
                <key>frame</key>
                <string>{{0,222},{680,160}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{680,160}}</string>
                <key>sourceSize</key>
                <string>{680,162}</string>
            </dict>
            <key>ninja_upgrade_materialcard</key>
            <dict>
                <key>frame</key>
                <string>{{0,980},{133,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,33}}</string>
                <key>sourceSize</key>
                <string>{133,33}</string>
            </dict>
            <key>ninjainfo_bk_02</key>
            <dict>
                <key>frame</key>
                <string>{{0,383},{677,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{677,146}}</string>
                <key>sourceSize</key>
                <string>{677,146}</string>
            </dict>
            <key>ninjaupgrade_tip</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{705,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{705,221}}</string>
                <key>sourceSize</key>
                <string>{705,221}</string>
            </dict>
            <key>shine_01</key>
            <dict>
                <key>frame</key>
                <string>{{0,783},{196,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{196,196}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>upgrade_btn01</key>
            <dict>
                <key>frame</key>
                <string>{{0,530},{117,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,116}}</string>
                <key>sourceSize</key>
                <string>{117,116}</string>
            </dict>
            <key>upgrade_btn02</key>
            <dict>
                <key>frame</key>
                <string>{{0,656},{118,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,116}}</string>
                <key>sourceSize</key>
                <string>{118,116}</string>
            </dict>
            <key>upgrade_no_card_tip</key>
            <dict>
                <key>frame</key>
                <string>{{919,482},{97,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,126}}</string>
                <key>sourceSize</key>
                <string>{97,126}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ninjaupgrade.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:88018f8f12a14a98d6dd9ebf77297cb1:1/1$</string>
            <key>textureFileName</key>
            <string>ninjaupgrade.pvr.ccz</string>
        </dict>
    </dict>
</plist>
