<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ninja_1_1_1</key>
            <dict>
                <key>frame</key>
                <string>{{140,0},{70,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,50}}</string>
                <key>sourceSize</key>
                <string>{70,50}</string>
            </dict>
            <key>ninja_1_1_2</key>
            <dict>
                <key>frame</key>
                <string>{{0,140},{77,138}}</string>
                <key>offset</key>
                <string>{-1,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,40},{77,138}}</string>
                <key>sourceSize</key>
                <string>{83,180}</string>
            </dict>
            <key>ninja_1_1_3</key>
            <dict>
                <key>frame</key>
                <string>{{0,219},{10,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{10,10}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
            <key>ninja_1_1_4</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{77,138}}</string>
                <key>offset</key>
                <string>{-1,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,40},{77,138}}</string>
                <key>sourceSize</key>
                <string>{83,180}</string>
            </dict>
            <key>ninja_1_1_9</key>
            <dict>
                <key>frame</key>
                <string>{{79,0},{53,45}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{53,45}}</string>
                <key>sourceSize</key>
                <string>{69,53}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ninja_1.pvr.ccz</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7782f6efc01c3c1805a67a969df586cd:39b50730281c5b2f7078d51d40c61c6d:5b709ae57251d0b7f0c5fa49b068b73f$</string>
            <key>textureFileName</key>
            <string>ninja_1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
