<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>normal_dlg_bk</key>
            <dict>
                <key>frame</key>
                <string>{{399,170},{100,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,95}}</string>
                <key>sourceSize</key>
                <string>{100,95}</string>
            </dict>
            <key>store_candidate_000</key>
            <dict>
                <key>frame</key>
                <string>{{282,0},{116,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{116,118}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
            <key>store_candidate_Earth</key>
            <dict>
                <key>frame</key>
                <string>{{116,383},{114,114}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{114,114}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
            <key>store_candidate_Fire</key>
            <dict>
                <key>frame</key>
                <string>{{0,383},{114,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{114,114}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
            <key>store_candidate_Mine</key>
            <dict>
                <key>frame</key>
                <string>{{398,267},{114,114}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{114,114}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
            <key>store_candidate_Water</key>
            <dict>
                <key>frame</key>
                <string>{{282,237},{114,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{114,114}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
            <key>store_candidate_Wind</key>
            <dict>
                <key>frame</key>
                <string>{{282,120},{115,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,115}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>store_cover</key>
            <dict>
                <key>frame</key>
                <string>{{0,268},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>tip_button_01</key>
            <dict>
                <key>frame</key>
                <string>{{400,85},{109,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,83}}</string>
                <key>sourceSize</key>
                <string>{109,83}</string>
            </dict>
            <key>tip_button_02</key>
            <dict>
                <key>frame</key>
                <string>{{400,0},{109,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,83}}</string>
                <key>sourceSize</key>
                <string>{109,83}</string>
            </dict>
            <key>tip_frame_02</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{280,266}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,266}}</string>
                <key>sourceSize</key>
                <string>{280,266}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>normal_dlg_bk.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3d400101f16c39e1936fa90550e7b470:eb957d8ecf2b428656e80121b1d13398:258996f5580020310b47ff135fdf3d6e$</string>
            <key>textureFileName</key>
            <string>normal_dlg_bk.pvr.ccz</string>
        </dict>
    </dict>
</plist>
