<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>aarrow2</key>
            <dict>
                <key>frame</key>
                <string>{{231,578},{52,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,53}}</string>
                <key>sourceSize</key>
                <string>{52,53}</string>
            </dict>
            <key>add</key>
            <dict>
                <key>frame</key>
                <string>{{0,631},{65,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,66}}</string>
                <key>sourceSize</key>
                <string>{65,66}</string>
            </dict>
            <key>advance_failure</key>
            <dict>
                <key>frame</key>
                <string>{{327,319},{201,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{201,49}}</string>
                <key>sourceSize</key>
                <string>{209,57}</string>
            </dict>
            <key>advance_success</key>
            <dict>
                <key>frame</key>
                <string>{{327,369},{199,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{199,49}}</string>
                <key>sourceSize</key>
                <string>{207,57}</string>
            </dict>
            <key>arrow1</key>
            <dict>
                <key>frame</key>
                <string>{{109,578},{67,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,77}}</string>
                <key>sourceSize</key>
                <string>{67,77}</string>
            </dict>
            <key>blue</key>
            <dict>
                <key>frame</key>
                <string>{{639,239},{26,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,27}}</string>
                <key>sourceSize</key>
                <string>{26,27}</string>
            </dict>
            <key>circle</key>
            <dict>
                <key>frame</key>
                <string>{{529,319},{127,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,127}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
            <key>closed</key>
            <dict>
                <key>frame</key>
                <string>{{569,136},{74,74}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{74,74}}</string>
                <key>sourceSize</key>
                <string>{78,80}</string>
            </dict>
            <key>crit</key>
            <dict>
                <key>frame</key>
                <string>{{0,578},{108,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,52}}</string>
                <key>sourceSize</key>
                <string>{108,52}</string>
            </dict>
            <key>empty</key>
            <dict>
                <key>frame</key>
                <string>{{529,447},{121,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,117}}</string>
                <key>sourceSize</key>
                <string>{121,117}</string>
            </dict>
            <key>frame1</key>
            <dict>
                <key>frame</key>
                <string>{{470,419},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>frame2</key>
            <dict>
                <key>frame</key>
                <string>{{327,252},{39,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,27}}</string>
                <key>sourceSize</key>
                <string>{39,27}</string>
            </dict>
            <key>line</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{669,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{669,6}}</string>
                <key>sourceSize</key>
                <string>{669,6}</string>
            </dict>
            <key>mainCircle</key>
            <dict>
                <key>frame</key>
                <string>{{418,109},{150,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,164}}</string>
                <key>sourceSize</key>
                <string>{150,164}</string>
            </dict>
            <key>nameBg</key>
            <dict>
                <key>frame</key>
                <string>{{0,109},{417,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{417,38}}</string>
                <key>sourceSize</key>
                <string>{417,38}</string>
            </dict>
            <key>orange</key>
            <dict>
                <key>frame</key>
                <string>{{639,211},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,27}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>pan</key>
            <dict>
                <key>frame</key>
                <string>{{327,419},{142,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,142}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>petFrame</key>
            <dict>
                <key>frame</key>
                <string>{{571,59},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>petIconBg</key>
            <dict>
                <key>frame</key>
                <string>{{569,211},{69,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,69}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>petOutFrame</key>
            <dict>
                <key>frame</key>
                <string>{{327,562},{114,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,129}}</string>
                <key>sourceSize</key>
                <string>{114,129}</string>
            </dict>
            <key>progressBg</key>
            <dict>
                <key>frame</key>
                <string>{{571,7},{88,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,51}}</string>
                <key>sourceSize</key>
                <string>{88,51}</string>
            </dict>
            <key>propertyBg</key>
            <dict>
                <key>frame</key>
                <string>{{327,281},{320,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,37}}</string>
                <key>sourceSize</key>
                <string>{320,37}</string>
            </dict>
            <key>psychicArrayBg</key>
            <dict>
                <key>frame</key>
                <string>{{0,252},{326,325}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,325}}</string>
                <key>sourceSize</key>
                <string>{326,325}</string>
            </dict>
            <key>psychicBg</key>
            <dict>
                <key>frame</key>
                <string>{{670,0},{346,450}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,450}}</string>
                <key>sourceSize</key>
                <string>{346,450}</string>
            </dict>
            <key>psychicBottom</key>
            <dict>
                <key>frame</key>
                <string>{{0,148},{384,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,103}}</string>
                <key>sourceSize</key>
                <string>{384,103}</string>
            </dict>
            <key>starOff</key>
            <dict>
                <key>frame</key>
                <string>{{470,478},{57,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,53}}</string>
                <key>sourceSize</key>
                <string>{57,53}</string>
            </dict>
            <key>starOn</key>
            <dict>
                <key>frame</key>
                <string>{{177,578},{53,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,51}}</string>
                <key>sourceSize</key>
                <string>{53,51}</string>
            </dict>
            <key>starOn1</key>
            <dict>
                <key>frame</key>
                <string>{{470,532},{53,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,51}}</string>
                <key>sourceSize</key>
                <string>{53,51}</string>
            </dict>
            <key>titleFrame</key>
            <dict>
                <key>frame</key>
                <string>{{0,7},{570,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{570,101}}</string>
                <key>sourceSize</key>
                <string>{570,101}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pet1.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:428cb4636d671471109542ea311fd6e1:1/1$</string>
            <key>textureFileName</key>
            <string>pet1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
