<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>advanceBg</key>
            <dict>
                <key>frame</key>
                <string>{{37,483},{665,384}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{665,384}}</string>
                <key>sourceSize</key>
                <string>{665,384}</string>
            </dict>
            <key>progress</key>
            <dict>
                <key>frame</key>
                <string>{{0,483},{525,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{525,36}}</string>
                <key>sourceSize</key>
                <string>{525,36}</string>
            </dict>
            <key>trainBg</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{710,482}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{710,482}}</string>
                <key>sourceSize</key>
                <string>{710,482}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pet2.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f1743c53910708b1cd4047b54cfa911e:13425a6fb8b4f8c5bd0ea12797bcd0c5:01b07a361e35a4f19202a29aae4a9da3$</string>
            <key>textureFileName</key>
            <string>pet2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
