<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_attack_rank</key>
            <dict>
                <key>frame</key>
                <string>{{0,398},{180,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,63}}</string>
                <key>sourceSize</key>
                <string>{180,63}</string>
            </dict>
            <key>btn_attack_rank_gray</key>
            <dict>
                <key>frame</key>
                <string>{{0,334},{180,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,63}}</string>
                <key>sourceSize</key>
                <string>{180,63}</string>
            </dict>
            <key>btn_def_rank</key>
            <dict>
                <key>frame</key>
                <string>{{0,270},{180,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,63}}</string>
                <key>sourceSize</key>
                <string>{180,63}</string>
            </dict>
            <key>btn_def_rank_gray</key>
            <dict>
                <key>frame</key>
                <string>{{0,206},{180,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,63}}</string>
                <key>sourceSize</key>
                <string>{180,63}</string>
            </dict>
            <key>btn_ninjaLV_rank</key>
            <dict>
                <key>frame</key>
                <string>{{289,196},{180,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,63}}</string>
                <key>sourceSize</key>
                <string>{180,63}</string>
            </dict>
            <key>btn_ninjaLV_rank_gray</key>
            <dict>
                <key>frame</key>
                <string>{{289,132},{180,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,63}}</string>
                <key>sourceSize</key>
                <string>{180,63}</string>
            </dict>
            <key>rank_bg</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{334,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{334,131}}</string>
                <key>sourceSize</key>
                <string>{334,131}</string>
            </dict>
            <key>rank_cell_bg</key>
            <dict>
                <key>frame</key>
                <string>{{335,0},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>rank_first</key>
            <dict>
                <key>frame</key>
                <string>{{181,446},{307,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{307,61}}</string>
                <key>sourceSize</key>
                <string>{307,61}</string>
            </dict>
            <key>rank_normal</key>
            <dict>
                <key>frame</key>
                <string>{{181,384},{307,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{307,61}}</string>
                <key>sourceSize</key>
                <string>{307,61}</string>
            </dict>
            <key>rank_second</key>
            <dict>
                <key>frame</key>
                <string>{{181,322},{307,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{307,61}}</string>
                <key>sourceSize</key>
                <string>{307,61}</string>
            </dict>
            <key>rank_third</key>
            <dict>
                <key>frame</key>
                <string>{{181,260},{307,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{307,61}}</string>
                <key>sourceSize</key>
                <string>{307,61}</string>
            </dict>
            <key>rank_title</key>
            <dict>
                <key>frame</key>
                <string>{{0,132},{288,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,73}}</string>
                <key>sourceSize</key>
                <string>{288,73}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>player_rank.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d3ea6ed22fc4dc3c5e12f01adde76951:1/1$</string>
            <key>textureFileName</key>
            <string>player_rank.pvr.ccz</string>
        </dict>
    </dict>
</plist>
