<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Login_01_01</key>
            <dict>
                <key>frame</key>
                <string>{{367,0},{478,312}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{478,312}}</string>
                <key>sourceSize</key>
                <string>{478,312}</string>
            </dict>
            <key>Login_02_01</key>
            <dict>
                <key>frame</key>
                <string>{{698,313},{28,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{28,20}}</string>
                <key>sourceSize</key>
                <string>{30,20}</string>
            </dict>
            <key>Login_02_02</key>
            <dict>
                <key>frame</key>
                <string>{{636,313},{30,18}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{30,18}}</string>
                <key>sourceSize</key>
                <string>{30,20}</string>
            </dict>
            <key>Login_02_03</key>
            <dict>
                <key>frame</key>
                <string>{{667,313},{30,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{30,14}}</string>
                <key>sourceSize</key>
                <string>{30,20}</string>
            </dict>
            <key>Login_02_04</key>
            <dict>
                <key>frame</key>
                <string>{{605,313},{30,18}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,18}}</string>
                <key>sourceSize</key>
                <string>{30,20}</string>
            </dict>
            <key>Login_02_05</key>
            <dict>
                <key>frame</key>
                <string>{{574,313},{30,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,20}}</string>
                <key>sourceSize</key>
                <string>{30,20}</string>
            </dict>
            <key>Login_03_01</key>
            <dict>
                <key>frame</key>
                <string>{{0,356},{768,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{768,256}}</string>
                <key>sourceSize</key>
                <string>{768,256}</string>
            </dict>
            <key>account_login</key>
            <dict>
                <key>frame</key>
                <string>{{0,929},{256,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,85}}</string>
                <key>sourceSize</key>
                <string>{256,85}</string>
            </dict>
            <key>create_an_account</key>
            <dict>
                <key>frame</key>
                <string>{{769,400},{248,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,85}}</string>
                <key>sourceSize</key>
                <string>{248,85}</string>
            </dict>
            <key>kuangda2</key>
            <dict>
                <key>frame</key>
                <string>{{0,795},{352,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{352,43}}</string>
                <key>sourceSize</key>
                <string>{352,43}</string>
            </dict>
            <key>noregister_enter_the_game</key>
            <dict>
                <key>frame</key>
                <string>{{0,839},{304,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,89}}</string>
                <key>sourceSize</key>
                <string>{304,89}</string>
            </dict>
            <key>reg_bk_frame_19</key>
            <dict>
                <key>frame</key>
                <string>{{929,0},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{65,65}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>reg_btn_newAccount</key>
            <dict>
                <key>frame</key>
                <string>{{367,313},{169,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,32}}</string>
                <key>sourceSize</key>
                <string>{169,32}</string>
            </dict>
            <key>reg_button_01</key>
            <dict>
                <key>frame</key>
                <string>{{846,0},{82,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,86}}</string>
                <key>sourceSize</key>
                <string>{82,86}</string>
            </dict>
            <key>reg_button_02</key>
            <dict>
                <key>frame</key>
                <string>{{769,313},{82,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,86}}</string>
                <key>sourceSize</key>
                <string>{82,86}</string>
            </dict>
            <key>reg_close_01</key>
            <dict>
                <key>frame</key>
                <string>{{537,313},{36,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,42}}</string>
                <key>sourceSize</key>
                <string>{36,42}</string>
            </dict>
            <key>reg_close_02</key>
            <dict>
                <key>frame</key>
                <string>{{769,536},{65,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,66}}</string>
                <key>sourceSize</key>
                <string>{65,66}</string>
            </dict>
            <key>reg_enter_the_game</key>
            <dict>
                <key>frame</key>
                <string>{{846,87},{153,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,82}}</string>
                <key>sourceSize</key>
                <string>{153,82}</string>
            </dict>
            <key>reg_inputbtn</key>
            <dict>
                <key>frame</key>
                <string>{{909,226},{38,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{38,66}}</string>
                <key>sourceSize</key>
                <string>{38,68}</string>
            </dict>
            <key>reg_kuang_01</key>
            <dict>
                <key>frame</key>
                <string>{{0,704},{519,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{519,90}}</string>
                <key>sourceSize</key>
                <string>{519,90}</string>
            </dict>
            <key>reg_kuang_02</key>
            <dict>
                <key>frame</key>
                <string>{{0,613},{519,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{519,90}}</string>
                <key>sourceSize</key>
                <string>{519,90}</string>
            </dict>
            <key>reg_kuang_03</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{366,355}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{366,355}}</string>
                <key>sourceSize</key>
                <string>{366,355}</string>
            </dict>
            <key>reg_kuang_04</key>
            <dict>
                <key>frame</key>
                <string>{{903,170},{32,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,55}}</string>
                <key>sourceSize</key>
                <string>{32,55}</string>
            </dict>
            <key>reg_line_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,613},{300,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,300}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>server_full</key>
            <dict>
                <key>frame</key>
                <string>{{852,227},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>server_infobk</key>
            <dict>
                <key>frame</key>
                <string>{{305,914},{273,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{273,75}}</string>
                <key>sourceSize</key>
                <string>{273,75}</string>
            </dict>
            <key>server_new</key>
            <dict>
                <key>frame</key>
                <string>{{846,170},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>server_selected</key>
            <dict>
                <key>frame</key>
                <string>{{769,486},{248,49}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{248,49}}</string>
                <key>sourceSize</key>
                <string>{252,53}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>regist.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:df2a96e3068af833644bc3a564cfb706:9986ee59c59124e4d8f28d578a62c5a7:1d24713bf3f8f1c6defc11d34298e89f$</string>
            <key>textureFileName</key>
            <string>regist.pvr.ccz</string>
        </dict>
    </dict>
</plist>
