<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>reg_kuang_06</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{384,683}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,683}}</string>
                <key>sourceSize</key>
                <string>{384,683}</string>
            </dict>
            <key>reg_line_01</key>
            <dict>
                <key>frame</key>
                <string>{{386,0},{384,518}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,518}}</string>
                <key>sourceSize</key>
                <string>{384,518}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>regist_bk.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9a57b3a2fdff863e7f8de0d7d126286d:1/1$</string>
            <key>textureFileName</key>
            <string>regist_bk.pvr.ccz</string>
        </dict>
    </dict>
</plist>
