<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jinjie_suc</key>
            <dict>
                <key>frame</key>
                <string>{{539,912},{167,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,56}}</string>
                <key>sourceSize</key>
                <string>{167,56}</string>
            </dict>
            <key>reincarnation_010</key>
            <dict>
                <key>frame</key>
                <string>{{370,912},{167,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,56}}</string>
                <key>sourceSize</key>
                <string>{167,56}</string>
            </dict>
            <key>reincarnation_011</key>
            <dict>
                <key>frame</key>
                <string>{{0,912},{76,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,75}}</string>
                <key>sourceSize</key>
                <string>{76,75}</string>
            </dict>
            <key>reincarnation_016</key>
            <dict>
                <key>frame</key>
                <string>{{308,912},{60,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,61}}</string>
                <key>sourceSize</key>
                <string>{60,61}</string>
            </dict>
            <key>reincarnation_017</key>
            <dict>
                <key>frame</key>
                <string>{{243,912},{65,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,63}}</string>
                <key>sourceSize</key>
                <string>{65,63}</string>
            </dict>
            <key>reincarnation_018</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{686,910}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{686,910}}</string>
                <key>sourceSize</key>
                <string>{686,910}</string>
            </dict>
            <key>reincarnation_021</key>
            <dict>
                <key>frame</key>
                <string>{{835,169},{122,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{122,122}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>reincarnation_022</key>
            <dict>
                <key>frame</key>
                <string>{{708,169},{124,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{124,125}}</string>
                <key>sourceSize</key>
                <string>{128,129}</string>
            </dict>
            <key>reincarnation_023</key>
            <dict>
                <key>frame</key>
                <string>{{0,990},{142,33}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{142,33}}</string>
                <key>sourceSize</key>
                <string>{156,39}</string>
            </dict>
            <key>reincarnation_024</key>
            <dict>
                <key>frame</key>
                <string>{{77,912},{164,66}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{164,66}}</string>
                <key>sourceSize</key>
                <string>{172,74}</string>
            </dict>
            <key>reincarnation_025</key>
            <dict>
                <key>frame</key>
                <string>{{708,0},{258,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,167}}</string>
                <key>sourceSize</key>
                <string>{258,167}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>reincarnation.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a972fe441f0633f92f848a837d9288f4:1/1$</string>
            <key>textureFileName</key>
            <string>reincarnation.pvr.ccz</string>
        </dict>
    </dict>
</plist>
