<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jinjie_suc</key>
            <dict>
                <key>frame</key>
                <string>{{260,980},{167,22}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{167,22}}</string>
                <key>sourceSize</key>
                <string>{167,56}</string>
            </dict>
            <key>reincarnation_010</key>
            <dict>
                <key>frame</key>
                <string>{{489,912},{168,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,56}}</string>
                <key>sourceSize</key>
                <string>{168,56}</string>
            </dict>
            <key>reincarnation_011</key>
            <dict>
                <key>frame</key>
                <string>{{116,912},{76,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,75}}</string>
                <key>sourceSize</key>
                <string>{76,75}</string>
            </dict>
            <key>reincarnation_016</key>
            <dict>
                <key>frame</key>
                <string>{{424,912},{63,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,63}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
            <key>reincarnation_017</key>
            <dict>
                <key>frame</key>
                <string>{{359,912},{65,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,63}}</string>
                <key>sourceSize</key>
                <string>{65,63}</string>
            </dict>
            <key>reincarnation_018</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{686,910}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{686,910}}</string>
                <key>sourceSize</key>
                <string>{686,910}</string>
            </dict>
            <key>reincarnation_021</key>
            <dict>
                <key>frame</key>
                <string>{{814,789},{122,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{122,122}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>reincarnation_022</key>
            <dict>
                <key>frame</key>
                <string>{{688,789},{124,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{124,125}}</string>
                <key>sourceSize</key>
                <string>{128,129}</string>
            </dict>
            <key>reincarnation_023</key>
            <dict>
                <key>frame</key>
                <string>{{116,990},{142,33}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{142,33}}</string>
                <key>sourceSize</key>
                <string>{156,39}</string>
            </dict>
            <key>reincarnation_024</key>
            <dict>
                <key>frame</key>
                <string>{{193,912},{164,66}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{164,66}}</string>
                <key>sourceSize</key>
                <string>{172,74}</string>
            </dict>
            <key>reincarnation_025</key>
            <dict>
                <key>frame</key>
                <string>{{688,403},{258,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,167}}</string>
                <key>sourceSize</key>
                <string>{258,167}</string>
            </dict>
            <key>reincarnation_026</key>
            <dict>
                <key>frame</key>
                <string>{{688,572},{215,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,215}}</string>
                <key>sourceSize</key>
                <string>{215,215}</string>
            </dict>
            <key>reincarnation_027</key>
            <dict>
                <key>frame</key>
                <string>{{688,0},{282,401}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,401}}</string>
                <key>sourceSize</key>
                <string>{282,401}</string>
            </dict>
            <key>reincarnation_028</key>
            <dict>
                <key>frame</key>
                <string>{{0,912},{114,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,98}}</string>
                <key>sourceSize</key>
                <string>{114,98}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>reincarnation.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:588ecc2a417bef7d84c4de5ceb113e44:101f4929bf85044433fe8c5ffb421b56:a2a486b10818814336614d22bc8cbe2d$</string>
            <key>textureFileName</key>
            <string>reincarnation.pvr.ccz</string>
        </dict>
    </dict>
</plist>
