<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>run_0</key>
            <dict>
                <key>frame</key>
                <string>{{302,0},{91,194}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{91,194}}</string>
                <key>sourceSize</key>
                <string>{99,200}</string>
            </dict>
            <key>run_1</key>
            <dict>
                <key>frame</key>
                <string>{{168,324},{81,172}}</string>
                <key>offset</key>
                <string>{6,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{81,172}}</string>
                <key>sourceSize</key>
                <string>{99,200}</string>
            </dict>
            <key>run_2</key>
            <dict>
                <key>frame</key>
                <string>{{393,0},{91,186}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{91,186}}</string>
                <key>sourceSize</key>
                <string>{99,200}</string>
            </dict>
            <key>run_3</key>
            <dict>
                <key>frame</key>
                <string>{{85,150},{89,174}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,17},{89,174}}</string>
                <key>sourceSize</key>
                <string>{99,200}</string>
            </dict>
            <key>run_4</key>
            <dict>
                <key>frame</key>
                <string>{{0,194},{85,194}}</string>
                <key>offset</key>
                <string>{-7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{85,194}}</string>
                <key>sourceSize</key>
                <string>{99,200}</string>
            </dict>
            <key>run_5</key>
            <dict>
                <key>frame</key>
                <string>{{85,324},{83,174}}</string>
                <key>offset</key>
                <string>{-8,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,174}}</string>
                <key>sourceSize</key>
                <string>{99,200}</string>
            </dict>
            <key>run_6</key>
            <dict>
                <key>frame</key>
                <string>{{393,186},{91,184}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{91,184}}</string>
                <key>sourceSize</key>
                <string>{99,200}</string>
            </dict>
            <key>run_7</key>
            <dict>
                <key>frame</key>
                <string>{{393,186},{91,184}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{91,184}}</string>
                <key>sourceSize</key>
                <string>{99,200}</string>
            </dict>
            <key>run_8</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{302,150}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{302,150}}</string>
                <key>sourceSize</key>
                <string>{306,170}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>run_01.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b603adf4cac1d966a15a586c5a90d8bf:1/1$</string>
            <key>textureFileName</key>
            <string>run_01.pvr.ccz</string>
        </dict>
    </dict>
</plist>
