<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>corner</key>
            <dict>
                <key>frame</key>
                <string>{{933,30},{84,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,56}}</string>
                <key>sourceSize</key>
                <string>{84,56}</string>
            </dict>
            <key>restriction_tips</key>
            <dict>
                <key>frame</key>
                <string>{{672,0},{321,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{321,29}}</string>
                <key>sourceSize</key>
                <string>{321,29}</string>
            </dict>
            <key>stageGift_frame</key>
            <dict>
                <key>frame</key>
                <string>{{0,266},{371,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{371,32}}</string>
                <key>sourceSize</key>
                <string>{371,32}</string>
            </dict>
            <key>stageGift_icon</key>
            <dict>
                <key>frame</key>
                <string>{{672,30},{260,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,180}}</string>
                <key>sourceSize</key>
                <string>{260,180}</string>
            </dict>
            <key>zongzi_bg</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{671,265}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{671,265}}</string>
                <key>sourceSize</key>
                <string>{671,265}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>scattered.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b864f063b8f88c94241a0529af476946:1/1$</string>
            <key>textureFileName</key>
            <string>scattered.pvr.ccz</string>
        </dict>
    </dict>
</plist>
