<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>account_login</key>
            <dict>
                <key>frame</key>
                <string>{{679,77},{256,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,85}}</string>
                <key>sourceSize</key>
                <string>{256,85}</string>
            </dict>
            <key>create_an_account</key>
            <dict>
                <key>frame</key>
                <string>{{679,164},{248,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,85}}</string>
                <key>sourceSize</key>
                <string>{248,85}</string>
            </dict>
            <key>kuangda2</key>
            <dict>
                <key>frame</key>
                <string>{{368,966},{352,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{352,43}}</string>
                <key>sourceSize</key>
                <string>{352,43}</string>
            </dict>
            <key>reg_close_01</key>
            <dict>
                <key>frame</key>
                <string>{{929,183},{36,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,42}}</string>
                <key>sourceSize</key>
                <string>{36,42}</string>
            </dict>
            <key>reg_inputbtn</key>
            <dict>
                <key>frame</key>
                <string>{{954,0},{64,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,65}}</string>
                <key>sourceSize</key>
                <string>{64,65}</string>
            </dict>
            <key>reg_kuang_03</key>
            <dict>
                <key>frame</key>
                <string>{{0,966},{366,355}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{366,355}}</string>
                <key>sourceSize</key>
                <string>{366,355}</string>
            </dict>
            <key>server_full</key>
            <dict>
                <key>frame</key>
                <string>{{937,125},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>server_infobk</key>
            <dict>
                <key>frame</key>
                <string>{{679,0},{273,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{273,75}}</string>
                <key>sourceSize</key>
                <string>{273,75}</string>
            </dict>
            <key>server_listbk</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{677,964}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{677,964}}</string>
                <key>sourceSize</key>
                <string>{677,964}</string>
            </dict>
            <key>server_new</key>
            <dict>
                <key>frame</key>
                <string>{{954,67},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>server_selected</key>
            <dict>
                <key>frame</key>
                <string>{{679,251},{248,49}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{248,49}}</string>
                <key>sourceSize</key>
                <string>{252,53}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>serverselector.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b62ffff9efe1e78220bdd5c5bc2731a5:c8ef474d470e4acfcd366108a2c558f9:e8aa9aeead32cfb7d1f0567cc36c11b8$</string>
            <key>textureFileName</key>
            <string>serverselector.pvr.ccz</string>
        </dict>
    </dict>
</plist>
