<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>seven_arraw</key>
            <dict>
                <key>frame</key>
                <string>{{674,804},{52,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,61}}</string>
                <key>sourceSize</key>
                <string>{52,61}</string>
            </dict>
            <key>seven_arraw_gray</key>
            <dict>
                <key>frame</key>
                <string>{{634,904},{52,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,61}}</string>
                <key>sourceSize</key>
                <string>{52,61}</string>
            </dict>
            <key>seven_bg</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{343,468}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{343,468}}</string>
                <key>sourceSize</key>
                <string>{343,468}</string>
            </dict>
            <key>seven_bg_1</key>
            <dict>
                <key>frame</key>
                <string>{{0,826},{349,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{349,143}}</string>
                <key>sourceSize</key>
                <string>{349,143}</string>
            </dict>
            <key>seven_can_get</key>
            <dict>
                <key>frame</key>
                <string>{{350,826},{42,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,111}}</string>
                <key>sourceSize</key>
                <string>{42,111}</string>
            </dict>
            <key>seven_day_1</key>
            <dict>
                <key>frame</key>
                <string>{{393,815},{140,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,88}}</string>
                <key>sourceSize</key>
                <string>{140,88}</string>
            </dict>
            <key>seven_day_2</key>
            <dict>
                <key>frame</key>
                <string>{{884,89},{139,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,88}}</string>
                <key>sourceSize</key>
                <string>{139,88}</string>
            </dict>
            <key>seven_day_3</key>
            <dict>
                <key>frame</key>
                <string>{{884,0},{139,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,88}}</string>
                <key>sourceSize</key>
                <string>{139,88}</string>
            </dict>
            <key>seven_day_4</key>
            <dict>
                <key>frame</key>
                <string>{{585,357},{139,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,88}}</string>
                <key>sourceSize</key>
                <string>{139,88}</string>
            </dict>
            <key>seven_day_5</key>
            <dict>
                <key>frame</key>
                <string>{{534,815},{139,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,88}}</string>
                <key>sourceSize</key>
                <string>{139,88}</string>
            </dict>
            <key>seven_day_6</key>
            <dict>
                <key>frame</key>
                <string>{{494,904},{139,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,88}}</string>
                <key>sourceSize</key>
                <string>{139,88}</string>
            </dict>
            <key>seven_day_7</key>
            <dict>
                <key>frame</key>
                <string>{{445,357},{139,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,89}}</string>
                <key>sourceSize</key>
                <string>{139,89}</string>
            </dict>
            <key>seven_day_pic_1</key>
            <dict>
                <key>frame</key>
                <string>{{704,0},{179,356}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,356}}</string>
                <key>sourceSize</key>
                <string>{179,356}</string>
            </dict>
            <key>seven_day_pic_2</key>
            <dict>
                <key>frame</key>
                <string>{{540,447},{179,356}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,356}}</string>
                <key>sourceSize</key>
                <string>{179,356}</string>
            </dict>
            <key>seven_day_pic_3</key>
            <dict>
                <key>frame</key>
                <string>{{524,0},{179,356}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,356}}</string>
                <key>sourceSize</key>
                <string>{179,356}</string>
            </dict>
            <key>seven_day_pic_4</key>
            <dict>
                <key>frame</key>
                <string>{{360,458},{179,356}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,356}}</string>
                <key>sourceSize</key>
                <string>{179,356}</string>
            </dict>
            <key>seven_day_pic_5</key>
            <dict>
                <key>frame</key>
                <string>{{344,0},{179,356}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,356}}</string>
                <key>sourceSize</key>
                <string>{179,356}</string>
            </dict>
            <key>seven_day_pic_6</key>
            <dict>
                <key>frame</key>
                <string>{{180,469},{179,356}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,356}}</string>
                <key>sourceSize</key>
                <string>{179,356}</string>
            </dict>
            <key>seven_day_pic_7</key>
            <dict>
                <key>frame</key>
                <string>{{0,469},{179,356}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,356}}</string>
                <key>sourceSize</key>
                <string>{179,356}</string>
            </dict>
            <key>seven_done</key>
            <dict>
                <key>frame</key>
                <string>{{212,970},{32,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,31}}</string>
                <key>sourceSize</key>
                <string>{32,31}</string>
            </dict>
            <key>seven_frame_gray</key>
            <dict>
                <key>frame</key>
                <string>{{884,178},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>seven_frame_selected</key>
            <dict>
                <key>frame</key>
                <string>{{344,357},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>seven_got</key>
            <dict>
                <key>frame</key>
                <string>{{350,938},{143,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,84}}</string>
                <key>sourceSize</key>
                <string>{143,84}</string>
            </dict>
            <key>seven_goto</key>
            <dict>
                <key>frame</key>
                <string>{{45,970},{166,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,32}}</string>
                <key>sourceSize</key>
                <string>{166,32}</string>
            </dict>
            <key>seven_lock</key>
            <dict>
                <key>frame</key>
                <string>{{0,970},{44,54}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{44,54}}</string>
                <key>sourceSize</key>
                <string>{64,70}</string>
            </dict>
            <key>seven_not_done</key>
            <dict>
                <key>frame</key>
                <string>{{245,999},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>seven_spr_locked</key>
            <dict>
                <key>frame</key>
                <string>{{245,970},{83,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,28}}</string>
                <key>sourceSize</key>
                <string>{83,28}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>seven_day.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ff2b573f53c0761782d2e932f530f431:f1e2b93b4aeacb5ad2eb1a2eb776cd3b:a265b7ba65c36c34eef358a2a4c3b7cb$</string>
            <key>textureFileName</key>
            <string>seven_day.pvr.ccz</string>
        </dict>
    </dict>
</plist>
