<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>3NINJA</key>
            <dict>
                <key>frame</key>
                <string>{{351,526},{378,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,98}}</string>
                <key>sourceSize</key>
                <string>{378,98}</string>
            </dict>
            <key>=</key>
            <dict>
                <key>frame</key>
                <string>{{965,321},{33,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,22}}</string>
                <key>sourceSize</key>
                <string>{33,22}</string>
            </dict>
            <key>awardFrame</key>
            <dict>
                <key>frame</key>
                <string>{{930,250},{64,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,70}}</string>
                <key>sourceSize</key>
                <string>{64,70}</string>
            </dict>
            <key>bet</key>
            <dict>
                <key>frame</key>
                <string>{{670,814},{204,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,106}}</string>
                <key>sourceSize</key>
                <string>{204,106}</string>
            </dict>
            <key>blank</key>
            <dict>
                <key>frame</key>
                <string>{{930,344},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>border</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{350,750}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,750}}</string>
                <key>sourceSize</key>
                <string>{350,750}</string>
            </dict>
            <key>change</key>
            <dict>
                <key>frame</key>
                <string>{{861,921},{161,103}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{161,103}}</string>
                <key>sourceSize</key>
                <string>{161,105}</string>
            </dict>
            <key>frame</key>
            <dict>
                <key>frame</key>
                <string>{{351,0},{589,249}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{589,249}}</string>
                <key>sourceSize</key>
                <string>{589,249}</string>
            </dict>
            <key>itemFrame</key>
            <dict>
                <key>frame</key>
                <string>{{897,405},{106,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,113}}</string>
                <key>sourceSize</key>
                <string>{106,113}</string>
            </dict>
            <key>mask</key>
            <dict>
                <key>frame</key>
                <string>{{670,625},{164,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,188}}</string>
                <key>sourceSize</key>
                <string>{164,188}</string>
            </dict>
            <key>mask2</key>
            <dict>
                <key>frame</key>
                <string>{{351,405},{545,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{545,120}}</string>
                <key>sourceSize</key>
                <string>{545,120}</string>
            </dict>
            <key>score</key>
            <dict>
                <key>frame</key>
                <string>{{351,625},{233,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,92}}</string>
                <key>sourceSize</key>
                <string>{233,92}</string>
            </dict>
            <key>start</key>
            <dict>
                <key>frame</key>
                <string>{{835,619},{171,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,154}}</string>
                <key>sourceSize</key>
                <string>{171,154}</string>
            </dict>
            <key>tipsBg</key>
            <dict>
                <key>frame</key>
                <string>{{351,250},{578,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{578,154}}</string>
                <key>sourceSize</key>
                <string>{578,154}</string>
            </dict>
            <key>titleFrame</key>
            <dict>
                <key>frame</key>
                <string>{{0,751},{669,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{669,201}}</string>
                <key>sourceSize</key>
                <string>{669,201}</string>
            </dict>
            <key>total-bet</key>
            <dict>
                <key>frame</key>
                <string>{{670,921},{190,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,101}}</string>
                <key>sourceSize</key>
                <string>{190,101}</string>
            </dict>
            <key>win</key>
            <dict>
                <key>frame</key>
                <string>{{730,526},{233,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,92}}</string>
                <key>sourceSize</key>
                <string>{233,92}</string>
            </dict>
            <key>x</key>
            <dict>
                <key>frame</key>
                <string>{{930,321},{34,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,22}}</string>
                <key>sourceSize</key>
                <string>{34,22}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>slotMachine.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:67a68c5ff236af0e0c121bd089b24f35:48373498da18a7a1937b7b78d6c22431:82e3ba3fb0f05b3c14fd0742f205fb72$</string>
            <key>textureFileName</key>
            <string>slotMachine.pvr.ccz</string>
        </dict>
    </dict>
</plist>
