<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>baili_char014</key>
            <dict>
                <key>frame</key>
                <string>{{678,72},{168,70}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,70}}</string>
                <key>sourceSize</key>
                <string>{170,70}</string>
            </dict>
            <key>goodsinfo_05</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{676,206}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{676,206}}</string>
                <key>sourceSize</key>
                <string>{676,208}</string>
            </dict>
            <key>qianli_char014</key>
            <dict>
                <key>frame</key>
                <string>{{850,0},{170,70}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,70}}</string>
                <key>sourceSize</key>
                <string>{170,72}</string>
            </dict>
            <key>store_dec_01</key>
            <dict>
                <key>frame</key>
                <string>{{960,204},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>store_dec_02</key>
            <dict>
                <key>frame</key>
                <string>{{894,204},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>store_inc_01</key>
            <dict>
                <key>frame</key>
                <string>{{956,138},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>store_inc_02</key>
            <dict>
                <key>frame</key>
                <string>{{956,72},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>unframe_01</key>
            <dict>
                <key>frame</key>
                <string>{{786,180},{106,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,106}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>unframe_02</key>
            <dict>
                <key>frame</key>
                <string>{{678,144},{106,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,106}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>unframe_03</key>
            <dict>
                <key>frame</key>
                <string>{{848,72},{106,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,106}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>wanli_char014</key>
            <dict>
                <key>frame</key>
                <string>{{678,0},{170,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{170,70}}</string>
                <key>sourceSize</key>
                <string>{172,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>store.pvr.ccz</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8e68da7e74ccea922bccb8a16d15c3ae:1/1$</string>
            <key>textureFileName</key>
            <string>store.pvr.ccz</string>
        </dict>
    </dict>
</plist>
