<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>strengthen_28</key>
            <dict>
                <key>frame</key>
                <string>{{518,0},{191,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,191}}</string>
                <key>sourceSize</key>
                <string>{191,191}</string>
            </dict>
            <key>strengthen_29</key>
            <dict>
                <key>frame</key>
                <string>{{259,0},{257,255}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,255}}</string>
                <key>sourceSize</key>
                <string>{257,255}</string>
            </dict>
            <key>strengthen_30</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{257,255}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,255}}</string>
                <key>sourceSize</key>
                <string>{257,255}</string>
            </dict>
            <key>strengthen_31</key>
            <dict>
                <key>frame</key>
                <string>{{503,550},{105,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,105}}</string>
                <key>sourceSize</key>
                <string>{105,105}</string>
            </dict>
            <key>strengthen_32</key>
            <dict>
                <key>frame</key>
                <string>{{0,424},{121,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,122}}</string>
                <key>sourceSize</key>
                <string>{121,122}</string>
            </dict>
            <key>strengthen_35</key>
            <dict>
                <key>frame</key>
                <string>{{711,0},{181,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{181,183}}</string>
                <key>sourceSize</key>
                <string>{187,187}</string>
            </dict>
            <key>strengthen_37</key>
            <dict>
                <key>frame</key>
                <string>{{236,690},{116,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,116}}</string>
                <key>sourceSize</key>
                <string>{116,116}</string>
            </dict>
            <key>strengthen_38</key>
            <dict>
                <key>frame</key>
                <string>{{0,690},{122,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{122,122}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>strengthen_39</key>
            <dict>
                <key>frame</key>
                <string>{{892,254},{124,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{124,125}}</string>
                <key>sourceSize</key>
                <string>{128,129}</string>
            </dict>
            <key>strengthen_40</key>
            <dict>
                <key>frame</key>
                <string>{{123,424},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>strengthen_44</key>
            <dict>
                <key>frame</key>
                <string>{{711,185},{179,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{179,183}}</string>
                <key>sourceSize</key>
                <string>{183,185}</string>
            </dict>
            <key>strengthen_failure_01</key>
            <dict>
                <key>frame</key>
                <string>{{822,489},{50,51}}</string>
                <key>offset</key>
                <string>{-184,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,58},{50,51}}</string>
                <key>sourceSize</key>
                <string>{470,165}</string>
            </dict>
            <key>strengthen_failure_02</key>
            <dict>
                <key>frame</key>
                <string>{{503,657},{96,95}}</string>
                <key>offset</key>
                <string>{-183,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,38},{96,95}}</string>
                <key>sourceSize</key>
                <string>{470,165}</string>
            </dict>
            <key>strengthen_failure_03</key>
            <dict>
                <key>frame</key>
                <string>{{140,822},{106,117}}</string>
                <key>offset</key>
                <string>{-182,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{106,117}}</string>
                <key>sourceSize</key>
                <string>{470,165}</string>
            </dict>
            <key>strengthen_failure_04</key>
            <dict>
                <key>frame</key>
                <string>{{232,282},{110,109}}</string>
                <key>offset</key>
                <string>{-180,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,29},{110,109}}</string>
                <key>sourceSize</key>
                <string>{470,165}</string>
            </dict>
            <key>strengthen_failure_05</key>
            <dict>
                <key>frame</key>
                <string>{{0,282},{116,115}}</string>
                <key>offset</key>
                <string>{-177,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,27},{116,115}}</string>
                <key>sourceSize</key>
                <string>{470,165}</string>
            </dict>
            <key>strengthen_failure_06</key>
            <dict>
                <key>frame</key>
                <string>{{124,690},{110,119}}</string>
                <key>offset</key>
                <string>{-180,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{110,119}}</string>
                <key>sourceSize</key>
                <string>{470,165}</string>
            </dict>
            <key>strengthen_failure_07</key>
            <dict>
                <key>frame</key>
                <string>{{118,282},{112,113}}</string>
                <key>offset</key>
                <string>{-179,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{112,113}}</string>
                <key>sourceSize</key>
                <string>{470,165}</string>
            </dict>
            <key>strengthen_failure_08</key>
            <dict>
                <key>frame</key>
                <string>{{381,424},{122,117}}</string>
                <key>offset</key>
                <string>{-174,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{122,117}}</string>
                <key>sourceSize</key>
                <string>{470,165}</string>
            </dict>
            <key>strengthen_failure_09</key>
            <dict>
                <key>frame</key>
                <string>{{888,381},{136,115}}</string>
                <key>offset</key>
                <string>{-167,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,27},{136,115}}</string>
                <key>sourceSize</key>
                <string>{470,165}</string>
            </dict>
            <key>strengthen_failure_10</key>
            <dict>
                <key>frame</key>
                <string>{{510,268},{156,117}}</string>
                <key>offset</key>
                <string>{-157,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{156,117}}</string>
                <key>sourceSize</key>
                <string>{470,165}</string>
            </dict>
            <key>strengthen_failure_11</key>
            <dict>
                <key>frame</key>
                <string>{{822,407},{62,41}}</string>
                <key>offset</key>
                <string>{-60,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,64},{62,41}}</string>
                <key>sourceSize</key>
                <string>{470,165}</string>
            </dict>
            <key>strengthen_failure_12</key>
            <dict>
                <key>frame</key>
                <string>{{84,961},{96,49}}</string>
                <key>offset</key>
                <string>{-8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,60},{96,49}}</string>
                <key>sourceSize</key>
                <string>{470,165}</string>
            </dict>
            <key>strengthen_failure_13</key>
            <dict>
                <key>frame</key>
                <string>{{810,542},{42,51}}</string>
                <key>offset</key>
                <string>{42,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{256,58},{42,51}}</string>
                <key>sourceSize</key>
                <string>{470,165}</string>
            </dict>
            <key>strengthen_failure_14</key>
            <dict>
                <key>frame</key>
                <string>{{0,961},{82,51}}</string>
                <key>offset</key>
                <string>{73,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{267,58},{82,51}}</string>
                <key>sourceSize</key>
                <string>{470,165}</string>
            </dict>
            <key>strengthen_failure_15</key>
            <dict>
                <key>frame</key>
                <string>{{822,370},{64,35}}</string>
                <key>offset</key>
                <string>{76,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{279,67},{64,35}}</string>
                <key>sourceSize</key>
                <string>{470,165}</string>
            </dict>
            <key>strengthen_failure_16</key>
            <dict>
                <key>frame</key>
                <string>{{822,450},{58,37}}</string>
                <key>offset</key>
                <string>{83,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{289,65},{58,37}}</string>
                <key>sourceSize</key>
                <string>{470,165}</string>
            </dict>
            <key>strengthen_failure_17</key>
            <dict>
                <key>frame</key>
                <string>{{245,424},{134,119}}</string>
                <key>offset</key>
                <string>{149,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{317,23},{134,119}}</string>
                <key>sourceSize</key>
                <string>{470,165}</string>
            </dict>
            <key>strengthen_failure_18</key>
            <dict>
                <key>frame</key>
                <string>{{894,133},{126,119}}</string>
                <key>offset</key>
                <string>{153,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{325,24},{126,119}}</string>
                <key>sourceSize</key>
                <string>{470,165}</string>
            </dict>
            <key>strengthen_failure_19</key>
            <dict>
                <key>frame</key>
                <string>{{894,0},{126,131}}</string>
                <key>offset</key>
                <string>{154,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{326,20},{126,131}}</string>
                <key>sourceSize</key>
                <string>{470,165}</string>
            </dict>
            <key>strengthen_failure_20</key>
            <dict>
                <key>frame</key>
                <string>{{0,550},{118,137}}</string>
                <key>offset</key>
                <string>{143,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{319,16},{118,137}}</string>
                <key>sourceSize</key>
                <string>{470,165}</string>
            </dict>
            <key>strengthen_failure_21</key>
            <dict>
                <key>frame</key>
                <string>{{810,663},{138,157}}</string>
                <key>offset</key>
                <string>{160,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{326,6},{138,157}}</string>
                <key>sourceSize</key>
                <string>{470,165}</string>
            </dict>
            <key>strengthen_failure_22</key>
            <dict>
                <key>frame</key>
                <string>{{668,370},{152,165}}</string>
                <key>offset</key>
                <string>{154,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{313,0},{152,165}}</string>
                <key>sourceSize</key>
                <string>{470,165}</string>
            </dict>
            <key>strengthen_failure_23</key>
            <dict>
                <key>frame</key>
                <string>{{350,257},{158,165}}</string>
                <key>offset</key>
                <string>{151,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{307,0},{158,165}}</string>
                <key>sourceSize</key>
                <string>{470,165}</string>
            </dict>
            <key>strengthen_failure_24</key>
            <dict>
                <key>frame</key>
                <string>{{874,498},{144,163}}</string>
                <key>offset</key>
                <string>{157,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{320,0},{144,163}}</string>
                <key>sourceSize</key>
                <string>{470,165}</string>
            </dict>
            <key>strengthen_failure_25</key>
            <dict>
                <key>frame</key>
                <string>{{510,387},{152,161}}</string>
                <key>offset</key>
                <string>{159,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{318,4},{152,161}}</string>
                <key>sourceSize</key>
                <string>{470,165}</string>
            </dict>
            <key>strengthen_failure_26</key>
            <dict>
                <key>frame</key>
                <string>{{664,537},{144,151}}</string>
                <key>offset</key>
                <string>{159,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{322,12},{144,151}}</string>
                <key>sourceSize</key>
                <string>{470,165}</string>
            </dict>
            <key>strengthen_failure_27</key>
            <dict>
                <key>frame</key>
                <string>{{0,822},{138,137}}</string>
                <key>offset</key>
                <string>{157,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{323,16},{138,137}}</string>
                <key>sourceSize</key>
                <string>{470,165}</string>
            </dict>
            <key>strengthen_failure_28</key>
            <dict>
                <key>frame</key>
                <string>{{120,550},{134,131}}</string>
                <key>offset</key>
                <string>{155,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{323,19},{134,131}}</string>
                <key>sourceSize</key>
                <string>{470,165}</string>
            </dict>
            <key>strengthen_failure_29</key>
            <dict>
                <key>frame</key>
                <string>{{256,545},{120,119}}</string>
                <key>offset</key>
                <string>{158,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{333,25},{120,119}}</string>
                <key>sourceSize</key>
                <string>{470,165}</string>
            </dict>
            <key>strengthen_failure_30</key>
            <dict>
                <key>frame</key>
                <string>{{256,545},{120,119}}</string>
                <key>offset</key>
                <string>{158,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{333,25},{120,119}}</string>
                <key>sourceSize</key>
                <string>{470,165}</string>
            </dict>
            <key>strengthen_failure_31</key>
            <dict>
                <key>frame</key>
                <string>{{381,543},{120,119}}</string>
                <key>offset</key>
                <string>{158,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{333,25},{120,119}}</string>
                <key>sourceSize</key>
                <string>{470,165}</string>
            </dict>
            <key>strengthen_light_01</key>
            <dict>
                <key>frame</key>
                <string>{{175,257},{173,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{173,23}}</string>
                <key>sourceSize</key>
                <string>{175,25}</string>
            </dict>
            <key>strengthen_light_02</key>
            <dict>
                <key>frame</key>
                <string>{{0,257},{173,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{173,23}}</string>
                <key>sourceSize</key>
                <string>{175,25}</string>
            </dict>
            <key>strengthen_light_03</key>
            <dict>
                <key>frame</key>
                <string>{{518,243},{173,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{173,23}}</string>
                <key>sourceSize</key>
                <string>{175,25}</string>
            </dict>
            <key>strengthen_light_04</key>
            <dict>
                <key>frame</key>
                <string>{{518,218},{173,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{173,23}}</string>
                <key>sourceSize</key>
                <string>{175,25}</string>
            </dict>
            <key>strengthen_light_05</key>
            <dict>
                <key>frame</key>
                <string>{{518,193},{173,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{173,23}}</string>
                <key>sourceSize</key>
                <string>{175,25}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>strength1.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3c6da5c52f6fe9ce03381b4d892ec75c:04f9d60b52cce2a683e3351b0b3503fc:152122fa27504f96ec564dce68fd3e1a$</string>
            <key>textureFileName</key>
            <string>strength1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
