<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>superninja_bg01</key>
            <dict>
                <key>frame</key>
                <string>{{0,487},{378,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,342}}</string>
                <key>sourceSize</key>
                <string>{378,342}</string>
            </dict>
            <key>superninja_bg02</key>
            <dict>
                <key>frame</key>
                <string>{{574,487},{344,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{344,270}}</string>
                <key>sourceSize</key>
                <string>{344,270}</string>
            </dict>
            <key>superninja_bg03</key>
            <dict>
                <key>frame</key>
                <string>{{695,0},{254,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,172}}</string>
                <key>sourceSize</key>
                <string>{254,172}</string>
            </dict>
            <key>superninja_bg04</key>
            <dict>
                <key>frame</key>
                <string>{{695,174},{233,311}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,311}}</string>
                <key>sourceSize</key>
                <string>{233,311}</string>
            </dict>
            <key>superninja_bk01</key>
            <dict>
                <key>frame</key>
                <string>{{951,0},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>superninja_bk02</key>
            <dict>
                <key>frame</key>
                <string>{{995,0},{29,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,29}}</string>
                <key>sourceSize</key>
                <string>{29,29}</string>
            </dict>
            <key>superninja_bk03</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{693,312}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{693,312}}</string>
                <key>sourceSize</key>
                <string>{693,312}</string>
            </dict>
            <key>superninja_btn_free</key>
            <dict>
                <key>frame</key>
                <string>{{148,314},{146,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,148}}</string>
                <key>sourceSize</key>
                <string>{146,148}</string>
            </dict>
            <key>superninja_btn_gold</key>
            <dict>
                <key>frame</key>
                <string>{{0,314},{146,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,148}}</string>
                <key>sourceSize</key>
                <string>{146,148}</string>
            </dict>
            <key>superninja_btn_info</key>
            <dict>
                <key>frame</key>
                <string>{{296,314},{98,119}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,119}}</string>
                <key>sourceSize</key>
                <string>{98,121}</string>
            </dict>
            <key>superninja_buttonNext</key>
            <dict>
                <key>frame</key>
                <string>{{930,272},{82,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,96}}</string>
                <key>sourceSize</key>
                <string>{82,96}</string>
            </dict>
            <key>superninja_buttonPre</key>
            <dict>
                <key>frame</key>
                <string>{{930,174},{82,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,96}}</string>
                <key>sourceSize</key>
                <string>{82,96}</string>
            </dict>
            <key>superninja_lefttime</key>
            <dict>
                <key>frame</key>
                <string>{{520,389},{155,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{155,23}}</string>
                <key>sourceSize</key>
                <string>{157,31}</string>
            </dict>
            <key>superninja_myrank</key>
            <dict>
                <key>frame</key>
                <string>{{520,414},{120,27}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{120,27}}</string>
                <key>sourceSize</key>
                <string>{122,33}</string>
            </dict>
            <key>superninja_myscore</key>
            <dict>
                <key>frame</key>
                <string>{{396,389},{122,31}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{122,31}}</string>
                <key>sourceSize</key>
                <string>{122,33}</string>
            </dict>
            <key>superninja_rank</key>
            <dict>
                <key>frame</key>
                <string>{{296,435},{155,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{155,31}}</string>
                <key>sourceSize</key>
                <string>{155,35}</string>
            </dict>
            <key>superninja_reward</key>
            <dict>
                <key>frame</key>
                <string>{{453,467},{119,27}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{119,27}}</string>
                <key>sourceSize</key>
                <string>{125,35}</string>
            </dict>
            <key>superninja_title</key>
            <dict>
                <key>frame</key>
                <string>{{453,443},{182,22}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{182,22}}</string>
                <key>sourceSize</key>
                <string>{182,38}</string>
            </dict>
            <key>superninja_titlebg</key>
            <dict>
                <key>frame</key>
                <string>{{453,314},{218,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,73}}</string>
                <key>sourceSize</key>
                <string>{218,73}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>superninja.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5b4c2c8ebb42a8bd1b28d1d2ad012ae6:ea55b9dab62b00218bc3239b4b15cd79:b3ceff5c4855bbc1e4e387689d5ff435$</string>
            <key>textureFileName</key>
            <string>superninja.pvr.ccz</string>
        </dict>
    </dict>
</plist>
