<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tc_Contrast lineup_01</key>
            <dict>
                <key>frame</key>
                <string>{{0,306},{131,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,33}}</string>
                <key>sourceSize</key>
                <string>{131,33}</string>
            </dict>
            <key>tc_Contrast lineup_02</key>
            <dict>
                <key>frame</key>
                <string>{{263,70},{145,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,53}}</string>
                <key>sourceSize</key>
                <string>{145,53}</string>
            </dict>
            <key>tc_Contrast lineup_03</key>
            <dict>
                <key>frame</key>
                <string>{{263,125},{143,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,49}}</string>
                <key>sourceSize</key>
                <string>{143,49}</string>
            </dict>
            <key>tc_Contrast lineup_09</key>
            <dict>
                <key>frame</key>
                <string>{{0,269},{134,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,35}}</string>
                <key>sourceSize</key>
                <string>{134,35}</string>
            </dict>
            <key>tc_close</key>
            <dict>
                <key>frame</key>
                <string>{{410,70},{65,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,33}}</string>
                <key>sourceSize</key>
                <string>{65,33}</string>
            </dict>
            <key>tc_line_bk</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{509,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{509,68}}</string>
                <key>sourceSize</key>
                <string>{509,68}</string>
            </dict>
            <key>tc_shop_09</key>
            <dict>
                <key>frame</key>
                <string>{{96,70},{165,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,95}}</string>
                <key>sourceSize</key>
                <string>{165,95}</string>
            </dict>
            <key>tc_shop_10</key>
            <dict>
                <key>frame</key>
                <string>{{0,172},{165,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,95}}</string>
                <key>sourceSize</key>
                <string>{165,95}</string>
            </dict>
            <key>tc_vs</key>
            <dict>
                <key>frame</key>
                <string>{{0,70},{94,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,100}}</string>
                <key>sourceSize</key>
                <string>{94,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>teamcompare.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:926bad54538374ce2293826d7bdf22c4:1/1$</string>
            <key>textureFileName</key>
            <string>teamcompare.pvr.ccz</string>
        </dict>
    </dict>
</plist>
