<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>textures_nvshen_12</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{295,620}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{295,620}}</string>
                <key>sourceSize</key>
                <string>{295,620}</string>
            </dict>
            <key>textures_nvshen_12_1</key>
            <dict>
                <key>frame</key>
                <string>{{0,622},{17,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,10}}</string>
                <key>sourceSize</key>
                <string>{17,10}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>textures_nvshen_12.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:73d839dbde13b060ef914870ee874534:49e201992fc2737d7ac562d69c7afc58:b003b018145c394b959f541084c8e217$</string>
            <key>textureFileName</key>
            <string>textures_nvshen_12.pvr.ccz</string>
        </dict>
    </dict>
</plist>
