<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>textures_nvshen_10</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{443,584}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,18},{443,584}}</string>
                <key>sourceSize</key>
                <string>{469,620}</string>
            </dict>
            <key>textures_nvshen_10_1</key>
            <dict>
                <key>frame</key>
                <string>{{0,586},{15,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,11}}</string>
                <key>sourceSize</key>
                <string>{15,11}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>textures_nvshen_10.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ed067f48300ef0a44876fe97611e2d6e:1/1$</string>
            <key>textureFileName</key>
            <string>textures_nvshen_10.pvr.ccz</string>
        </dict>
    </dict>
</plist>
