<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>textures_nvshen_14</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{218,620}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,620}}</string>
                <key>sourceSize</key>
                <string>{218,620}</string>
            </dict>
            <key>textures_nvshen_14_1</key>
            <dict>
                <key>frame</key>
                <string>{{0,622},{26,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,20}}</string>
                <key>sourceSize</key>
                <string>{26,20}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>textures_nvshen_14.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bf9233855d4edd000f6b925980ef1874:9e2a651504a6bbb8c021993e55ad1912:dcd675e5e70a40ce9578c9777fd55006$</string>
            <key>textureFileName</key>
            <string>textures_nvshen_14.pvr.ccz</string>
        </dict>
    </dict>
</plist>
