<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>textures_1_0</key>
            <dict>
                <key>frame</key>
                <string>{{0,384},{108,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,110}}</string>
                <key>sourceSize</key>
                <string>{108,110}</string>
            </dict>
            <key>textures_1_1</key>
            <dict>
                <key>frame</key>
                <string>{{110,384},{102,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,109}}</string>
                <key>sourceSize</key>
                <string>{102,109}</string>
            </dict>
            <key>textures_1_2</key>
            <dict>
                <key>frame</key>
                <string>{{304,144},{97,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,111}}</string>
                <key>sourceSize</key>
                <string>{97,111}</string>
            </dict>
            <key>textures_1_3</key>
            <dict>
                <key>frame</key>
                <string>{{0,272},{109,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,110}}</string>
                <key>sourceSize</key>
                <string>{109,110}</string>
            </dict>
            <key>textures_1_4</key>
            <dict>
                <key>frame</key>
                <string>{{304,243},{245,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,109}}</string>
                <key>sourceSize</key>
                <string>{245,109}</string>
            </dict>
            <key>textures_1_5.</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{302,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{302,270}}</string>
                <key>sourceSize</key>
                <string>{302,270}</string>
            </dict>
            <key>textures_1_6</key>
            <dict>
                <key>frame</key>
                <string>{{304,0},{154,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,142}}</string>
                <key>sourceSize</key>
                <string>{154,142}</string>
            </dict>
            <key>textures_1_7</key>
            <dict>
                <key>frame</key>
                <string>{{417,144},{60,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,80}}</string>
                <key>sourceSize</key>
                <string>{60,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>textures_1.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7c5fe1b85220933ef7f95f617b3db756:1/1$</string>
            <key>textureFileName</key>
            <string>textures_1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
