<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>beat_tower</key>
            <dict>
                <key>frame</key>
                <string>{{684,272},{154,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,104}}</string>
                <key>sourceSize</key>
                <string>{154,104}</string>
            </dict>
            <key>boss_tower</key>
            <dict>
                <key>frame</key>
                <string>{{912,297},{82,42}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{82,42}}</string>
                <key>sourceSize</key>
                <string>{88,52}</string>
            </dict>
            <key>boss_words_frame</key>
            <dict>
                <key>frame</key>
                <string>{{584,187},{98,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,189}}</string>
                <key>sourceSize</key>
                <string>{98,189}</string>
            </dict>
            <key>flag_left_tower</key>
            <dict>
                <key>frame</key>
                <string>{{839,691},{37,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,43}}</string>
                <key>sourceSize</key>
                <string>{37,43}</string>
            </dict>
            <key>flag_up_tower</key>
            <dict>
                <key>frame</key>
                <string>{{948,471},{43,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,37}}</string>
                <key>sourceSize</key>
                <string>{43,37}</string>
            </dict>
            <key>info_bk_tower</key>
            <dict>
                <key>frame</key>
                <string>{{584,378},{411,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{411,41}}</string>
                <key>sourceSize</key>
                <string>{411,41}</string>
            </dict>
            <key>level_tower</key>
            <dict>
                <key>frame</key>
                <string>{{840,324},{70,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,50}}</string>
                <key>sourceSize</key>
                <string>{70,50}</string>
            </dict>
            <key>lock_tower</key>
            <dict>
                <key>frame</key>
                <string>{{840,272},{70,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,50}}</string>
                <key>sourceSize</key>
                <string>{70,50}</string>
            </dict>
            <key>pass_tower</key>
            <dict>
                <key>frame</key>
                <string>{{944,133},{71,51}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,51}}</string>
                <key>sourceSize</key>
                <string>{71,53}</string>
            </dict>
            <key>towerViewTitle</key>
            <dict>
                <key>frame</key>
                <string>{{684,214},{226,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,56}}</string>
                <key>sourceSize</key>
                <string>{226,56}</string>
            </dict>
            <key>tower_003</key>
            <dict>
                <key>frame</key>
                <string>{{584,551},{162,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,164}}</string>
                <key>sourceSize</key>
                <string>{162,164}</string>
            </dict>
            <key>tower_004</key>
            <dict>
                <key>frame</key>
                <string>{{748,633},{89,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,87}}</string>
                <key>sourceSize</key>
                <string>{89,87}</string>
            </dict>
            <key>tower_boss_info_10</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{685,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{685,185}}</string>
                <key>sourceSize</key>
                <string>{685,185}</string>
            </dict>
            <key>tower_boss_info_bk</key>
            <dict>
                <key>frame</key>
                <string>{{948,421},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{48,48}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>tower_rank_1</key>
            <dict>
                <key>frame</key>
                <string>{{687,133},{255,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,33}}</string>
                <key>sourceSize</key>
                <string>{255,33}</string>
            </dict>
            <key>tower_rank_10</key>
            <dict>
                <key>frame</key>
                <string>{{0,652},{582,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{582,153}}</string>
                <key>sourceSize</key>
                <string>{582,153}</string>
            </dict>
            <key>tower_rank_11</key>
            <dict>
                <key>frame</key>
                <string>{{0,497},{582,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{582,153}}</string>
                <key>sourceSize</key>
                <string>{582,153}</string>
            </dict>
            <key>tower_rank_12</key>
            <dict>
                <key>frame</key>
                <string>{{0,342},{582,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{582,153}}</string>
                <key>sourceSize</key>
                <string>{582,153}</string>
            </dict>
            <key>tower_rank_2</key>
            <dict>
                <key>frame</key>
                <string>{{687,168},{239,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,44}}</string>
                <key>sourceSize</key>
                <string>{239,44}</string>
            </dict>
            <key>tower_rank_23</key>
            <dict>
                <key>frame</key>
                <string>{{912,268},{97,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,27}}</string>
                <key>sourceSize</key>
                <string>{97,27}</string>
            </dict>
            <key>tower_rank_3</key>
            <dict>
                <key>frame</key>
                <string>{{687,0},{334,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{334,131}}</string>
                <key>sourceSize</key>
                <string>{334,131}</string>
            </dict>
            <key>tower_rank_4_1</key>
            <dict>
                <key>frame</key>
                <string>{{766,486},{180,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,63}}</string>
                <key>sourceSize</key>
                <string>{180,63}</string>
            </dict>
            <key>tower_rank_4_2</key>
            <dict>
                <key>frame</key>
                <string>{{584,486},{180,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,63}}</string>
                <key>sourceSize</key>
                <string>{180,63}</string>
            </dict>
            <key>tower_rank_5_1</key>
            <dict>
                <key>frame</key>
                <string>{{766,421},{180,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,63}}</string>
                <key>sourceSize</key>
                <string>{180,63}</string>
            </dict>
            <key>tower_rank_5_2</key>
            <dict>
                <key>frame</key>
                <string>{{584,421},{180,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,63}}</string>
                <key>sourceSize</key>
                <string>{180,63}</string>
            </dict>
            <key>tower_rank_9</key>
            <dict>
                <key>frame</key>
                <string>{{0,187},{582,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{582,153}}</string>
                <key>sourceSize</key>
                <string>{582,153}</string>
            </dict>
            <key>tower_rank_gold_number_1</key>
            <dict>
                <key>frame</key>
                <string>{{846,551},{96,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,80}}</string>
                <key>sourceSize</key>
                <string>{96,80}</string>
            </dict>
            <key>tower_rank_gold_number_2</key>
            <dict>
                <key>frame</key>
                <string>{{748,551},{96,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,80}}</string>
                <key>sourceSize</key>
                <string>{96,80}</string>
            </dict>
            <key>tower_rank_gold_number_3</key>
            <dict>
                <key>frame</key>
                <string>{{928,186},{96,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,80}}</string>
                <key>sourceSize</key>
                <string>{96,80}</string>
            </dict>
            <key>tower_rank_number_0</key>
            <dict>
                <key>frame</key>
                <string>{{880,633},{39,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,56}}</string>
                <key>sourceSize</key>
                <string>{39,56}</string>
            </dict>
            <key>tower_rank_number_1</key>
            <dict>
                <key>frame</key>
                <string>{{997,297},{27,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,56}}</string>
                <key>sourceSize</key>
                <string>{27,56}</string>
            </dict>
            <key>tower_rank_number_2</key>
            <dict>
                <key>frame</key>
                <string>{{961,684},{37,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,56}}</string>
                <key>sourceSize</key>
                <string>{37,56}</string>
            </dict>
            <key>tower_rank_number_3</key>
            <dict>
                <key>frame</key>
                <string>{{839,633},{39,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,56}}</string>
                <key>sourceSize</key>
                <string>{39,56}</string>
            </dict>
            <key>tower_rank_number_4</key>
            <dict>
                <key>frame</key>
                <string>{{921,684},{38,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,56}}</string>
                <key>sourceSize</key>
                <string>{38,56}</string>
            </dict>
            <key>tower_rank_number_5</key>
            <dict>
                <key>frame</key>
                <string>{{985,626},{39,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,56}}</string>
                <key>sourceSize</key>
                <string>{39,56}</string>
            </dict>
            <key>tower_rank_number_6</key>
            <dict>
                <key>frame</key>
                <string>{{944,626},{39,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,56}}</string>
                <key>sourceSize</key>
                <string>{39,56}</string>
            </dict>
            <key>tower_rank_number_7</key>
            <dict>
                <key>frame</key>
                <string>{{985,568},{39,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,56}}</string>
                <key>sourceSize</key>
                <string>{39,56}</string>
            </dict>
            <key>tower_rank_number_8</key>
            <dict>
                <key>frame</key>
                <string>{{944,568},{39,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,56}}</string>
                <key>sourceSize</key>
                <string>{39,56}</string>
            </dict>
            <key>tower_rank_number_9</key>
            <dict>
                <key>frame</key>
                <string>{{948,510},{39,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,56}}</string>
                <key>sourceSize</key>
                <string>{39,56}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tower_ui.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:138dcad84283ac24981a69635f7e95be:870a9347e3825aa75aa11e1e16c4575c:cb178dfa14dbcdb1f72bf06c63b7af90$</string>
            <key>textureFileName</key>
            <string>tower_ui.pvr.ccz</string>
        </dict>
    </dict>
</plist>
