<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>trainsoul_17</key>
            <dict>
                <key>frame</key>
                <string>{{689,0},{244,287}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,287}}</string>
                <key>sourceSize</key>
                <string>{244,287}</string>
            </dict>
            <key>trainsoul_19</key>
            <dict>
                <key>frame</key>
                <string>{{197,499},{162,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,101}}</string>
                <key>sourceSize</key>
                <string>{162,101}</string>
            </dict>
            <key>trainsoul_21</key>
            <dict>
                <key>frame</key>
                <string>{{387,302},{198,200}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,200}}</string>
                <key>sourceSize</key>
                <string>{200,202}</string>
            </dict>
            <key>trainsoul_22</key>
            <dict>
                <key>frame</key>
                <string>{{0,712},{154,152}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,152}}</string>
                <key>sourceSize</key>
                <string>{156,154}</string>
            </dict>
            <key>trainsoul_23</key>
            <dict>
                <key>frame</key>
                <string>{{0,333},{195,196}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{195,196}}</string>
                <key>sourceSize</key>
                <string>{199,206}</string>
            </dict>
            <key>trainsoul_24</key>
            <dict>
                <key>frame</key>
                <string>{{387,0},{300,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,300}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>trainsoul_25</key>
            <dict>
                <key>frame</key>
                <string>{{197,333},{164,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{164,164}}</string>
                <key>sourceSize</key>
                <string>{166,166}</string>
            </dict>
            <key>trainsoul_26</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{385,331}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,4},{385,331}}</string>
                <key>sourceSize</key>
                <string>{409,335}</string>
            </dict>
            <key>trainsoul_27</key>
            <dict>
                <key>frame</key>
                <string>{{689,289},{229,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{229,218}}</string>
                <key>sourceSize</key>
                <string>{233,224}</string>
            </dict>
            <key>trainsoul_4</key>
            <dict>
                <key>frame</key>
                <string>{{0,531},{157,179}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{157,179}}</string>
                <key>sourceSize</key>
                <string>{163,185}</string>
            </dict>
            <key>trainsoul_6</key>
            <dict>
                <key>frame</key>
                <string>{{935,0},{71,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,71}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>train_soul_animation.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:94db131955831e109b9758a9e474d85b:1/1$</string>
            <key>textureFileName</key>
            <string>train_soul_animation.pvr.ccz</string>
        </dict>
    </dict>
</plist>
