<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>turntable_bk</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{688,1024}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{688,1024}}</string>
                <key>sourceSize</key>
                <string>{688,1024}</string>
            </dict>
            <key>turntable_bk_02</key>
            <dict>
                <key>frame</key>
                <string>{{690,102},{688,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{688,90}}</string>
                <key>sourceSize</key>
                <string>{688,90}</string>
            </dict>
            <key>turntable_bk_03</key>
            <dict>
                <key>frame</key>
                <string>{{905,0},{688,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{688,90}}</string>
                <key>sourceSize</key>
                <string>{688,90}</string>
            </dict>
            <key>turntable_bk_05</key>
            <dict>
                <key>frame</key>
                <string>{{690,0},{213,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,100}}</string>
                <key>sourceSize</key>
                <string>{213,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>turntable_bg.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:66627fb39421680e682cce2c8cca9a78:18a1e040bd9db69a7c5f6bf9b7014685:ece35eeb132c5595972702dfb5ad17e7$</string>
            <key>textureFileName</key>
            <string>turntable_bg.pvr.ccz</string>
        </dict>
    </dict>
</plist>
