<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>turntable_01</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{542,251}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{542,251}}</string>
                <key>sourceSize</key>
                <string>{542,251}</string>
            </dict>
            <key>turntable_02</key>
            <dict>
                <key>frame</key>
                <string>{{793,82},{160,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,39}}</string>
                <key>sourceSize</key>
                <string>{160,39}</string>
            </dict>
            <key>turntable_03</key>
            <dict>
                <key>frame</key>
                <string>{{793,123},{142,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,70}}</string>
                <key>sourceSize</key>
                <string>{142,70}</string>
            </dict>
            <key>turntable_04</key>
            <dict>
                <key>frame</key>
                <string>{{544,243},{103,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{103,103}}</string>
                <key>sourceSize</key>
                <string>{109,109}</string>
            </dict>
            <key>turntable_05</key>
            <dict>
                <key>frame</key>
                <string>{{955,84},{62,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{62,61}}</string>
                <key>sourceSize</key>
                <string>{64,63}</string>
            </dict>
            <key>turntable_06</key>
            <dict>
                <key>frame</key>
                <string>{{904,195},{26,38}}</string>
                <key>offset</key>
                <string>{-35,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,59},{26,38}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turntable_07</key>
            <dict>
                <key>frame</key>
                <string>{{904,195},{26,38}}</string>
                <key>offset</key>
                <string>{-35,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,59},{26,38}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turntable_08</key>
            <dict>
                <key>frame</key>
                <string>{{937,147},{78,96}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{78,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turntable_09</key>
            <dict>
                <key>frame</key>
                <string>{{937,147},{78,96}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{78,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turntable_10</key>
            <dict>
                <key>frame</key>
                <string>{{649,243},{94,94}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{94,94}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turntable_11</key>
            <dict>
                <key>frame</key>
                <string>{{649,243},{94,94}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{94,94}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turntable_12</key>
            <dict>
                <key>frame</key>
                <string>{{932,245},{74,96}}</string>
                <key>offset</key>
                <string>{11,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,1},{74,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turntable_13</key>
            <dict>
                <key>frame</key>
                <string>{{932,245},{74,96}}</string>
                <key>offset</key>
                <string>{11,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,1},{74,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turntable_14</key>
            <dict>
                <key>frame</key>
                <string>{{970,0},{52,82}}</string>
                <key>offset</key>
                <string>{22,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,1},{52,82}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turntable_15</key>
            <dict>
                <key>frame</key>
                <string>{{970,0},{52,82}}</string>
                <key>offset</key>
                <string>{22,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,1},{52,82}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turntable_16</key>
            <dict>
                <key>frame</key>
                <string>{{745,243},{40,60}}</string>
                <key>offset</key>
                <string>{29,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,1},{40,60}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turntable_18</key>
            <dict>
                <key>frame</key>
                <string>{{745,243},{40,60}}</string>
                <key>offset</key>
                <string>{29,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,1},{40,60}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turntable_20</key>
            <dict>
                <key>frame</key>
                <string>{{904,235},{26,36}}</string>
                <key>offset</key>
                <string>{35,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,1},{26,36}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turntable_21</key>
            <dict>
                <key>frame</key>
                <string>{{793,41},{175,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,39}}</string>
                <key>sourceSize</key>
                <string>{175,39}</string>
            </dict>
            <key>turntable_22</key>
            <dict>
                <key>frame</key>
                <string>{{793,0},{175,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,39}}</string>
                <key>sourceSize</key>
                <string>{175,39}</string>
            </dict>
            <key>turntable_bk_04</key>
            <dict>
                <key>frame</key>
                <string>{{544,0},{241,247}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{241,247}}</string>
                <key>sourceSize</key>
                <string>{245,249}</string>
            </dict>
            <key>turntable_buton</key>
            <dict>
                <key>frame</key>
                <string>{{793,195},{109,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,56}}</string>
                <key>sourceSize</key>
                <string>{109,56}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>turntable.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:91318287deae1dcc32711bc5ac694cdd:20d6640e9a75f1e9fd1a164f1899d0fd:4e38b8f1394d3651e376237f765c5fc8$</string>
            <key>textureFileName</key>
            <string>turntable.pvr.ccz</string>
        </dict>
    </dict>
</plist>
