<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Resident_bk_001</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{372,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,233}}</string>
                <key>sourceSize</key>
                <string>{372,233}</string>
            </dict>
            <key>Resident_bk_002</key>
            <dict>
                <key>frame</key>
                <string>{{450,946},{76,78}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{76,78}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>Resident_bk_003</key>
            <dict>
                <key>frame</key>
                <string>{{626,601},{53,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,53}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>big_down_inlay_frame1</key>
            <dict>
                <key>frame</key>
                <string>{{125,451},{113,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,163}}</string>
                <key>sourceSize</key>
                <string>{113,163}</string>
            </dict>
            <key>big_down_inlay_frame2</key>
            <dict>
                <key>frame</key>
                <string>{{114,721},{113,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,163}}</string>
                <key>sourceSize</key>
                <string>{113,163}</string>
            </dict>
            <key>big_down_inlay_frame3</key>
            <dict>
                <key>frame</key>
                <string>{{0,721},{113,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,163}}</string>
                <key>sourceSize</key>
                <string>{113,163}</string>
            </dict>
            <key>big_dragon1</key>
            <dict>
                <key>frame</key>
                <string>{{807,0},{216,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{216,119}}</string>
                <key>sourceSize</key>
                <string>{216,123}</string>
            </dict>
            <key>big_dragon2</key>
            <dict>
                <key>frame</key>
                <string>{{590,0},{216,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{216,119}}</string>
                <key>sourceSize</key>
                <string>{216,123}</string>
            </dict>
            <key>big_dragon3</key>
            <dict>
                <key>frame</key>
                <string>{{373,0},{216,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{216,119}}</string>
                <key>sourceSize</key>
                <string>{216,123}</string>
            </dict>
            <key>big_top_inlay_frame1</key>
            <dict>
                <key>frame</key>
                <string>{{0,525},{124,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,195}}</string>
                <key>sourceSize</key>
                <string>{124,195}</string>
            </dict>
            <key>big_top_inlay_frame2</key>
            <dict>
                <key>frame</key>
                <string>{{0,309},{124,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,215}}</string>
                <key>sourceSize</key>
                <string>{124,215}</string>
            </dict>
            <key>big_top_inlay_frame3</key>
            <dict>
                <key>frame</key>
                <string>{{177,234},{124,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,215}}</string>
                <key>sourceSize</key>
                <string>{124,215}</string>
            </dict>
            <key>cards_level_big_1</key>
            <dict>
                <key>frame</key>
                <string>{{302,436},{30,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,13}}</string>
                <key>sourceSize</key>
                <string>{30,13}</string>
            </dict>
            <key>cards_level_big_10</key>
            <dict>
                <key>frame</key>
                <string>{{342,815},{35,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,37}}</string>
                <key>sourceSize</key>
                <string>{35,37}</string>
            </dict>
            <key>cards_level_big_11</key>
            <dict>
                <key>frame</key>
                <string>{{794,936},{32,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,45}}</string>
                <key>sourceSize</key>
                <string>{32,45}</string>
            </dict>
            <key>cards_level_big_12</key>
            <dict>
                <key>frame</key>
                <string>{{761,936},{32,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,50}}</string>
                <key>sourceSize</key>
                <string>{32,50}</string>
            </dict>
            <key>cards_level_big_13</key>
            <dict>
                <key>frame</key>
                <string>{{719,776},{29,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,52}}</string>
                <key>sourceSize</key>
                <string>{29,52}</string>
            </dict>
            <key>cards_level_big_14</key>
            <dict>
                <key>frame</key>
                <string>{{677,689},{29,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,52}}</string>
                <key>sourceSize</key>
                <string>{29,52}</string>
            </dict>
            <key>cards_level_big_15</key>
            <dict>
                <key>frame</key>
                <string>{{736,849},{28,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,52}}</string>
                <key>sourceSize</key>
                <string>{28,52}</string>
            </dict>
            <key>cards_level_big_2</key>
            <dict>
                <key>frame</key>
                <string>{{721,993},{31,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,23}}</string>
                <key>sourceSize</key>
                <string>{31,23}</string>
            </dict>
            <key>cards_level_big_3</key>
            <dict>
                <key>frame</key>
                <string>{{436,581},{31,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,27}}</string>
                <key>sourceSize</key>
                <string>{31,27}</string>
            </dict>
            <key>cards_level_big_4</key>
            <dict>
                <key>frame</key>
                <string>{{530,404},{30,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,27}}</string>
                <key>sourceSize</key>
                <string>{30,27}</string>
            </dict>
            <key>cards_level_big_5</key>
            <dict>
                <key>frame</key>
                <string>{{332,584},{30,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,29}}</string>
                <key>sourceSize</key>
                <string>{30,29}</string>
            </dict>
            <key>cards_level_big_6</key>
            <dict>
                <key>frame</key>
                <string>{{301,584},{30,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,29}}</string>
                <key>sourceSize</key>
                <string>{30,29}</string>
            </dict>
            <key>cards_level_big_7</key>
            <dict>
                <key>frame</key>
                <string>{{405,581},{30,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,28}}</string>
                <key>sourceSize</key>
                <string>{30,28}</string>
            </dict>
            <key>cards_level_big_8</key>
            <dict>
                <key>frame</key>
                <string>{{270,584},{30,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,29}}</string>
                <key>sourceSize</key>
                <string>{30,29}</string>
            </dict>
            <key>cards_level_big_9</key>
            <dict>
                <key>frame</key>
                <string>{{239,584},{30,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,29}}</string>
                <key>sourceSize</key>
                <string>{30,29}</string>
            </dict>
            <key>cards_level_big_frame</key>
            <dict>
                <key>frame</key>
                <string>{{577,945},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>cards_level_small_1</key>
            <dict>
                <key>frame</key>
                <string>{{333,436},{21,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,10}}</string>
                <key>sourceSize</key>
                <string>{21,10}</string>
            </dict>
            <key>cards_level_small_10</key>
            <dict>
                <key>frame</key>
                <string>{{561,404},{24,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,25}}</string>
                <key>sourceSize</key>
                <string>{24,25}</string>
            </dict>
            <key>cards_level_small_11</key>
            <dict>
                <key>frame</key>
                <string>{{363,581},{22,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,31}}</string>
                <key>sourceSize</key>
                <string>{22,31}</string>
            </dict>
            <key>cards_level_small_12</key>
            <dict>
                <key>frame</key>
                <string>{{378,815},{22,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,34}}</string>
                <key>sourceSize</key>
                <string>{22,34}</string>
            </dict>
            <key>cards_level_small_13</key>
            <dict>
                <key>frame</key>
                <string>{{386,581},{18,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,31}}</string>
                <key>sourceSize</key>
                <string>{18,31}</string>
            </dict>
            <key>cards_level_small_14</key>
            <dict>
                <key>frame</key>
                <string>{{442,812},{18,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,34}}</string>
                <key>sourceSize</key>
                <string>{18,34}</string>
            </dict>
            <key>cards_level_small_15</key>
            <dict>
                <key>frame</key>
                <string>{{749,786},{19,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,33}}</string>
                <key>sourceSize</key>
                <string>{19,33}</string>
            </dict>
            <key>cards_level_small_2</key>
            <dict>
                <key>frame</key>
                <string>{{577,1006},{21,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,18}}</string>
                <key>sourceSize</key>
                <string>{21,18}</string>
            </dict>
            <key>cards_level_small_3</key>
            <dict>
                <key>frame</key>
                <string>{{742,829},{22,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,19}}</string>
                <key>sourceSize</key>
                <string>{22,19}</string>
            </dict>
            <key>cards_level_small_4</key>
            <dict>
                <key>frame</key>
                <string>{{719,829},{22,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,19}}</string>
                <key>sourceSize</key>
                <string>{22,19}</string>
            </dict>
            <key>cards_level_small_5</key>
            <dict>
                <key>frame</key>
                <string>{{680,629},{21,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,20}}</string>
                <key>sourceSize</key>
                <string>{21,20}</string>
            </dict>
            <key>cards_level_small_6</key>
            <dict>
                <key>frame</key>
                <string>{{609,404},{22,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,20}}</string>
                <key>sourceSize</key>
                <string>{22,20}</string>
            </dict>
            <key>cards_level_small_7</key>
            <dict>
                <key>frame</key>
                <string>{{632,404},{21,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,20}}</string>
                <key>sourceSize</key>
                <string>{21,20}</string>
            </dict>
            <key>cards_level_small_8</key>
            <dict>
                <key>frame</key>
                <string>{{586,404},{22,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,20}}</string>
                <key>sourceSize</key>
                <string>{22,20}</string>
            </dict>
            <key>cards_level_small_9</key>
            <dict>
                <key>frame</key>
                <string>{{753,993},{21,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,22}}</string>
                <key>sourceSize</key>
                <string>{21,22}</string>
            </dict>
            <key>cards_level_small_frame</key>
            <dict>
                <key>frame</key>
                <string>{{401,812},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>middle_down_inlay_frame1</key>
            <dict>
                <key>frame</key>
                <string>{{527,946},{49,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,70}}</string>
                <key>sourceSize</key>
                <string>{49,70}</string>
            </dict>
            <key>middle_down_inlay_frame2</key>
            <dict>
                <key>frame</key>
                <string>{{125,380},{49,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,70}}</string>
                <key>sourceSize</key>
                <string>{49,70}</string>
            </dict>
            <key>middle_down_inlay_frame3</key>
            <dict>
                <key>frame</key>
                <string>{{125,309},{49,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,70}}</string>
                <key>sourceSize</key>
                <string>{49,70}</string>
            </dict>
            <key>middle_dragon1</key>
            <dict>
                <key>frame</key>
                <string>{{608,787},{110,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{110,61}}</string>
                <key>sourceSize</key>
                <string>{110,63}</string>
            </dict>
            <key>middle_dragon2</key>
            <dict>
                <key>frame</key>
                <string>{{339,959},{110,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{110,61}}</string>
                <key>sourceSize</key>
                <string>{110,63}</string>
            </dict>
            <key>middle_dragon3</key>
            <dict>
                <key>frame</key>
                <string>{{228,959},{110,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{110,61}}</string>
                <key>sourceSize</key>
                <string>{110,63}</string>
            </dict>
            <key>middle_top_inlay_frame1</key>
            <dict>
                <key>frame</key>
                <string>{{624,849},{55,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,90}}</string>
                <key>sourceSize</key>
                <string>{55,90}</string>
            </dict>
            <key>middle_top_inlay_frame2</key>
            <dict>
                <key>frame</key>
                <string>{{342,719},{55,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,95}}</string>
                <key>sourceSize</key>
                <string>{55,95}</string>
            </dict>
            <key>middle_top_inlay_frame3</key>
            <dict>
                <key>frame</key>
                <string>{{680,849},{55,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,86}}</string>
                <key>sourceSize</key>
                <string>{55,86}</string>
            </dict>
            <key>small_box01</key>
            <dict>
                <key>frame</key>
                <string>{{333,854},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>small_box02</key>
            <dict>
                <key>frame</key>
                <string>{{228,854},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>small_box03</key>
            <dict>
                <key>frame</key>
                <string>{{530,299},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>small_box04</key>
            <dict>
                <key>frame</key>
                <string>{{335,614},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>small_box05</key>
            <dict>
                <key>frame</key>
                <string>{{230,615},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>small_box06</key>
            <dict>
                <key>frame</key>
                <string>{{125,615},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>small_box_skill_01</key>
            <dict>
                <key>frame</key>
                <string>{{584,694},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>small_box_skill_02</key>
            <dict>
                <key>frame</key>
                <string>{{533,601},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>small_box_skill_03</key>
            <dict>
                <key>frame</key>
                <string>{{531,852},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>small_box_skill_04</key>
            <dict>
                <key>frame</key>
                <string>{{491,702},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>small_box_skill_05</key>
            <dict>
                <key>frame</key>
                <string>{{440,609},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>small_box_skill_06</key>
            <dict>
                <key>frame</key>
                <string>{{438,853},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>small_down_inlay_frame1</key>
            <dict>
                <key>frame</key>
                <string>{{602,544},{39,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,56}}</string>
                <key>sourceSize</key>
                <string>{39,56}</string>
            </dict>
            <key>small_down_inlay_frame2</key>
            <dict>
                <key>frame</key>
                <string>{{581,487},{39,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,56}}</string>
                <key>sourceSize</key>
                <string>{39,56}</string>
            </dict>
            <key>small_down_inlay_frame3</key>
            <dict>
                <key>frame</key>
                <string>{{581,430},{39,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,56}}</string>
                <key>sourceSize</key>
                <string>{39,56}</string>
            </dict>
            <key>small_icon_frame_01</key>
            <dict>
                <key>frame</key>
                <string>{{467,433},{113,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,133}}</string>
                <key>sourceSize</key>
                <string>{113,133}</string>
            </dict>
            <key>small_icon_frame_02</key>
            <dict>
                <key>frame</key>
                <string>{{416,299},{113,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,133}}</string>
                <key>sourceSize</key>
                <string>{113,133}</string>
            </dict>
            <key>small_icon_frame_03</key>
            <dict>
                <key>frame</key>
                <string>{{353,447},{113,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,133}}</string>
                <key>sourceSize</key>
                <string>{113,133}</string>
            </dict>
            <key>small_icon_frame_04</key>
            <dict>
                <key>frame</key>
                <string>{{302,302},{113,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,133}}</string>
                <key>sourceSize</key>
                <string>{113,133}</string>
            </dict>
            <key>small_icon_frame_05</key>
            <dict>
                <key>frame</key>
                <string>{{239,450},{113,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,133}}</string>
                <key>sourceSize</key>
                <string>{113,133}</string>
            </dict>
            <key>small_icon_frame_06</key>
            <dict>
                <key>frame</key>
                <string>{{228,720},{113,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,133}}</string>
                <key>sourceSize</key>
                <string>{113,133}</string>
            </dict>
            <key>small_icon_frame_clickadd</key>
            <dict>
                <key>frame</key>
                <string>{{114,885},{113,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,133}}</string>
                <key>sourceSize</key>
                <string>{113,133}</string>
            </dict>
            <key>small_icon_frame_logo</key>
            <dict>
                <key>frame</key>
                <string>{{638,940},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>small_icon_frame_nosprite</key>
            <dict>
                <key>frame</key>
                <string>{{0,885},{113,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,133}}</string>
                <key>sourceSize</key>
                <string>{113,133}</string>
            </dict>
            <key>small_no_obj_frame</key>
            <dict>
                <key>frame</key>
                <string>{{398,719},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>small_top_inlay_frame1</key>
            <dict>
                <key>frame</key>
                <string>{{721,936},{39,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,56}}</string>
                <key>sourceSize</key>
                <string>{39,56}</string>
            </dict>
            <key>small_top_inlay_frame2</key>
            <dict>
                <key>frame</key>
                <string>{{568,795},{39,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,56}}</string>
                <key>sourceSize</key>
                <string>{39,56}</string>
            </dict>
            <key>small_top_inlay_frame3</key>
            <dict>
                <key>frame</key>
                <string>{{528,795},{39,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,56}}</string>
                <key>sourceSize</key>
                <string>{39,56}</string>
            </dict>
            <key>vip_001</key>
            <dict>
                <key>frame</key>
                <string>{{0,234},{176,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,74}}</string>
                <key>sourceSize</key>
                <string>{176,74}</string>
            </dict>
            <key>vip_002</key>
            <dict>
                <key>frame</key>
                <string>{{373,120},{212,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,178}}</string>
                <key>sourceSize</key>
                <string>{212,178}</string>
            </dict>
            <key>vip_003</key>
            <dict>
                <key>frame</key>
                <string>{{749,752},{66,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,33}}</string>
                <key>sourceSize</key>
                <string>{66,33}</string>
            </dict>
            <key>vip_004</key>
            <dict>
                <key>frame</key>
                <string>{{744,718},{66,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,33}}</string>
                <key>sourceSize</key>
                <string>{66,33}</string>
            </dict>
            <key>vip_005</key>
            <dict>
                <key>frame</key>
                <string>{{707,684},{66,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,33}}</string>
                <key>sourceSize</key>
                <string>{66,33}</string>
            </dict>
            <key>vip_006</key>
            <dict>
                <key>frame</key>
                <string>{{693,650},{66,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,33}}</string>
                <key>sourceSize</key>
                <string>{66,33}</string>
            </dict>
            <key>vip_007</key>
            <dict>
                <key>frame</key>
                <string>{{680,595},{66,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,33}}</string>
                <key>sourceSize</key>
                <string>{66,33}</string>
            </dict>
            <key>vip_008</key>
            <dict>
                <key>frame</key>
                <string>{{642,561},{66,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,33}}</string>
                <key>sourceSize</key>
                <string>{66,33}</string>
            </dict>
            <key>vip_009</key>
            <dict>
                <key>frame</key>
                <string>{{642,527},{66,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,33}}</string>
                <key>sourceSize</key>
                <string>{66,33}</string>
            </dict>
            <key>vip_010</key>
            <dict>
                <key>frame</key>
                <string>{{621,493},{66,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,33}}</string>
                <key>sourceSize</key>
                <string>{66,33}</string>
            </dict>
            <key>vip_011</key>
            <dict>
                <key>frame</key>
                <string>{{621,459},{66,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,33}}</string>
                <key>sourceSize</key>
                <string>{66,33}</string>
            </dict>
            <key>vip_012</key>
            <dict>
                <key>frame</key>
                <string>{{621,425},{66,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,33}}</string>
                <key>sourceSize</key>
                <string>{66,33}</string>
            </dict>
            <key>vip_013</key>
            <dict>
                <key>frame</key>
                <string>{{775,987},{66,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,33}}</string>
                <key>sourceSize</key>
                <string>{66,33}</string>
            </dict>
            <key>vip_014</key>
            <dict>
                <key>frame</key>
                <string>{{736,902},{66,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,33}}</string>
                <key>sourceSize</key>
                <string>{66,33}</string>
            </dict>
            <key>vip_015</key>
            <dict>
                <key>frame</key>
                <string>{{677,742},{66,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,33}}</string>
                <key>sourceSize</key>
                <string>{66,33}</string>
            </dict>
            <key>vip_s_13</key>
            <dict>
                <key>frame</key>
                <string>{{626,655},{66,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,33}}</string>
                <key>sourceSize</key>
                <string>{66,33}</string>
            </dict>
            <key>vip_s_14</key>
            <dict>
                <key>frame</key>
                <string>{{535,567},{66,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,33}}</string>
                <key>sourceSize</key>
                <string>{66,33}</string>
            </dict>
            <key>vip_s_15</key>
            <dict>
                <key>frame</key>
                <string>{{468,567},{66,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,33}}</string>
                <key>sourceSize</key>
                <string>{66,33}</string>
            </dict>
            <key>vip_s_16</key>
            <dict>
                <key>frame</key>
                <string>{{461,812},{66,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,33}}</string>
                <key>sourceSize</key>
                <string>{66,33}</string>
            </dict>
            <key>vip_s_17</key>
            <dict>
                <key>frame</key>
                <string>{{302,268},{66,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,33}}</string>
                <key>sourceSize</key>
                <string>{66,33}</string>
            </dict>
            <key>vip_s_18</key>
            <dict>
                <key>frame</key>
                <string>{{302,234},{66,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,33}}</string>
                <key>sourceSize</key>
                <string>{66,33}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Resident_2.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dfe0f1978286572936e5c8bba64d748e:1/1$</string>
            <key>textureFileName</key>
            <string>Resident_2.png</string>
        </dict>
    </dict>
</plist>
