<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cb_country_01</key>
            <dict>
                <key>frame</key>
                <string>{{867,755},{94,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,38}}</string>
                <key>sourceSize</key>
                <string>{94,38}</string>
            </dict>
            <key>cb_country_02</key>
            <dict>
                <key>frame</key>
                <string>{{882,716},{94,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,38}}</string>
                <key>sourceSize</key>
                <string>{94,38}</string>
            </dict>
            <key>cb_country_03</key>
            <dict>
                <key>frame</key>
                <string>{{772,759},{94,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,38}}</string>
                <key>sourceSize</key>
                <string>{94,38}</string>
            </dict>
            <key>cb_country_04</key>
            <dict>
                <key>frame</key>
                <string>{{772,720},{94,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,38}}</string>
                <key>sourceSize</key>
                <string>{94,38}</string>
            </dict>
            <key>cb_country_05</key>
            <dict>
                <key>frame</key>
                <string>{{322,734},{94,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,38}}</string>
                <key>sourceSize</key>
                <string>{94,38}</string>
            </dict>
            <key>combat_btn01</key>
            <dict>
                <key>frame</key>
                <string>{{140,792},{118,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,95}}</string>
                <key>sourceSize</key>
                <string>{118,95}</string>
            </dict>
            <key>combat_btn02</key>
            <dict>
                <key>frame</key>
                <string>{{140,888},{118,93}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{118,93}}</string>
                <key>sourceSize</key>
                <string>{118,95}</string>
            </dict>
            <key>core_combat_01</key>
            <dict>
                <key>frame</key>
                <string>{{11,0},{685,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{685,53}}</string>
                <key>sourceSize</key>
                <string>{685,53}</string>
            </dict>
            <key>core_combat_02</key>
            <dict>
                <key>frame</key>
                <string>{{350,912},{147,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,33}}</string>
                <key>sourceSize</key>
                <string>{147,33}</string>
            </dict>
            <key>core_combat_03</key>
            <dict>
                <key>frame</key>
                <string>{{350,878},{150,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,33}}</string>
                <key>sourceSize</key>
                <string>{150,33}</string>
            </dict>
            <key>core_combat_04</key>
            <dict>
                <key>frame</key>
                <string>{{11,575},{128,393}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,393}}</string>
                <key>sourceSize</key>
                <string>{128,393}</string>
            </dict>
            <key>core_combat_05</key>
            <dict>
                <key>frame</key>
                <string>{{865,0},{128,393}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,393}}</string>
                <key>sourceSize</key>
                <string>{128,393}</string>
            </dict>
            <key>core_combat_06</key>
            <dict>
                <key>frame</key>
                <string>{{600,54},{132,396}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,396}}</string>
                <key>sourceSize</key>
                <string>{132,396}</string>
            </dict>
            <key>core_combat_07</key>
            <dict>
                <key>frame</key>
                <string>{{198,54},{135,399}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,399}}</string>
                <key>sourceSize</key>
                <string>{135,399}</string>
            </dict>
            <key>core_combat_08</key>
            <dict>
                <key>frame</key>
                <string>{{467,54},{132,396}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,396}}</string>
                <key>sourceSize</key>
                <string>{132,396}</string>
            </dict>
            <key>core_combat_09</key>
            <dict>
                <key>frame</key>
                <string>{{334,54},{132,396}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,396}}</string>
                <key>sourceSize</key>
                <string>{132,396}</string>
            </dict>
            <key>core_combat_10</key>
            <dict>
                <key>frame</key>
                <string>{{733,0},{131,396}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,396}}</string>
                <key>sourceSize</key>
                <string>{131,396}</string>
            </dict>
            <key>core_combat_11</key>
            <dict>
                <key>frame</key>
                <string>{{62,54},{135,399}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,399}}</string>
                <key>sourceSize</key>
                <string>{135,399}</string>
            </dict>
            <key>core_combat_12</key>
            <dict>
                <key>frame</key>
                <string>{{417,730},{145,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,45}}</string>
                <key>sourceSize</key>
                <string>{145,45}</string>
            </dict>
            <key>core_combat_13</key>
            <dict>
                <key>frame</key>
                <string>{{992,394},{16,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,342}}</string>
                <key>sourceSize</key>
                <string>{16,342}</string>
            </dict>
            <key>core_combat_14</key>
            <dict>
                <key>frame</key>
                <string>{{777,397},{90,254}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,254}}</string>
                <key>sourceSize</key>
                <string>{90,254}</string>
            </dict>
            <key>core_combat_15</key>
            <dict>
                <key>frame</key>
                <string>{{140,508},{90,283}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,283}}</string>
                <key>sourceSize</key>
                <string>{90,283}</string>
            </dict>
            <key>core_combat_16</key>
            <dict>
                <key>frame</key>
                <string>{{413,467},{90,262}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,262}}</string>
                <key>sourceSize</key>
                <string>{90,262}</string>
            </dict>
            <key>core_combat_17</key>
            <dict>
                <key>frame</key>
                <string>{{259,777},{90,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,244}}</string>
                <key>sourceSize</key>
                <string>{90,244}</string>
            </dict>
            <key>core_combat_18</key>
            <dict>
                <key>frame</key>
                <string>{{322,467},{90,266}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,266}}</string>
                <key>sourceSize</key>
                <string>{90,266}</string>
            </dict>
            <key>core_combat_19</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{10,800}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,800}}</string>
                <key>sourceSize</key>
                <string>{10,800}</string>
            </dict>
            <key>core_combat_20</key>
            <dict>
                <key>frame</key>
                <string>{{686,708},{85,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,60}}</string>
                <key>sourceSize</key>
                <string>{85,60}</string>
            </dict>
            <key>core_combat_21</key>
            <dict>
                <key>frame</key>
                <string>{{11,54},{50,520}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,520}}</string>
                <key>sourceSize</key>
                <string>{50,520}</string>
            </dict>
            <key>core_combat_22</key>
            <dict>
                <key>frame</key>
                <string>{{350,830},{305,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{305,15}}</string>
                <key>sourceSize</key>
                <string>{305,15}</string>
            </dict>
            <key>core_combat_23</key>
            <dict>
                <key>frame</key>
                <string>{{350,862},{177,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,15}}</string>
                <key>sourceSize</key>
                <string>{177,15}</string>
            </dict>
            <key>core_combat_24</key>
            <dict>
                <key>frame</key>
                <string>{{498,944},{120,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,48}}</string>
                <key>sourceSize</key>
                <string>{120,48}</string>
            </dict>
            <key>core_combat_25</key>
            <dict>
                <key>frame</key>
                <string>{{501,895},{120,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,48}}</string>
                <key>sourceSize</key>
                <string>{120,48}</string>
            </dict>
            <key>core_combat_26</key>
            <dict>
                <key>frame</key>
                <string>{{528,846},{120,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,48}}</string>
                <key>sourceSize</key>
                <string>{120,48}</string>
            </dict>
            <key>core_combat_27</key>
            <dict>
                <key>frame</key>
                <string>{{350,946},{120,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,48}}</string>
                <key>sourceSize</key>
                <string>{120,48}</string>
            </dict>
            <key>core_combat_28</key>
            <dict>
                <key>frame</key>
                <string>{{0,969},{120,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,48}}</string>
                <key>sourceSize</key>
                <string>{120,48}</string>
            </dict>
            <key>core_combat_29</key>
            <dict>
                <key>frame</key>
                <string>{{882,641},{75,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,74}}</string>
                <key>sourceSize</key>
                <string>{75,74}</string>
            </dict>
            <key>core_combat_30</key>
            <dict>
                <key>frame</key>
                <string>{{121,982},{126,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,40}}</string>
                <key>sourceSize</key>
                <string>{126,40}</string>
            </dict>
            <key>core_combat_31</key>
            <dict>
                <key>frame</key>
                <string>{{595,467},{90,257}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,257}}</string>
                <key>sourceSize</key>
                <string>{90,257}</string>
            </dict>
            <key>core_combat_32</key>
            <dict>
                <key>frame</key>
                <string>{{868,394},{90,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,246}}</string>
                <key>sourceSize</key>
                <string>{90,246}</string>
            </dict>
            <key>core_combat_33</key>
            <dict>
                <key>frame</key>
                <string>{{504,467},{90,260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,260}}</string>
                <key>sourceSize</key>
                <string>{90,260}</string>
            </dict>
            <key>core_combat_34</key>
            <dict>
                <key>frame</key>
                <string>{{686,451},{90,256}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{90,256}}</string>
                <key>sourceSize</key>
                <string>{90,258}</string>
            </dict>
            <key>core_combat_35</key>
            <dict>
                <key>frame</key>
                <string>{{231,508},{90,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,268}}</string>
                <key>sourceSize</key>
                <string>{90,268}</string>
            </dict>
            <key>core_combat_36</key>
            <dict>
                <key>frame</key>
                <string>{{350,776},{215,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,53}}</string>
                <key>sourceSize</key>
                <string>{215,53}</string>
            </dict>
            <key>core_combat_37</key>
            <dict>
                <key>frame</key>
                <string>{{62,454},{216,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,53}}</string>
                <key>sourceSize</key>
                <string>{216,53}</string>
            </dict>
            <key>core_combat_38</key>
            <dict>
                <key>frame</key>
                <string>{{994,0},{16,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,342}}</string>
                <key>sourceSize</key>
                <string>{16,342}</string>
            </dict>
            <key>core_combat_39</key>
            <dict>
                <key>frame</key>
                <string>{{334,451},{305,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{305,15}}</string>
                <key>sourceSize</key>
                <string>{305,15}</string>
            </dict>
            <key>core_combat_40</key>
            <dict>
                <key>frame</key>
                <string>{{350,846},{177,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,15}}</string>
                <key>sourceSize</key>
                <string>{177,15}</string>
            </dict>
            <key>core_combat_41</key>
            <dict>
                <key>frame</key>
                <string>{{959,394},{32,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,237}}</string>
                <key>sourceSize</key>
                <string>{32,237}</string>
            </dict>
            <key>core_combat_42</key>
            <dict>
                <key>frame</key>
                <string>{{777,652},{104,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,67}}</string>
                <key>sourceSize</key>
                <string>{104,67}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>core_combat.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f798eb44c12516ec0c25e62521ca3ea6:1/1$</string>
            <key>textureFileName</key>
            <string>core_combat.pvr.ccz</string>
        </dict>
    </dict>
</plist>
