<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blood_01</key>
            <dict>
                <key>frame</key>
                <string>{{260,948},{110,54}}</string>
                <key>offset</key>
                <string>{6,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,36},{110,54}}</string>
                <key>sourceSize</key>
                <string>{150,98}</string>
            </dict>
            <key>blood_02</key>
            <dict>
                <key>frame</key>
                <string>{{158,956},{100,56}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,35},{100,56}}</string>
                <key>sourceSize</key>
                <string>{150,98}</string>
            </dict>
            <key>blood_03</key>
            <dict>
                <key>frame</key>
                <string>{{38,956},{118,66}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,29},{118,66}}</string>
                <key>sourceSize</key>
                <string>{150,98}</string>
            </dict>
            <key>blood_04</key>
            <dict>
                <key>frame</key>
                <string>{{38,874},{134,80}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,9},{134,80}}</string>
                <key>sourceSize</key>
                <string>{150,98}</string>
            </dict>
            <key>blood_05</key>
            <dict>
                <key>frame</key>
                <string>{{174,874},{140,72}}</string>
                <key>offset</key>
                <string>{-3,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{140,72}}</string>
                <key>sourceSize</key>
                <string>{150,98}</string>
            </dict>
            <key>daoguang_01</key>
            <dict>
                <key>frame</key>
                <string>{{0,874},{36,104}}</string>
                <key>offset</key>
                <string>{-94,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,198},{36,104}}</string>
                <key>sourceSize</key>
                <string>{280,360}</string>
            </dict>
            <key>daoguang_02</key>
            <dict>
                <key>frame</key>
                <string>{{98,342},{56,196}}</string>
                <key>offset</key>
                <string>{-99,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,119},{56,196}}</string>
                <key>sourceSize</key>
                <string>{280,360}</string>
            </dict>
            <key>daoguang_03</key>
            <dict>
                <key>frame</key>
                <string>{{0,630},{268,242}}</string>
                <key>offset</key>
                <string>{4,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,3},{268,242}}</string>
                <key>sourceSize</key>
                <string>{280,360}</string>
            </dict>
            <key>daoguang_04</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{232,340}}</string>
                <key>offset</key>
                <string>{20,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,0},{232,340}}</string>
                <key>sourceSize</key>
                <string>{280,360}</string>
            </dict>
            <key>daoguang_05</key>
            <dict>
                <key>frame</key>
                <string>{{0,342},{96,286}}</string>
                <key>offset</key>
                <string>{90,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,74},{96,286}}</string>
                <key>sourceSize</key>
                <string>{280,360}</string>
            </dict>
            <key>daoguang_06</key>
            <dict>
                <key>frame</key>
                <string>{{156,342},{48,184}}</string>
                <key>offset</key>
                <string>{112,-88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,176},{48,184}}</string>
                <key>sourceSize</key>
                <string>{280,360}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>daoguang.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:579c12cf0dce8e79255260368a94f035:1/1$</string>
            <key>textureFileName</key>
            <string>daoguang.pvr.ccz</string>
        </dict>
    </dict>
</plist>
