<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>big_props_017</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{250,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,19},{250,218}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>big_props_017.pvr.ccz</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bbc597edfc0170c9198c171e2c65e6d2:8a379acbe014f24aa37065bd8b232cb4:82df6519cfffbacbe9beeaef5c771d17$</string>
            <key>textureFileName</key>
            <string>big_props_017.pvr.ccz</string>
        </dict>
    </dict>
</plist>
