<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>big_props_143</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{231,246}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,10},{231,246}}</string>
                <key>sourceSize</key>
                <string>{259,264}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>big_props_143.pvr.ccz</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a895c9c521d2b39289509ede6741ec9a:0fe92c22ce7573474523aca9db097221:7c5376f1d878d7e36c6b27b60437ab64$</string>
            <key>textureFileName</key>
            <string>big_props_143.pvr.ccz</string>
        </dict>
    </dict>
</plist>
