<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>big_props_012</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{256,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,48},{256,160}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>big_props_012.pvr.ccz</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1872652fbd09fc56934fc362be554293:bcb1b097ec94661e52562caf0ef8501c:3ff738d0bc66b63626549bdad31dab25$</string>
            <key>textureFileName</key>
            <string>big_props_012.pvr.ccz</string>
        </dict>
    </dict>
</plist>
