<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>big_props_122</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{234,206}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,25},{234,206}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>big_props_122.pvr.ccz</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:123de9dcee7fb9de48a99742755dc853:f4e4e9d7d113eff6c49ba3d0cec1534c:7e416e99bbc4ab09b2b20cc98de10ea3$</string>
            <key>textureFileName</key>
            <string>big_props_122.pvr.ccz</string>
        </dict>
    </dict>
</plist>
