<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>big_props_115</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{242,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{242,252}}</string>
                <key>sourceSize</key>
                <string>{256,252}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>big_props_115.pvr.ccz</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f5ec8762efd798bd84bb0874a6f5ff3b:e202366a5ece3e01f6e6d269ff21af89:5e197d7387910b3f8e0b0226bdb46810$</string>
            <key>textureFileName</key>
            <string>big_props_115.pvr.ccz</string>
        </dict>
    </dict>
</plist>
