<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>big_props_014</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{226,226}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,15},{226,226}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>big_props_014.pvr.ccz</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9ce978d46f8e0d1ce46d2181e946e069:57ceecc66ca7c8679455f4d2d5252b3c:40fb48b879466724ed6f21d8ce1fdcbf$</string>
            <key>textureFileName</key>
            <string>big_props_014.pvr.ccz</string>
        </dict>
    </dict>
</plist>
