<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>big_props_020</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{216,206}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,24},{216,206}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>big_props_020.pvr.ccz</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e458fba9d747d1cb2477c5b0a3672126:01073f98d9ab48e37901ae57dd586454:6aab1f155540503e25720f3e3c2c7c57$</string>
            <key>textureFileName</key>
            <string>big_props_020.pvr.ccz</string>
        </dict>
    </dict>
</plist>
