<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>props_322</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>props_322.pvr.ccz</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dae3fa3d7a73d3dc44df85fb96654322:a0fd523dbe1d5ee2caa6c7ab0e4d9312:cb6091133e272e240b9c79734eb5ea53$</string>
            <key>textureFileName</key>
            <string>props_322.pvr.ccz</string>
        </dict>
    </dict>
</plist>
