<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>props_376</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{74,78}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{74,78}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>props_376.pvr.ccz</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:69c9ddedf7fde7a32256706dd1c0ab14:0739d0f0d4c8dec3d5e47f457ade93b8:279b5db7d3ea3e137383b9d0d0a0b334$</string>
            <key>textureFileName</key>
            <string>props_376.pvr.ccz</string>
        </dict>
    </dict>
</plist>
