<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>props_424</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{92,94}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{92,94}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>props_424.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8d8f19015c28477c67a1309df3622036:9200c7174ef2b6c442e4affce7200ac1:fdf3df6c528357b9ee9362a6c72c8295$</string>
            <key>textureFileName</key>
            <string>props_424.png</string>
        </dict>
    </dict>
</plist>
