<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>props_059</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>props_059.pvr.ccz</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ce906e04af8def1b5e3fa0e1f65b80e1:1066392ad24c032c3492ce24644bbbdc:5cd7f73b3ec55092a905d2a4551dc6b3$</string>
            <key>textureFileName</key>
            <string>props_059.pvr.ccz</string>
        </dict>
    </dict>
</plist>
