<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>props_110</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>props_110.pvr.ccz</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c50fad85dec4b6524650ff0241c701b4:7684707302edc0717abfa24e4c88c4e9:0e50fa1b89026de7256bc578bb97ef41$</string>
            <key>textureFileName</key>
            <string>props_110.pvr.ccz</string>
        </dict>
    </dict>
</plist>
