<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_3_0</key>
            <dict>
                <key>frame</key>
                <string>{{302,674},{242,246}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{242,246}}</string>
                <key>sourceSize</key>
                <string>{248,250}</string>
            </dict>
            <key>skill_3_1</key>
            <dict>
                <key>frame</key>
                <string>{{529,0},{158,411}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{158,411}}</string>
                <key>sourceSize</key>
                <string>{162,417}</string>
            </dict>
            <key>skill_3_10</key>
            <dict>
                <key>frame</key>
                <string>{{302,374},{208,298}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{208,298}}</string>
                <key>sourceSize</key>
                <string>{220,320}</string>
            </dict>
            <key>skill_3_11</key>
            <dict>
                <key>frame</key>
                <string>{{771,871},{218,48}}</string>
                <key>offset</key>
                <string>{-1,-164}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,330},{218,48}}</string>
                <key>sourceSize</key>
                <string>{320,380}</string>
            </dict>
            <key>skill_3_12</key>
            <dict>
                <key>frame</key>
                <string>{{844,160},{272,126}}</string>
                <key>offset</key>
                <string>{1,-125}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,252},{272,126}}</string>
                <key>sourceSize</key>
                <string>{320,380}</string>
            </dict>
            <key>skill_3_13</key>
            <dict>
                <key>frame</key>
                <string>{{0,374},{316,258}}</string>
                <key>offset</key>
                <string>{-1,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,122},{316,258}}</string>
                <key>sourceSize</key>
                <string>{320,380}</string>
            </dict>
            <key>skill_3_14</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{314,372}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{314,372}}</string>
                <key>sourceSize</key>
                <string>{320,380}</string>
            </dict>
            <key>skill_3_15</key>
            <dict>
                <key>frame</key>
                <string>{{928,664},{65,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{65,197}}</string>
                <key>sourceSize</key>
                <string>{67,199}</string>
            </dict>
            <key>skill_3_16</key>
            <dict>
                <key>frame</key>
                <string>{{771,664},{155,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{155,205}}</string>
                <key>sourceSize</key>
                <string>{157,207}</string>
            </dict>
            <key>skill_3_17</key>
            <dict>
                <key>frame</key>
                <string>{{260,374},{533,40}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,3},{533,40}}</string>
                <key>sourceSize</key>
                <string>{543,44}</string>
            </dict>
            <key>skill_3_2</key>
            <dict>
                <key>frame</key>
                <string>{{546,661},{223,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{223,225}}</string>
                <key>sourceSize</key>
                <string>{229,229}</string>
            </dict>
            <key>skill_3_3</key>
            <dict>
                <key>frame</key>
                <string>{{529,160},{313,247}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{313,247}}</string>
                <key>sourceSize</key>
                <string>{317,255}</string>
            </dict>
            <key>skill_3_4</key>
            <dict>
                <key>frame</key>
                <string>{{316,0},{211,363}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{211,363}}</string>
                <key>sourceSize</key>
                <string>{219,369}</string>
            </dict>
            <key>skill_3_5</key>
            <dict>
                <key>frame</key>
                <string>{{0,692},{250,314}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{250,314}}</string>
                <key>sourceSize</key>
                <string>{254,318}</string>
            </dict>
            <key>skill_3_6</key>
            <dict>
                <key>frame</key>
                <string>{{512,409},{259,250}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{259,250}}</string>
                <key>sourceSize</key>
                <string>{263,258}</string>
            </dict>
            <key>skill_3_7</key>
            <dict>
                <key>frame</key>
                <string>{{252,922},{194,92}}</string>
                <key>offset</key>
                <string>{-4,-109}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,223},{194,92}}</string>
                <key>sourceSize</key>
                <string>{220,320}</string>
            </dict>
            <key>skill_3_8</key>
            <dict>
                <key>frame</key>
                <string>{{546,888},{212,136}}</string>
                <key>offset</key>
                <string>{0,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,173},{212,136}}</string>
                <key>sourceSize</key>
                <string>{220,320}</string>
            </dict>
            <key>skill_3_9</key>
            <dict>
                <key>frame</key>
                <string>{{773,434},{212,228}}</string>
                <key>offset</key>
                <string>{0,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,81},{212,228}}</string>
                <key>sourceSize</key>
                <string>{220,320}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_3.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:69fb3c31b724b09b30f3b698d23f5b5e:1/1$</string>
            <key>textureFileName</key>
            <string>skill_3.pvr.ccz</string>
        </dict>
    </dict>
</plist>
