<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_42_0</key>
            <dict>
                <key>frame</key>
                <string>{{0,677},{302,313}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{302,313}}</string>
                <key>sourceSize</key>
                <string>{302,313}</string>
            </dict>
            <key>skill_42_1</key>
            <dict>
                <key>frame</key>
                <string>{{104,0},{92,675}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,0},{92,675}}</string>
                <key>sourceSize</key>
                <string>{120,675}</string>
            </dict>
            <key>skill_42_2</key>
            <dict>
                <key>frame</key>
                <string>{{198,0},{90,675}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,0},{90,675}}</string>
                <key>sourceSize</key>
                <string>{120,675}</string>
            </dict>
            <key>skill_42_3</key>
            <dict>
                <key>frame</key>
                <string>{{290,0},{114,663}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,663}}</string>
                <key>sourceSize</key>
                <string>{120,675}</string>
            </dict>
            <key>skill_42_4</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{102,675}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{102,675}}</string>
                <key>sourceSize</key>
                <string>{120,675}</string>
            </dict>
            <key>skill_42_5</key>
            <dict>
                <key>frame</key>
                <string>{{702,128},{210,102}}</string>
                <key>offset</key>
                <string>{12,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,71},{210,102}}</string>
                <key>sourceSize</key>
                <string>{290,190}</string>
            </dict>
            <key>skill_42_6</key>
            <dict>
                <key>frame</key>
                <string>{{914,128},{192,108}}</string>
                <key>offset</key>
                <string>{0,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,67},{192,108}}</string>
                <key>sourceSize</key>
                <string>{290,190}</string>
            </dict>
            <key>skill_42_7</key>
            <dict>
                <key>frame</key>
                <string>{{702,0},{228,126}}</string>
                <key>offset</key>
                <string>{-1,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,57},{228,126}}</string>
                <key>sourceSize</key>
                <string>{290,190}</string>
            </dict>
            <key>skill_42_8</key>
            <dict>
                <key>frame</key>
                <string>{{442,0},{258,152}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,19},{258,152}}</string>
                <key>sourceSize</key>
                <string>{290,190}</string>
            </dict>
            <key>skill_42_9</key>
            <dict>
                <key>frame</key>
                <string>{{304,665},{268,136}}</string>
                <key>offset</key>
                <string>{-5,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,8},{268,136}}</string>
                <key>sourceSize</key>
                <string>{290,190}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_42.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f1d830861f9a37cb3aef80b93a16838f:5ebc7026e50f36c4a02f8315206d7b02:e0f031415157f53783795a3da9dea7e1$</string>
            <key>textureFileName</key>
            <string>skill_42.pvr.ccz</string>
        </dict>
    </dict>
</plist>
