<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_45_0</key>
            <dict>
                <key>frame</key>
                <string>{{985,22},{68,20}}</string>
                <key>offset</key>
                <string>{139,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{280,113},{68,20}}</string>
                <key>sourceSize</key>
                <string>{350,140}</string>
            </dict>
            <key>skill_45_1</key>
            <dict>
                <key>frame</key>
                <string>{{745,636},{82,70}}</string>
                <key>offset</key>
                <string>{132,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{266,63},{82,70}}</string>
                <key>sourceSize</key>
                <string>{350,140}</string>
            </dict>
            <key>skill_45_10</key>
            <dict>
                <key>frame</key>
                <string>{{613,134},{53,42}}</string>
                <key>offset</key>
                <string>{-130,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,68},{53,42}}</string>
                <key>sourceSize</key>
                <string>{313,140}</string>
            </dict>
            <key>skill_45_11</key>
            <dict>
                <key>frame</key>
                <string>{{611,695},{121,88}}</string>
                <key>offset</key>
                <string>{-96,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,39},{121,88}}</string>
                <key>sourceSize</key>
                <string>{313,140}</string>
            </dict>
            <key>skill_45_12</key>
            <dict>
                <key>frame</key>
                <string>{{824,531},{187,118}}</string>
                <key>offset</key>
                <string>{-63,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{187,118}}</string>
                <key>sourceSize</key>
                <string>{313,140}</string>
            </dict>
            <key>skill_45_13</key>
            <dict>
                <key>frame</key>
                <string>{{613,257},{263,128}}</string>
                <key>offset</key>
                <string>{-25,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{263,128}}</string>
                <key>sourceSize</key>
                <string>{313,140}</string>
            </dict>
            <key>skill_45_14</key>
            <dict>
                <key>frame</key>
                <string>{{0,134},{313,132}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{313,132}}</string>
                <key>sourceSize</key>
                <string>{313,140}</string>
            </dict>
            <key>skill_45_15</key>
            <dict>
                <key>frame</key>
                <string>{{985,0},{36,20}}</string>
                <key>offset</key>
                <string>{-82,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,31},{36,20}}</string>
                <key>sourceSize</key>
                <string>{200,170}</string>
            </dict>
            <key>skill_45_16</key>
            <dict>
                <key>frame</key>
                <string>{{532,727},{90,60}}</string>
                <key>offset</key>
                <string>{-55,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,21},{90,60}}</string>
                <key>sourceSize</key>
                <string>{200,170}</string>
            </dict>
            <key>skill_45_17</key>
            <dict>
                <key>frame</key>
                <string>{{817,651},{118,86}}</string>
                <key>offset</key>
                <string>{-41,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{118,86}}</string>
                <key>sourceSize</key>
                <string>{200,170}</string>
            </dict>
            <key>skill_45_18</key>
            <dict>
                <key>frame</key>
                <string>{{878,375},{154,134}}</string>
                <key>offset</key>
                <string>{-23,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,134}}</string>
                <key>sourceSize</key>
                <string>{200,170}</string>
            </dict>
            <key>skill_45_19</key>
            <dict>
                <key>frame</key>
                <string>{{441,268},{170,152}}</string>
                <key>offset</key>
                <string>{-15,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,152}}</string>
                <key>sourceSize</key>
                <string>{200,170}</string>
            </dict>
            <key>skill_45_2</key>
            <dict>
                <key>frame</key>
                <string>{{327,268},{108,92}}</string>
                <key>offset</key>
                <string>{119,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,41},{108,92}}</string>
                <key>sourceSize</key>
                <string>{350,140}</string>
            </dict>
            <key>skill_45_20</key>
            <dict>
                <key>frame</key>
                <string>{{441,531},{194,168}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,168}}</string>
                <key>sourceSize</key>
                <string>{200,170}</string>
            </dict>
            <key>skill_45_21</key>
            <dict>
                <key>frame</key>
                <string>{{134,793},{200,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,198}}</string>
                <key>sourceSize</key>
                <string>{200,198}</string>
            </dict>
            <key>skill_45_22</key>
            <dict>
                <key>frame</key>
                <string>{{194,531},{250,245}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,245}}</string>
                <key>sourceSize</key>
                <string>{250,245}</string>
            </dict>
            <key>skill_45_23</key>
            <dict>
                <key>frame</key>
                <string>{{668,0},{315,255}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{315,255}}</string>
                <key>sourceSize</key>
                <string>{315,255}</string>
            </dict>
            <key>skill_45_24</key>
            <dict>
                <key>frame</key>
                <string>{{327,422},{173,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,102}}</string>
                <key>sourceSize</key>
                <string>{173,102}</string>
            </dict>
            <key>skill_45_25</key>
            <dict>
                <key>frame</key>
                <string>{{502,422},{128,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,96}}</string>
                <key>sourceSize</key>
                <string>{128,96}</string>
            </dict>
            <key>skill_45_26</key>
            <dict>
                <key>frame</key>
                <string>{{532,819},{119,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,91}}</string>
                <key>sourceSize</key>
                <string>{119,91}</string>
            </dict>
            <key>skill_45_27</key>
            <dict>
                <key>frame</key>
                <string>{{632,387},{194,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,127}}</string>
                <key>sourceSize</key>
                <string>{194,127}</string>
            </dict>
            <key>skill_45_28</key>
            <dict>
                <key>frame</key>
                <string>{{632,516},{190,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,118}}</string>
                <key>sourceSize</key>
                <string>{190,118}</string>
            </dict>
            <key>skill_45_29</key>
            <dict>
                <key>frame</key>
                <string>{{611,636},{57,132}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,7},{57,132}}</string>
                <key>sourceSize</key>
                <string>{63,152}</string>
            </dict>
            <key>skill_45_3</key>
            <dict>
                <key>frame</key>
                <string>{{878,257},{140,116}}</string>
                <key>offset</key>
                <string>{103,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,17},{140,116}}</string>
                <key>sourceSize</key>
                <string>{350,140}</string>
            </dict>
            <key>skill_45_30</key>
            <dict>
                <key>frame</key>
                <string>{{0,531},{192,260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,260}}</string>
                <key>sourceSize</key>
                <string>{192,260}</string>
            </dict>
            <key>skill_45_31</key>
            <dict>
                <key>frame</key>
                <string>{{0,268},{191,259}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,259}}</string>
                <key>sourceSize</key>
                <string>{191,259}</string>
            </dict>
            <key>skill_45_4</key>
            <dict>
                <key>frame</key>
                <string>{{0,793},{228,132}}</string>
                <key>offset</key>
                <string>{59,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,1},{228,132}}</string>
                <key>sourceSize</key>
                <string>{350,140}</string>
            </dict>
            <key>skill_45_5</key>
            <dict>
                <key>frame</key>
                <string>{{193,268},{256,132}}</string>
                <key>offset</key>
                <string>{45,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,1},{256,132}}</string>
                <key>sourceSize</key>
                <string>{350,140}</string>
            </dict>
            <key>skill_45_6</key>
            <dict>
                <key>frame</key>
                <string>{{315,134},{296,132}}</string>
                <key>offset</key>
                <string>{25,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,1},{296,132}}</string>
                <key>sourceSize</key>
                <string>{350,140}</string>
            </dict>
            <key>skill_45_7</key>
            <dict>
                <key>frame</key>
                <string>{{344,0},{322,132}}</string>
                <key>offset</key>
                <string>{12,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,1},{322,132}}</string>
                <key>sourceSize</key>
                <string>{350,140}</string>
            </dict>
            <key>skill_45_8</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{342,132}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{342,132}}</string>
                <key>sourceSize</key>
                <string>{350,140}</string>
            </dict>
            <key>skill_45_9</key>
            <dict>
                <key>frame</key>
                <string>{{334,783},{196,198}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{196,198}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_45.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c7ee3da76789546a2f21b4343987bb01:1/1$</string>
            <key>textureFileName</key>
            <string>skill_45.pvr.ccz</string>
        </dict>
    </dict>
</plist>
