<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_40_0</key>
            <dict>
                <key>frame</key>
                <string>{{539,788},{196,198}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{196,198}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>skill_40_1</key>
            <dict>
                <key>frame</key>
                <string>{{0,249},{300,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,300}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>skill_40_10</key>
            <dict>
                <key>frame</key>
                <string>{{0,837},{246,182}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{246,182}}</string>
                <key>sourceSize</key>
                <string>{266,200}</string>
            </dict>
            <key>skill_40_11</key>
            <dict>
                <key>frame</key>
                <string>{{302,271},{280,198}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{280,198}}</string>
                <key>sourceSize</key>
                <string>{280,200}</string>
            </dict>
            <key>skill_40_12</key>
            <dict>
                <key>frame</key>
                <string>{{302,471},{249,200}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{249,200}}</string>
                <key>sourceSize</key>
                <string>{253,200}</string>
            </dict>
            <key>skill_40_13</key>
            <dict>
                <key>frame</key>
                <string>{{553,576},{234,210}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,25},{234,210}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>skill_40_14</key>
            <dict>
                <key>frame</key>
                <string>{{301,673},{220,236}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,9},{220,236}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>skill_40_15</key>
            <dict>
                <key>frame</key>
                <string>{{789,578},{226,230}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,13},{226,230}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>skill_40_2</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{363,247}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,12},{363,247}}</string>
                <key>sourceSize</key>
                <string>{383,273}</string>
            </dict>
            <key>skill_40_3</key>
            <dict>
                <key>frame</key>
                <string>{{365,0},{284,269}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{284,269}}</string>
                <key>sourceSize</key>
                <string>{292,277}</string>
            </dict>
            <key>skill_40_4</key>
            <dict>
                <key>frame</key>
                <string>{{835,374},{202,188}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{202,188}}</string>
                <key>sourceSize</key>
                <string>{204,200}</string>
            </dict>
            <key>skill_40_5</key>
            <dict>
                <key>frame</key>
                <string>{{651,202},{76,332}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{76,332}}</string>
                <key>sourceSize</key>
                <string>{84,342}</string>
            </dict>
            <key>skill_40_6</key>
            <dict>
                <key>frame</key>
                <string>{{584,280},{92,376}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,18},{92,376}}</string>
                <key>sourceSize</key>
                <string>{116,416}</string>
            </dict>
            <key>skill_40_7</key>
            <dict>
                <key>frame</key>
                <string>{{0,551},{299,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{299,284}}</string>
                <key>sourceSize</key>
                <string>{311,296}</string>
            </dict>
            <key>skill_40_8</key>
            <dict>
                <key>frame</key>
                <string>{{584,374},{249,200}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{249,200}}</string>
                <key>sourceSize</key>
                <string>{253,200}</string>
            </dict>
            <key>skill_40_9</key>
            <dict>
                <key>frame</key>
                <string>{{651,0},{304,200}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,200}}</string>
                <key>sourceSize</key>
                <string>{306,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_40.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6f7fd0beec8c7834d7e45f1afad85788:86730021d1520ec166934532a18308cd:3630c26f3d7da7e302e682cbd103b0f1$</string>
            <key>textureFileName</key>
            <string>skill_40.pvr.ccz</string>
        </dict>
    </dict>
</plist>
