<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_44_0</key>
            <dict>
                <key>frame</key>
                <string>{{161,546},{364,398}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{364,398}}</string>
                <key>sourceSize</key>
                <string>{384,412}</string>
            </dict>
            <key>skill_44_1</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{909,227}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{909,227}}</string>
                <key>sourceSize</key>
                <string>{909,247}</string>
            </dict>
            <key>skill_44_2</key>
            <dict>
                <key>frame</key>
                <string>{{0,229},{722,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{722,84}}</string>
                <key>sourceSize</key>
                <string>{722,84}</string>
            </dict>
            <key>skill_44_3</key>
            <dict>
                <key>frame</key>
                <string>{{86,229},{717,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{717,73}}</string>
                <key>sourceSize</key>
                <string>{717,73}</string>
            </dict>
            <key>skill_44_4</key>
            <dict>
                <key>frame</key>
                <string>{{161,229},{281,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,191}}</string>
                <key>sourceSize</key>
                <string>{281,191}</string>
            </dict>
            <key>skill_44_5</key>
            <dict>
                <key>frame</key>
                <string>{{354,229},{544,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{544,147}}</string>
                <key>sourceSize</key>
                <string>{544,147}</string>
            </dict>
            <key>skill_44_6</key>
            <dict>
                <key>frame</key>
                <string>{{354,378},{544,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{544,133}}</string>
                <key>sourceSize</key>
                <string>{544,133}</string>
            </dict>
            <key>skill_44_7</key>
            <dict>
                <key>frame</key>
                <string>{{911,0},{544,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{544,108}}</string>
                <key>sourceSize</key>
                <string>{544,108}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_44.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8cdd574bfc9de82d04e41dc985ebb25a:b240dd118304b5744b11fe47064bf10b:88ad66f505fe104417c920019291f58d$</string>
            <key>textureFileName</key>
            <string>skill_44.pvr.ccz</string>
        </dict>
    </dict>
</plist>
