<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_18_0</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{386,386}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{386,386}}</string>
                <key>sourceSize</key>
                <string>{390,390}</string>
            </dict>
            <key>skill_18_1</key>
            <dict>
                <key>frame</key>
                <string>{{448,347},{367,394}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{367,394}}</string>
                <key>sourceSize</key>
                <string>{375,402}</string>
            </dict>
            <key>skill_18_2</key>
            <dict>
                <key>frame</key>
                <string>{{0,744},{253,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{253,264}}</string>
                <key>sourceSize</key>
                <string>{257,268}</string>
            </dict>
            <key>skill_18_3</key>
            <dict>
                <key>frame</key>
                <string>{{448,743},{250,325}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,325}}</string>
                <key>sourceSize</key>
                <string>{250,327}</string>
            </dict>
            <key>skill_18_4</key>
            <dict>
                <key>frame</key>
                <string>{{388,0},{440,345}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{440,345}}</string>
                <key>sourceSize</key>
                <string>{450,355}</string>
            </dict>
            <key>skill_18_5</key>
            <dict>
                <key>frame</key>
                <string>{{0,388},{446,354}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{446,354}}</string>
                <key>sourceSize</key>
                <string>{450,360}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_18.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eefa545aa5699f8b0a9daef18e3d7d1c:1/1$</string>
            <key>textureFileName</key>
            <string>skill_18.pvr.ccz</string>
        </dict>
    </dict>
</plist>
