<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_37_0</key>
            <dict>
                <key>frame</key>
                <string>{{0,546},{381,428}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{381,428}}</string>
                <key>sourceSize</key>
                <string>{395,450}</string>
            </dict>
            <key>skill_37_1</key>
            <dict>
                <key>frame</key>
                <string>{{308,148},{128,300}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{128,300}}</string>
                <key>sourceSize</key>
                <string>{134,300}</string>
            </dict>
            <key>skill_37_10</key>
            <dict>
                <key>frame</key>
                <string>{{920,0},{98,97}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{98,97}}</string>
                <key>sourceSize</key>
                <string>{100,99}</string>
            </dict>
            <key>skill_37_11</key>
            <dict>
                <key>frame</key>
                <string>{{647,148},{207,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,119}}</string>
                <key>sourceSize</key>
                <string>{207,119}</string>
            </dict>
            <key>skill_37_12</key>
            <dict>
                <key>frame</key>
                <string>{{383,63},{527,83}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{527,83}}</string>
                <key>sourceSize</key>
                <string>{533,91}</string>
            </dict>
            <key>skill_37_13</key>
            <dict>
                <key>frame</key>
                <string>{{383,0},{535,61}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{535,61}}</string>
                <key>sourceSize</key>
                <string>{555,79}</string>
            </dict>
            <key>skill_37_14</key>
            <dict>
                <key>frame</key>
                <string>{{152,0},{154,540}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,10},{154,540}}</string>
                <key>sourceSize</key>
                <string>{160,550}</string>
            </dict>
            <key>skill_37_15</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{150,544}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{150,544}}</string>
                <key>sourceSize</key>
                <string>{160,550}</string>
            </dict>
            <key>skill_37_16</key>
            <dict>
                <key>frame</key>
                <string>{{805,605},{146,146}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{146,146}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>skill_37_2</key>
            <dict>
                <key>frame</key>
                <string>{{383,450},{202,298}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{202,298}}</string>
                <key>sourceSize</key>
                <string>{210,300}</string>
            </dict>
            <key>skill_37_3</key>
            <dict>
                <key>frame</key>
                <string>{{383,750},{222,198}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,198}}</string>
                <key>sourceSize</key>
                <string>{230,200}</string>
            </dict>
            <key>skill_37_4</key>
            <dict>
                <key>frame</key>
                <string>{{647,269},{200,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,186}}</string>
                <key>sourceSize</key>
                <string>{200,186}</string>
            </dict>
            <key>skill_37_5</key>
            <dict>
                <key>frame</key>
                <string>{{849,455},{149,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{149,148}}</string>
                <key>sourceSize</key>
                <string>{149,150}</string>
            </dict>
            <key>skill_37_6</key>
            <dict>
                <key>frame</key>
                <string>{{438,148},{207,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{207,194}}</string>
                <key>sourceSize</key>
                <string>{213,200}</string>
            </dict>
            <key>skill_37_7 </key>
            <dict>
                <key>frame</key>
                <string>{{607,457},{196,173}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{196,173}}</string>
                <key>sourceSize</key>
                <string>{200,179}</string>
            </dict>
            <key>skill_37_8</key>
            <dict>
                <key>frame</key>
                <string>{{856,148},{155,129}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{155,129}}</string>
                <key>sourceSize</key>
                <string>{161,131}</string>
            </dict>
            <key>skill_37_9</key>
            <dict>
                <key>frame</key>
                <string>{{849,279},{170,174}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{170,174}}</string>
                <key>sourceSize</key>
                <string>{184,192}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_37.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2af11a2d22ee351ff61a46804638d769:3055382c4b889fec562df4b4edeb6651:e7ae17a25b014cc74ce433aa158b12c8$</string>
            <key>textureFileName</key>
            <string>skill_37.pvr.ccz</string>
        </dict>
    </dict>
</plist>
