<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_6_0</key>
            <dict>
                <key>frame</key>
                <string>{{347,602},{152,114}}</string>
                <key>offset</key>
                <string>{-12,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,38},{152,114}}</string>
                <key>sourceSize</key>
                <string>{200,160}</string>
            </dict>
            <key>skill_6_1</key>
            <dict>
                <key>frame</key>
                <string>{{0,794},{182,148}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{182,148}}</string>
                <key>sourceSize</key>
                <string>{200,160}</string>
            </dict>
            <key>skill_6_2</key>
            <dict>
                <key>frame</key>
                <string>{{75,602},{172,130}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,26},{172,130}}</string>
                <key>sourceSize</key>
                <string>{200,160}</string>
            </dict>
            <key>skill_6_3</key>
            <dict>
                <key>frame</key>
                <string>{{207,602},{164,138}}</string>
                <key>offset</key>
                <string>{7,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,22},{164,138}}</string>
                <key>sourceSize</key>
                <string>{200,160}</string>
            </dict>
            <key>skill_6_4</key>
            <dict>
                <key>frame</key>
                <string>{{150,776},{168,140}}</string>
                <key>offset</key>
                <string>{7,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,20},{168,140}}</string>
                <key>sourceSize</key>
                <string>{200,160}</string>
            </dict>
            <key>skill_6_5</key>
            <dict>
                <key>frame</key>
                <string>{{292,768},{160,142}}</string>
                <key>offset</key>
                <string>{10,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,10},{160,142}}</string>
                <key>sourceSize</key>
                <string>{200,160}</string>
            </dict>
            <key>skill_6_6</key>
            <dict>
                <key>frame</key>
                <string>{{0,602},{73,190}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{73,190}}</string>
                <key>sourceSize</key>
                <string>{77,202}</string>
            </dict>
            <key>skill_6_7</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{546,600}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{546,600}}</string>
                <key>sourceSize</key>
                <string>{546,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_6.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1c4f1efc9b21427fee770070e9d613c0:00e83d9863973c3d6c81056471390629:3e2dcd51c8d0d91a6e17387030447e4d$</string>
            <key>textureFileName</key>
            <string>skill_6.pvr.ccz</string>
        </dict>
    </dict>
</plist>
