<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_46_0</key>
            <dict>
                <key>frame</key>
                <string>{{70,445},{94,51}}</string>
                <key>offset</key>
                <string>{69,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,117},{94,51}}</string>
                <key>sourceSize</key>
                <string>{250,173}</string>
            </dict>
            <key>skill_46_1</key>
            <dict>
                <key>frame</key>
                <string>{{138,281},{158,75}}</string>
                <key>offset</key>
                <string>{34,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,92},{158,75}}</string>
                <key>sourceSize</key>
                <string>{250,173}</string>
            </dict>
            <key>skill_46_2</key>
            <dict>
                <key>frame</key>
                <string>{{215,281},{142,151}}</string>
                <key>offset</key>
                <string>{-52,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{142,151}}</string>
                <key>sourceSize</key>
                <string>{250,173}</string>
            </dict>
            <key>skill_46_3</key>
            <dict>
                <key>frame</key>
                <string>{{359,0},{110,129}}</string>
                <key>offset</key>
                <string>{-65,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,13},{110,129}}</string>
                <key>sourceSize</key>
                <string>{250,173}</string>
            </dict>
            <key>skill_46_4</key>
            <dict>
                <key>frame</key>
                <string>{{0,281},{207,68}}</string>
                <key>offset</key>
                <string>{-10,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,9},{207,68}}</string>
                <key>sourceSize</key>
                <string>{233,84}</string>
            </dict>
            <key>skill_46_5</key>
            <dict>
                <key>frame</key>
                <string>{{70,281},{162,66}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,7},{162,66}}</string>
                <key>sourceSize</key>
                <string>{176,78}</string>
            </dict>
            <key>skill_46_6</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{229,279}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{229,279}}</string>
                <key>sourceSize</key>
                <string>{243,293}</string>
            </dict>
            <key>skill_46_7</key>
            <dict>
                <key>frame</key>
                <string>{{231,0},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>skill_46_8</key>
            <dict>
                <key>frame</key>
                <string>{{166,441},{23,24}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{23,24}}</string>
                <key>sourceSize</key>
                <string>{27,30}</string>
            </dict>
            <key>skill_46_9</key>
            <dict>
                <key>frame</key>
                <string>{{215,434},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_46.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:edd40ee5610d3a3a8d12c009cc834715:1/1$</string>
            <key>textureFileName</key>
            <string>skill_46.pvr.ccz</string>
        </dict>
    </dict>
</plist>
