<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_2_0</key>
            <dict>
                <key>frame</key>
                <string>{{462,672},{148,296}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{148,296}}</string>
                <key>sourceSize</key>
                <string>{156,302}</string>
            </dict>
            <key>skill_2_1</key>
            <dict>
                <key>frame</key>
                <string>{{899,290},{101,145}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{101,145}}</string>
                <key>sourceSize</key>
                <string>{111,147}</string>
            </dict>
            <key>skill_2_10</key>
            <dict>
                <key>frame</key>
                <string>{{132,448},{164,136}}</string>
                <key>offset</key>
                <string>{80,112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,0},{164,136}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>skill_2_11</key>
            <dict>
                <key>frame</key>
                <string>{{949,0},{56,138}}</string>
                <key>offset</key>
                <string>{152,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{304,90},{56,138}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>skill_2_12</key>
            <dict>
                <key>frame</key>
                <string>{{899,437},{82,192}}</string>
                <key>offset</key>
                <string>{139,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{278,101},{82,192}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>skill_2_13</key>
            <dict>
                <key>frame</key>
                <string>{{484,290},{413,380}}</string>
                <key>offset</key>
                <string>{-2,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,102},{413,380}}</string>
                <key>sourceSize</key>
                <string>{429,490}</string>
            </dict>
            <key>skill_2_14</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{482,446}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{482,446}}</string>
                <key>sourceSize</key>
                <string>{500,460}</string>
            </dict>
            <key>skill_2_2</key>
            <dict>
                <key>frame</key>
                <string>{{484,0},{463,288}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{463,288}}</string>
                <key>sourceSize</key>
                <string>{471,294}</string>
            </dict>
            <key>skill_2_3</key>
            <dict>
                <key>frame</key>
                <string>{{302,756},{127,125}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{127,125}}</string>
                <key>sourceSize</key>
                <string>{131,129}</string>
            </dict>
            <key>skill_2_4</key>
            <dict>
                <key>frame</key>
                <string>{{0,672},{300,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,300}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>skill_2_5</key>
            <dict>
                <key>frame</key>
                <string>{{302,448},{178,68}}</string>
                <key>offset</key>
                <string>{2,-145}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,291},{178,68}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>skill_2_6</key>
            <dict>
                <key>frame</key>
                <string>{{612,788},{224,112}}</string>
                <key>offset</key>
                <string>{-32,-122}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,246},{224,112}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>skill_2_7</key>
            <dict>
                <key>frame</key>
                <string>{{302,518},{158,236}}</string>
                <key>offset</key>
                <string>{-101,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,111},{158,236}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>skill_2_8</key>
            <dict>
                <key>frame</key>
                <string>{{0,448},{130,208}}</string>
                <key>offset</key>
                <string>{-112,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,22},{130,208}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>skill_2_9</key>
            <dict>
                <key>frame</key>
                <string>{{612,672},{246,114}}</string>
                <key>offset</key>
                <string>{-24,123}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,0},{246,114}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_2.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c7ae5d35478dded1e2c38394e172db0c:1/1$</string>
            <key>textureFileName</key>
            <string>skill_2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
