<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_39_0</key>
            <dict>
                <key>frame</key>
                <string>{{689,765},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>skill_39_1</key>
            <dict>
                <key>frame</key>
                <string>{{857,563},{200,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,106}}</string>
                <key>sourceSize</key>
                <string>{200,106}</string>
            </dict>
            <key>skill_39_10</key>
            <dict>
                <key>frame</key>
                <string>{{438,709},{249,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,114}}</string>
                <key>sourceSize</key>
                <string>{249,114}</string>
            </dict>
            <key>skill_39_11</key>
            <dict>
                <key>frame</key>
                <string>{{686,0},{196,292}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{196,292}}</string>
                <key>sourceSize</key>
                <string>{204,302}</string>
            </dict>
            <key>skill_39_12</key>
            <dict>
                <key>frame</key>
                <string>{{0,844},{151,149}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{151,149}}</string>
                <key>sourceSize</key>
                <string>{155,163}</string>
            </dict>
            <key>skill_39_13</key>
            <dict>
                <key>frame</key>
                <string>{{438,433},{215,274}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{215,274}}</string>
                <key>sourceSize</key>
                <string>{221,318}</string>
            </dict>
            <key>skill_39_14</key>
            <dict>
                <key>frame</key>
                <string>{{369,835},{129,315}}</string>
                <key>offset</key>
                <string>{2,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,4},{129,315}}</string>
                <key>sourceSize</key>
                <string>{173,379}</string>
            </dict>
            <key>skill_39_15</key>
            <dict>
                <key>frame</key>
                <string>{{151,844},{132,216}}</string>
                <key>offset</key>
                <string>{10,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,3},{132,216}}</string>
                <key>sourceSize</key>
                <string>{178,280}</string>
            </dict>
            <key>skill_39_2</key>
            <dict>
                <key>frame</key>
                <string>{{224,433},{400,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,212}}</string>
                <key>sourceSize</key>
                <string>{400,212}</string>
            </dict>
            <key>skill_39_3</key>
            <dict>
                <key>frame</key>
                <string>{{0,433},{409,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{409,222}}</string>
                <key>sourceSize</key>
                <string>{413,226}</string>
            </dict>
            <key>skill_39_4</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{405,431}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{405,431}}</string>
                <key>sourceSize</key>
                <string>{415,439}</string>
            </dict>
            <key>skill_39_5</key>
            <dict>
                <key>frame</key>
                <string>{{407,226},{228,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,205}}</string>
                <key>sourceSize</key>
                <string>{228,205}</string>
            </dict>
            <key>skill_39_6</key>
            <dict>
                <key>frame</key>
                <string>{{857,454},{107,107}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{107,107}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>skill_39_7</key>
            <dict>
                <key>frame</key>
                <string>{{686,198},{285,254}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{285,254}}</string>
                <key>sourceSize</key>
                <string>{285,254}</string>
            </dict>
            <key>skill_39_8</key>
            <dict>
                <key>frame</key>
                <string>{{438,0},{244,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,224}}</string>
                <key>sourceSize</key>
                <string>{244,224}</string>
            </dict>
            <key>skill_39_9</key>
            <dict>
                <key>frame</key>
                <string>{{655,454},{200,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,202}}</string>
                <key>sourceSize</key>
                <string>{200,202}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_39.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b13f756de89fa7962346e977a315c659:1/1$</string>
            <key>textureFileName</key>
            <string>skill_39.pvr.ccz</string>
        </dict>
    </dict>
</plist>
