<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_33_0</key>
            <dict>
                <key>frame</key>
                <string>{{0,390},{92,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{92,94}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>skill_33_1</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{380,388}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,6},{380,388}}</string>
                <key>sourceSize</key>
                <string>{400,404}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_33.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:292371f7a02c0678c34109666ace51a4:66df19b0bc136173f03cc92c92c2276f:936e0ece974e38ff8f5a4fd7a3496d93$</string>
            <key>textureFileName</key>
            <string>skill_33.pvr.ccz</string>
        </dict>
    </dict>
</plist>
