<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_9_0</key>
            <dict>
                <key>frame</key>
                <string>{{0,763},{327,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{327,256}}</string>
                <key>sourceSize</key>
                <string>{333,260}</string>
            </dict>
            <key>skill_9_1</key>
            <dict>
                <key>frame</key>
                <string>{{461,335},{245,233}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{245,233}}</string>
                <key>sourceSize</key>
                <string>{247,235}</string>
            </dict>
            <key>skill_9_2</key>
            <dict>
                <key>frame</key>
                <string>{{664,0},{333,333}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{333,333}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>skill_9_3</key>
            <dict>
                <key>frame</key>
                <string>{{708,565},{230,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{230,227}}</string>
                <key>sourceSize</key>
                <string>{234,233}</string>
            </dict>
            <key>skill_9_4</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{662,299}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{662,299}}</string>
                <key>sourceSize</key>
                <string>{662,299}</string>
            </dict>
            <key>skill_9_5</key>
            <dict>
                <key>frame</key>
                <string>{{627,794},{228,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,225}}</string>
                <key>sourceSize</key>
                <string>{228,225}</string>
            </dict>
            <key>skill_9_6</key>
            <dict>
                <key>frame</key>
                <string>{{329,763},{296,248}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,248}}</string>
                <key>sourceSize</key>
                <string>{296,248}</string>
            </dict>
            <key>skill_9_7</key>
            <dict>
                <key>frame</key>
                <string>{{0,301},{459,460}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{459,460}}</string>
                <key>sourceSize</key>
                <string>{459,460}</string>
            </dict>
            <key>skill_9_8</key>
            <dict>
                <key>frame</key>
                <string>{{708,335},{230,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{230,228}}</string>
                <key>sourceSize</key>
                <string>{232,232}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_9.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:13ee4776f989d2e53e7b14d17340516b:6d72d7f341f49eb305c85a29e04452a7:67ffa8c68a95b52c686f91fd20ba8d90$</string>
            <key>textureFileName</key>
            <string>skill_9.pvr.ccz</string>
        </dict>
    </dict>
</plist>
