<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_19_0</key>
            <dict>
                <key>frame</key>
                <string>{{112,512},{90,92}}</string>
                <key>offset</key>
                <string>{80,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,61},{90,92}}</string>
                <key>sourceSize</key>
                <string>{250,160}</string>
            </dict>
            <key>skill_19_1</key>
            <dict>
                <key>frame</key>
                <string>{{437,512},{122,118}}</string>
                <key>offset</key>
                <string>{64,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,36},{122,118}}</string>
                <key>sourceSize</key>
                <string>{250,160}</string>
            </dict>
            <key>skill_19_10</key>
            <dict>
                <key>frame</key>
                <string>{{0,512},{110,94}}</string>
                <key>offset</key>
                <string>{-52,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,7},{110,94}}</string>
                <key>sourceSize</key>
                <string>{250,160}</string>
            </dict>
            <key>skill_19_11</key>
            <dict>
                <key>frame</key>
                <string>{{0,256},{567,254}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{567,254}}</string>
                <key>sourceSize</key>
                <string>{577,276}</string>
            </dict>
            <key>skill_19_12</key>
            <dict>
                <key>frame</key>
                <string>{{571,0},{444,446}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{444,446}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>skill_19_13</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{569,254}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{569,254}}</string>
                <key>sourceSize</key>
                <string>{579,276}</string>
            </dict>
            <key>skill_19_14</key>
            <dict>
                <key>frame</key>
                <string>{{0,615},{219,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{219,135}}</string>
                <key>sourceSize</key>
                <string>{221,137}</string>
            </dict>
            <key>skill_19_15</key>
            <dict>
                <key>frame</key>
                <string>{{569,446},{247,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{247,167}}</string>
                <key>sourceSize</key>
                <string>{257,173}</string>
            </dict>
            <key>skill_19_2</key>
            <dict>
                <key>frame</key>
                <string>{{818,446},{162,142}}</string>
                <key>offset</key>
                <string>{44,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,13},{162,142}}</string>
                <key>sourceSize</key>
                <string>{250,160}</string>
            </dict>
            <key>skill_19_3</key>
            <dict>
                <key>frame</key>
                <string>{{289,615},{210,146}}</string>
                <key>offset</key>
                <string>{19,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,9},{210,146}}</string>
                <key>sourceSize</key>
                <string>{250,160}</string>
            </dict>
            <key>skill_19_4</key>
            <dict>
                <key>frame</key>
                <string>{{561,615},{238,148}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{238,148}}</string>
                <key>sourceSize</key>
                <string>{250,160}</string>
            </dict>
            <key>skill_19_5</key>
            <dict>
                <key>frame</key>
                <string>{{818,590},{246,150}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,7},{246,150}}</string>
                <key>sourceSize</key>
                <string>{250,160}</string>
            </dict>
            <key>skill_19_6</key>
            <dict>
                <key>frame</key>
                <string>{{0,838},{240,150}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{240,150}}</string>
                <key>sourceSize</key>
                <string>{250,160}</string>
            </dict>
            <key>skill_19_7</key>
            <dict>
                <key>frame</key>
                <string>{{242,838},{232,150}}</string>
                <key>offset</key>
                <string>{9,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,8},{232,150}}</string>
                <key>sourceSize</key>
                <string>{250,160}</string>
            </dict>
            <key>skill_19_8</key>
            <dict>
                <key>frame</key>
                <string>{{137,606},{230,150}}</string>
                <key>offset</key>
                <string>{9,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,7},{230,150}}</string>
                <key>sourceSize</key>
                <string>{250,160}</string>
            </dict>
            <key>skill_19_9</key>
            <dict>
                <key>frame</key>
                <string>{{476,765},{228,144}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,9},{228,144}}</string>
                <key>sourceSize</key>
                <string>{250,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_19.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:98713c1b800ddb6a54cda7c7ea126aee:fb82a1c47e54e423983ffdbb97f06309:225e4ad825fa2c95c605ccac7fff5feb$</string>
            <key>textureFileName</key>
            <string>skill_19.pvr.ccz</string>
        </dict>
    </dict>
</plist>
