<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_27_0</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{558,557}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{558,557}}</string>
                <key>sourceSize</key>
                <string>{562,563}</string>
            </dict>
            <key>skill_27_1</key>
            <dict>
                <key>frame</key>
                <string>{{560,528},{385,364}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{385,364}}</string>
                <key>sourceSize</key>
                <string>{385,364}</string>
            </dict>
            <key>skill_27_2</key>
            <dict>
                <key>frame</key>
                <string>{{0,559},{315,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{315,234}}</string>
                <key>sourceSize</key>
                <string>{319,236}</string>
            </dict>
            <key>skill_27_3</key>
            <dict>
                <key>frame</key>
                <string>{{560,0},{452,526}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{452,526}}</string>
                <key>sourceSize</key>
                <string>{452,526}</string>
            </dict>
            <key>skill_27_4</key>
            <dict>
                <key>frame</key>
                <string>{{0,894},{203,88}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,9},{203,88}}</string>
                <key>sourceSize</key>
                <string>{205,104}</string>
            </dict>
            <key>skill_27_5</key>
            <dict>
                <key>frame</key>
                <string>{{947,528},{88,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{88,48}}</string>
                <key>sourceSize</key>
                <string>{94,54}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_27.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:849a1b70742cb80c4705abce9cd81032:1/1$</string>
            <key>textureFileName</key>
            <string>skill_27.pvr.ccz</string>
        </dict>
    </dict>
</plist>
