<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_15_0</key>
            <dict>
                <key>frame</key>
                <string>{{703,926},{81,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,70}}</string>
                <key>sourceSize</key>
                <string>{81,70}</string>
            </dict>
            <key>skill_15_1</key>
            <dict>
                <key>frame</key>
                <string>{{0,439},{595,701}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{595,701}}</string>
                <key>sourceSize</key>
                <string>{599,707}</string>
            </dict>
            <key>skill_15_10</key>
            <dict>
                <key>frame</key>
                <string>{{992,35},{31,12}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,13},{31,12}}</string>
                <key>sourceSize</key>
                <string>{33,26}</string>
            </dict>
            <key>skill_15_11</key>
            <dict>
                <key>frame</key>
                <string>{{959,26},{31,14}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,12},{31,14}}</string>
                <key>sourceSize</key>
                <string>{33,26}</string>
            </dict>
            <key>skill_15_12</key>
            <dict>
                <key>frame</key>
                <string>{{742,217},{145,294}}</string>
                <key>offset</key>
                <string>{-5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{145,294}}</string>
                <key>sourceSize</key>
                <string>{167,316}</string>
            </dict>
            <key>skill_15_13</key>
            <dict>
                <key>frame</key>
                <string>{{742,0},{215,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,215}}</string>
                <key>sourceSize</key>
                <string>{215,215}</string>
            </dict>
            <key>skill_15_2</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{437,740}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{437,740}}</string>
                <key>sourceSize</key>
                <string>{443,750}</string>
            </dict>
            <key>skill_15_3</key>
            <dict>
                <key>frame</key>
                <string>{{703,513},{411,314}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{411,314}}</string>
                <key>sourceSize</key>
                <string>{417,320}</string>
            </dict>
            <key>skill_15_4</key>
            <dict>
                <key>frame</key>
                <string>{{889,286},{83,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,116}}</string>
                <key>sourceSize</key>
                <string>{83,116}</string>
            </dict>
            <key>skill_15_5</key>
            <dict>
                <key>frame</key>
                <string>{{889,217},{67,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,118}}</string>
                <key>sourceSize</key>
                <string>{67,118}</string>
            </dict>
            <key>skill_15_6</key>
            <dict>
                <key>frame</key>
                <string>{{889,371},{70,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,140}}</string>
                <key>sourceSize</key>
                <string>{70,140}</string>
            </dict>
            <key>skill_15_7</key>
            <dict>
                <key>frame</key>
                <string>{{0,1036},{546,654}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{546,654}}</string>
                <key>sourceSize</key>
                <string>{556,662}</string>
            </dict>
            <key>skill_15_8</key>
            <dict>
                <key>frame</key>
                <string>{{959,0},{33,24}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{33,24}}</string>
                <key>sourceSize</key>
                <string>{33,26}</string>
            </dict>
            <key>skill_15_9</key>
            <dict>
                <key>frame</key>
                <string>{{994,0},{33,20}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{33,20}}</string>
                <key>sourceSize</key>
                <string>{33,26}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_15.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d4bf31d4c3ffd28aa867864f4337db76:1/1$</string>
            <key>textureFileName</key>
            <string>skill_15.pvr.ccz</string>
        </dict>
    </dict>
</plist>
