<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0</key>
            <dict>
                <key>frame</key>
                <string>{{390,140},{108,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,25}}</string>
                <key>sourceSize</key>
                <string>{108,25}</string>
            </dict>
            <key>AvoidingWar_ch9</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{98,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,34}}</string>
                <key>sourceSize</key>
                <string>{98,34}</string>
            </dict>
            <key>Award_ch9</key>
            <dict>
                <key>frame</key>
                <string>{{420,2},{87,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,34}}</string>
                <key>sourceSize</key>
                <string>{87,34}</string>
            </dict>
            <key>BeUse_ch9</key>
            <dict>
                <key>frame</key>
                <string>{{2,219},{70,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,37}}</string>
                <key>sourceSize</key>
                <string>{70,37}</string>
            </dict>
            <key>BindingAccount_ch9</key>
            <dict>
                <key>frame</key>
                <string>{{272,76},{132,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,33}}</string>
                <key>sourceSize</key>
                <string>{132,33}</string>
            </dict>
            <key>Chat_ch9</key>
            <dict>
                <key>frame</key>
                <string>{{74,209},{70,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,37}}</string>
                <key>sourceSize</key>
                <string>{70,37}</string>
            </dict>
            <key>Close76_ch9</key>
            <dict>
                <key>frame</key>
                <string>{{422,245},{63,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,32}}</string>
                <key>sourceSize</key>
                <string>{63,32}</string>
            </dict>
            <key>ContactUs_ch9</key>
            <dict>
                <key>frame</key>
                <string>{{137,72},{133,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,33}}</string>
                <key>sourceSize</key>
                <string>{133,33}</string>
            </dict>
            <key>Diff75_ch9</key>
            <dict>
                <key>frame</key>
                <string>{{71,318},{66,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,33}}</string>
                <key>sourceSize</key>
                <string>{66,33}</string>
            </dict>
            <key>Escape74_ch9</key>
            <dict>
                <key>frame</key>
                <string>{{385,206},{70,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,37}}</string>
                <key>sourceSize</key>
                <string>{70,37}</string>
            </dict>
            <key>Exchange_ch9</key>
            <dict>
                <key>frame</key>
                <string>{{353,245},{67,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,33}}</string>
                <key>sourceSize</key>
                <string>{67,33}</string>
            </dict>
            <key>Fetch77_ch9</key>
            <dict>
                <key>frame</key>
                <string>{{2,293},{67,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,33}}</string>
                <key>sourceSize</key>
                <string>{67,33}</string>
            </dict>
            <key>Fight7_ch9</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{70,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,37}}</string>
                <key>sourceSize</key>
                <string>{70,37}</string>
            </dict>
            <key>Get_ch9</key>
            <dict>
                <key>frame</key>
                <string>{{71,283},{67,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,33}}</string>
                <key>sourceSize</key>
                <string>{67,33}</string>
            </dict>
            <key>GoBattle_ch9</key>
            <dict>
                <key>frame</key>
                <string>{{143,281},{67,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,33}}</string>
                <key>sourceSize</key>
                <string>{67,33}</string>
            </dict>
            <key>Handler_ch9</key>
            <dict>
                <key>frame</key>
                <string>{{215,256},{67,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,33}}</string>
                <key>sourceSize</key>
                <string>{67,33}</string>
            </dict>
            <key>Ignore_ch9</key>
            <dict>
                <key>frame</key>
                <string>{{246,181},{70,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,37}}</string>
                <key>sourceSize</key>
                <string>{70,37}</string>
            </dict>
            <key>Inivite_ch9</key>
            <dict>
                <key>frame</key>
                <string>{{146,245},{67,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,34}}</string>
                <key>sourceSize</key>
                <string>{67,34}</string>
            </dict>
            <key>Know_ch9</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{140,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,37}}</string>
                <key>sourceSize</key>
                <string>{140,37}</string>
            </dict>
            <key>LetDown_ch9</key>
            <dict>
                <key>frame</key>
                <string>{{174,170},{70,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,37}}</string>
                <key>sourceSize</key>
                <string>{70,37}</string>
            </dict>
            <key>MakeSure_ch9</key>
            <dict>
                <key>frame</key>
                <string>{{215,220},{67,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,34}}</string>
                <key>sourceSize</key>
                <string>{67,34}</string>
            </dict>
            <key>MaxAttack_ch9</key>
            <dict>
                <key>frame</key>
                <string>{{129,139},{125,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,29}}</string>
                <key>sourceSize</key>
                <string>{125,29}</string>
            </dict>
            <key>MaxDefend_ch9</key>
            <dict>
                <key>frame</key>
                <string>{{263,111},{125,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,29}}</string>
                <key>sourceSize</key>
                <string>{125,29}</string>
            </dict>
            <key>Merge_ch9</key>
            <dict>
                <key>frame</key>
                <string>{{328,142},{55,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,30}}</string>
                <key>sourceSize</key>
                <string>{55,30}</string>
            </dict>
            <key>MinAttack_ch9</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{125,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,30}}</string>
                <key>sourceSize</key>
                <string>{125,30}</string>
            </dict>
            <key>MinDefend_ch9</key>
            <dict>
                <key>frame</key>
                <string>{{136,107},{125,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,30}}</string>
                <key>sourceSize</key>
                <string>{125,30}</string>
            </dict>
            <key>MoreAward_ch9</key>
            <dict>
                <key>frame</key>
                <string>{{420,38},{81,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,22}}</string>
                <key>sourceSize</key>
                <string>{81,22}</string>
            </dict>
            <key>NinjaList_ch9</key>
            <dict>
                <key>frame</key>
                <string>{{283,2},{135,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,37}}</string>
                <key>sourceSize</key>
                <string>{135,37}</string>
            </dict>
            <key>ReceiveAward_ch9</key>
            <dict>
                <key>frame</key>
                <string>{{2,76},{132,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,34}}</string>
                <key>sourceSize</key>
                <string>{132,34}</string>
            </dict>
            <key>Recurit7_ch9</key>
            <dict>
                <key>frame</key>
                <string>{{102,170},{70,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,37}}</string>
                <key>sourceSize</key>
                <string>{70,37}</string>
            </dict>
            <key>Reset_ch9</key>
            <dict>
                <key>frame</key>
                <string>{{385,167},{70,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,37}}</string>
                <key>sourceSize</key>
                <string>{70,37}</string>
            </dict>
            <key>Ret_ch9</key>
            <dict>
                <key>frame</key>
                <string>{{256,142},{70,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,37}}</string>
                <key>sourceSize</key>
                <string>{70,37}</string>
            </dict>
            <key>Return_ch9</key>
            <dict>
                <key>frame</key>
                <string>{{256,142},{70,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,37}}</string>
                <key>sourceSize</key>
                <string>{70,37}</string>
            </dict>
            <key>Revenge_ch9</key>
            <dict>
                <key>frame</key>
                <string>{{146,209},{67,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,34}}</string>
                <key>sourceSize</key>
                <string>{67,34}</string>
            </dict>
            <key>Rush_ch9</key>
            <dict>
                <key>frame</key>
                <string>{{2,328},{63,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,32}}</string>
                <key>sourceSize</key>
                <string>{63,32}</string>
            </dict>
            <key>Search_ch9</key>
            <dict>
                <key>frame</key>
                <string>{{328,174},{54,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,28}}</string>
                <key>sourceSize</key>
                <string>{54,28}</string>
            </dict>
            <key>Snatch_ch9</key>
            <dict>
                <key>frame</key>
                <string>{{284,239},{67,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,33}}</string>
                <key>sourceSize</key>
                <string>{67,33}</string>
            </dict>
            <key>Team_ch9</key>
            <dict>
                <key>frame</key>
                <string>{{140,316},{66,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,33}}</string>
                <key>sourceSize</key>
                <string>{66,33}</string>
            </dict>
            <key>ToBeAFriend_ch9</key>
            <dict>
                <key>frame</key>
                <string>{{406,101},{104,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,37}}</string>
                <key>sourceSize</key>
                <string>{104,37}</string>
            </dict>
            <key>Topup_ch10</key>
            <dict>
                <key>frame</key>
                <string>{{279,41},{133,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,33}}</string>
                <key>sourceSize</key>
                <string>{133,33}</string>
            </dict>
            <key>Topup_ch9</key>
            <dict>
                <key>frame</key>
                <string>{{414,62},{70,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,37}}</string>
                <key>sourceSize</key>
                <string>{70,37}</string>
            </dict>
            <key>Upgrade_ch9</key>
            <dict>
                <key>frame</key>
                <string>{{212,291},{66,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,33}}</string>
                <key>sourceSize</key>
                <string>{66,33}</string>
            </dict>
            <key>YestRankList_ch9</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{137,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,33}}</string>
                <key>sourceSize</key>
                <string>{137,33}</string>
            </dict>
            <key>agree</key>
            <dict>
                <key>frame</key>
                <string>{{318,204},{65,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,33}}</string>
                <key>sourceSize</key>
                <string>{65,33}</string>
            </dict>
            <key>buy_ch9</key>
            <dict>
                <key>frame</key>
                <string>{{284,274},{66,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,33}}</string>
                <key>sourceSize</key>
                <string>{66,33}</string>
            </dict>
            <key>canzhan_ch9</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{67,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,33}}</string>
                <key>sourceSize</key>
                <string>{67,33}</string>
            </dict>
            <key>chapter</key>
            <dict>
                <key>frame</key>
                <string>{{2,41},{133,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,33}}</string>
                <key>sourceSize</key>
                <string>{133,33}</string>
            </dict>
            <key>material</key>
            <dict>
                <key>frame</key>
                <string>{{144,37},{133,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,33}}</string>
                <key>sourceSize</key>
                <string>{133,33}</string>
            </dict>
            <key>null</key>
            <dict>
                <key>frame</key>
                <string>{{509,2},{1,1}}</string>
                <key>offset</key>
                <string>{-34.5,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{70,37}</string>
            </dict>
            <key>refuse</key>
            <dict>
                <key>frame</key>
                <string>{{74,248},{67,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,33}}</string>
                <key>sourceSize</key>
                <string>{67,33}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>characters_009.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b2a14931b6445a287c203b7da9d0614f:1/1$</string>
            <key>textureFileName</key>
            <string>characters_009.png</string>
        </dict>
    </dict>
</plist>
