<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Agree_ch6</key>
            <dict>
                <key>frame</key>
                <string>{{69,65},{66,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,33}}</string>
                <key>sourceSize</key>
                <string>{66,33}</string>
            </dict>
            <key>Award_ch6</key>
            <dict>
                <key>frame</key>
                <string>{{336,70},{65,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,31}}</string>
                <key>sourceSize</key>
                <string>{65,31}</string>
            </dict>
            <key>BeClose_ch6</key>
            <dict>
                <key>frame</key>
                <string>{{270,68},{65,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,32}}</string>
                <key>sourceSize</key>
                <string>{65,32}</string>
            </dict>
            <key>Change_ch6</key>
            <dict>
                <key>frame</key>
                <string>{{0,101},{65,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,32}}</string>
                <key>sourceSize</key>
                <string>{65,32}</string>
            </dict>
            <key>Close_ch6</key>
            <dict>
                <key>frame</key>
                <string>{{270,68},{65,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,32}}</string>
                <key>sourceSize</key>
                <string>{65,32}</string>
            </dict>
            <key>Comeback_ch6</key>
            <dict>
                <key>frame</key>
                <string>{{133,32},{121,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,32}}</string>
                <key>sourceSize</key>
                <string>{121,32}</string>
            </dict>
            <key>CompareTeam_ch6</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{132,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,32}}</string>
                <key>sourceSize</key>
                <string>{132,32}</string>
            </dict>
            <key>Difficulty_ch6</key>
            <dict>
                <key>frame</key>
                <string>{{67,99},{65,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,32}}</string>
                <key>sourceSize</key>
                <string>{65,32}</string>
            </dict>
            <key>Escape_ch6</key>
            <dict>
                <key>frame</key>
                <string>{{393,35},{68,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,34}}</string>
                <key>sourceSize</key>
                <string>{68,34}</string>
            </dict>
            <key>FightAgain_ch6</key>
            <dict>
                <key>frame</key>
                <string>{{133,0},{131,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,31}}</string>
                <key>sourceSize</key>
                <string>{131,31}</string>
            </dict>
            <key>Figth_ch6</key>
            <dict>
                <key>frame</key>
                <string>{{203,68},{66,30}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{66,30}}</string>
                <key>sourceSize</key>
                <string>{68,34}</string>
            </dict>
            <key>GiveYou_ch6</key>
            <dict>
                <key>frame</key>
                <string>{{465,0},{39,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,28}}</string>
                <key>sourceSize</key>
                <string>{39,28}</string>
            </dict>
            <key>Handin_ch6</key>
            <dict>
                <key>frame</key>
                <string>{{265,0},{130,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,32}}</string>
                <key>sourceSize</key>
                <string>{130,32}</string>
            </dict>
            <key>Ignore_ch6</key>
            <dict>
                <key>frame</key>
                <string>{{324,33},{68,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,34}}</string>
                <key>sourceSize</key>
                <string>{68,34}</string>
            </dict>
            <key>Jing_ch6</key>
            <dict>
                <key>frame</key>
                <string>{{465,29},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,33}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>PlayFight_ch6</key>
            <dict>
                <key>frame</key>
                <string>{{136,65},{66,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,32}}</string>
                <key>sourceSize</key>
                <string>{66,32}</string>
            </dict>
            <key>PurChase2_ch6</key>
            <dict>
                <key>frame</key>
                <string>{{268,101},{64,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,32}}</string>
                <key>sourceSize</key>
                <string>{64,32}</string>
            </dict>
            <key>Purchase1_ch6</key>
            <dict>
                <key>frame</key>
                <string>{{268,101},{64,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,32}}</string>
                <key>sourceSize</key>
                <string>{64,32}</string>
            </dict>
            <key>Receive_ch6</key>
            <dict>
                <key>frame</key>
                <string>{{0,68},{66,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,32}}</string>
                <key>sourceSize</key>
                <string>{66,32}</string>
            </dict>
            <key>Reset_ch6</key>
            <dict>
                <key>frame</key>
                <string>{{255,33},{68,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,34}}</string>
                <key>sourceSize</key>
                <string>{68,34}</string>
            </dict>
            <key>Snatch_ch6</key>
            <dict>
                <key>frame</key>
                <string>{{202,99},{65,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,31}}</string>
                <key>sourceSize</key>
                <string>{65,31}</string>
            </dict>
            <key>Strength_ch6</key>
            <dict>
                <key>frame</key>
                <string>{{0,33},{68,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,34}}</string>
                <key>sourceSize</key>
                <string>{68,34}</string>
            </dict>
            <key>Submit_ch6</key>
            <dict>
                <key>frame</key>
                <string>{{396,0},{68,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,34}}</string>
                <key>sourceSize</key>
                <string>{68,34}</string>
            </dict>
            <key>Upgrade_ch6</key>
            <dict>
                <key>frame</key>
                <string>{{136,98},{65,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,32}}</string>
                <key>sourceSize</key>
                <string>{65,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>characters_006.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0014bd137087aafb9e2b99dcf9dfa6b6:1/1$</string>
            <key>textureFileName</key>
            <string>characters_006.png</string>
        </dict>
    </dict>
</plist>
