<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ChooseTeamate1_ch10</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{237,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{237,38}}</string>
                <key>sourceSize</key>
                <string>{237,38}</string>
            </dict>
            <key>LoginPassport2_ch10</key>
            <dict>
                <key>frame</key>
                <string>{{237,0},{176,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{176,38}}</string>
                <key>sourceSize</key>
                <string>{176,38}</string>
            </dict>
            <key>EnterName3_ch10</key>
            <dict>
                <key>frame</key>
                <string>{{0,38},{237,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{237,38}}</string>
                <key>sourceSize</key>
                <string>{237,38}</string>
            </dict>
            <key>Water4_ch10</key>
            <dict>
                <key>frame</key>
                <string>{{237,38},{83,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{83,31}}</string>
                <key>sourceSize</key>
                <string>{83,31}</string>
            </dict>
            <key>Fire5_ch10</key>
            <dict>
                <key>frame</key>
                <string>{{320,38},{83,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{83,31}}</string>
                <key>sourceSize</key>
                <string>{83,31}</string>
            </dict>
            <key>Soil6_ch10</key>
            <dict>
                <key>frame</key>
                <string>{{403,38},{83,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{83,31}}</string>
                <key>sourceSize</key>
                <string>{83,31}</string>
            </dict>
            <key>Thunder7_ch10</key>
            <dict>
                <key>frame</key>
                <string>{{237,69},{83,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{83,31}}</string>
                <key>sourceSize</key>
                <string>{83,31}</string>
            </dict>
            <key>Wind8_ch10</key>
            <dict>
                <key>frame</key>
                <string>{{320,69},{83,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{83,31}}</string>
                <key>sourceSize</key>
                <string>{83,31}</string>
            </dict>
            <key>ChooseCountry9_ch10</key>
            <dict>
                <key>frame</key>
                <string>{{0,76},{204,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{204,38}}</string>
                <key>sourceSize</key>
                <string>{204,38}</string>
            </dict>
            <key>SureToEnter10_ch10</key>
            <dict>
                <key>frame</key>
                <string>{{0,114},{181,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{181,47}}</string>
                <key>sourceSize</key>
                <string>{181,47}</string>
            </dict>
            <key>ContinueGame11_ch10</key>
            <dict>
                <key>frame</key>
                <string>{{0,161},{181,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{181,47}}</string>
                <key>sourceSize</key>
                <string>{181,47}</string>
            </dict>
            <key>EnterGame12_ch10</key>
            <dict>
                <key>frame</key>
                <string>{{181,161},{181,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{181,47}}</string>
                <key>sourceSize</key>
                <string>{181,47}</string>
            </dict>
            <key>Login13_ch10</key>
            <dict>
                <key>frame</key>
                <string>{{0,208},{91,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{91,47}}</string>
                <key>sourceSize</key>
                <string>{91,47}</string>
            </dict>
            <key>Register14_ch10</key>
            <dict>
                <key>frame</key>
                <string>{{91,208},{91,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{91,47}}</string>
                <key>sourceSize</key>
                <string>{91,47}</string>
            </dict>
            <key>Submit15_ch10</key>
            <dict>
                <key>frame</key>
                <string>{{182,208},{91,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{91,47}}</string>
                <key>sourceSize</key>
                <string>{91,47}</string>
            </dict>
            <key>Return16_ch10</key>
            <dict>
                <key>frame</key>
                <string>{{273,208},{91,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{91,47}}</string>
                <key>sourceSize</key>
                <string>{91,47}</string>
            </dict>
            <key>Dice17_ch10</key>
            <dict>
                <key>frame</key>
                <string>{{378,189},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>Dice18_ch10</key>
            <dict>
                <key>frame</key>
                <string>{{445,189},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>null</key>
            <dict>
                <key>frame</key>
                <string>{{336,114},{176,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{176,38}}</string>
                <key>sourceSize</key>
                <string>{176,38}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>characters_010.png</string>
            <key>size</key>
            <string>{512,256}</string>
            <key>smartupdate</key>
            <string>xxxx</string>
            <key>textureFileName</key>
            <string>characters_010.png</string>
        </dict>
    </dict>
</plist>
