<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>RoadOfNinja_ch2</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{138,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{138,37}}</string>
                <key>sourceSize</key>
                <string>{138,37}</string>
            </dict>
            <key>TeamOfFight_ch2</key>
            <dict>
                <key>frame</key>
                <string>{{138,0},{118,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{118,37}}</string>
                <key>sourceSize</key>
                <string>{118,37}</string>
            </dict>
            <key>TeamOfNinja_ch2</key>
            <dict>
                <key>frame</key>
                <string>{{0,37},{169,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{169,37}}</string>
                <key>sourceSize</key>
                <string>{169,37}</string>
            </dict>
            <key>PreviewOfFight_ch2</key>
            <dict>
                <key>frame</key>
                <string>{{0,74},{138,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{138,37}}</string>
                <key>sourceSize</key>
                <string>{138,37}</string>
            </dict>
            <key>Story_ch2</key>
            <dict>
                <key>frame</key>
                <string>{{0,111},{138,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{138,37}}</string>
                <key>sourceSize</key>
                <string>{138,37}</string>
            </dict>
            <key>ContactUs_ch2</key>
            <dict>
                <key>frame</key>
                <string>{{0,148},{138,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{138,37}}</string>
                <key>sourceSize</key>
                <string>{138,37}</string>
            </dict>
            <key>Topup_ch2</key>
            <dict>
                <key>frame</key>
                <string>{{169,37},{72,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{72,37}}</string>
                <key>sourceSize</key>
                <string>{72,37}</string>
            </dict>
            <key>Setting_ch2</key>
            <dict>
                <key>frame</key>
                <string>{{138,74},{72,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{72,37}}</string>
                <key>sourceSize</key>
                <string>{72,37}</string>
            </dict>
            <key>null</key>
            <dict>
                <key>frame</key>
                <string>{{176,176},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>RankList_ch2</key>
            <dict>
                <key>frame</key>
                <string>{{138,111},{103,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{103,37}}</string>
                <key>sourceSize</key>
                <string>{103,37}</string>
            </dict>
            <key>AwardRule_ch2</key>
            <dict>
                <key>frame</key>
                <string>{{0,185},{138,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{138,36}}</string>
                <key>sourceSize</key>
                <string>{138,36}</string>
            </dict>
            <key>NinjaList_ch2</key>
            <dict>
                <key>frame</key>
                <string>{{0,221},{138,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{138,35}}</string>
                <key>sourceSize</key>
                <string>{138,35}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>characters_002.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>xxxx</string>
            <key>textureFileName</key>
            <string>characters_002.png</string>
        </dict>
    </dict>
</plist>
