<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Purchase1_ch6</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{68,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{68,34}}</string>
                <key>sourceSize</key>
                <string>{68,34}</string>
            </dict>
            <key>Change_ch6</key>
            <dict>
                <key>frame</key>
                <string>{{68,0},{68,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{68,34}}</string>
                <key>sourceSize</key>
                <string>{68,34}</string>
            </dict>
            <key>Ignore_ch6</key>
            <dict>
                <key>frame</key>
                <string>{{136,0},{68,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{68,34}}</string>
                <key>sourceSize</key>
                <string>{68,34}</string>
            </dict>
            <key>PurChase2_ch6</key>
            <dict>
                <key>frame</key>
                <string>{{0,34},{68,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{68,34}}</string>
                <key>sourceSize</key>
                <string>{68,34}</string>
            </dict>
            <key>Difficulty_ch6</key>
            <dict>
                <key>frame</key>
                <string>{{68,34},{68,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{68,34}}</string>
                <key>sourceSize</key>
                <string>{68,34}</string>
            </dict>
            <key>Snatch_ch6</key>
            <dict>
                <key>frame</key>
                <string>{{136,34},{68,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{68,34}}</string>
                <key>sourceSize</key>
                <string>{68,34}</string>
            </dict>
            <key>Strength_ch6</key>
            <dict>
                <key>frame</key>
                <string>{{0,68},{68,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{68,34}}</string>
                <key>sourceSize</key>
                <string>{68,34}</string>
            </dict>
            <key>LetYouGo_ch6</key>
            <dict>
                <key>frame</key>
                <string>{{68,68},{136,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{136,34}}</string>
                <key>sourceSize</key>
                <string>{136,34}</string>
            </dict>
            <key>Escape_ch6</key>
            <dict>
                <key>frame</key>
                <string>{{0,102},{68,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{68,34}}</string>
                <key>sourceSize</key>
                <string>{68,34}</string>
            </dict>
            <key>Figth_ch6</key>
            <dict>
                <key>frame</key>
                <string>{{68,102},{68,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{68,34}}</string>
                <key>sourceSize</key>
                <string>{68,34}</string>
            </dict>
            <key>PlayFight_ch6</key>
            <dict>
                <key>frame</key>
                <string>{{136,102},{68,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{68,34}}</string>
                <key>sourceSize</key>
                <string>{68,34}</string>
            </dict>
            <key>Agree_ch6</key>
            <dict>
                <key>frame</key>
                <string>{{0,136},{68,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{68,34}}</string>
                <key>sourceSize</key>
                <string>{68,34}</string>
            </dict>
            <key>Close_ch6</key>
            <dict>
                <key>frame</key>
                <string>{{68,136},{68,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{68,34}}</string>
                <key>sourceSize</key>
                <string>{68,34}</string>
            </dict>
            <key>Battle_ch6</key>
            <dict>
                <key>frame</key>
                <string>{{136,136},{68,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{68,34}}</string>
                <key>sourceSize</key>
                <string>{68,34}</string>
            </dict>
            <key>Upgrade_ch6</key>
            <dict>
                <key>frame</key>
                <string>{{0,170},{68,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{68,34}}</string>
                <key>sourceSize</key>
                <string>{68,34}</string>
            </dict>
            <key>Receive_ch6</key>
            <dict>
                <key>frame</key>
                <string>{{68,170},{68,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{68,34}}</string>
                <key>sourceSize</key>
                <string>{68,34}</string>
            </dict>
            <key>Award_ch6</key>
            <dict>
                <key>frame</key>
                <string>{{136,170},{68,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{68,34}}</string>
                <key>sourceSize</key>
                <string>{68,34}</string>
            </dict>
            <key>Submit_ch6</key>
            <dict>
                <key>frame</key>
                <string>{{0,204},{68,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{68,34}}</string>
                <key>sourceSize</key>
                <string>{68,34}</string>
            </dict>
            <key>Reset_ch6</key>
            <dict>
                <key>frame</key>
                <string>{{68,204},{68,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{68,34}}</string>
                <key>sourceSize</key>
                <string>{68,34}</string>
            </dict>
            <key>GiveYou_ch6</key>
            <dict>
                <key>frame</key>
                <string>{{204,0},{45,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{45,34}}</string>
                <key>sourceSize</key>
                <string>{45,34}</string>
            </dict>
            <key>Jing_ch6</key>
            <dict>
                <key>frame</key>
                <string>{{204,34},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>BeClose_ch6</key>
            <dict>
                <key>frame</key>
                <string>{{136,204},{68,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{68,34}}</string>
                <key>sourceSize</key>
                <string>{68,34}</string>
            </dict>
            <key>LinkAgain_ch6</key>
            <dict>
                <key>frame</key>
                <string>{{249,0},{136,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{136,34}}</string>
                <key>sourceSize</key>
                <string>{136,34}</string>
            </dict>
            <key>TeamCompare_ch6</key>
            <dict>
                <key>frame</key>
                <string>{{249,34},{136,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{136,34}}</string>
                <key>sourceSize</key>
                <string>{136,34}</string>
            </dict>
            <key>FightAgain_ch6</key>
            <dict>
                <key>frame</key>
                <string>{{249,68},{136,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{136,34}}</string>
                <key>sourceSize</key>
                <string>{136,34}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>characters_006.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>xxxx</string>
            <key>textureFileName</key>
            <string>characters_006.png</string>
        </dict>
    </dict>
</plist>
