<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Snatch_ch9</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{70,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{70,37}}</string>
                <key>sourceSize</key>
                <string>{70,37}</string>
            </dict>
            <key>AvoidingWar_ch9</key>
            <dict>
                <key>frame</key>
                <string>{{70,1},{99,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{99,37}}</string>
                <key>sourceSize</key>
                <string>{99,37}</string>
            </dict>
            <key>Return_ch9</key>
            <dict>
                <key>frame</key>
                <string>{{169,0},{69,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{69,37}}</string>
                <key>sourceSize</key>
                <string>{69,37}</string>
            </dict>
            <key>Handler_ch9</key>
            <dict>
                <key>frame</key>
                <string>{{238,0},{70,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{70,37}}</string>
                <key>sourceSize</key>
                <string>{70,37}</string>
            </dict>
            <key>GoBattle_ch9</key>
            <dict>
                <key>frame</key>
                <string>{{308,0},{71,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{71,37}}</string>
                <key>sourceSize</key>
                <string>{71,37}</string>
            </dict>
            <key>Inivite_ch9</key>
            <dict>
                <key>frame</key>
                <string>{{379,0},{69,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{69,37}}</string>
                <key>sourceSize</key>
                <string>{69,37}</string>
            </dict>
            <key>Merge_ch9</key>
            <dict>
                <key>frame</key>
                <string>{{448,0},{55,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{55,30}}</string>
                <key>sourceSize</key>
                <string>{55,30}</string>
            </dict>
            <key>Team_ch9</key>
            <dict>
                <key>frame</key>
                <string>{{0,37},{70,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{70,37}}</string>
                <key>sourceSize</key>
                <string>{70,37}</string>
            </dict>
            <key>NinjaList_ch9</key>
            <dict>
                <key>frame</key>
                <string>{{70,37},{135,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{135,37}}</string>
                <key>sourceSize</key>
                <string>{135,37}</string>
            </dict>
            <key>Upgrade_ch9</key>
            <dict>
                <key>frame</key>
                <string>{{205,37},{70,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{70,37}}</string>
                <key>sourceSize</key>
                <string>{70,37}</string>
            </dict>
            <key>Reset_ch9</key>
            <dict>
                <key>frame</key>
                <string>{{275,37},{70,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{70,37}}</string>
                <key>sourceSize</key>
                <string>{70,37}</string>
            </dict>
            <key>Rush_ch9</key>
            <dict>
                <key>frame</key>
                <string>{{345,37},{70,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{70,37}}</string>
                <key>sourceSize</key>
                <string>{70,37}</string>
            </dict>
            <key>Award_ch9</key>
            <dict>
                <key>frame</key>
                <string>{{415,37},{91,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{91,37}}</string>
                <key>sourceSize</key>
                <string>{91,37}</string>
            </dict>
            <key>ToBeAFriend_ch9</key>
            <dict>
                <key>frame</key>
                <string>{{0,74},{104,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{104,37}}</string>
                <key>sourceSize</key>
                <string>{104,37}</string>
            </dict>
            <key>Chat_ch9</key>
            <dict>
                <key>frame</key>
                <string>{{104,74},{70,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{70,37}}</string>
                <key>sourceSize</key>
                <string>{70,37}</string>
            </dict>
            <key>Ret_ch9</key>
            <dict>
                <key>frame</key>
                <string>{{174,74},{70,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{70,37}}</string>
                <key>sourceSize</key>
                <string>{70,37}</string>
            </dict>
            <key>Ignore_ch9</key>
            <dict>
                <key>frame</key>
                <string>{{244,74},{70,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{70,37}}</string>
                <key>sourceSize</key>
                <string>{70,37}</string>
            </dict>
            <key>Revenge_ch9</key>
            <dict>
                <key>frame</key>
                <string>{{314,74},{70,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{70,37}}</string>
                <key>sourceSize</key>
                <string>{70,37}</string>
            </dict>
            <key>MakeSure_ch9</key>
            <dict>
                <key>frame</key>
                <string>{{384,74},{70,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{70,37}}</string>
                <key>sourceSize</key>
                <string>{70,37}</string>
            </dict>
            <key>MinAttack_ch9</key>
            <dict>
                <key>frame</key>
                <string>{{0,111},{127,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{127,37}}</string>
                <key>sourceSize</key>
                <string>{127,37}</string>
            </dict>
            <key>MinDefend_ch9</key>
            <dict>
                <key>frame</key>
                <string>{{127,111},{127,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{127,37}}</string>
                <key>sourceSize</key>
                <string>{127,37}</string>
            </dict>
            <key>MaxDefend_ch9</key>
            <dict>
                <key>frame</key>
                <string>{{254,111},{127,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{127,37}}</string>
                <key>sourceSize</key>
                <string>{127,37}</string>
            </dict>
            <key>MaxAttack_ch9</key>
            <dict>
                <key>frame</key>
                <string>{{381,111},{127,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{127,37}}</string>
                <key>sourceSize</key>
                <string>{127,37}</string>
            </dict>
            <key>Search_ch9</key>
            <dict>
                <key>frame</key>
                <string>{{457,74},{54,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{54,28}}</string>
                <key>sourceSize</key>
                <string>{54,28}</string>
            </dict>
            <key>Topup_ch9</key>
            <dict>
                <key>frame</key>
                <string>{{0,148},{70,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{70,37}}</string>
                <key>sourceSize</key>
                <string>{70,37}</string>
            </dict>
            <key>ContactUs_ch9</key>
            <dict>
                <key>frame</key>
                <string>{{70,148},{135,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{135,37}}</string>
                <key>sourceSize</key>
                <string>{135,37}</string>
            </dict>
            <key>ReceiveAward_ch9</key>
            <dict>
                <key>frame</key>
                <string>{{205,148},{135,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{135,37}}</string>
                <key>sourceSize</key>
                <string>{135,37}</string>
            </dict>
            <key>BindingAccount_ch9</key>
            <dict>
                <key>frame</key>
                <string>{{340,148},{135,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{135,37}}</string>
                <key>sourceSize</key>
                <string>{135,37}</string>
            </dict>
            <key>null</key>
            <dict>
                <key>frame</key>
                <string>{{397,452},{70,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{70,37}}</string>
                <key>sourceSize</key>
                <string>{70,37}</string>
            </dict>
            <key>YestRankList_ch9</key>
            <dict>
                <key>frame</key>
                <string>{{0,185},{137,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{137,33}}</string>
                <key>sourceSize</key>
                <string>{137,33}</string>
            </dict>
            <key>MoreAward_ch9</key>
            <dict>
                <key>frame</key>
                <string>{{137,185},{88,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{88,25}}</string>
                <key>sourceSize</key>
                <string>{88,25}</string>
            </dict>
            <key>LetDown_ch9</key>
            <dict>
                <key>frame</key>
                <string>{{225,185},{70,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{70,37}}</string>
                <key>sourceSize</key>
                <string>{70,37}</string>
            </dict>
            <key>Exchange_ch9</key>
            <dict>
                <key>frame</key>
                <string>{{295,185},{70,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{70,37}}</string>
                <key>sourceSize</key>
                <string>{70,37}</string>
            </dict>
            <key>canzhan_ch9</key>
            <dict>
                <key>frame</key>
                <string>{{365,185},{70,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{70,37}}</string>
                <key>sourceSize</key>
                <string>{70,37}</string>
            </dict>
            <key>BeUse_ch9</key>
            <dict>
                <key>frame</key>
                <string>{{435,185},{70,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{70,37}}</string>
                <key>sourceSize</key>
                <string>{70,37}</string>
            </dict>
            <key>buy_ch9</key>
            <dict>
                <key>frame</key>
                <string>{{0,222},{70,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{70,37}}</string>
                <key>sourceSize</key>
                <string>{70,37}</string>
            </dict>
            <key>Recurit7_ch9</key>
            <dict>
                <key>frame</key>
                <string>{{70,222},{70,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{70,37}}</string>
                <key>sourceSize</key>
                <string>{70,37}</string>
            </dict>
            <key>Fight7_ch9</key>
            <dict>
                <key>frame</key>
                <string>{{140,222},{70,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{70,37}}</string>
                <key>sourceSize</key>
                <string>{70,37}</string>
            </dict>
            <key>Escape74_ch9</key>
            <dict>
                <key>frame</key>
                <string>{{210,222},{70,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{70,37}}</string>
                <key>sourceSize</key>
                <string>{70,37}</string>
            </dict>
            <key>Diff75_ch9</key>
            <dict>
                <key>frame</key>
                <string>{{280,222},{70,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{70,37}}</string>
                <key>sourceSize</key>
                <string>{70,37}</string>
            </dict>
            <key>Close76_ch9</key>
            <dict>
                <key>frame</key>
                <string>{{350,222},{70,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{70,37}}</string>
                <key>sourceSize</key>
                <string>{70,37}</string>
            </dict>
            <key>Fetch77_ch9</key>
            <dict>
                <key>frame</key>
                <string>{{420,222},{70,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{70,37}}</string>
                <key>sourceSize</key>
                <string>{70,37}</string>
            </dict>
            <key>Know_ch9</key>
            <dict>
                <key>frame</key>
                <string>{{0,259},{140,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{140,37}}</string>
                <key>sourceSize</key>
                <string>{140,37}</string>
            </dict>
            <key>Get_ch9</key>
            <dict>
                <key>frame</key>
                <string>{{140,259},{70,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{70,37}}</string>
                <key>sourceSize</key>
                <string>{70,37}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>characters_009.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>xxxx</string>
            <key>textureFileName</key>
            <string>characters_009.png</string>
        </dict>
    </dict>
</plist>
