<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Emigrated_007</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{687,935}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{687,935}}</string>
                <key>sourceSize</key>
                <string>{687,935}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Emigrated_007.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:df0f24bb1d1f77985bf54fd4b70fb148:2eaf33de26dc8cab4fb588a5f156b0a0:8e5351072b43467b44d085a8ed6efe2b$</string>
            <key>textureFileName</key>
            <string>Emigrated_007.pvr.ccz</string>
        </dict>
    </dict>
</plist>
