<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hallmark_6</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{354,384}}</string>
                <key>offset</key>
                <string>{13,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,6},{354,384}}</string>
                <key>sourceSize</key>
                <string>{396,390}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hallmark_6.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c12f9a19498de9080ff52cfa14afd582:082e2dc1b03db0515a2a2ca1e3cca9de:10203876ac7676d47b600513dce2fec0$</string>
            <key>textureFileName</key>
            <string>hallmark_6.pvr.ccz</string>
        </dict>
    </dict>
</plist>
