<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>signet_02_6</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{220,256}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{220,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>signet_02_6.pvr.ccz</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:15af53f93261fb625142a4cde5514961:1f9408b2b7a4ad0f4332f9231a3cdd23:aa63ec51f5b32d9a23a7665e5f4fecbe$</string>
            <key>textureFileName</key>
            <string>signet_02_6.pvr.ccz</string>
        </dict>
    </dict>
</plist>
