<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>signet_03_8</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{202,242}}</string>
                <key>offset</key>
                <string>{4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,0},{202,242}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>signet_03_8.pvr.ccz</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8b8126c620a1b227bb04047dc0f5997e:19b60bfe92c7711f469b07c614f16e51:1d74519aa144d676206f5339ed7e1e9e$</string>
            <key>textureFileName</key>
            <string>signet_03_8.pvr.ccz</string>
        </dict>
    </dict>
</plist>
