<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>signet_07_8</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{204,244}}</string>
                <key>offset</key>
                <string>{4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,0},{204,244}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>signet_07_8.pvr.ccz</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:82b0cb1a4909b9da510acc4860e8863d:b564a3c262004417388cba5fbf2825d2:85c5b2908611a18fae4c84c369c8eb1f$</string>
            <key>textureFileName</key>
            <string>signet_07_8.pvr.ccz</string>
        </dict>
    </dict>
</plist>
