<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>signet_08_8</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{204,244}}</string>
                <key>offset</key>
                <string>{4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,0},{204,244}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>signet_08_8.pvr.ccz</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3b473c27ddd6e5ac66a1b605d5c30256:0edd0bdbe758a9152a093416689ad895:b687f9a908fc2b889ed55996180d2df1$</string>
            <key>textureFileName</key>
            <string>signet_08_8.pvr.ccz</string>
        </dict>
    </dict>
</plist>
