<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>signet_04_8</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{202,242}}</string>
                <key>offset</key>
                <string>{4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,0},{202,242}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>signet_04_8.pvr.ccz</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bd5a02a0b8f920b8833dd18bf473fe1e:38f71cf5dae73bcec3b6b10eea5c3ebe:fdb6c92b3dfb0a63786723f7e7ad8e27$</string>
            <key>textureFileName</key>
            <string>signet_04_8.pvr.ccz</string>
        </dict>
    </dict>
</plist>
