<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>signet_10_1</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{252,256}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>signet_10_1.pvr.ccz</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bc89c36d0c6a4de84eb615d5707031a6:5c1c31bd98c3fa2faf34663f37f93ef6:f4a2ffa7279f7bb24be06e5a402faccf$</string>
            <key>textureFileName</key>
            <string>signet_10_1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
