<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Shop_01</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{705,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{705,221}}</string>
                <key>sourceSize</key>
                <string>{705,221}</string>
            </dict>
            <key>Shop_02</key>
            <dict>
                <key>frame</key>
                <string>{{0,223},{686,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{686,229}}</string>
                <key>sourceSize</key>
                <string>{686,229}</string>
            </dict>
            <key>Shop_03</key>
            <dict>
                <key>frame</key>
                <string>{{0,454},{686,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{686,219}}</string>
                <key>sourceSize</key>
                <string>{686,219}</string>
            </dict>
            <key>Shop_04</key>
            <dict>
                <key>frame</key>
                <string>{{0,675},{682,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{682,233}}</string>
                <key>sourceSize</key>
                <string>{682,233}</string>
            </dict>
            <key>Shop_17</key>
            <dict>
                <key>frame</key>
                <string>{{854,585},{160,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,90}}</string>
                <key>sourceSize</key>
                <string>{160,90}</string>
            </dict>
            <key>Shop_18</key>
            <dict>
                <key>frame</key>
                <string>{{707,0},{308,331}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,331}}</string>
                <key>sourceSize</key>
                <string>{308,331}</string>
            </dict>
            <key>Shop_19</key>
            <dict>
                <key>frame</key>
                <string>{{830,677},{106,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,118}}</string>
                <key>sourceSize</key>
                <string>{106,118}</string>
            </dict>
            <key>Shop_mul_2</key>
            <dict>
                <key>frame</key>
                <string>{{380,910},{63,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,38}}</string>
                <key>sourceSize</key>
                <string>{63,38}</string>
            </dict>
            <key>Shop_mul_3</key>
            <dict>
                <key>frame</key>
                <string>{{315,910},{63,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,38}}</string>
                <key>sourceSize</key>
                <string>{63,38}</string>
            </dict>
            <key>Shop_mul_4</key>
            <dict>
                <key>frame</key>
                <string>{{526,910},{64,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,37}}</string>
                <key>sourceSize</key>
                <string>{64,37}</string>
            </dict>
            <key>shop_05</key>
            <dict>
                <key>frame</key>
                <string>{{393,950},{136,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,37}}</string>
                <key>sourceSize</key>
                <string>{136,37}</string>
            </dict>
            <key>shop_06</key>
            <dict>
                <key>frame</key>
                <string>{{235,976},{77,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,41}}</string>
                <key>sourceSize</key>
                <string>{77,41}</string>
            </dict>
            <key>shop_07</key>
            <dict>
                <key>frame</key>
                <string>{{393,989},{39,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,28}}</string>
                <key>sourceSize</key>
                <string>{39,28}</string>
            </dict>
            <key>shop_08</key>
            <dict>
                <key>frame</key>
                <string>{{314,976},{77,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,38}}</string>
                <key>sourceSize</key>
                <string>{77,38}</string>
            </dict>
            <key>shop_09</key>
            <dict>
                <key>frame</key>
                <string>{{857,492},{165,91}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{165,91}}</string>
                <key>sourceSize</key>
                <string>{165,95}</string>
            </dict>
            <key>shop_10</key>
            <dict>
                <key>frame</key>
                <string>{{857,399},{165,91}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{165,91}}</string>
                <key>sourceSize</key>
                <string>{165,95}</string>
            </dict>
            <key>shop_11</key>
            <dict>
                <key>frame</key>
                <string>{{445,910},{79,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,37}}</string>
                <key>sourceSize</key>
                <string>{79,37}</string>
            </dict>
            <key>shop_12</key>
            <dict>
                <key>frame</key>
                <string>{{688,333},{258,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,62}}</string>
                <key>sourceSize</key>
                <string>{258,62}</string>
            </dict>
            <key>shop_13</key>
            <dict>
                <key>frame</key>
                <string>{{0,910},{115,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,91}}</string>
                <key>sourceSize</key>
                <string>{115,91}</string>
            </dict>
            <key>shop_14</key>
            <dict>
                <key>frame</key>
                <string>{{117,976},{116,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,43}}</string>
                <key>sourceSize</key>
                <string>{116,43}</string>
            </dict>
            <key>shop_consume</key>
            <dict>
                <key>frame</key>
                <string>{{688,669},{140,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,35}}</string>
                <key>sourceSize</key>
                <string>{140,35}</string>
            </dict>
            <key>shop_gift</key>
            <dict>
                <key>frame</key>
                <string>{{688,630},{143,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,37}}</string>
                <key>sourceSize</key>
                <string>{143,37}</string>
            </dict>
            <key>shop_max</key>
            <dict>
                <key>frame</key>
                <string>{{315,950},{63,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,23}}</string>
                <key>sourceSize</key>
                <string>{63,23}</string>
            </dict>
            <key>store_act_muti</key>
            <dict>
                <key>frame</key>
                <string>{{688,493},{164,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,135}}</string>
                <key>sourceSize</key>
                <string>{164,135}</string>
            </dict>
            <key>store_dec_01</key>
            <dict>
                <key>frame</key>
                <string>{{249,910},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>store_dec_02</key>
            <dict>
                <key>frame</key>
                <string>{{183,910},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>store_first_pay</key>
            <dict>
                <key>frame</key>
                <string>{{688,397},{167,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,94}}</string>
                <key>sourceSize</key>
                <string>{167,94}</string>
            </dict>
            <key>store_inc_01</key>
            <dict>
                <key>frame</key>
                <string>{{117,910},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>store_inc_02</key>
            <dict>
                <key>frame</key>
                <string>{{948,333},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shop.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3a731ace207689057358ee8dd76cf0d6:dd5f885609b77215f1ccec02f324b5e5:3dd777048b607ec7c53abed40c168f36$</string>
            <key>textureFileName</key>
            <string>shop.pvr.ccz</string>
        </dict>
    </dict>
</plist>
