<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shop_turn_01</key>
            <dict>
                <key>frame</key>
                <string>{{120,327},{186,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,90}}</string>
                <key>sourceSize</key>
                <string>{186,90}</string>
            </dict>
            <key>shop_turn_02</key>
            <dict>
                <key>frame</key>
                <string>{{0,327},{118,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,140}}</string>
                <key>sourceSize</key>
                <string>{118,140}</string>
            </dict>
            <key>shop_turn_03</key>
            <dict>
                <key>frame</key>
                <string>{{232,0},{230,325}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,325}}</string>
                <key>sourceSize</key>
                <string>{230,325}</string>
            </dict>
            <key>shop_turn_04</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{230,325}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,325}}</string>
                <key>sourceSize</key>
                <string>{230,325}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shopTurn.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:652984cf958ab122f9c9e639c74e6c9c:164a1e5d8fb40ade694fe027dfc144d0:945ec56c8f187c42a0e5f6fdf553b9dd$</string>
            <key>textureFileName</key>
            <string>shopTurn.pvr.ccz</string>
        </dict>
    </dict>
</plist>
