<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Shop_01</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{705,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{705,221}}</string>
                <key>sourceSize</key>
                <string>{705,221}</string>
            </dict>
            <key>Shop_02</key>
            <dict>
                <key>frame</key>
                <string>{{0,469},{686,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{686,233}}</string>
                <key>sourceSize</key>
                <string>{686,233}</string>
            </dict>
            <key>Shop_03</key>
            <dict>
                <key>frame</key>
                <string>{{0,704},{686,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{686,227}}</string>
                <key>sourceSize</key>
                <string>{686,227}</string>
            </dict>
            <key>Shop_04</key>
            <dict>
                <key>frame</key>
                <string>{{0,223},{686,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{686,244}}</string>
                <key>sourceSize</key>
                <string>{686,244}</string>
            </dict>
            <key>Shop_17</key>
            <dict>
                <key>frame</key>
                <string>{{688,409},{169,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{169,91}}</string>
                <key>sourceSize</key>
                <string>{169,95}</string>
            </dict>
            <key>Shop_18</key>
            <dict>
                <key>frame</key>
                <string>{{707,76},{308,331}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,331}}</string>
                <key>sourceSize</key>
                <string>{308,331}</string>
            </dict>
            <key>Shop_19</key>
            <dict>
                <key>frame</key>
                <string>{{688,502},{106,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,118}}</string>
                <key>sourceSize</key>
                <string>{106,118}</string>
            </dict>
            <key>Shop_mul_2</key>
            <dict>
                <key>frame</key>
                <string>{{607,933},{69,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,43}}</string>
                <key>sourceSize</key>
                <string>{69,43}</string>
            </dict>
            <key>Shop_mul_3</key>
            <dict>
                <key>frame</key>
                <string>{{536,978},{69,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,43}}</string>
                <key>sourceSize</key>
                <string>{69,43}</string>
            </dict>
            <key>Shop_mul_4</key>
            <dict>
                <key>frame</key>
                <string>{{536,933},{69,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,43}}</string>
                <key>sourceSize</key>
                <string>{69,43}</string>
            </dict>
            <key>shop_05</key>
            <dict>
                <key>frame</key>
                <string>{{809,735},{135,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,35}}</string>
                <key>sourceSize</key>
                <string>{135,35}</string>
            </dict>
            <key>shop_06</key>
            <dict>
                <key>frame</key>
                <string>{{688,622},{79,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,41}}</string>
                <key>sourceSize</key>
                <string>{79,41}</string>
            </dict>
            <key>shop_07</key>
            <dict>
                <key>frame</key>
                <string>{{978,502},{39,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,28}}</string>
                <key>sourceSize</key>
                <string>{39,28}</string>
            </dict>
            <key>shop_08</key>
            <dict>
                <key>frame</key>
                <string>{{727,976},{80,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,41}}</string>
                <key>sourceSize</key>
                <string>{80,41}</string>
            </dict>
            <key>shop_09</key>
            <dict>
                <key>frame</key>
                <string>{{0,933},{165,91}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{165,91}}</string>
                <key>sourceSize</key>
                <string>{165,95}</string>
            </dict>
            <key>shop_10</key>
            <dict>
                <key>frame</key>
                <string>{{859,409},{165,91}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{165,91}}</string>
                <key>sourceSize</key>
                <string>{165,95}</string>
            </dict>
            <key>shop_11</key>
            <dict>
                <key>frame</key>
                <string>{{678,933},{80,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,41}}</string>
                <key>sourceSize</key>
                <string>{80,41}</string>
            </dict>
            <key>shop_12</key>
            <dict>
                <key>frame</key>
                <string>{{707,0},{316,74}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{316,74}}</string>
                <key>sourceSize</key>
                <string>{320,80}</string>
            </dict>
            <key>shop_13</key>
            <dict>
                <key>frame</key>
                <string>{{167,933},{103,81}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{103,81}}</string>
                <key>sourceSize</key>
                <string>{113,85}</string>
            </dict>
            <key>shop_14</key>
            <dict>
                <key>frame</key>
                <string>{{607,978},{118,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,41}}</string>
                <key>sourceSize</key>
                <string>{118,41}</string>
            </dict>
            <key>shop_consume</key>
            <dict>
                <key>frame</key>
                <string>{{809,809},{134,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,35}}</string>
                <key>sourceSize</key>
                <string>{134,35}</string>
            </dict>
            <key>shop_gift</key>
            <dict>
                <key>frame</key>
                <string>{{809,772},{134,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,35}}</string>
                <key>sourceSize</key>
                <string>{134,35}</string>
            </dict>
            <key>shop_max</key>
            <dict>
                <key>frame</key>
                <string>{{272,999},{63,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,23}}</string>
                <key>sourceSize</key>
                <string>{63,23}</string>
            </dict>
            <key>store_act_muti</key>
            <dict>
                <key>frame</key>
                <string>{{809,598},{164,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,135}}</string>
                <key>sourceSize</key>
                <string>{164,135}</string>
            </dict>
            <key>store_dec_01</key>
            <dict>
                <key>frame</key>
                <string>{{470,933},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>store_dec_02</key>
            <dict>
                <key>frame</key>
                <string>{{404,933},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>store_first_pay</key>
            <dict>
                <key>frame</key>
                <string>{{809,502},{167,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,94}}</string>
                <key>sourceSize</key>
                <string>{167,94}</string>
            </dict>
            <key>store_inc_01</key>
            <dict>
                <key>frame</key>
                <string>{{338,933},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>store_inc_02</key>
            <dict>
                <key>frame</key>
                <string>{{272,933},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shop.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fa7f5660ec44e754b6da0036641dc71c:1/1$</string>
            <key>textureFileName</key>
            <string>shop.pvr.ccz</string>
        </dict>
    </dict>
</plist>
