<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chapter_t_01</key>
            <dict>
                <key>frame</key>
                <string>{{38,415},{266,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,36}}</string>
                <key>sourceSize</key>
                <string>{266,36}</string>
            </dict>
            <key>chapter_t_02</key>
            <dict>
                <key>frame</key>
                <string>{{0,266},{232,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,36}}</string>
                <key>sourceSize</key>
                <string>{232,36}</string>
            </dict>
            <key>chapter_t_03</key>
            <dict>
                <key>frame</key>
                <string>{{38,377},{266,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,36}}</string>
                <key>sourceSize</key>
                <string>{266,36}</string>
            </dict>
            <key>chapter_t_04</key>
            <dict>
                <key>frame</key>
                <string>{{38,339},{266,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,36}}</string>
                <key>sourceSize</key>
                <string>{266,36}</string>
            </dict>
            <key>chapter_t_05</key>
            <dict>
                <key>frame</key>
                <string>{{38,301},{266,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,36}}</string>
                <key>sourceSize</key>
                <string>{266,36}</string>
            </dict>
            <key>chapter_t_06</key>
            <dict>
                <key>frame</key>
                <string>{{453,0},{266,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,36}}</string>
                <key>sourceSize</key>
                <string>{266,36}</string>
            </dict>
            <key>chapter_t_07</key>
            <dict>
                <key>frame</key>
                <string>{{38,453},{265,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,36}}</string>
                <key>sourceSize</key>
                <string>{265,36}</string>
            </dict>
            <key>chapter_t_08</key>
            <dict>
                <key>frame</key>
                <string>{{415,0},{266,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,36}}</string>
                <key>sourceSize</key>
                <string>{266,36}</string>
            </dict>
            <key>chapter_t_09</key>
            <dict>
                <key>frame</key>
                <string>{{377,0},{266,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,36}}</string>
                <key>sourceSize</key>
                <string>{266,36}</string>
            </dict>
            <key>chapter_t_10</key>
            <dict>
                <key>frame</key>
                <string>{{339,0},{266,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,36}}</string>
                <key>sourceSize</key>
                <string>{266,36}</string>
            </dict>
            <key>chapter_t_11</key>
            <dict>
                <key>frame</key>
                <string>{{0,228},{299,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{299,36}}</string>
                <key>sourceSize</key>
                <string>{299,36}</string>
            </dict>
            <key>chapter_t_12</key>
            <dict>
                <key>frame</key>
                <string>{{0,190},{299,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{299,36}}</string>
                <key>sourceSize</key>
                <string>{299,36}</string>
            </dict>
            <key>chapter_t_13</key>
            <dict>
                <key>frame</key>
                <string>{{0,152},{299,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{299,36}}</string>
                <key>sourceSize</key>
                <string>{299,36}</string>
            </dict>
            <key>chapter_t_14</key>
            <dict>
                <key>frame</key>
                <string>{{0,114},{299,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{299,36}}</string>
                <key>sourceSize</key>
                <string>{299,36}</string>
            </dict>
            <key>chapter_t_15</key>
            <dict>
                <key>frame</key>
                <string>{{0,76},{299,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{299,36}}</string>
                <key>sourceSize</key>
                <string>{299,36}</string>
            </dict>
            <key>chapter_t_16</key>
            <dict>
                <key>frame</key>
                <string>{{0,38},{299,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{299,36}}</string>
                <key>sourceSize</key>
                <string>{299,36}</string>
            </dict>
            <key>chapter_t_17</key>
            <dict>
                <key>frame</key>
                <string>{{301,0},{299,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{299,36}}</string>
                <key>sourceSize</key>
                <string>{299,36}</string>
            </dict>
            <key>chapter_t_18</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{299,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{299,36}}</string>
                <key>sourceSize</key>
                <string>{299,36}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>chaptername.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b7c3ebe113600e5a93b7d124a96b1d0f:1/1$</string>
            <key>textureFileName</key>
            <string>chaptername.pvr.ccz</string>
        </dict>
    </dict>
</plist>
