<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>frame_big_mark_04</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{374,390}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{374,390}}</string>
                <key>sourceSize</key>
                <string>{374,390}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>frame_big_mark_04.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a455102de3768d8c41137df419a3f797:46ef7d1d2a4e08afb9bdb98ef0c6b50b:0301d255e528db9d982c016d3d7377a8$</string>
            <key>textureFileName</key>
            <string>frame_big_mark_04.pvr.ccz</string>
        </dict>
    </dict>
</plist>
