<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>frame_big_04</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{374,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{374,512}}</string>
                <key>sourceSize</key>
                <string>{374,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>frame_big_04.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:837e0ba2b4f98bbd323ac10282aefa1d:0eb456a291c97fb5e37cb355dac80686:21f388188acdcea9c2f2583d318e91eb$</string>
            <key>textureFileName</key>
            <string>frame_big_04.pvr.ccz</string>
        </dict>
    </dict>
</plist>
