<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>big_skill_006</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{234,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,234}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>big_skill_006.pvr.ccz</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c034d293e00acf38baee2768df90f144:37d0e5b583e36553facc89e1d452889d:e7046eaec85e21c4f000a18e0e4f14ec$</string>
            <key>textureFileName</key>
            <string>big_skill_006.pvr.ccz</string>
        </dict>
    </dict>
</plist>
