<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>big_skill_026</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{234,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,234}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>big_skill_026.pvr.ccz</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5a684bdc958c7e2365e69feb5903dfdf:a204f0b482e219ccae136a967e6625e6:77c25f3bf9e595fcae7418fadf396797$</string>
            <key>textureFileName</key>
            <string>big_skill_026.pvr.ccz</string>
        </dict>
    </dict>
</plist>
