<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A</key>
            <dict>
                <key>frame</key>
                <string>{{1860,214},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>B</key>
            <dict>
                <key>frame</key>
                <string>{{1777,214},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>C</key>
            <dict>
                <key>frame</key>
                <string>{{1694,214},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>donate</key>
            <dict>
                <key>frame</key>
                <string>{{220,1439},{183,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,203}}</string>
                <key>sourceSize</key>
                <string>{183,203}</string>
            </dict>
            <key>donateTitle</key>
            <dict>
                <key>frame</key>
                <string>{{0,2010},{69,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{69,36}}</string>
                <key>sourceSize</key>
                <string>{73,40}</string>
            </dict>
            <key>effect_title</key>
            <dict>
                <key>frame</key>
                <string>{{1896,1106},{92,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,54}}</string>
                <key>sourceSize</key>
                <string>{92,54}</string>
            </dict>
            <key>equipTitle</key>
            <dict>
                <key>frame</key>
                <string>{{1902,691},{135,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{135,36}}</string>
                <key>sourceSize</key>
                <string>{139,40}</string>
            </dict>
            <key>frame</key>
            <dict>
                <key>frame</key>
                <string>{{707,0},{690,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{690,149}}</string>
                <key>sourceSize</key>
                <string>{690,149}</string>
            </dict>
            <key>giveEquip</key>
            <dict>
                <key>frame</key>
                <string>{{1946,183},{100,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{100,26}}</string>
                <key>sourceSize</key>
                <string>{104,30}</string>
            </dict>
            <key>giveGold</key>
            <dict>
                <key>frame</key>
                <string>{{1946,156},{100,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{100,26}}</string>
                <key>sourceSize</key>
                <string>{104,30}</string>
            </dict>
            <key>giveNinja</key>
            <dict>
                <key>frame</key>
                <string>{{1946,129},{100,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{100,26}}</string>
                <key>sourceSize</key>
                <string>{104,30}</string>
            </dict>
            <key>giveNinjutsu</key>
            <dict>
                <key>frame</key>
                <string>{{1946,102},{100,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{100,26}}</string>
                <key>sourceSize</key>
                <string>{104,30}</string>
            </dict>
            <key>hall</key>
            <dict>
                <key>frame</key>
                <string>{{0,1439},{219,277}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,277}}</string>
                <key>sourceSize</key>
                <string>{219,277}</string>
            </dict>
            <key>hallTitle</key>
            <dict>
                <key>frame</key>
                <string>{{0,1972},{68,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{68,37}}</string>
                <key>sourceSize</key>
                <string>{72,39}</string>
            </dict>
            <key>iconDonate</key>
            <dict>
                <key>frame</key>
                <string>{{0,1330},{68,97}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,8},{68,97}}</string>
                <key>sourceSize</key>
                <string>{92,105}</string>
            </dict>
            <key>iconHall</key>
            <dict>
                <key>frame</key>
                <string>{{69,1330},{80,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{80,84}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>iconOrg</key>
            <dict>
                <key>frame</key>
                <string>{{1946,210},{98,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{98,86}}</string>
                <key>sourceSize</key>
                <string>{98,92}</string>
            </dict>
            <key>iconShop</key>
            <dict>
                <key>frame</key>
                <string>{{1896,1354},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{84,84}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>mapBg</key>
            <dict>
                <key>frame</key>
                <string>{{1324,646},{350,683}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,683}}</string>
                <key>sourceSize</key>
                <string>{350,683}</string>
            </dict>
            <key>nameFrame</key>
            <dict>
                <key>frame</key>
                <string>{{138,1972},{166,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,29}}</string>
                <key>sourceSize</key>
                <string>{166,29}</string>
            </dict>
            <key>ninjaTitle</key>
            <dict>
                <key>frame</key>
                <string>{{1902,728},{134,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{134,36}}</string>
                <key>sourceSize</key>
                <string>{138,40}</string>
            </dict>
            <key>ninjutsuTitle</key>
            <dict>
                <key>frame</key>
                <string>{{1902,654},{136,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{136,36}}</string>
                <key>sourceSize</key>
                <string>{138,40}</string>
            </dict>
            <key>org_add_01</key>
            <dict>
                <key>frame</key>
                <string>{{1398,0},{547,213}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,0},{547,213}}</string>
                <key>sourceSize</key>
                <string>{671,213}</string>
            </dict>
            <key>org_add_02</key>
            <dict>
                <key>frame</key>
                <string>{{69,1415},{189,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,22}}</string>
                <key>sourceSize</key>
                <string>{189,22}</string>
            </dict>
            <key>org_add_03</key>
            <dict>
                <key>frame</key>
                <string>{{404,1439},{189,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,190}}</string>
                <key>sourceSize</key>
                <string>{189,190}</string>
            </dict>
            <key>org_add_04</key>
            <dict>
                <key>frame</key>
                <string>{{150,1330},{177,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,59}}</string>
                <key>sourceSize</key>
                <string>{177,59}</string>
            </dict>
            <key>org_add_05</key>
            <dict>
                <key>frame</key>
                <string>{{1333,214},{360,431}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,431}}</string>
                <key>sourceSize</key>
                <string>{360,431}</string>
            </dict>
            <key>org_add_06</key>
            <dict>
                <key>frame</key>
                <string>{{1896,1021},{94,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,57}}</string>
                <key>sourceSize</key>
                <string>{94,57}</string>
            </dict>
            <key>org_add_07</key>
            <dict>
                <key>frame</key>
                <string>{{1896,893},{110,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,100}}</string>
                <key>sourceSize</key>
                <string>{110,100}</string>
            </dict>
            <key>org_add_08</key>
            <dict>
                <key>frame</key>
                <string>{{1902,765},{124,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,127}}</string>
                <key>sourceSize</key>
                <string>{124,127}</string>
            </dict>
            <key>org_add_09</key>
            <dict>
                <key>frame</key>
                <string>{{503,165},{174,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,174}}</string>
                <key>sourceSize</key>
                <string>{174,174}</string>
            </dict>
            <key>org_add_10</key>
            <dict>
                <key>frame</key>
                <string>{{328,165},{174,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,174}}</string>
                <key>sourceSize</key>
                <string>{174,174}</string>
            </dict>
            <key>org_add_11</key>
            <dict>
                <key>frame</key>
                <string>{{1946,0},{100,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,101}}</string>
                <key>sourceSize</key>
                <string>{100,101}</string>
            </dict>
            <key>org_add_12</key>
            <dict>
                <key>frame</key>
                <string>{{1358,150},{33,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,35}}</string>
                <key>sourceSize</key>
                <string>{33,35}</string>
            </dict>
            <key>org_add_21</key>
            <dict>
                <key>frame</key>
                <string>{{1675,654},{226,228}}</string>
                <key>offset</key>
                <string>{-13,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,12},{226,228}}</string>
                <key>sourceSize</key>
                <string>{256,240}</string>
            </dict>
            <key>org_add_22</key>
            <dict>
                <key>frame</key>
                <string>{{1076,177},{256,189}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,9},{256,189}}</string>
                <key>sourceSize</key>
                <string>{266,201}</string>
            </dict>
            <key>org_add_23</key>
            <dict>
                <key>frame</key>
                <string>{{1896,1188},{86,86}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{86,86}}</string>
                <key>sourceSize</key>
                <string>{98,92}</string>
            </dict>
            <key>org_add_24</key>
            <dict>
                <key>frame</key>
                <string>{{1896,1275},{86,78}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,9},{86,78}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>org_add_25</key>
            <dict>
                <key>frame</key>
                <string>{{1694,297},{354,356}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,19},{354,356}}</string>
                <key>sourceSize</key>
                <string>{396,390}</string>
            </dict>
            <key>org_add_26</key>
            <dict>
                <key>frame</key>
                <string>{{707,150},{368,382}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{368,382}}</string>
                <key>sourceSize</key>
                <string>{396,390}</string>
            </dict>
            <key>organization</key>
            <dict>
                <key>frame</key>
                <string>{{195,1717},{210,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,236}}</string>
                <key>sourceSize</key>
                <string>{210,236}</string>
            </dict>
            <key>rankings</key>
            <dict>
                <key>frame</key>
                <string>{{0,1717},{194,254}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,254}}</string>
                <key>sourceSize</key>
                <string>{194,254}</string>
            </dict>
            <key>shop</key>
            <dict>
                <key>frame</key>
                <string>{{1076,367},{247,281}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,281}}</string>
                <key>sourceSize</key>
                <string>{247,281}</string>
            </dict>
            <key>shopClose</key>
            <dict>
                <key>frame</key>
                <string>{{1675,1158},{220,274}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,274}}</string>
                <key>sourceSize</key>
                <string>{220,274}</string>
            </dict>
            <key>shopOpen</key>
            <dict>
                <key>frame</key>
                <string>{{1675,883},{220,274}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,274}}</string>
                <key>sourceSize</key>
                <string>{220,274}</string>
            </dict>
            <key>shopTitle</key>
            <dict>
                <key>frame</key>
                <string>{{69,1972},{68,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,36}}</string>
                <key>sourceSize</key>
                <string>{68,36}</string>
            </dict>
            <key>taskA</key>
            <dict>
                <key>frame</key>
                <string>{{1896,994},{95,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{95,26}}</string>
                <key>sourceSize</key>
                <string>{99,30}</string>
            </dict>
            <key>taskB</key>
            <dict>
                <key>frame</key>
                <string>{{1896,1161},{91,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{91,26}}</string>
                <key>sourceSize</key>
                <string>{95,30}</string>
            </dict>
            <key>taskC</key>
            <dict>
                <key>frame</key>
                <string>{{1896,1079},{93,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{93,26}}</string>
                <key>sourceSize</key>
                <string>{97,30}</string>
            </dict>
            <key>taskDesc</key>
            <dict>
                <key>frame</key>
                <string>{{1076,150},{281,26}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{281,26}}</string>
                <key>sourceSize</key>
                <string>{285,28}</string>
            </dict>
            <key>taskFrame</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{706,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{706,164}}</string>
                <key>sourceSize</key>
                <string>{706,164}</string>
            </dict>
            <key>technology</key>
            <dict>
                <key>frame</key>
                <string>{{70,2009},{69,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,35}}</string>
                <key>sourceSize</key>
                <string>{69,35}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>orgPart1.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6369a57017253111d742044905aeeafe:1/1$</string>
            <key>textureFileName</key>
            <string>orgPart1.png</string>
        </dict>
    </dict>
</plist>
